[2021-08-25 13:23] cossname commented on #338
there any necessity to use those functions? use simple Hero.infos or etc, not simpler?

[2021-08-25 15:06] Roukys commented on #338
it is to be able to react to change in test in fact
allow to have different commands for test and prod

[2021-08-27 13:16] Diadochus-Ptolemy opened #344 "Bug [5.5.31] - Error when buying automatically on the market"
I noticed that after updating the market, why some of the books and eff-consumables (not red) remain unbought. Although I know for sure that the settings set the purchase of all of them that are not for gold.

I decided to see for myself what actions the script does when the store is updated. I noticed the following - for a few seconds, a blue error message in the game pops up, which I can't tell

[2021-08-27 16:02] dadanda opened #345 "AutoSal Stuck Bug [ 5.5.31] - Getting stuck at autosal, preventing everything else to function"
It's an old issue.
The only thing I used to do is use a tab refresher/reloader and it would work
but now, whenever the script collects a girl's salary it resets the timer for the refresher.

**System:**
- **OS:** Windows, 10
- **Browser:** Chrome Version 92.0.4515.159
- **Script-Helper:**Tampermonkey v.4.13
- **Actual activated options:** : Main concern is AutoSal, it doesn't matter on what else.

[2021-08-27 18:44] #345 closed, assigned to nobody

[2021-08-28 04:44] Knatan commented on #344
I noticed the same thing., I saw the script buy only 6 out of 8 EXP books, and assumed this is a hardcoded number in the script.
The game recently changed the purchasable cash books to 7 out of 8.

[2021-08-28 06:17] cossname commented on #338
@Roukys as i mentioned in https://github.com/Roukys/HHauto/issues/338#issuecomment-902818851
**there NO MORE such object as**
[code]

**Should be**
[code]

[2021-08-28 14:49] Diadochus-Ptolemy commented on #341
If you do not collect a reward, then the next day there will be no new one)

[2021-08-28 18:23] cossname commented on #344
dont have this issue

[2021-08-28 18:40] YotoTheOne commented on #344
It also happened to me several times lately.
I don't have a log, I'll see tomorrow if I have a chance to be around when the market reset occurs.

[2021-08-28 18:42] YotoTheOne commented on #341
Is that so, or do you just need to connect to the game once a day to have the reward available ? In that case collecting could be delayed.

[2021-08-28 20:15] Roukys commented on #344
maybe buying function is too fast.
plus it does work without being on market, plce I'll take a look.

they're preparing new changes in test ...
season is regularly broken on test and I had to correct powercalc

[2021-08-29 08:51] Moizevitch opened #346 "Request : GiveExp max all girl started"
Hi Roukys, I would initially like to congratulate you on the excellent work of this script (from the HH game).
Really fantastic!
The only regret is not seeing this type of script for other games of the same type.
It would be a relief not to get stuck in the game, the way the developers envision it.
Well, the idea of ​​this text is to suggest something new.
I am at level 444 of the game and I have

[2021-08-29 11:30] Diadochus-Ptolemy commented on #341
I went into the game - there was an opportunity to pick up. Took it - there will be a new reward for the next day, if it didn’t take it - it will hang forever. In short, saving will not work.

[2021-08-29 11:59] Diadochus-Ptolemy commented on #344
I am more and more convinced that the point is that the script is trying to make a purchase too quickly. I tried to record a video to catch the error, and the browser began to work slowly - as a result, the error did not appear - the script had enough time to buy everything while the computer was distracted by capturing the video. Then I just turned off buying first, waited for the market to updat

[2021-08-30 06:15] Roukys commented on #258
still working on it, added mask maxed, though still not working that good ...

[2021-08-30 06:17] Roukys commented on #346
Hello @Moizevitch thanks for the congratulations :)
Glad to help

I'm slowly working toward it in #258, but only step by step, as it is not so easy to script it ;)
but that is in the backlog

[2021-08-30 09:31] Moizevitch commented on #346
Hi @Roukys.

Thank you very much for your attention and for the reply.
And I'm sorry I didn't see this new idea (#258). But he's a little different from mine. The idea of #258 is simply to provide XP and affection for all the girls. Mine is not like that. I would like it to be just, and only, XP and only girls whose experience has been increased (initiated). Those that were intact would not be com

[2021-08-30 10:44] Roukys commented on #346
@Moizevitch at the moment no pass of affection stories is in the backlog don't worry.
Give aff only completes the aff needed but doesn't do ugrade.
From your explanation, I do understand that what you need i a do all, but needs to be able to only do it on non level 1 girls, Right ?

Then I would say that I'm working step by step toward it.
#258 add to all would have to be synchronized with a filte

[2021-08-30 11:07] YotoTheOne commented on #341
That's not obvious to me. I'll try not collecting to see if the next reward gets available tomorrow.
![HHdaily](https://user-images.githubusercontent.com/74134758/131330200-bffb9a2e-3722-4495-86fc-b2dc11726be2.jpg)

[2021-08-30 12:26] Roukys commented on #341
I've tried and it seems it does work as @Diadochus-Ptolemy says, I'll adapt script from @cossname to get reward at noon if not collected before

[2021-08-30 12:57] Moizevitch commented on #346
@Roukys,

Thank you very much again for your attention!
Yes, I am very grateful for your understanding and intention to reconcile both ideas.
It's perfect for me, thanks! :)
I don't know what this OCD is, but the general idea is perfect, awesome!
I kept thinking after I answered you, and the ideas could be the same as the function of buying books and gifts: I can enable one and the other leave it

[2021-08-30 13:05] Roukys commented on #346
@Moizevitch OCD : https://sleazyfork.org/fr/scripts/415625-hentai-heroes-ocd-season-version
it is pretty useful, mainly display stats and filters :)

[2021-08-30 15:25] #293 closed

[2021-08-30 15:25] #317 closed

[2021-08-30 15:26] #295 closed

[2021-08-30 15:33] Roukys commented on #332
@Zwackle to be tested in 5.5.32

[2021-08-30 15:34] Roukys commented on #341
@Diadochus-Ptolemy @YotoTheOne @cossname to be tested in 5.5.32

[2021-08-30 15:34] Roukys commented on #334
@Olaf-san to be tested in 5.5.32

[2021-08-30 23:10] cricox commented on #344
It also happened to me several times lately

[2021-08-31 06:08] Roukys commented on #344
yes shopping function is one of the old, it works a little out of normal loop,
in a first try I'll try to force it to go back to market a few time and not only when market update, to prevent missing items

[2021-08-31 11:43] dagget-beaver opened #347 "Bug [5.5.33] - Broken auto-claim in missions"
**Describe the bug**
Script no longer can "Claim" rewards on mission completion.

**Additional context**
The issue is related to additional check timer before new event - the check returns false if there's no event on the page, so it breaks the loop.
Broken code line:
`if (Storage().HHAuto_Setting_autoMissionC==="true" && $(".mission_button button:visible[rel='claim']").length >0 && getSecondsLeft

[2021-08-31 12:14] Roukys commented on #347
@dagget-beaver checking it now

[2021-08-31 12:16] Roukys commented on #347
but the idea is to collect mission only after competition start in fact

[2021-08-31 13:02] dagget-beaver commented on #347
From my understanding of current code: it actually looks for next competition and tries to calculate the timer to next event. If there's no event at the moment, then the calculation just goes off and returns false.

[2021-08-31 13:06] Roukys commented on #347
no it takes the current server time, and check time remaining before next competition (at 11:30 server time)
And it only collect if time remaining is under 24h minus 35 mins

Ok reading myself while answering you I may have made an error, rechecking :D

[2021-08-31 13:12] Roukys commented on #347
@dagget-beaver Ok so you're right there is an error
getSecondsLeftBeforeNewCompetition() < (24*3600-35*60) => remains less that 23h and 25 mins before competition

It should be getSecondsLeftBeforeNewCompetition() > 35*60 && getSecondsLeftBeforeNewCompetition() < (24*3600-5*60) => not in last 35min (30 mins between end of HH day and competition +5 minutes security) and not in first 5 mins of compe

[2021-08-31 15:06] Olaf-san commented on #334
Hello Roukys,
from what I could test today :
- when the "Collect" button is disabled: the script performs the missions without collecting them
- when the "Collect" button is activated : the script doesn't do the missions anymore. When a mission ends, the script goes to the missions page and then freezes.

[2021-08-31 15:28] Roukys commented on #334
@Olaf-san #347
yes I'm releasing V34,

I hope it will be better

[2021-08-31 15:29] Roukys commented on #334
current version only collect after 35 after competition by mistake ...

[2021-08-31 16:36] dagget-beaver commented on #347
@Roukys seems to be fixed with the update - will close the issue.
sorry for the misleading for function evaluation - it's currently a headache to understand what functionality is covered by the code and debug it correctly.

[2021-08-31 16:36] #347 closed

[2021-08-31 18:18] Roukys commented on #347
@dagget-beaver no issue :) easier for me as I maintain it for some time now but at first it was a headhache for me also ;)

[2021-09-01 08:06] Roukys commented on #338
idea being not to have to do if (test) then
but just getHHVars(var)
and it will adapt to env if needed

I'm trying to expand it to all vars (for example the server_now_ts)

[2021-09-01 08:41] Roukys commented on #338
I've released it in v35
you just have to use getHHVars("Hero.infos.level") or getHHVars("server_now_ts")

and if I want to globally change a vars location :
HHVariables["global"]["Hero.infos.level"]= "Hero.infos.caracs.level";

or if only for test server :
HHVariables["HH_test"]["Hero.infos.level"]= "Hero.infos.caracs.level";

[2021-09-01 13:07] Roukys commented on #344
@Diadochus-Ptolemy @Knatan @cricox @YotoTheOne I've forced market every 2 hours in v36.
not a fix I'm proud of, but I don't have time to fully rewrite buying function :)

that should do the trick though :)

[2021-09-01 14:45] Roukys commented on #248
@cereushy @Dimka2010 @diller9132  @Azadrim @Knatan @YotoTheOne
Working on this option :
add a field to set a max secs of salary collecting (X)
while collecting through harem ( monthly card not concerned)
only collect for X secs
if all collected -> timer set to minimum of next girl salary or 30sec
if not all collected -> set to 30secs

Would it fit the needs ?
The script will still take girl in ord

[2021-09-01 15:10] cossname commented on #338
got it

[2021-09-01 16:28] Diadochus-Ptolemy commented on #344
Well ... it kind of improves the situation, though not completely. All the same, the lag of two hours is too long, and in a certain situation it is critical. For example, I do not include the script so that it would work for days in full bot mode, but I run it for 10-15 minutes two or three times a day to perform a daily routine so as not to click the mouse a hundred times earning premature tunnel

[2021-09-02 07:18] cereushy commented on #248
if all collected -> timer set to minimum wait on Menu or next girl salary
if not all collected -> set to 30secs

I feel this is in line with previous usege habits

[2021-09-02 07:49] Roukys commented on #248
@cereushy in fact I was thinking to replace the minimum wait of menu by maximum collection time
after a few test I'm more on these values :
if all collected -> timer set to minimum of next girl salary or 2 mins
if not all collected -> set to 60secs

[2021-09-02 10:51] tnk2019 opened #348 "Bug [>5.5.24] - eroges is not supported"
I notice for HH on eroges server ("https://erogames.com/en/games/hentai-heroes/play") there is a problem for the latests versions. The last working version on this server is 5.5.24.
Can you please fix this?
![HH5 5 30](https://user-images.githubusercontent.com/89976606/131831034-61a4aeee-134c-4f43-8e3e-6f41a02b6e36.PNG)

[2021-09-02 16:09] cereushy commented on #248
If the menu will be change , I'm all support for the new plan

[2021-09-02 16:33] Roukys commented on #248
yes I do feel the min wait is not forcibly used and a max salary time will be more useful, I'll wait a few more days to have others feedbacks :)
thanks @cereushy for yours

[2021-09-02 20:05] YotoTheOne commented on #344
I've only updated to 5.5.34, since then I never noticed a problem anymore. I guess it was a server-side issue, or I'm just lucky.

[2021-09-03 06:32] OldRon1977 commented on #248
Hello and back again :)
I was a little bit silent the last few weeks, since I was in hospital with a broken back injury. You shouldn't try a 2.5 turn flip from a 5m tower at your local diving pool at the age above 44 anymore ;)

First things first, I am well, no serious injuries (except for the broken back) and I did not need surgery. So I am back home and everything is getting back to normal.

No

[2021-09-03 06:36] OldRon1977 commented on #348
Hi @tnk2019 :)
We would need a little bit more information on what exactly is not working.
Everything? Specific options like collecting money or rewards? Does fighting at the league have some problems? Your general statement is not very helpful for the devs to try and hunt the bug down.
Also if you could please check that you run the latest version of the script, clear all caches and timers via th

[2021-09-03 08:24] bjaume commented on #248
@OldRon1977 I hope you get better soon

A max collect time sounds perfect. I have only 300 girls and collect time for now is not a problem but I see that with more girls it will be.

I do use the minimum waiting time because I do not use the paranoia mode since I am not sure using it. I probably don't use it well.
I use minimum wait to 'simulate' the sleep time. During the day I leave it to 600 se

[2021-09-03 08:31] OldRon1977 commented on #248
@bjaume thanks for the well-wishers :) I am pretty back to normal, walking, biking, hiking... Except playing rough with the kids is a no-go atm. ;)

Your option "if all collected -> timer set to minimum wait
if not all collected -> set to 60secs" makes more sense to me, because it includes the the all-collected option. Haven't thought of that (maybe the meds ;P ).

For Paranoia-mode... I used it a

[2021-09-03 09:08] Roukys commented on #248
@OldRon1977 glad that you are back to normal
I'd like at 44 to be able to still do this kind of tricks :)

I'm using Paranoia continuously on my side :) with spends point before I'm not even loosing ay fights, kiss or energy :)

yes in fact I even have space for a max time in menu

for me all collected to minimum of min wait or next collection does help when you have only maxed girls and their tim

[2021-09-03 09:21] Roukys commented on #248
made an error in fact it is maximum of min wait or next collection
if min wait is 120 secs and next collect is 150 => 150
if min wait is 120 secs and next collect is 50 => 120

[2021-09-03 11:21] bjaume commented on #248
Yes. Correct

[2021-09-03 12:36] tnk2019 commented on #348
Hi @OldRon1977
thank you for your comment.

This bug is only on the eroges server  ("https://erogames.com/en/games/hentai-heroes/play")

I update the last version 5.5.36. It's the same all options is not working. I try to use debug menu but nothing happend.

the last version working good on this server is 5.5.24.

this is a comparasion of the two versions for the first screen. You can notice that

[2021-09-03 12:38] Roukys commented on #348
must be linked to environement specifics ...
we now need id of the game got by URL ...
let me modify the script a little so it does display these values

[2021-09-03 12:47] Roukys commented on #348
@tnk2019 can you try v38 you should have a popup now :)

[2021-09-03 12:53] Roukys commented on #348
@tnk2019 forgot a few code for the links, now fixed, but just send me the screenshot here I'll deal with it :)

[2021-09-03 13:30] tnk2019 commented on #348
thank you @Roukys

this is the popup after update v38

![eroges 5 5 38](https://user-images.githubusercontent.com/89976606/132012905-5dbae151-930d-4cba-a62e-df69f86db9ab.PNG)

[2021-09-03 13:31] Cronosus opened #349 "Request : mythic ignore treshold"
as name implies.
add switch for mythic event to ignore treshold.
it allow to save some combat just to be used for mythic later.

[2021-09-03 13:39] NinJaraya commented on #349
But already ignores.
I always leave it at 19 during Mythic.

[2021-09-03 14:13] Roukys commented on #348
@tnk2019 that is done in v39 enjoy :)
please close this issue if confirmed

[2021-09-03 14:14] Roukys commented on #349
@Cronosus it does already ignore threshold
if you allow x50 then even set it to 49 so it does not spend remaining if out of luck 50 is bought while shards are available and can't be spent as shards no more available

[2021-09-03 14:56] tnk2019 commented on #348
thank you all ;)

[2021-09-03 14:56] #348 closed

[2021-09-03 16:23] Roukys commented on #248
I've also speed up a bit the money collecting function

[2021-09-04 05:47] Kinnoishi opened #350 "Bug [5.5.39] - Nothing works except Troll battle"
Hello,
When i checked routinely in the evening for progress and if everythign works fine i had to see that everything except Troll battle stopped working.
Since im not 100% sure that the issue might be Local to me i decided to post here just in case.
Following u see the current state:
![image](https://user-images.githubusercontent.com/43327713/132083938-736ee5ff-e796-448b-b33f-c7a624df481e.png)
If

[2021-09-04 08:10] cossname commented on #350
@Kinnoishi, upload debuglog from Debug Menu

[2021-09-04 08:30] cossname commented on #350
@Kinnoishi
replace
[code]

to
[code]

[2021-09-04 09:12] Kinnoishi commented on #350
@cossname  Thank you for youre quick help. This has fixed it. Closing the ticket now!

[2021-09-04 09:15] cossname commented on #350
reopen it, so @Roukys  can fix it in main script

[2021-09-04 09:36] Roukys commented on #350
@Kinnoishi @cossname don't know how but I've uploaded an intermediate version
correcting it now in v40

[2021-09-04 10:24] cossname commented on #350
@Roukys  too much log events
[HH_DebugLog_1630743088896.log](https://github.com/Roukys/HHauto/files/7109599/HH_DebugLog_1630743088896.log)

[2021-09-04 10:33] Roukys commented on #350
Pachinko yes was coded like that didn't took time to check on it

[2021-09-04 11:10] cossname commented on #350
inside function "var getFreeGreatPachinko = function()"
replace1
[code]

to1
[code]

inside function "var getFreeMythicPachinko = function()"
replace2
[code]

to2
[code]

[2021-09-04 12:21] NinJaraya opened #351 "Bug [5.5.40] - PowerCalc not working+ new Boosters in Markert in Test Server"
The title said all...
![market](https://user-images.githubusercontent.com/73942331/132094199-c3495239-1b59-44f9-8001-f941aaa6b9b0.png)

[2021-09-04 14:29] cossname commented on #267
[5.5.40] not enough, still under pachinko menu

adding this will fix situation;
[code]

[2021-09-04 14:39] cossname opened #352 "Bug [5.5.40] - Salary max timer not used"
replace
[code]
to
[code]

[2021-09-04 16:07] Roukys commented on #352
@cossname max salary is not for the timer ,but used just before to max the collection time ;)

[2021-09-04 16:08] Roukys commented on #351
@NinJaraya thanks I'll take a look,not a week they are not breaking everything

[2021-09-04 17:09] cossname commented on #352
just add this function then :)
we already have interface changes

[2021-09-04 19:00] Roukys commented on #352
Won't forcibly work as min can be > max for exemple I use min 120 max 60 ;)
And plus if you allow for example 600 in max and next girl is in 5 min you'll still wait 10 min

[2021-09-05 01:04] dagget-beaver opened #353 "Bug [5.5.50] - Endless page redirection on event check"
**Describe the bug**
Script checks the events tab including mythic even when there's no left combat points available - this is causing endless page redirection between home<->events to refresh the data even if there's nothing to do on the event.

**To Reproduce**
Steps to reproduce the behavior:
1. Have the configuration as per screenshot

**Expected behavior**
There should be no refreshing if the

[2021-09-05 01:27] NinJaraya commented on #267
I change:
`$('#contains_all').prepend(sMenu);`
to
`$('#contains_all').parent().prepend(sMenu);`
and
CSS:
[code]

[2021-09-05 06:42] cossname commented on #352
[code]

[2021-09-05 06:45] cossname commented on #352
so this was a reason to add custom timer delay
for few last months in my script timer was set to 9000 seconds

[2021-09-05 08:08] ilviloon commented on #353
i were about to post to ask for something like this, it's keep coming back to the event page to check the boss when i have set the time to do mythic on the last 16 hours. i have none combat left  and it's still on a endless boss check.
![image](https://user-images.githubusercontent.com/74257523/132119972-9b5b4480-b8b3-4f65-8d95-712ccd487eca.png)

Just have a good day and be heathy :)

[2021-09-05 08:30] Roukys commented on #353
I'll check on the log, normally it can check event even if 0 fights left just to update its data but should only do it once ...

[2021-09-05 09:26] Olaf-san commented on #334
It works flawlessly. Thanks a lot.

[2021-09-05 09:45] Roukys commented on #353
ok maybe parsing function is set multiple time
could you try that :
before line :
`logHHAuto("On event page.");`
add line :
`queryEventTabCheck[0].setAttribute('parsed', 'true');`

[2021-09-05 11:05] dagget-beaver commented on #353
@Roukys
still refreshing in loop after adding recommended attribute in the code, reverted back to my workaround

[2021-09-05 11:06] Roukys commented on #353
@dagget-beaver I'll check why the fight at 0 is an issue

[2021-09-05 12:27] Roukys commented on #353
I've tested and it seems not linked to fight being 0

[2021-09-05 13:34] #334 closed

[2021-09-05 13:35] Roukys commented on #351
@NinJaraya powercalc adapted for test in v41

[2021-09-05 14:54] Knatan commented on #351
Thanks so much Roukys.

I really dread the moment when you guys no longer play the game. @

[2021-09-05 16:21] YotoTheOne commented on #353
At each autoLoop cycle, if busy = false, script performs parseEventPage.
[code]
I don't really know how to correct it since it is needed to detect new event.
I fear @dagget-beaver fix may cause the script to not work properly when the buy combats time is reached.

Maybe that whole block could be placed just after :
[code]
since the event checking is only useful if auto troll fights are enabled, wh

[2021-09-05 16:28] Roukys commented on #353
@YotoTheOne Normally should not.
Eventids length should be > 0 only if events to check  ... and other one should only trigger for non parsed events.
And strangely I was not able to reproduce ...
I'll try to add some more debug log...
Could you try to add a
console.log(getPage(), eventIDs, $("#contains_all #events[parsed]").length);
Before the if to see what triggers the check of events ?

[2021-09-05 16:54] dagget-beaver commented on #353
@Roukys @YotoTheOne
The fix is just a temporary workaround - it works fine even if you buy additional fights with kobans. However, the workaround may not be applicable to all events as some may require kisses or league fights e.g. Kinky Cumpetition.
After applying `console.log(getPage(), eventIDs, eventIDs.length, $("#contains_all #events[parsed]").length);` I see the following in the output durin

[2021-09-05 19:30] YotoTheOne commented on #353
@dagget-beaver : I don't believe the script handles other event types than those where fighting trolls is needed. So your code might be a good enough solution for now.

@Roukys : the way I see it, `eventIDs.length > 0 && getPage() !== "event"` is true if there is a running event, so if `busy = false` the script executes parseEventPage function, leading to a `gotoPage("event");`
then next autoLoop

[2021-09-05 20:42] Djidam commented on #353
Hi,
It is also looping if you turn on mythic fights but turn off troll fights.
Maybe this info will help.

[2021-09-06 04:28] #351 closed

[2021-09-06 08:05] cereushy commented on #248
@Roukys Hi I was tested for couple days and there is some suggestions might help.
Set the min wait -> minimum sec wait between each collect.
Set the max wait -> maximum sec collect time.
if all collected -> timer set to next girl salary
if not all collected -> set to min wait

Current versions (v40) of Salary activate with high frequency and the click rate goes up , I am a little concerned about b

[2021-09-06 08:24] Roukys commented on #353
ok so issue is within the parseEvent when going on page.
@Djidam @YotoTheOne @dagget-beaver @ilviloon could you test by replacing :
[code]
by :
[code]

[2021-09-06 08:43] YotoTheOne commented on #353
Tested, same behaviour.
[code]
this is the part that leads to the event page at each autoloop cycle.

Why not place it after
[code]
?
Is checking event needed if auto troll is disabled or no fights are available ?
How would it interact with buying fights during event buy time ?

[2021-09-06 09:13] Roukys commented on #353
I'll check but I still not understand why the checkEvent function returns always true for the mythic event.

And also why I'm unable to reproduce it ...

could you replace these 2 function in your code ? (I've added as much logs as I can)
[code]

then in console you can filter on Debug EventLoop

[2021-09-06 09:50] YotoTheOne commented on #353
I don't think checkEvent is in cause.
It's parseEventPage that makes the game go to the event page, checkEvent is not used until the game is already on event page.

[code]
that part is inside the block `if(getPage() === "event" ) {...}`.

I'll do the tests nonetheless but only this evening, I'm working all day...

[2021-09-06 09:57] dagget-beaver commented on #353
@Roukys @YotoTheOne
FYI: this happens on nutaku. Log with replaced functions and filtered on Debug EventLoop:
[www.nutaku.net-1630921964686.log](https://github.com/Roukys/HHauto/files/7114992/www.nutaku.net-1630921964686.log)

[2021-09-06 10:58] Roukys commented on #353
@YotoTheOne check event is the one listing event needing to be parsed ;)
[code]

@dagget-beaver seems nextWaveTimer is always in the past thus forcing refresh ...

think I've found something but too late ...

setTimer('eventMythicNextWave',nextWave); should be before if (remShards !== 0 )

[2021-09-06 12:34] Roukys commented on #267
@cossname @NinJaraya should be good in v42 thanks @cossname

[2021-09-06 15:28] OldRon1977 opened #355 "Bug v5.5.42 - Pachinko no longer working / accessable"
**Describe the bug**
Wit the version 5.5.42 you can go to the Pachinko, but you cant select Event, Epic, Mythic or Great... with the version 5.5.41 it is still possible.

**To Reproduce**
Steps to reproduce the behavior:
1. install 5.5.42
2. Just try to access the Epic Pachinko...
3. downgrade to 5.5.41
4. Now it will work...

Debug with 5.5.41:
[HH_DebugLog_1630942053182.log](https://github.com/R

[2021-09-06 17:19] dagget-beaver commented on #353
@Roukys
Does this mean that we don't need check on remaining shards to reset the timer for next wave? Current mythic has ended, so can't test further. I noticed that refreshing doesn't happen only when shards go down to zero, so we hit `if (remShards !== 0 ).` check but it doesn't apply any nextWaveTimer in the code for this check, only when remShards == 0, then we can get out of first `if (remSha

[2021-09-06 17:25] Roukys commented on #353
It means that I'll have to work on it next mythic event ...

[2021-09-06 17:35] Roukys commented on #355
@OldRon1977 badly tested on my side
corrected in v43

[2021-09-06 17:36] OldRon1977 commented on #355
That's why we are here to keep this thing crashing ;)

[2021-09-06 17:36] #355 closed

[2021-09-06 17:40] Roukys commented on #248
@cereushy  I didn't get what were your proposals :D

[2021-09-06 17:47] Roukys commented on #355
@OldRon1977 can always count on you for the tests :)

[2021-09-06 18:43] Olaf-san commented on #341
The function is not working.

[2021-09-07 08:11] Roukys commented on #341
@Olaf-san what isuue are you encountering ?

[2021-09-07 15:02] YotoTheOne commented on #341
Well same here, it doesn't collect. Nothing relevant on the log.

[2021-09-07 15:09] Roukys commented on #341
@YotoTheOne @Olaf-san it is set to collect only in the last hour of HH Day so 1 hour before end of competitions.
event in the last hour it does not collect it ?

[2021-09-07 15:27] YotoTheOne commented on #341
Ok, I don't think I waited this long before collecting manually. I'll wait this time.
To be useful for the daily contest it only needs to be collected after 13h30, why did you choose to wait for the last hour ?
Sometimes I cannot be around to reconnect the game after the weekly update that happens in the morning so those days I'll loose the reward if not collected before.

[2021-09-07 16:37] Olaf-san commented on #341
I didn't know the script was collecting in the last hour. I thought it was after 13h30. I'm joining YotoTheOne, it would be better if it collected after 13h30.

[2021-09-07 17:08] Diadochus-Ptolemy commented on #344
I checked it for several days, the error did not appear anymore. I close the topic.

[2021-09-07 17:08] #344 closed

[2021-09-07 18:29] Roukys commented on #341
because during PoA could be useful to use it when needed during the day :)

[2021-09-08 11:08] YotoTheOne opened #356 "Bug [5.5.43] - auto league : "getHHVars:HH var not found : heroLeaguesData.caracs.ego (caracs not defined)""
**Describe the bug**
the battle simulations results are totally off, the log says

**System:**
- **OS:** Windows
- **Browser:** Chrome 92.0.4515.159 64 bits
- **Script-Helper:** Tampermonkey 4.13
- **Script-Version:** 5.5.43
- **Actual activated options:** :
![HHopt](https://user-images.githubusercontent.com/74134758/132498982-81351b29-762b-4d13-b28a-dfdd3bdb3b45.jpg)

[2021-09-08 11:57] OldRon1977 commented on #341
I am indifferent according to the time, when to collect. But at least I can confirm, that the script is collecting. :)
Before two days ago I always collected manually, because the red plus sign triggered me ;)
So now I waited and it worked like @Roukys said and collected within the last hour.

Why would it be better to collect at a different time? Please give me a usecase, atm. I can't think of on

[2021-09-08 12:05] YotoTheOne commented on #341
Collecting before the weekly update would be nice, because the game often fails to reconnect after the update and I usually find about it when I get home at the end of the day. But it's not a big deal.

[2021-09-08 15:23] Roukys commented on #356
@YotoTheOne fixed in v44

[2021-09-08 16:18] cossname commented on #356
@Roukys also have been removed/changed from game
[code]

[2021-09-08 16:38] YotoTheOne commented on #356
@Roukys : nope sorry, still the same...

[2021-09-08 16:50] Roukys commented on #356
Done to fast from tel I should have changed to global instead of removing
Home in an hour or so I'll correct.
@YotoTheOne Normally only need to change hh_test in global in lines Hhenvvariables["hh_test"]

[2021-09-08 17:03] YotoTheOne commented on #356
That did the trick, thank you :)

[2021-09-08 17:18] Roukys commented on #356
should now be good in v45

[2021-09-09 05:58] UncleBob800 opened #357 "Bug [5.5.45] - Club Champions Timer"
When activated option "Club Champion" doesn't sync with the rest timer.

![HH_Bug_ClubChampionsTimer](https://user-images.githubusercontent.com/86453893/132631199-7653b4d8-7ae9-48b1-9427-6ced53919737.png)

Example: I had a fight with the Club Champion, waited 5 minutes, started the option, but in the end, instead of 10 minutes, I see the standard 15 minutes. At the same time, regular Champions syn

[2021-09-09 07:15] Roukys commented on #357
@UncleBob800 strange we never detected it.
was an error in code.
Corrected in v46

[2021-09-09 07:18] Franck-75 commented on #357
Yes. This bug was there since a long time but minor. It's the reason why I didn't reported it.

[2021-09-09 10:02] #356 closed

[2021-09-09 13:54] UncleBob800 commented on #357
Thanks very much 😊😘

[2021-09-09 14:15] UncleBob800 opened #358 "Bug [5.5.46] - Two options are reset"
A very strange bug, the two options "Show info" and "Show PowerCalc" are constantly being reset. I noticed that these options became common for each tab, even if the "Settings per tab" option was enabled. On the one hand, it is very good and convenient when such options work globally (for example, this way I want to disable the "Show tooltips" option I don't need on all tabs with one click). But o

[2021-09-09 16:33] #357 closed

[2021-09-09 23:19] Franck-75 opened #359 "Bug 5.5.46 - Blocked after troll battle"
As troll battle is the most used functionnality, I'm amazed. But, the script blocks after each battle.
There is a kind of unblocking after a 30 seconds timeout, but not always.
So, if I set troll battle to on, after some minutes, the game is blocked.

Here are the traces I have :
10/09/2021, 01:10:19.33:doBossBattle:Event troll fight HaremHeroes Automatic++.user.js:171:13
10/09/2021, 01:10:19.35:d

[2021-09-10 03:07] dagget-beaver commented on #358
@UncleBob800 @Roukys
Opening a new tab will reset the options with "Settings Per Tab" option enabled since we need to build new sessionStorage with key options which will be set to default "false" values. Seems I've found the issue in the code - we place changes to reported options in global localStorage and update them accordingly, however, since we use localStorage, it also applies changes to se

[2021-09-10 06:22] dadanda opened #360 "Battle Troll Enhancement : When event reaches buy comb time, use up all the combativity."
**Which feature is concerned**
So in the current system, you can activate troll battle and +event to do the event trolls. Then you could activate buy comb. at the time when the event nearly ends.

**Describe the solution you'd like**
I would like for the system to disregard the threshold if I have +event buy comb on when the event time reaches it.

**Describe alternatives you've considered**
Well

[2021-09-10 06:30] YotoTheOne commented on #360
That should already be the case, at least it was last time I used it. Maybe Roukys made some recent changes. A log would help.

[2021-09-10 08:10] dadanda commented on #360
9/10/2021, 4:09:09 PM.763:autoLoop:Going to check on events.
VM235 userscript.html:171 9/10/2021, 4:09:09 PM.765:parseEventPage:On event page.
VM235 userscript.html:171 9/10/2021, 4:09:09 PM.767:parseEventPage:On going event.
VM235 userscript.html:171 9/10/2021, 4:09:09 PM.769:setTimer:eventGoing set to 18880:19:00:04 (02:50:55)
VM235 userscript.html:171 9/10/2021, 4:09:09 PM.771:parseEventPage:[

[2021-09-10 08:12] YotoTheOne commented on #360
It says "unable to recharge", are you under your koban bank limit ?

[2021-09-10 08:13] dadanda commented on #360
no I have set my koban limit to 0.

[2021-09-10 08:16] YotoTheOne commented on #360
OK so maybe it's unable to recharge because the fight amount left isn't 0.
Can you confirm your "hours to buy combats" setting ?
I'll look into it later, I have to go to work.

[2021-09-10 08:18] dadanda commented on #360
hours to buy combat is set to 16.
Yeah, that's why when I set the threshold to 0 and it does the fight till it drains out, it will do the recharge properly.

[2021-09-10 09:41] Roukys commented on #360
@dadanda could you send a debug log ?

[2021-09-10 09:41] Roukys commented on #358
I've got a work on that since #278
idea being to allow to set a user defaults vars ...
but still working on it

[2021-09-10 09:46] Roukys commented on #359
@Franck-75 could you upload a full debug load of when it happens ?

on this observer function there is a timeout of 60secs in case of but still should work.
let inCaseTimer = setTimeout(function(){gotoPage('home');}, 60000);

it does occurs each time ?

I've tried it on my side seems to work.

to help in the meantime you can change the incase timer to a lower value if needed.

[2021-09-10 10:28] Roukys commented on #359
@Franck-75 think I've found cause.

issue seems only when fight is very fast.
in that case reward appear before the mutationObserver is set.

therefore it doesn't detect it.

Have tried a fix in v47, please tel me if it helps

[2021-09-10 15:39] Franck-75 commented on #359
It works ! Thanks !

[2021-09-10 15:39] #359 closed

[2021-09-10 16:38] #267 closed

[2021-09-10 16:39] #332 closed

[2021-09-10 16:50] Roukys commented on #358
@UncleBob800 @dagget-beaver I've updated in v49 a new button to save your own defaults ;)
therefore it removed the code for having some global switches like showInfo and showPowerCalc

Please tell me if it helps.

[2021-09-10 16:50] Roukys commented on #278
@UncleBob800 @Knatan @YotoTheOne @OldRon1977  I've updated in v49 a new button to save your own defaults ;)
therefore it removed the code for having some global switches like showInfo and showPowerCalc

Please tell me if it helps.

[2021-09-10 18:05] dagget-beaver commented on #358
@Roukys
It seems you've added `HHAuto_Setting_saveDefaults` in localStorage which will update the settings - is there any necessity to store all available options there? I think it's not required as it contradicts to what sessionStorage was designed for - maybe it's better to store only some global settings there?
The new functionality introduced different behavior:
1) initial tab:: use SaveDefaul

[2021-09-10 18:32] Roukys commented on #358
@dagget-beaver this one will only be used for new tabs
If you want to reset it just resave it it will overwrite it

You just have to save in the state you want new tabs to open.

[2021-09-10 18:51] dagget-beaver commented on #358
@Roukys
Then I do not see any point in "Per Tab" setting - why do we need this option if we won't be able to use separate option configurations per tab since all configuration is loaded from "SaveDefaults" from localStorage? It can be completely deprecated with new implementation and just use localStorage by default for all options instead.

"this one will only be used for new tabs" - no, existing

[2021-09-10 19:32] Roukys commented on #358
No save default only work on first Load of tabs .
Ex you  want all your tabs to have showinfo but not powercalc, you save it like that .

New tabs will have it and then you can do ans specific configuration to this tab

[2021-09-11 11:14] Olaf-san commented on #341
To get everyone on the same page, we could associate a timer with the option right next to it. An area where you could write the time you want the script to collect the reward.
What do you think about this?

[2021-09-12 10:36] dadanda commented on #360
will be sending one after getting back to 19 comb and just gonna move the buy comb time to less the event time.

[2021-09-13 05:17] dadanda commented on #360
[HH_DebugLog_1631510143187.log](https://github.com/Roukys/HHauto/files/7151536/HH_DebugLog_1631510143187.log)

Here is the debug log. Settings are 19 threshold and 30 hours because the event at the time still has 29 hours left.

[2021-09-14 05:46] dadanda opened #361 "Buy comb Bug [5.5.49] - Not buying comb unless threshold is set to 0"
**Describe the bug**
In #360

Basically, the buy comb for events doesn't work unless your threshold is set to zero.
It will try to buy comb and not do it unless the current comb is 0, which still happens, but if there is any comb left before it tries to, it will not buy comb unless you set the threshold to 0, and the script uses it up or you manually battle till it zeroes out and it will refill on

[2021-09-14 11:24] Roukys commented on #361
@dadanda for buying comb yes it only buy when current power is under 10 to prevent only using 10 to 20.

I'll check on why though, it doesn't bypass threshold in #360

[2021-09-14 12:04] Roukys commented on #360
@dadanda I hope it will be better with 5.5.50.

I think I've found the cause

[2021-09-15 06:08] cereushy opened #362 "Did you guys found some "Happy hours" ( 4-11 Attraction per time ) in events ?"
**Which feature is concerned**
A mouth ago someone of my club were talking about the "Happy hours" of events. They felt sometimes we could collect Attraction of girls lot faster than usual.
![Screenshot 2021-09-15 134329](https://user-images.githubusercontent.com/55412702/133377314-4cce8a3c-cc8e-436d-83f1-5885ff62b221.png)

Yeah I`m interesting about it . So made some test of it.
And the "Happy ho

[2021-09-15 09:33] Frederik123 commented on #338
@Roukys how about to add this to main script ? very useful for selection best equip
or
@cossname can you share script with new vars ? Ofc if you did it :)

and 1 suggestion . how about add to this script emulate equip boosters ?

[2021-09-15 10:08] OldRon1977 commented on #362
Sounds interesting...
I always thought it was a lucky hit if I get more attraction as usualy.
So this might be a good thing to implement :)

[2021-09-15 13:49] cereushy commented on #362
I did not have enough Kobans to test with 10x and 50x , so dont know did it happen in 10x or not .
Average 4 times award of high attraction in single "HH" in my impression . Can not tell that clear cuz I do not know when HH start ...
Maybe the 10x and 50x could put that on hold ?

[2021-09-17 07:07] dadanda commented on #361
Yeah, it seems to be working fine so I'll close this one and the other.

[2021-09-17 07:07] #361 closed

[2021-09-17 07:07] dadanda commented on #360
Yeah, it seems to be working fine so I'll close this one and the other.

[2021-09-17 07:07] #360 closed

[2021-09-17 12:48] Roukys commented on #362
I'll check on that, unfortunately for the next coming week I will have very limited access to a laptop, so it will be afterward

[2021-09-17 12:48] Roukys commented on #338
I'll check on that, unfortunately for the next coming week I will have very limited access to a laptop, so it will be afterward

[2021-09-17 14:02] cossname commented on #338
@Frederik123 updated
[[5.5.50]HHauto++ simFightMarket.txt](https://github.com/Roukys/HHauto/files/7186255/5.5.50.HHauto%2B%2B.simFightMarket.txt)

[2021-09-17 14:25] cereushy commented on #362
Sure , I'm really appreciate that we have now , and dont be rush if found any new I'll post here too.

[2021-09-17 19:06] bjaume commented on #248
I have been testing the autosalary and it works fine but there is something that I think could be improved:

If there are many girls with available salary and the Maxtime is reached, many of them are still pending and more are added while the salary collect is in progress. If we also add the 60 seconds of waiting (if not all collected -> set to 60secs) , more girls are added to the pending collect

[2021-09-17 19:11] bjaume commented on #362
And does anyone know or suspect if this 'happy hour' is at the same time for all players or changes for each player?

[2021-09-17 20:21] YotoTheOne commented on #362
We cannot exclude that this might just be plain luck. I don't really believe that it is programmed. Maybe it could be explained by some lucky series in the pseudo-random generator but I'm convinced that it's unpredictable and would not rely on it. That might also be a bug that may be corrected without anyone noticing. I'm personally not willing to spend kobans without further proof of the phenomen

[2021-09-18 06:37] cereushy commented on #362
Today I got a 12 , seems it was 3-12 attranction

[2021-09-18 06:56] OldRon1977 commented on #248
Huh? I can't quite follow you.
Why did you not just adjust the max.time to a value so all of your girls are collected?
The whole point of this values was, that player didn't want to wait for all girls to be collected and maybe miss fights or collects because of a big harem.

Your adjustment would basically be the old way before we had the min.wait and max.collect values.

Or did I miss something i

[2021-09-18 12:02] Frederik123 commented on #338
big thanks! :)

[2021-09-18 18:37] bjaume commented on #248
My english is not too good. Sorry.
I think you have understood my post perfectly. I think it was me that I was wrong.
I just didn't understand the meaning of waiting 60 secs before going back to the collect when it was not finished but I think I get it now. It is in those 60secs that the script must do other actions (fights, PoA, missions, ...) , isn't it?
If yes, then forget my previous post. The

[2021-09-18 20:20] OldRon1977 commented on #248
Yep... You got it :)

First value is how long the script will wait before it starts collecting. A good value is 10-15 min. but you can set it to anything you like...

The second value is how long the script will collect your money. If your harem gets bigger and bigger (like 600+ girls) at can be a pain in the ass to wait for it to finish... So set it to a value like 2-3 min.

That will result in t

[2021-09-20 08:14] cossname commented on #352
now i have 550+ girls, so collecting salary = too many requests, as result timelimited block to site
@Roukys  can you remove hardcoded "120 second timer" from salary function?

[2021-09-22 11:51] cossname commented on #338
need some fixes for boosters, bcs current version does not work with "+10% Atk" &  "+10% Ego"

[2021-09-22 13:21] cossname opened #364 "found new(at least for me) style tweaks for HH"
https://github.com/45026831/hh-style-tweaks

[2021-09-22 15:42] OldRon1977 commented on #364
Cool thanks :)

The smaller font at the League is gold!

[2021-09-27 13:08] #286 closed

[2021-09-27 13:12] Roukys commented on #341
@Olaf-san Iwould not like to add a new field, would be good to reach a common agreement
I've set it like that so everyone can collect it when needed during an event like PoA.
What would beother proposals ?
@YotoTheOne before update we could set it to be collected in last 4 hours of HH event day, what would you think ?

[2021-09-27 13:17] #358 closed

[2021-09-27 13:24] #350 closed

[2021-09-27 13:26] #349 closed

[2021-09-27 13:27] Roukys commented on #346
Closing it as tracked under #258

[2021-09-27 13:27] #346 closed

[2021-09-27 13:28] Roukys commented on #258
Made a few step to the way of auto give, do hope to be able to finish it in the coming weeks

[2021-09-27 13:44] #308 closed

[2021-09-27 14:15] Roukys commented on #362
Seems difficult to implement as distributed girl attration depends on the troll :)

[2021-09-27 15:55] YotoTheOne commented on #341
That would be ok. You could also leave it as it is, it works fine ; I'm collecting manually most of the time anyway, and in case i forget the script takes over. Maybe I'll loose a reward after an update occasionally, I'll survive !

[2021-09-28 14:40] Roukys commented on #352
@cossname I was never blocked during a salary collection on my side, even when collecting them all on the morning.

I do understand for 20seconds to set them to minimal time => all 3 of them linked to errors on getting next girl time

for the 60 secs I have only one, if not all girl collected.
that is more tricky, if set to minimal and minimal is too long it will means some girls will never be col

[2021-09-28 14:47] Roukys commented on #352
I do propose to discuss it in #248

[2021-09-29 17:11] Olaf-san commented on #341
4 hours before seems to me a good compromise.

[2021-09-30 15:17] DrkMfn opened #367 "Bug [5.5.50] - Auto Leagues won't start new season after previous season ends."
(Nutaku)
At Thursday after Leagues season ends, script goes to the Tower of Fame and sits there forever doing nothing. See screenshot below. Looks like opponent list parsing is not starting for some reason. Doesn't depend on whether the season reward is collected or not.
If you manually hit the "Refresh Opponent list" button and wait for parsing to end, everything starts to work normally.
Debug in

[2021-09-30 18:54] OldRon1977 commented on #367
I suggest everything works fine... it's your settings...

At the logfile there is:
`"localStorage.HHAuto_Setting_autoLeaguesAllowWinCurrent": "false",
  "localStorage.HHAuto_Setting_autoLeaguesCollect": "false",
  "localStorage.HHAuto_Setting_autoLeaguesPowerCalc": "true",
  "localStorage.HHAuto_Setting_autoLeaguesSelectedIndex": "8",`

That indicates, that the script will not try to win the curre

[2021-09-30 20:29] cossname commented on #367
turn this on
![image](https://user-images.githubusercontent.com/56331601/135525783-5ecc3daf-560e-49ca-ac55-1226eaa4aa3d.png)

[2021-09-30 20:57] cossname opened #368 "Leaugue : Opponent selection"
(base code) select opponent with hightest score even if score is negative
(new code) if there no opponent with score highter than 10000, select opponent with lowest score

replace
[code]

to
[code]

[2021-10-01 13:07] Moizevitch commented on #346
Hi Roukys,

I received this email and saw that thread #258 and #346 were closed.
I'm really bad with this forum thing.
That means there's no further discussion about it, however script building
continues, am I right?
Thank you very much for your attention and all the best.

Em seg., 27 de set. de 2021 às 10:27, Roukys ***@***.***>
escreveu:

[2021-10-03 17:21] DrkMfn2 opened #369 "Bug [5.5.50] - Hang when Leagues season ends"
**Describe the bug**
(Nutaku)
After current season in Leagues ends, script goes to leagues screen and just sits there doing nothing.
The attached screenshot was taken when about 45 minutes passed since script went to that screen. Also see debug log, it looks like opponent list parsing won't start for some reason: [HH_DebugLog_1633002468864.log](https://github.com/Roukys/HHauto/files/7274192/HH_Deb

[2021-10-03 17:23] cossname commented on #248
im added some filter to my salaryCollect function
script dont collect  from girls with salary lower than 333

before
[code]

after
[code]

[2021-10-03 19:06] dagget-beaver commented on #353
@Roukys @YotoTheOne
Seems like we can continue working on the issue - still happens on 5.5.50 with mythic events

[2021-10-03 19:18] YotoTheOne commented on #353
OK, for now I still have a bunch of points stored so I'm not able to reproduce but I guess the points will be gone in a couple of waves. I'll try to help as much as I can.

[2021-10-03 22:20] cossname commented on #369
im have a guess, this can happen bcs of "opponentsListExpirationDate" didnt reached 1 hour to reset opponents list, also script doesnt know thats new league started, bcs your collect switch set to off

[2021-10-03 23:01] YotoTheOne commented on #353
@Roukys : seems to do the trick, it's working for me !

[2021-10-04 06:04] Roukys commented on #248
@cossname I'm not fond of this kind of filters, I would not manually not click looking on salary, for the time it takes I would click on the girl

[2021-10-04 06:13] Roukys commented on #353
I'll try and test during next wave

[2021-10-04 06:56] Roukys commented on #369
@DrkMfn2 there are 2 hypothesis here.
one is as @cossname said, the list is still the old one with old IDs, but still a few one should work.
Second one is the following :
script calculate the number of point you should have, under the 15th player to stay => but at start the score of number 15th will be 0 or at least not enough so that if you win a fight you'll not go above place 15, therefore scri

[2021-10-04 07:02] dadanda opened #370 "Mythic Loop Bug [5.5.50] - Keeps on looping on the Mythic Screen."
**Describe the bug**
It just loops at the mythic event screen.
[HH_DebugLog_1633330666430.log](https://github.com/Roukys/HHauto/files/7275995/HH_DebugLog_1633330666430.log)

**Screenshots**
It get stuck here:
![image](https://user-images.githubusercontent.com/73831849/135807188-d14cb42f-142e-4c3f-a377-75b7b4527ed4.png)

**System:**
- **OS:** Windows 10
- **Browser:** Chrome Version 94.0.4606.61 (O

[2021-10-04 07:36] Roukys commented on #353
seems good publishing it :)

[2021-10-04 07:44] YotoTheOne commented on #370
Linked to #353 I believe, it should be solved very soon.

[2021-10-04 08:10] Roukys commented on #346
@Moizevitch yes I'm working on it (in fact it will be deleverd in next minutes)
just regrouped everything on issue #258 which is still opened

[2021-10-04 08:13] Roukys commented on #346
@Moizevitch it is published in v51 ;) have fun

[2021-10-04 08:15] Roukys commented on #353
@YotoTheOne @dagget-beaver should be good (I hope) in v51
still need to test end of event when no more any mythic wave

[2021-10-04 08:15] Roukys commented on #370
@YotoTheOne @dadanda should be good (I hope) in v51
still need to test end of event when no more any mythic wave

[2021-10-04 08:16] Roukys commented on #258
@ZaryImortal should be good  in v51

[2021-10-04 08:35] Roukys commented on #369
@DrkMfn2 ok so seeing your log, I confirm that it is linked to the list which is still the old one, I'll check to add a check so that list expiration is at max the league end if I can
in the mean while you can just refresh the list manually via the button if it happens

[2021-10-04 09:49] dagget-beaver commented on #353
@Roukys @YotoTheOne
Verified on 5.5.51 - issue with redirection is fixed. Will keep track if the fixes don't break other event timers or functions on current mythic event closure

[2021-10-04 14:09] Moizevitch commented on #346
Hello Roukys!

I don't even have words to thank you!
It was pretty quick, in my opinion.
Thank you very much!🙏 🙏🙏
I really appreciate your work.
I did the update but I think it's the thrill 😂😂😂, but where is this new
feature?
I didn't see it, sorry.
Did I do something wrong?

[image: screenshot-www.hentaiheroes.com-2021.10.04-10_58_33.jpg]

Em seg., 4 de out. de 2021 às 05:14, Roukys ***@***.***>

[2021-10-05 13:05] Roukys commented on #346
@Moizevitch do open the give Exp or GiveAff, you should have a check box ;)

[2021-10-05 17:22] Moizevitch commented on #346
Hi Roukys!

Thanks for your attention and explanation. I found the buttons you informed
me. Thanks!

But I have a doubt: would it be really mean of me if I wanted a way to
reach all the girls at once? My initial idea was this. What I saw goes from
girl to girl. Considering there are 800 girls, (a little more actually),
and that's affection and experience, that would be 1600 setups at least.
Ha, ha

[2021-10-05 19:11] DrkMfn2 commented on #369
@Roukys thanks!
Personally I can live with an outdated list if it still updates eventually (I'll check it this Thursday), but I think the main problem here is that script is not doing anything else (troll battles, season, salary, etc) for an hour until list updates. Can you try to do something with that if you won't be able to correctly process league end?

[2021-10-05 20:14] cossname commented on #369
@Roukys if you cant attack opponent, try to delete selected opponent form list,
also if selected opponent = "-1",  refresh list

[2021-10-06 06:03] Roukys commented on #346
@Moizevitch mean no, but doable no also.
I'm only able to simulate player action and can't upgrade all at once...
not 1600 just need to check and will automatically move from girl to girl giving them either Exp or Aff :)
for remove maxed, just reload the market they will be there again :)

[2021-10-06 06:06] Roukys commented on #369
@DrkMfn2 working on a way to prevent it.
@cossname on -1 refresh list can't be solution as if you've fought everyone it will be a -1 and it will loop.
I'm finishing a bit of code to make expiration be at max league end :)

[2021-10-06 06:35] Roukys commented on #369
delivered in v52, lets see next week :)

[2021-10-08 20:41] cossname opened #371 "[5.5.50] - Season claimed rewards scroll"

[2021-10-08 20:44] #371 closed

[2021-10-09 09:24] cossname commented on #338
@Frederik123 updated, boosters fix (common-rare-epic-legendary)

mythic boosters didnt take effect for calculation
after changing girls in your team - press "save opponent data" again. bcs script didnt update it automaticaly

[2021-10-09 18:21] Roukys commented on #346
@Moizevitch I'm only able to do what is doable by hand in the game.
for the 1600 it does mean that you only have to tick the checkbox and it will upgrade girl by girl automatically until you stop it :)
never mean to ask but not always possible to do :)

[2021-10-14 14:02] Roukys opened #372 "Request : Pantheon stairs"
New functionnality in test :  Pantheon stairs

[2021-10-14 20:11] DrkMfn2 commented on #369
Tried it today, looks like everything works fine after the fix, at least on my side

[2021-10-20 22:13] OldRon1977 commented on #266
@AvalasJT which version are you running right now?
My bug was with the 5.4.60 and we are at 5.5.57 atm... So maybe you are running an old version?

[2021-10-21 00:12] AvalasJT commented on #266
Version 5.5.57 - so apparantly the newest one :)

Rainbow and charm (my class) items are spared, but the other legendary items are sold immediately. (Harmony and endurance as well as KH and HC)

[2021-10-21 08:34] Roukys commented on #266
forgot a little about this one with all the late game update, I'll try to look into the code for any reason this could happen...

[2021-10-21 14:10] Mikadocrea opened #373 "troll battle doesn't work [5.5.57]"
Describe the bug
it just loops on troll battle screen but never start the fight

To Reproduce
https://user-images.githubusercontent.com/60252377/138293415-9b2bc414-ce9d-4824-b14b-5e5f24fa1898.mp4
https://user-images.githubusercontent.com/60252377/138294596-3c2596f9-c2cb-458a-b96e-c5d5adec8c25.mp4

System:
- OS: Windows 10
- Browser: Brave Version 1.31.87 Chromium: 95.0.4638.54 (Build officiel) (64

[2021-10-21 14:19] #373 closed, assigned to nobody

[2021-10-31 12:58] UncleBob800 opened #374 ""Refresh Opponent list" and "Save opponent data" in Tower of Fame"
Hello. After the last update that changed the awards in the Tower of Fame, the current location of the "Refresh Opponent list" and "Save opponent data" buttons became not very convenient (especially with the HH++ OCD mod enabled). Could you change the coordinates of the buttons to these:
Refresh Opponent list `position: absolute;left: 300px;top: 14px;width:100px;`
Save opponent data `position: abs

[2021-10-31 16:04] Dimka2010 opened #375 "club go in loop if user belong to no club"
![Screenshot_5](https://user-images.githubusercontent.com/86404525/139592229-71c395b0-3aa4-4616-849b-a806144941e0.jpg)
if you are without club - this option going in loop and overload bot + browser after some time.

[2021-11-01 14:55] Roukys commented on #374
@UncleBob800 I'll take a look

[2021-11-01 21:42] Franck-75 opened #376 "Bug [5.6.3] - Minor regression on Horny Heroes - Pachinko flag inoperant"
**Describe the bug**
On Horny Heroes, the Pachinko flag is inoperant.
When activated, the free Super Pachinko game is not played.
Please remember that on this version, there is no Mythic Pachinko, so the code need to check its existance or there will be an exception.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate the script and the Pachinko flag
2. Wait until there is a free game o

[2021-11-02 09:26] Roukys commented on #372
fixed in 5.6.4 @Diadochus-Ptolemy

[2021-11-02 09:26] Roukys commented on #375
fixed in 5.6.4 @Dimka2010

[2021-11-02 09:27] Roukys commented on #374
fixed in 5.6.4 @UncleBob800

[2021-11-02 09:27] Roukys commented on #376
fixed on 5.6.4 @Franck-75

[2021-11-02 10:15] Dimka2010 opened #377 "Latest Version - still dont count right the last 10 numbers."
![Screenshot_12](https://user-images.githubusercontent.com/86404525/139828018-21f8d12f-21b2-4357-8a9c-cedcc6afa3e8.jpg)

[2021-11-02 11:20] Dimka2010 commented on #377
![Screenshot_13](https://user-images.githubusercontent.com/86404525/139837165-6dc4f28d-344e-4483-8f9d-89c84731ff3c.jpg)
last 30 numbers.
still tried to do this summ from 25+3, but he can 15+15 as example.

[2021-11-02 13:49] Roukys commented on #377
@Dimka2010 I know and you have already opened #290 and for the moment I've got no better solution, closing this duplicate

[2021-11-02 13:49] #377 closed

[2021-11-03 09:57] Roukys opened #379 "Enhancement : PowerCalc"
Enhance powerCalc function for new combat calculation

[2021-11-03 09:58] Roukys commented on #379
I still need to understand the league one ... don't understand what it does mean and why is it not a % like Seasons ...

[2021-11-03 09:59] Roukys commented on #379
ok so number displayed on league is the points to be won best probability

[2021-11-03 11:51] cossname commented on #379
yes, probability with 10000 fights

[2021-11-04 01:27] Franck-75 commented on #376
Yes ! Works fine. Thanks.

[2021-11-04 07:31] #376 closed

[2021-11-04 13:09] Killer66 opened #380 "Enhancement : Leagues in ComixHarem (FINALLY)"
Well, now that CH has a League, can we implement leagues back on it?

[2021-11-04 14:34] Roukys commented on #380
@Killer66 yes we can :)
done in 5.6.5

[2021-11-04 16:01] Killer66 commented on #380
Oh, that's noice! Thx Roukys <3

[2021-11-04 16:01] #380 closed

[2021-11-05 07:10] #353 closed

[2021-11-05 07:10] #369 closed

[2021-11-05 07:10] #370 closed

[2021-11-05 07:12] Roukys commented on #338
@cossname I'm updating it with last OCD patch, should deliver in minutes
but I've disabled this simulation for the moment as I was not able to find the good calculations, tell me if you've got the formulas ...

[2021-11-05 08:22] #372 closed

[2021-11-05 12:52] cossname commented on #379
@Roukys there bug on new powerCalc. Trying to find problem.

[2021-11-05 12:53] cossname commented on #379
one of opponens dont have data when, script choice/display score

[2021-11-05 13:11] cossname commented on #379
one key from opponentsIDList had string type name, but after refresh list all works fine
cant repeat this bug again

[2021-11-05 13:57] Roukys commented on #379
got it also but was unable to understand why ...
I'm checking regularly if it does happen again ...

[2021-11-05 14:15] Roukys commented on #379
I'm forcing it to be a number in next version, though I don't understand from where does it come ...

[2021-11-05 14:17] Roukys commented on #379
don't know I'll check if it happen again ...

[2021-11-05 14:18] cossname commented on #379
after this change at least script dont stop
[code]
to
[code]

[2021-11-05 16:05] cossname commented on #338
ok

[2021-11-05 16:34] Dimka2010 commented on #375
I am with club anyway :) Cannot to taste it update :)

[2021-11-05 21:33] Moizevitch commented on #346
Hi Roukys, I hope to see you well!

Well, initially, congratulations on the update regarding Pantheon, it was
ultra-fast. 👏👏👏

And, unfortunately, I have a issue: in the League section, I set it to a
limit of 13, and it doesn't respect it, and it goes up to the maximum which
is 15. And besides, it doesn't run the game, that is, he doesn't play in
the League, I have to. And if I don't, it stays sti

[2021-11-05 22:30] #375 closed

[2021-11-06 00:38] YotoTheOne commented on #379
Nice one, very useful, thank you !
Just found a little bug : when list building is interrupted, when going back on league screen the button "refresh opponent list" is not shown.

[2021-11-06 05:58] cossname commented on #379
if button "refresh opponent list" hidden - this mean you got a bug we mentioned earlier
win %  - is result of 10000 fights, so if win rate = 56% then:
- in 5 600 fight you have  remaining ego > 0;
- in 4 400 fight you have  remaining ego < 0,
so there nothing to display bcs its random

[2021-11-06 09:23] YotoTheOne commented on #379
I thought that function was taken from HH++ OCD script. If that's the case, the function could also show the most probable score (or remaining ego), or the median score. If not, well the previous version showed the most probable remaining ego so that should be possible.

[2021-11-06 11:12] Roukys commented on #379
@YotoTheOne Yes ocd function gives the points, I could give a look.
For hidden button which version we're you using ?

[2021-11-06 11:42] Roukys commented on #379
Ocd in fact give an average of points which could be won

[2021-11-06 12:36] Olaf-san opened #381 "Enhancement : Function collect auto missions"
Hello to all,
I think that the "Collect" function in activities is not working properly anymore. It collects the missions but not from 1:30 pm.

[2021-11-06 13:08] YotoTheOne commented on #379
@Roukys version 5.6.9 but I suspect it has auto upgraded since the issue. I'm trying to reproduce without success.
The "save opponents" button is gone but maybe it's intentional ; I never used it anyway.

That would be useful. Currently there is nothing to help choose between 2 opponents with 100% win chance each, so I have to click manually to compare the score using OCD script. That is already w

[2021-11-06 13:16] Roukys commented on #379
@YotoTheOne yes I'll take a look for save opponent I was not able to reproduce the calculations for the moment so I removed it until fixed

[2021-11-06 13:18] Roukys commented on #381
@Olaf-san I'll check, at what hour do you think it collect?
That may be the date setting as winter is coming

[2021-11-06 13:55] Olaf-san commented on #381
It seems to collect at 1pm.

[2021-11-06 13:56] Roukys commented on #379
@YotoTheOne please check 5.6.10 ;)

[2021-11-06 14:07] Roukys commented on #346
@Moizevitch please open a specific issue for your league issue.
And for giveall no for the moment I can't improve the way it distribute things but still searching it is in in a specific issue

[2021-11-06 14:07] Roukys commented on #381
I'll try to check on that

[2021-11-06 16:41] Moizevitch opened #382 "Bug in league section"
Hi!
In the League section, I set it to a limit of 13, but the script doesn't respect it, and it goes up to the maximum which is 15.
And besides, it doesn't run the game, that is, the script doesn't play in the League, I have to.
And if I don't, it stays still, all script frozen.
I've restarted it, updated it, reset it and set it up again, already logged out and logged in again from the game, I've

[2021-11-06 16:49] Moizevitch commented on #346
Hi Roukys,

Thanks for your reply!
I've already opened the issue!
About the "giveall" I understand, but thanks anyway.
I'll follow the thread to see if I can find a solution to my issue.
Thanks!!  👍

Em sáb., 6 de nov. de 2021 às 11:07, Roukys ***@***.***>
escreveu:

[2021-11-06 19:03] Roukys commented on #382
@Moizevitch is it a recent issue ?
And are you using powercalc for leagues ?

[2021-11-06 19:07] YotoTheOne commented on #379
Looking perfect, thank you very much !
I only did 2 fights, so I will do further testing tomorrow.

[2021-11-07 19:32] varluigi opened #383 "Bug [5.6.10] - Season"
**Describe the bug**
A clear and concise description of what the bug is.

if the language of the game is Italian the script does not work for Season

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add scree

[2021-11-07 21:29] Roukys commented on #383
Hello @varluigi ,could you attach a debug log,I'll check on this issue

[2021-11-07 22:00] varluigi commented on #383
Thi is from consolle:

38VM516 default.js:1 Error: no png detected in image src:
VM530 userscript.html:178 7/11/2021, 22:58:25.524:moduleSimSeasonBattle:Catched error : Could not display season score : SyntaxError: Unexpected end of JSON input

[2021-11-07 22:34] varluigi commented on #383
this is from debug

    "7/11/2021, 23:27:29.694:autoLoop": "Time to fight in Season.",
    "7/11/2021, 23:27:29.701:doSeason": "Performing auto Season.",
    "7/11/2021, 23:27:29.703:doSeason": "Remaining kisses : 1",
    "7/11/2021, 23:27:29.704:doSeason": "Switching to Season Arena screen.",
    "7/11/2021, 23:27:29.707:gotoPage": "going home->season_arena",
    "7/11/2021, 23:27:29.712:gotoPag

[2021-11-08 07:20] Roukys commented on #383
seems one caracter is not escaped in italian version.
It is on server side though, not sure I can do anything ...

[2021-11-08 07:59] #248 closed

[2021-11-08 07:59] #341 closed

[2021-11-08 07:59] #374 closed

[2021-11-08 09:30] Roukys commented on #383
@varluigi sorry nothing I can do on my side easily, please using english version until it is corrected by HH team, keeping this opened.
If not corrected in coming patch release I'll try again ...

[2021-11-08 10:18] bjaume opened #384 "Bug [5.6.10] - The script switches off and stops at comixharem"
The script switches off and does nothing at comixharem.

After selecting the options in the configuration menu

Steps to reproduce the behavior:
1. Go to configuration menú
2. Select desired options
3. Set 'Master switch' to ON and close the config menu

**System:**
- Windows 10
- Chrome
- Tampermonkey
- Script version 5.6.10
- Options:

![options](https://user-images.githubusercontent.com/7750689

[2021-11-08 13:09] Roukys commented on #384
@bjaume is there a chance it can be linked to their bug ?
to be seen after update...

[2021-11-08 15:41] Roukys commented on #381
should be good in 5.6.11

[2021-11-08 18:19] bjaume commented on #384
No @Roukys . The bug is still ther after the game update.

Sometimes (I don't know why) the script switchess off even before close the options menu.

The script (same version) was working well until today morning.

[2021-11-08 19:11] bjaume commented on #384
Yes, @Roukys Very strange.

Here is the screens secuence:
Optiones before:
![image](https://user-images.githubusercontent.com/77506895/140802020-8ba97b83-01d6-4779-9a89-30eae9becf19.png)

After closing the options screen, sometimes appears the pachinco screen, other times the events screen and stays there.

Options after:
![image](https://user-images.githubusercontent.com/77506895/140801548-0ef6fe

[2021-11-09 06:43] dadanda commented on #382
I have a similar/same issue.
Heres my settings:
![image](https://user-images.githubusercontent.com/73831849/140874878-5a397485-e408-4fca-b428-078387fe0d97.png)
and here's the debug log:
[HH_DebugLog_1636439952930.log](https://github.com/Roukys/HHauto/files/7502528/HH_DebugLog_1636439952930.log)

It happens on both Harem and Hentai Heroes as well as both Comix Harem.

[2021-11-09 08:49] Roukys commented on #384
I'll check what can disable those switches ...

[2021-11-09 09:27] Roukys commented on #382
Ok I think I've found something, doing some tests

[2021-11-09 09:32] Roukys commented on #384
@bjaume if you don't use the setting by tab, do you have the same issue ?

[2021-11-09 10:11] Roukys commented on #384
other point which is strange, your troll selector seems to be empty

[2021-11-09 10:16] Roukys commented on #382
@dadanda @Moizevitch I've changed something in 5.6.3 do tell me if it is better

[2021-11-09 21:51] bjaume commented on #384
Yes, @Roukys, same issue with 'settings by tab' OFF
I didn't see the empty troll selector. Same issue selecting a troll before. After the troll selector is empty again.
I'll continue trying diferent settings

[2021-11-10 01:56] UncleBob800 opened #385 "Bug [5.6.13] - PowerCalc not working on test.hentaiheroes.com"
![image](https://user-images.githubusercontent.com/86453893/141035348-8d33306a-23b6-45e8-9344-c4aba510360f.png)
[HH_DebugLog_1636509386813.log](https://github.com/Roukys/HHauto/files/7509226/HH_DebugLog_1636509386813.log)

[2021-11-10 07:57] bjaume commented on #384
@Roukys, forget this issue. Already resolved. I'm not sure but I think that it was caused because I loaded an HH configuration file into CH by mistake. After a full reboot it has not played again.
Sorry for the inconvenience

[2021-11-10 07:57] #384 closed

[2021-11-10 08:13] Roukys commented on #385
thanks @UncleBob800 I'll correct it after today update :)

[2021-11-10 08:14] Roukys commented on #384
@bjaume ok glad you were able to solve it :)

[2021-11-10 08:18] dadanda opened #386 "Script getting blocked? [5.6.13] - (might be issue with the game)"
**Describe the bug**
![image](https://user-images.githubusercontent.com/73831849/141075423-9d17db86-f97a-40b7-a907-1c4de5156d21.png)
I think they found a way to block the script?
I can't go into the game with the script on.

**System:**
- **OS:** Windows, 10
- **Browser:** Chrome Version 95.0.4638.69
- **Script-Helper:** Tampermonkey v4.13
- **Script-Version:** 5.6.13

**Additional Context**
Heres

[2021-11-10 08:21] dadanda commented on #386
I think there's an issue with battling atm.

[2021-11-10 08:22] Frederik123 commented on #386
try to turn off script and you see that is server side error now :)

[2021-11-10 08:24] dadanda commented on #386
Yeah i think i just panicked so ill close this now

[2021-11-10 08:24] #386 closed

[2021-11-10 10:01] Roukys commented on #385
@UncleBob800  should be good in v5.6.14

[2021-11-10 17:25] Olaf-san commented on #381
It works perfectly again. Thanks a lot.

[2021-11-11 11:57] #381 closed

[2021-11-11 13:34] ilviloon opened #387 "Suggestions to improving salary collection."
I set bot like in the picture, is it supposed to wait 2300 secs to start doing salary and only doing for 20 secs and back to waiting the next one after the next 2300 secs?
![image](https://user-images.githubusercontent.com/74257523/141306248-3a09351e-0942-4839-a281-b4f8ae08c22d.png)
but after it's done it got back to around 60 secs and back on doing salary again
![image](https://user-images.github

[2021-11-11 13:58] ilviloon commented on #387
and is it this two stop working due to update.
![image](https://user-images.githubusercontent.com/74257523/141310433-546fdd4e-9736-45d1-8a21-078e7ba070ea.png)

[2021-11-11 22:58] ilviloon commented on #364
Thanks!! im not using the smaller font in League though.

[2021-11-12 09:30] Roukys commented on #387
@ilviloon for salary in fact the 60 secs is used when collecting is not finished.
in your case
1) collection during 20 secs
2) if finished => waiting time is man(2300, next_girl collection)
     if remains => 60secs then go back to 1

this allow salary not to block other script action for more than the max collection time

for setting top team please check version just released 5.6.15 ;)

[2021-11-12 12:14] ilviloon commented on #387
@Roukys Thank you for a quick fix :)

I understand that it is necessary to collect all of them to be able to run the min time wait,
but for me collecting takes too long makes it almost impossible to complete, having too many one star girls makes the re-activation request more and they also give very little currency.

- I suggest going back to the old way of collecting and only giving them enough t

[2021-11-12 14:53] Roukys commented on #387
@ilviloon discussion around salary is in #248
not forcibly highest values as it take them in order of recruitement ...
if you've got mythic girls they will not be collected ...
other solution could be to have a minimum collection money.
to be discussed :)

[2021-11-12 15:05] ilviloon commented on #387
@Roukys  I check with
![image](https://user-images.githubusercontent.com/74257523/141487812-830c1d12-8c9e-434d-bedf-b37ae5d1e393.png)
If you set sort by :  Grade it will forcibly collect the highest stars girls you have
i just test it out
![image](https://user-images.githubusercontent.com/74257523/141488199-7eb0e94b-6c5f-42e8-806e-d92e574f1ec2.png)

[2021-11-13 12:18] #352 closed

[2021-11-13 12:20] Roukys commented on #387
got an idea, instead of a min time have a min sum to collect and a max collection time
if total > min go to slary and collect for max time
if total still > min wait 60secs and go again
otherwise wait fot total to be above min.
@ilviloon @RuperSama @OldRon1977 @YotoTheOne  what do you think ?
It would be easier to understand than the actual and also easier to set for players

(I still have to check

[2021-11-13 12:21] #385 closed

[2021-11-13 12:21] #379 closed

[2021-11-13 12:21] #382 closed

[2021-11-13 16:28] NinJaraya opened #388 "[Enhancement] Awakening - Can Test Server Changes Be the Beginning of the End?"
https://blog.kinkoid.com/spotlight/test-server-awakening/
https://forum.kinkoid.com/index.php?/topic/21037-awakenings-are-live-on-the-test-server/

[2021-11-13 16:47] Roukys commented on #388
again new modifications ...
though I don't think it will affect the script much, the game though that is another thing ...

[2021-11-13 17:02] Roukys commented on #388
it does however ask the question of interest, because it will be a new limit in increasing girls level

[2021-11-13 17:22] Roukys commented on #388
however that will break the giveAll exp ...

[2021-11-13 18:23] ilviloon commented on #387
I think things should be for salary:
- Min time : set the time to return to collecting after completing the previous time.
- Max time : the maximum time used to collect. (preferably only about 10 minutes)
- Min sum: is the amount of money that will be collected before the confirmation is completed (it can be the set amount or percentage)
- Ignore the girl with few stars: they don't give a lot of m

[2021-11-13 20:00] Roukys commented on #387
@ilviloon that is too much settings just for salary

[2021-11-14 02:36] ilviloon commented on #387
@Roukys Or simply Min and Max time but you will not come back if the collection is not complete,
now that we can collect from the best girls first.

[2021-11-14 08:53] Roukys commented on #387
My proposal would be this one
For ex your max salary is 3000000 you set min to 500000 and max to 30secs

If above 500000 it will go and collect for 30sec
If still more than 500000,wait 60 before going again for 30sec
If less than 500000, wait until more than 500000

[2021-11-14 11:28] OldRon1977 commented on #387
I think we should stick to timers.
Values regarding to min or max salary can be tricky. What if a player sets a value of min sum is too high and the script needs to collect for 1h to reach that amount, that might mess up some strategies...

Just clarify the min and max at the tool-tips...
Min should be the min time in sec the script waits and then starts to collect.
Max should be the max time in s

[2021-11-14 12:18] Roukys commented on #387
@OldRon1977 no sum will only be to start collecting, I'll stick to a max time anyway ;)

min being a sum would be easier to understand

[2021-11-14 12:26] OldRon1977 commented on #387
Only if we make sure, that a player can set a crazy amount at min while still level 50 and not breaking the script ;)

Otherwise the script will try for eternity to collect ;)

[2021-11-14 19:20] NinJaraya commented on #388
It will break when changing the team, in the "possible best" option.

[2021-11-14 20:24] Memerino opened #389 "Bug [5.6.15] - Script does not run"
**Describe the bug**
A clear and concise description of what the bug is.

The script does not start, config button on the game does not show up.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

The script was working fine until the last u

[2021-11-14 21:00] JCDC85 opened #391 "Enhancement : Improve league opponent choice"
**Which feature is concerned**
A description of concerned feature to be enhanced.
----- Auto Leagues Targeting Order

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
 ------ It appears that Auto Leagues currently targets enemies at the lowest level first. I think it would be better to target the highest level enemy within winning percentage range fi

[2021-11-14 21:49] YotoTheOne commented on #387
I'm not that concerned because I usually pay the silver monthly card because the harem is too long to load and it annoys me, so my auto collect just hits the button on main screen.
Anyway it seems to me that the function works well enough as is.
Only that "hidden" value of 60 sec wait when collecting isn't finished could be confusing I guess.
What exactly is the problem @ilviloon ?

[2021-11-15 00:31] Memerino commented on #389
More info on the error:

![image](https://user-images.githubusercontent.com/19844416/141705371-e478be53-d866-416d-88ea-51dec6b3785d.png)

[2021-11-15 07:35] Roukys commented on #387
that is clearly this 60sec, useful for some who wants to collect all and strange for others in fact...
that's why I was proposing to only have the 60sec when the min salary sum is reached

[2021-11-15 07:36] Roukys commented on #387
collect will occur only if this number is reached

[2021-11-15 08:16] Roukys commented on #387
to clarify the idea :
min salary to collect : 10 000
max time to collect : 45 secs

0) wait for salary sum to be above min
1) if salary sum > min go collect for max time
2) end of max time if :
         - salary sum still > min, goto 3
         - salary sum < min, goto 0
3) wait for 60sec, then goto 1

3) allow to collect all but also to ensure that other steps of the script will still run ;)

tha

[2021-11-15 08:23] OldRon1977 commented on #387
Understood...
One last question, when does the timer start? Because loading a huge harem with other scripts like OCD activated can take a long time. Maybe the collecting timer can start with the first girl beeing collected?

[2021-11-15 08:32] YotoTheOne commented on #387
Yes I understand. Not a problem, though a time is more realistic in case of the monthly card. As a real player I come watch the game regularly, if the blue buton is on screen I hit it, no matter what amount there is to collect. When you have to collect manually it's different, you might not want to open the harem and collect if it's not worth it.
Just some thoughts, either way is fine to me.

[2021-11-15 09:18] Roukys commented on #387
@OldRon1977 : I've checked and yes it is around the first collection, as in fact it only start when the menu appear, which is after harem page is loaded
@YotoTheOne : for monthly card, for me the min can be set to 1 or 100 for example and it will collect each time

[2021-11-15 09:33] YotoTheOne commented on #387
Sure, but that would spell autoclicker without the paranoia active ;) I'd set it way higher to have only a few collections per hour.

[2021-11-15 09:45] Roukys commented on #387
yes :) all depens on player settings ;)
I would also recommend higher due to 1 star girls ;)

[2021-11-15 10:21] OldRon1977 commented on #387
Ok... so I am fine with your decisions.
But I still advise to focus on other things first. Salary is working at the moment. Other things like fighting without boosters would add much more benefit for the players.

[2021-11-15 11:08] Roukys commented on #387
@OldRon1977 yes my main issue is that @ilviloon is not the first to have issue setting salary working and not the first to ask.
And I do understand that the hidden 60secs is not easy to understand.

But again, I'm for the moment only taking advice I need to check feasability and how difficult it is to implement.

with all updates lately I'm trying to stick to easy to implement things.

[2021-11-15 11:10] Roukys commented on #391
@JCDC85 could be an idea yes.

issue would be to clearly define order.
1) green highest level
2)if no green, highest %

does it seems right ?

And after I'll add it to the backlog

[2021-11-15 11:38] OldRon1977 commented on #387
Ok... :)

[2021-11-15 11:48] ilviloon commented on #387
@YotoTheOne Yes, my problem is about returning to collect after 60 seconds if not done collecting.
I also want to keep things simple with salary because it is not something that is too important compared to other functions.
@Roukys
Your idea is also appropriate, hopefully it won't be too difficult to adjust. I really just want to skip 60 secs and function properly with the set time. 👍

[2021-11-15 11:58] Roukys commented on #389
@Memerino very strange ...
could you try to clear the storage juste to check ?
in console you can enter sessionStorage.clear();localStorage.clear();
or got to application tab of developer tool

[2021-11-15 15:03] JCDC85 commented on #391
Yes, highest level player currently within the set bounds of win percentage (green) and then work its way down.

[2021-11-15 15:55] Roukys commented on #387
but I do know that @OldRon1977 care fr my workload ...
and honstly we'll see what the game became after the awakening release

[2021-11-15 16:57] OldRon1977 commented on #387
Yeah... I hope that the awakening is not a game crusher (for me). I am willing to pay for a monthly card, but since the drop at the league-rewards, stuff got really expensive and I won't pay a ct. more. So I hope it will be playable, otherwise I might quit...

[2021-11-15 17:48] Roukys commented on #387
yes that seems to be people opinion on the forum also

[2021-11-15 19:48] Roukys commented on #234
for the moment I've found no way to find booster status out of market page.
which can be an issue as if we want to make sure it is trustworthy.
Meaning to do this I would have to force going to market regularly ( should be doable, have to check so no impact on shopping)

meanwhile :
1) we are clear on the fact that if checked it would mean no fight if not boosted, therefore a risk of loosing fight

[2021-11-15 19:51] Roukys commented on #362
I've checked and I was not able to find these kind of happy hours...
seems drop are decreasing the higher the world of the troll and also decreasing when you have more girl of the troll ...
@cereushy @OldRon1977 @YotoTheOne @bjaume any opinion, can we close this ?

[2021-11-15 19:52] Roukys commented on #335
@Olaf-san what is the case on which it is useful ? because it does mean adding a new button.
kobans I do understand you want to get them as it is also event mission, so you want to make sure to do at least these, but I don't understand your need

[2021-11-15 19:54] Roukys commented on #333
@Olaf-san for me you could use #338 (when it will be fixed, if able to fix)
therefore closing this one

[2021-11-15 19:54] #333 closed

[2021-11-15 19:55] Roukys commented on #311
@Knatan not forgotten, but this one will need time to automate, keeping it in backlog

[2021-11-15 19:56] Roukys commented on #310
could be an addition to buy boosters, for exemple replace it with buy market item with kobans, and it would just be a list of references, checking on it

[2021-11-15 19:59] Roukys commented on #255
@GEJack honestly not sure I'll have time to develop that, in fact quest are the only action worth doing manually.

[2021-11-15 20:00] Memerino commented on #389
@Roukys nope, cleared it both from console and the application developer tab and the same error still shows up. ☹

[2021-11-15 20:04] OldRon1977 commented on #362
Yep... I saw the same. Lower trolls give more than higher trolls. Also even the same troll varies. I watched Ninja Spy and Bremen for around 2 month during events and can't find any sign of a happy hours.
So close it :)

[2021-11-15 20:04] Roukys commented on #389
@Memerino  ;(
ok so let's try another way
could you go to tampermonkey and edit script
in editor, you've got developer option, choose check syntax, it should point to the faulty line :)

do copy me the line I'll check, but that is strange you're the only one concerned ...

on which instance are you playing ? (it seems on nutaku, but is it comix, Gay or classic HH ?)

[2021-11-15 20:14] Memerino commented on #389
`function FindOpponent(opponentsPowerList,opponentsIDList)
    {
        var maxScore = -1;
        var IdOppo = -1;
        var OppoScore;
        logHHAuto('finding best chance opponent in '+opponentsIDList.length);
        for (var oppo of opponentsIDList)
        {
            //logHHAuto({Opponent:oppo,OppoGet:Number(opponentsPowerList.get(oppo)),maxScore:maxScore});
            OppoScore = N

[2021-11-15 20:20] OldRon1977 commented on #335
We already discussed the order of missions a few month ago ;)

Like @NinJaraya  mentioned...

[2021-11-15 21:04] YotoTheOne commented on #362
I didn't change the opinion I expressed in my previous post. I vote to close it.

[2021-11-15 21:11] YotoTheOne commented on #234
You already made the script check the market every 2h, maybe it's enough ? Or you could plan a check before league or season fight depending on the activated options. But maybe only one check would be sufficient ; I think you can retrieve each booster timer on the booster tab in the market.

1. yes ! Maybe "Only fight if boosted" would be more clear than "no fight if not boosted", that may avoid s

[2021-11-15 23:12] Memerino commented on #389
@Roukys
Just copy pasted the function in an online Syntax validator service (i have little experience with javascript) and the same error shows up.
![image](https://user-images.githubusercontent.com/19844416/141867135-5aa479a5-4a85-4a8f-b958-e15396378d93.png)

[2021-11-15 23:48] YotoTheOne commented on #391
I'm not sure about that.
While the possibility of catching high level enemies unboosted is tempting, I fear overall score would suffer.
I usually set the league threshold pretty high, 13 or 14 ; the script only works so I don't loose points if I'm too busy to play. I'm OK with the script making the easy fights that earn a lot of points, I prefer making the decisions about the "hard" fights myself.

[2021-11-16 00:23] JCDC85 commented on #391
YotoTheOne, Im not understanding your logic completely. Currently I generate more League Challenge points over the course of a week than there are battles I can for sure win. If I prioritize the low level enemies first than come the last day or two of the League week the only enemies left are players too high level for me to win against, except for during the passing occasions that I have updated

[2021-11-16 01:25] dagget-beaver commented on #389
@Memerino
The issue is with an unsupported feature of Javascript optional chaining used in the code as it's compatible only from Chrome v80 - see below:
https://caniuse.com/mdn-javascript_operators_optional_chaining
https://v8.dev/features/optional-chaining

I don't know if it's possible to get or update Chromium on Raspbian (seems like latest official build is 78) but try to upgrade to at least C

[2021-11-16 07:49] cereushy commented on #362
Okay , I`ve tested in past mouth and I feel unclear now. Close it before find somethin new is a good idea.

[2021-11-16 08:19] Roukys commented on #389
@dagget-beaver thanks , you spared me search time.
@Memerino I'll check if it would be much work to change
Could you try and replace ?. By . Everywhere to see if it is the only issue ?

[2021-11-16 08:29] Roukys commented on #391
Yes for me that is the risk of choosing only green score because it highly depend on powercalc, which has been updated lately and may not be that accurate.

However @YotoTheOne I've removed for the moment the custom limits as I need to adapt it. But solution could be to rewrite to work also for leagues.

@JCDC85 will also take time to implement as for the moment player level is not a data I get fo

[2021-11-16 08:34] #362 closed

[2021-11-16 08:38] YotoTheOne commented on #391
Well for example (it depends on the opponents I get, each week is different) I need an overall mean score of 22 points per fight to be in top 15 D3. If a fight earns less I may take it anyway if I think I'll not find a better opportunity or if the end of the league nears, but I might also choose to wait (for another boost to have one more cordyceps active for instance) or try to change team to hav

[2021-11-16 08:39] Roukys commented on #234
I'll check but today market is only refreshed if market option are enabled.

Yes but what does boosted mean will depend on each player,can be fully boosted or only one ...

[2021-11-16 08:45] Roukys commented on #391
@YotoTheOne I do totally agree, I'm also setting threshold to 14 so it only play not to loose points.
For me another choosing could be green with max estimated points.
Fully depends on player strategy.

[2021-11-16 08:46] Roukys commented on #391
But script will never replace human action for sure.

[2021-11-16 08:49] YotoTheOne commented on #234
Well these options should be considered as market options I think, even if they are not placed in the market section of the UI menu.
I say fully boosted but you're right, it may vary !
If requested, maybe just add a text field "Number of boosts" with value 1 (or even 0 then no need for a switch) to 3 :

[2021-11-16 09:18] OldRon1977 commented on #234
I think we should focus on the normal booster and at least one.
Because normally a player would deploy boosters at the same time. So I would use one or all open places for booster. It makes no sense to me to let's say set a booster and 2h later set the next one...

So the use-case should be: if one of the first three places (normal booster) is used, then fight - otherwise stop.

[2021-11-17 12:54] NinJaraya commented on #388
https://blog.kinkoid.com/patchnotes/patch-notes-hentai-heroes/

[2021-11-17 13:19] Roukys commented on #388
thanks @NinJaraya
Thanks to KK now upgrading girls will be a pain in the ass ...

[2021-11-17 14:43] Roukys commented on #388
but they have improved harem page :D

[2021-11-17 17:21] Roukys opened #392 "test server Improved Harem page broke salary collection"
**Describe the bug**
salary collection for non monthly card is broken in test

[2021-11-17 17:21] Roukys commented on #392
Working on it ...
it will be in prod tomorrow afternoon ...

[2021-11-17 17:21] Roukys commented on #392
I'll do my best

[2021-11-17 17:59] Roukys commented on #392
think I've found something hope to have it for tomorrow :)

[2021-11-17 23:51] EasyOne2021 opened #393 "Bug [5.6.15] - Blocked in troll fight when 0 fighting point"
**Describe the bug**
Sometime, the script stay in a troll fight if the amount of fight point = 0

**To Reproduce**
Steps to reproduce the behavior:
1. active troll fight
2. make the stockpile to 0
3. Wait and sometime the script stay blocked in the troll fight

**Expected behavior**
Normaly after used the last point we should return to the main screen.

**System:**
- **OS:** Windows 10
- **Browser

[2021-11-18 00:27] EasyOne2021 opened #394 "Request : Add some features"
**Is your feature request related to a problem? Please describe.**
I don't have all the informations i want and it's too long to navigate between troll etc...

**Describe the solution you'd like**
You should work with Tom208 from https://sleazyfork.org/fr/scripts/415625-hentai-heroes-ocd-season-version. His script, Hentai Heroes++ (OCD) Season version, is a really good complement to your's.

**Add

[2021-11-18 08:28] Roukys commented on #394
@EasyOne2021 yes would be but issue is their script is an official one even branded in the forum ;)

[2021-11-18 08:29] Roukys commented on #393
I'll check on that :)
normally there should be a go to home

[2021-11-18 09:10] YotoTheOne commented on #394
Yes, Tom is a renowned member of the HH community, and KK told openly that his OCD script doesn't go against the game's terms of use.
I don't think he would (or even should) get involved in this "illegal" project.
The OCD script being more widely used, we should adapt our UI everywhere we can.

[2021-11-18 09:12] YotoTheOne commented on #234
I completely agree with you @OldRon1977, that's the way to go.

[2021-11-18 10:37] bjaume commented on #393
I've noticed that bug too

[2021-11-18 10:45] EasyOne2021 commented on #394
Oh too bad ! ;)

[2021-11-18 10:55] EasyOne2021 commented on #387
https://sleazyfork.org/fr/scripts/424081-automatic-money-collector-for-hentaiheroes-com

There is a good script for an instant salary collect. That could improved your script no ?

[2021-11-18 11:47] Roukys commented on #387
@EasyOne2021 in fact that is what the script does but being on harem page which is less detectable.

[2021-11-18 13:06] Roukys commented on #392
fixed in 5.6.16

[2021-11-18 13:06] Roukys commented on #389
@Memerino it should work with 5.6.16

[2021-11-18 13:29] #394 closed

[2021-11-18 13:47] brunoteta commented on #393
about troll fight, In 5.6.16 on HH, troll and temple are too slow in my tests

[2021-11-18 13:49] EasyOne2021 opened #395 "Allow Paranoia to be modified"
**Which feature is concerned**
It's the paranoid mod and precisely the sleep time and the casual time.

**Describe the solution you'd like**
Maybe a possibility to modify :
_________________________________________
**Sleep time :**
- the start and end time of sleep.
_________________________________________
**Casual time / break time:**
- The frequency of break time. EX : 3 time by days (day is be

[2021-11-18 14:18] PyritePyro commented on #393
I've seen this same behavior in Google Chrome on Fedora 34.  I just now browsed this, and have upgraded chrome since I started leaving 2 fight energy to avoid the problem, so I can't confirm if it's still a thing since workaround.

[2021-11-18 14:28] PyritePyro commented on #392
Does not appear to be fixed, it's only collecting from loaded girls.  I was able to go into the harem shortly before a scheduled collection and manually scroll to the bottom of my harem, and it collected them all.

[2021-11-18 14:32] Roukys commented on #395
@EasyOne2021, the needs is to be able to modify the paranoia schedule ?

[2021-11-18 14:42] Roukys commented on #393
@brunoteta what do you mean too slow ?

[2021-11-18 15:31] Dimka2010 commented on #393
5.6.16 in HH
1) Broken League fights - they are - not do fightning. Just have 14\15 and nothing happenes.
2) Broken Stairways too.
I had 15\10 and no fights starting + was very laggy when the button "fights" was On. I am OFF this - and game starting better to go. And when i got 10\10 not starting too.
3) Sallary collects only first page of girls. Second and after second (that are loaded from cash

[2021-11-18 16:04] Roukys commented on #392
strange as it not collecting from loaded girl but from the list
@PyritePyro could you upload a debug log of a run of salary ?

[2021-11-18 16:07] Roukys commented on #393
ok let me test again, but seems working on my side.
Could you post me a debug log for function not working so I can check ?

[2021-11-18 18:47] EasyOne2021 commented on #395
@Roukys yes

[2021-11-18 19:02] EasyOne2021 commented on #392
It work really good !

[2021-11-18 19:16] PyritePyro commented on #392
@Roukys It looks like I have the text size too small on my screen as I misread the version I had installed.  Forcing an update fixed

[2021-11-18 20:50] Dimka2010 commented on #393
Closed window Opera and re-open.
1)solved
2)solved
3)  Broken timer with changing summ and timer of girls after update (in CHX 100%)
4) new book with "the book that give 350 lvls of any girl".
In HH maybe this book will be use for Bot calculation only for Myth girls?

[2021-11-18 21:02] YotoTheOne commented on #395
That would be cool, though pretty low priority.
Personally I don't use the paranoia anymore mainly because I cannot change the schedule easily. I know how to hard code it, but doing it again at each update got me tired so I stopped using it altogether. And also I don't fear KK xD I just deactivate the salary collection, and some recurring actions like champions, before going to sleep and I reactiv

[2021-11-18 21:05] ilviloon commented on #387
I check salary and it doesn't collect in order (mine is from the girl with the most stars first) but it starts with the girls with the fewest stars or it's random I'm not sure. (at least for me)

I also found a bug with the champion fight, it won't attack if it's the main page of the browser but if I change to another tab it works again (otherwise it just freezes).
Let me know if it's just me. :)

[2021-11-18 21:08] ilviloon commented on #392
https://github.com/Roukys/HHauto/issues/387#issuecomment-973270649

[2021-11-18 22:09] dadanda opened #396 "Not working on Harem Heroes [5.6.16] - script is not working."
**Describe the bug**
Script doesn't work.
[HH_DebugLog_1637273234102.log](https://github.com/Roukys/HHauto/files/7566332/HH_DebugLog_1637273234102.log)

**Screenshots**
![image](https://user-images.githubusercontent.com/73831849/142504653-ec3b9ee2-a598-400c-835b-72f6a444c97d.png)

**System:**
- **OS:** Windows 10
- **Browser:** Chrome Version 96.0.4664.45 (Official Build) (64-bit)
- **Script-Helpe

[2021-11-18 22:15] #396 closed

[2021-11-19 06:59] Roukys commented on #395
yes making it available to be modified I would say is quite easy, difficulty is more to do it so it does not give bad loops ...

[2021-11-19 07:01] Roukys commented on #387
@ilviloon yes as they removed full loading of harem I had to do in an other manner but your right, I'll try to find a way to still respect player order

for champions I do not understand, you mean you need to open a new tab so it works ?

[2021-11-19 09:20] ilviloon commented on #387
@Roukys for champions like it's shy when you look at it, it won't do anything but when you switch another tab it will silently do.
 ( for example if i want it to run i have to be working on this tab )
![image](https://user-images.githubusercontent.com/74257523/142597057-a6f0da42-457d-43bb-8121-7a2761b031e5.png)

[2021-11-19 10:00] Roukys commented on #387
ok that is pretty strange as a behavior, could you track it as a separate issue to not loose it ?

[2021-11-19 10:38] ilviloon commented on #387
I tried waiting 5 minutes it still doesn't work, I tried deleting all the data but it still doesn't work, the best way is still don't look at it. weird :3

![image](https://user-images.githubusercontent.com/74257523/142608415-08904da6-989f-4bd0-a58d-73c383d614fa.png)

[2021-11-19 10:44] Roukys opened #400 "[5.6.6] Champions frozen"
I also found a bug with the champion fight, it won't attack if it's the main page of the browser but if I change to another tab it works again (otherwise it just freezes).
Let me know if it's just me. :)
![image](https://user-images.githubusercontent.com/74257523/142494905-bc64e73f-98c8-417f-a8c6-66df79f11ea5.png)

_Originally posted by @ilviloon in https://github.com/Roukys/HHauto/issues/387#issu

[2021-11-19 10:49] Roukys commented on #387
@ilviloon Could you upload a debug load when it is frozen in #400

[2021-11-19 11:27] ilviloon commented on #400
when you press game setting or script setting it turns to the champion and attacks right away but that will be manual

[HH_DebugLog_1637320950671.log](https://github.com/Roukys/HHauto/files/7569845/HH_DebugLog_1637320950671.log)

[2021-11-19 12:36] Roukys commented on #400
from your log seems as if the gotoPage is blocked somehow.
maybe again one of chrome throttling thing.
As if it needs a "human interaction"

I'll check to see if there is a difference from other actions in the script

[2021-11-19 13:53] Roukys commented on #393
@Dimka2010 @bjaume It is not always happening, could one of your take a debug log when it happens ?
I've run a few times until 0 but without issues for the moment.

[2021-11-19 14:21] Roukys commented on #400
@ilviloon can you check if it happens again in v17 ?

[2021-11-19 16:19] ilviloon commented on #400
@Roukys I let it run naturally and I found it to be working fine 🥇

[2021-11-19 16:20] #400 closed

[2021-11-19 16:26] #364 closed

[2021-11-19 16:31] ilviloon commented on #387
new collects keep coming in every 10 seconds making it quite difficult to collect it completely and because of its randomness we should probably set a maximum (or minimum) collect that can go by the total or as a percentage... maybe that'll fix it quickly

![image](https://user-images.githubusercontent.com/74257523/142656582-d20cb8df-05a9-407b-a562-26e2d2cdf370.png)

[2021-11-19 16:53] Memerino commented on #389
@Roukys yep, this update fixed the issue and the script runs again. Console is not showing the error anymore.

Sorry for not answering earlier, i had no acces to my server these days.

Thank you SO MUCH for this fix, and for the work you put in this script 🤠👍

[2021-11-19 17:05] Roukys commented on #389
;) pleasure.

I'll try not to use this anymore, but if it happen again do not hesitate

[2021-11-19 17:05] #389 closed

[2021-11-19 18:49] bjaume commented on #393
Yes, @Roukys I'll do when it happens.
It doesn't always happen to me either.

[2021-11-19 19:03] Killer66 commented on #392
Although my minimum wait is set to 21600 (6 hours), my timer is always set to go back into the harem by 1 minute... Don't know why...

[2021-11-19 19:06] Killer66 commented on #392
If I force the timer to get values again (by disabling the script and enabling it again), it corrects itself.

[2021-11-19 23:43] Gateau98 opened #402 "Bug [5.6.17] - AutoLeagues does not work in a small window."
**Describe the bug**
In leagues it does not scan all opponents at the time of making the window smaller.

**To reproduce**
Steps to reproduce the behavior:
1. Start the game with a small window.
2. Run the script in Leagues.
3. The scan time does not start.

**Expected behavior**
It has to scan all oponents but

**Screenshots**
![image](https://user-images.githubusercontent.com/67574208/142703974-

[2021-11-20 03:27] EasyOne2021 opened #403 "Enhancement : Market menu with preference order"
**Which feature is concerned**
It's juste the market option part.

**Describe the solution you'd like**
It would be great if we could choose the purchasing priority. Ex: If i want purchase gift before book or other object's category.

**Additional context**
![image](https://user-images.githubusercontent.com/94576478/142712995-5b9b8fed-7328-432d-a8bf-3a5fe6a8efb7.png)

Thx for your work :)

[2021-11-20 12:34] EasyOne2021 opened #404 "Bug [5.6.17] - Mission doesn't collect"
**Describe the bug**
You have an issue with the mission collect.

**To Reproduce**
Steps to reproduce the behavior:
1. Acitive 'mission' & 'collect'
2. See error

**Expected behavior**
Mission doesn't collect. It's true for Hentaiheroes & ComixHarem

**Screenshots**
![image](https://user-images.githubusercontent.com/94576478/142726370-555bdd80-222f-4bb3-89e6-fefff764fcf7.png)
![image](https://user

[2021-11-20 16:01] NinJaraya commented on #404
It works with me.
Collect is supposed to have a half hour delay to catch up with the start of the Contest.

[2021-11-20 17:44] EasyOne2021 commented on #404
Ah ! ok not bad, sorry thx.

[2021-11-20 17:44] #404 closed

[2021-11-20 22:01] Dimka2010 opened #405 "Enhancement : Upgrade the logical of collecting Missions"
![Screenshot_1](https://user-images.githubusercontent.com/86404525/142742065-600efd6b-2607-477e-aa36-e6f063a8fa84.jpg)
I want to propose such a solution. Now there is a restart of missions and they begin to be made + immediately assemble if the ticks are like in my screenshot.
But! New tasks appear only half an hour after the start of new missions, and among these tasks there is "gain experience".

[2021-11-20 22:52] Dimka2010 opened #406 "Request : About new awake theme."
I suggest expanding the current script a little.
Add a line where I put a lot of dots - find a girl who needs to raise the maximum levels , awake her (by going through all the girls one by one, as the script below does. And stop at the one that has any level that needs to be awake).
![Screenshot_2](https://user-images.githubusercontent.com/86404525/142743008-1ab5e6fb-606d-4b3b-8659-c163328f1703.jp

[2021-11-21 11:05] iirtimD commented on #402
AutoLeagues don't work in Comix Harem
[HH_DebugLog_1637492450097.log](https://github.com/Roukys/HHauto/files/7576124/HH_DebugLog_1637492450097.log)
m

[2021-11-21 11:12] Roukys commented on #405
@Dimka2010 to be checked but for me collect is starting after mission normally .
#334

[2021-11-21 11:14] Roukys commented on #406
@Dimka2010 I do suggest to use ocd script :
https://sleazyfork.org/scripts/415625-hentai-heroes-ocd-season-version/code/Hentai%20Heroes++%20(OCD)%20Season%20version.user.js

[2021-11-21 11:24] bjaume commented on #402
Same bug occurs to me from time ago

OS: Windows 10
Browser: Chrome Versión 96.0.4664.45 (Build oficial) (64 bits)
Script-Helper: Tampermonkey v4.13
Script-Version: 5.6.16

[2021-11-21 11:59] Dimka2010 commented on #405
No.
Right now - even if no missions availble = going collect anyway (if buttons On like on my screen).

[2021-11-21 12:06] Dimka2010 commented on #405
So.. Again -
What i am ask - BOT will be not Claim Rewards from alredy done Missions before any Contests will be avaible.
if no any Contests - all done Missions here will be just stack.
All this work if all buttons will be like on my first Screenshot on upper in this theme.

[2021-11-21 12:07] dadanda opened #407 "Pachinko Bug [5.6.17] - Game gives error when pachinko is active"
**Describe the bug**
When pachinko is active the game gives this error:

"Oh my! There is a problem here. I reported it to my little geeks and they'll fix it. Very sorry!"

**To Reproduce**
Have pachinko on.

[HH_DebugLog_1637496344196.log](https://github.com/Roukys/HHauto/files/7576208/HH_DebugLog_1637496344196.log)

[2021-11-21 12:12] dadanda commented on #407
The issue happens every time the game goes into a new day.
But for some reason only happens with Harem Heroes and both Comix Harem, but not Hentai Heroes.

[2021-11-21 12:12] Dimka2010 opened #408 "Enhancement : More Smart Collecting Daily Rewards."
Look. Right now - Daily rewards collecting before XX hour new Daily rewards will be appeare. (As i understand right).

What i am ask - can Bot will collect immediately all rewards from - books, gifts, orbs, condoms, kobans - types when it will be available in game?
Its not the fist fights, kisses fights or energy or resourses that will be need in Contests progress or quest help.
This types of rewa

[2021-11-21 12:15] Dimka2010 commented on #407
Without Bot function - it error present too.
In CHX - yes, in HH - no.
So.. its the game problem - not from Bot.
Need just wait when KK will fix it.

[2021-11-21 12:28] #407 closed

[2021-11-21 12:41] dagget-beaver opened #409 "Bug [5.6.17] - Script stopped working on Nutaku"
**Describe the bug**
On Nutaku the script has stopped working - after initial page load there's an error on the main page.
<img width="1440" alt="Screen Shot 2021-11-21 at 14 37 31" src="https://user-images.githubusercontent.com/89653163/142762222-cf5c8f4e-a165-4c33-90ac-5a9a14b22650.png">

**Screenshots**
If applicable, add screenshots to help explain your problem.

**System:**
- **OS:** MacOS
-

[2021-11-21 12:43] dagget-beaver commented on #409
Seems to be related to in-game issues - Pachinko is broken at the moment.

[2021-11-21 12:47] dagget-beaver commented on #409
Workaround:
Had to modify HHAuto_Setting_autoFreePachinko to false in the stored settings to bypass the broken functionality

[2021-11-21 13:00] Dimka2010 opened #410 "Request : Stop fighting in League or Season without boosters."
Could you make a function, and in a circle somewhere a button that would turn the "enabled" functions for the Season and League off, provided that at least one free booster is not on the character.
well, the variability - one included, two, three. So that players who have few boosters could use this feature too.

![Screenshot_6](https://user-images.githubusercontent.com/86404525/142762758-4afef1e5

[2021-11-21 14:10] ilviloon commented on #409
it's just a hiccup...? still need to investigate further... ;)

[2021-11-21 14:51] dagget-beaver commented on #409
@ilviloon seems to be some hiccup in HH code - currently everything is working fine, no further investigation required at the moment - closing.

[2021-11-21 14:51] #409 closed

[2021-11-21 16:04] ilviloon commented on #405
@Dimka2010
I see what you want, do you mean that the script should only start collecting quest rewards after the new contest comes out so you can increase your score in the new contest?

[2021-11-21 16:10] ilviloon commented on #410
I usually notice the time to log in and use boosters when it's almost gone, but it's also a good idea not to waste fights.
For the time being, I feel that there are still a lot of things that need to be adjusted. We should prioritize the existing features to be optimized before further development. :)

[2021-11-21 16:43] Roukys commented on #410
@Dimka2010 @ilviloon please use issue #234

[2021-11-21 16:43] #410 closed

[2021-11-21 16:55] Dimka2010 commented on #234
Could you make a function, and in a circle somewhere a button that would turn the "enabled" functions for the Season and League off, provided that at least one free booster is not on the character.
well, the variability - one included, two, three. So that players who have few boosters could use this feature too.

![Screenshot_6](https://user-images.githubusercontent.com/86404525/142762758-4afef1e5

[2021-11-21 16:56] Dimka2010 commented on #405
yes :)

[2021-11-21 23:14] ilviloon commented on #392
@Killer66
currently it will always return every 60 seconds until all collection is completed

[2021-11-22 07:21] Roukys commented on #405
@Dimka2010 for me it is starting the missions but not collecting them

[2021-11-22 07:22] Roukys commented on #408
You mean all non energy (Worship,quest, fight, kisses, challenges) related ?

[2021-11-22 08:21] Roukys commented on #392
@Killer66 for the 60secs, proposal is here : #387

[2021-11-22 08:26] Roukys commented on #402
@Gateau98 should be solved in v18

[2021-11-22 11:35] iirtimD commented on #402
5.6.18 test server AutoLeagues The power calculator stopped working, as shown above in the screenshot.
[HH_DebugLog_1637580640501.log](https://github.com/Roukys/HHauto/files/7580611/HH_DebugLog_1637580640501.log)

The power calculator in the league does not run at all on the comic harem.
[HH_DebugLog_1637580534672.log](https://github.com/Roukys/HHauto/files/7580604/HH_DebugLog_1637580534672.log)

[2021-11-22 12:27] Roukys commented on #402
@iirtimD my bad fixed in v19

[2021-11-22 16:08] iirtimD opened #411 "Bug [5.6.19] - Refresh Opponent list does not work in Comix Harem"
**Describe the bug**
The comic harem does not scan players in the league.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Legues
2. Click on Refresh Opponent list
3. See error

**Expected behavior**
It has to scan all oponents

**Screenshots**
![image](https://user-images.githubusercontent.com/80946842/142894456-e7688f36-04b4-4130-b89a-c5e5f9b017b9.png)

**System:**
- **OS:** Windows 1

[2021-11-22 18:07] Dimka2010 commented on #408
yes :)

[2021-11-22 21:08] YotoTheOne commented on #408
I guess it could be done, although I don't really see the point. I guess you have some OCD and the blue "!" icon is stressing you ? ;)

[2021-11-22 21:21] YotoTheOne commented on #403
Again, I don't really see the point.
If you want to purchase books and gifts, the order the script buys them doesn't really matter.
Unless you're short on money, and that's where the "money to keep" fields become useful.
So you just have to put correct amounts there and the script will work as you want.

[2021-11-22 23:48] Killer66 commented on #392
Oh, got it. It's ok then, I was under the impression that was a bug.

[2021-11-23 07:56] Roukys commented on #411
@iirtimD do you have a specific script for league display ?
the number of fight seems different -/-/- instead of 0/3 ?

[2021-11-23 10:08] iirtimD commented on #411
[>

](https://github.com/45026831/hh-plus-plus)

[2021-11-23 11:56] Roukys commented on #411
OK so that is the cause

[2021-11-23 12:29] Roukys commented on #411
@iirtimD seems not I do not see option to change this in this script.
I don't even see the difference in between this one and the OCD one but that is another story

[2021-11-23 12:39] iirtimD commented on #411
You can close the topic, switching between views changes the structure of the league, which is why this script breaks. Everything works fine on the standard view.
![image](https://user-images.githubusercontent.com/80946842/143025045-ee37921e-cfde-4e7a-89be-10e12a2d623f.png)

[2021-11-23 13:04] Roukys commented on #411
Ok didn't found it, nice closing it now

[2021-11-23 13:04] #411 closed

[2021-11-23 15:57] Roukys commented on #408
my understanding and I initially thought about it for season : allow auto collect for non energy ressources so are only left the one usable for contest/PoA

[2021-11-23 16:26] YotoTheOne commented on #408
For season ok, why not ; but for daily rewards you have to collect to unlock the next reward.

[2021-11-24 07:43] #402 closed

[2021-11-24 07:44] #392 closed

[2021-11-24 07:47] Roukys commented on #406
@Dimka2010 does OCD fits your needs for filtering girls ?

[2021-11-24 07:53] #247 closed

[2021-11-24 07:55] Roukys commented on #272
not eeded with new Harem page

[2021-11-24 07:55] #272 closed

[2021-11-24 08:18] OldRon1977 commented on #408
Yep... Daily has to be collected to get to the next stage.

For Season, that would be great. Maybe even with an option what to collect automatically and what not, sometimes I want to collect all energy to advance at a contest. But if this is to difficult, than collecting money, gifts, orbs should be enough.

[2021-11-24 08:56] #335 closed

[2021-11-24 08:57] #388 closed

[2021-11-24 10:36] OldRon1977 opened #414 "Bug - PoP has 3 more places (temporarily)"
**Describe the bug**

Might be a bug, might not be... I can't tell atm, because my timers are still running ;)

PoP has 3 more places for now, I am not sure the script will handle a total of 12 places. Can somebody confirm that the script is working or confirming that this is a bug, please :)

[2021-11-24 10:43] Kinnoishi commented on #414
Just bit the bullet and payed for one and it appears it is still working as intended. My Timers reset in 3 hours if anything changes i'll add that here.

[2021-11-24 12:06] ilviloon commented on #405
I found that as soon as the task is completed it will immediately receive the reward, the best way is to turn off self-claim and you will have about 23 hours to get it later

![image](https://user-images.githubusercontent.com/74257523/143235066-486584b6-1411-4d3a-a823-46c9b76416b0.png)

[2021-11-24 12:41] Roukys commented on #414
my test also showed that the doAll work, lets see if any other feedbacks :)

[2021-11-24 13:00] Roukys opened #415 "Move script buttons in Tampermonkey context menu"
**Is your feature request related to a problem? Please describe.**
Prevent having to deal with overlapping of buttons with OCD or other script or HH UI update

Proposal :
![Capture d’écran 2021-11-24 à 12 08 15](https://user-images.githubusercontent.com/73461293/143243009-dbbfacf8-d983-496e-8e5e-3d6ebc4675ec.png)
![Capture d’écran 2021-11-24 à 12 10 25](https://user-images.githubusercontent.co

[2021-11-24 13:46] cossname commented on #414
started all 12 PoPs after old PoPs timer ends

[2021-11-24 21:35] Sindzieva01 opened #416 "Support for esprit.hentaiheroes.com"

[2021-11-25 08:16] ilviloon commented on #415
@Roukys it looks cleaner but i think it will take time for the user to know and get used to it.

Does anyone have an opinion, personally I don't think the buttons overlap and are still usable, but maybe this feature can pave the way for many new features...?

[2021-11-25 10:15] Roukys commented on #415
@ilviloon don't worry at first I've duplicated them :)

[2021-11-25 10:59] YotoTheOne opened #417 "Bug [5.6.17] - 500 internal server error when the script buys in the market"
**Describe the bug**
The market autobuy function is way too fast and now triggers a "500 internal server error" each market reset.

We need to find a way to slow it down to a "normal human" speed.

[2021-11-25 11:23] Roukys commented on #417
had to come at a moment function is still coded to buy all nearly at once using ajax ...
will try to look into it

[2021-11-25 13:05] cossname opened #418 "Bug [5.6.19] - Loop pachinko"
pachinko loop bcs of no pachinko timer
![image](https://user-images.githubusercontent.com/56331601/143446717-4a84388c-653c-4f9f-9bf1-ff7581c77e75.png)
[HH_DebugLog_1637845288536.log](https://github.com/Roukys/HHauto/files/7603132/HH_DebugLog_1637845288536.log)

[2021-11-25 13:41] Roukys commented on #415
I've added it in v20, still keeping old buttons

[2021-11-25 13:41] Roukys commented on #418
@cossname added a 1h timer in that case in v20

[2021-11-25 13:42] Roukys commented on #416
@Sindzieva01 script should now load on this site, it should popUp you needed info please copy them here :)
also please do tell me if some of the options are not in use on this site :)

[2021-11-25 13:50] Roukys commented on #418
in v21 in fact ...

[2021-11-25 15:59] cossname commented on #418
not a best solution, change to check pachinko timer, if there some problems(wrong time detected) set to 1 hour
current script set 1 hour every time

[2021-11-25 16:00] cossname commented on #418
too many requests/page changes = error 500

[2021-11-25 16:09] Roukys commented on #418
@cossname in v21 normally no it should only put 1h if no timer detected :
[code]

[2021-11-25 20:01] cossname commented on #418
ok, maybe another bug from DEVs
now script working great

[2021-11-25 21:02] YotoTheOne commented on #414
No problem here. Nice coding, well done Roukys !

[2021-11-26 03:35] ilviloon commented on #417
I keep getting error 500 continuously for the last few days, after upgrading to the latest version this situation still comes back... does anyone know the cause?
( The timings are many hours apart I suspect it could be due to a purchase in the market )

![image](https://user-images.githubusercontent.com/74257523/143522720-765c8b07-2ba0-4a1b-ba72-15a83f76d317.png)

[2021-11-26 07:08] Roukys commented on #418
yes it was a bug there was no timer for a few hours ...

[2021-11-26 07:08] #418 closed

[2021-11-26 08:18] Roukys commented on #414
:D pleasure :)

[2021-11-26 08:18] #414 closed

[2021-11-26 08:18] Roukys commented on #417
for me purchase in the market is the only one not having timers ...

[2021-11-26 08:54] Roukys commented on #417
v22 is not my best but should prevent this 500

[2021-11-26 11:19] UncleBob800 commented on #416
![image](https://user-images.githubusercontent.com/86453893/143572693-665426fc-dbf1-4bb3-9505-bf7112d75c73.png)
![image](https://user-images.githubusercontent.com/86453893/143572746-3e883046-ba39-4f99-bf51-96cff3eb0c80.png)
Functionally, the game is identical to www.hentaiheroes.com, with only one difference - there is only Russian and no others. Simply put, no additional changes to the script are

[2021-11-26 11:24] UncleBob800 commented on #416
P.S. **OG**HH_prod because the site is located on the domain https://ohgames.me/ 😊

[2021-11-26 11:39] OldRon1977 commented on #414
Yep 👍👍👍

[2021-11-26 12:16] YotoTheOne commented on #417
Thank you, trying now.

[2021-11-26 13:24] Roukys commented on #416
perfect adding it now in v23 @Sindzieva01 @UncleBob800

[2021-11-26 14:50] ilviloon commented on #417
went through 2 market times and it's still working fine, personally i think it works... still waiting to see more.

[2021-11-26 14:58] Roukys commented on #417
still not perfect as it still buys without being on market page

[2021-11-28 12:07] cossname opened #419 "Mission reward claim delay"
@Roukys can you move getSecondsLeftBeforeNewCompetition() for 1 hourm bcs of Winter time (clock lag)?

[2021-11-29 07:27] Roukys commented on #419
@cossname, strange on my side it does give perfectly the number of secs before competition
can you try that in your console :
[code]

[2021-11-29 07:33] #416 closed

[2021-11-29 12:54] Cirkulis commented on #387
Is there some way to disable/remove the "hidden value of 60 sec wait when collecting isn't finished" function? It's annoying AF.

[2021-11-29 13:26] Roukys commented on #387
@Cirkulis at the moment no, but the verion with a trigger which is sum to collect minima is nearly ready.

[2021-11-29 13:43] cossname commented on #419
![image](https://user-images.githubusercontent.com/56331601/143878429-764c9feb-3acb-4445-bc0c-a91f0d0ecbed.png)
![image](https://user-images.githubusercontent.com/56331601/143878465-d130527a-2f3a-434c-b8ce-d948fc200ed0.png)

[2021-11-29 16:01] Roukys commented on #387
@Cirkulis @OldRon1977 @YotoTheOne @ilviloon you can try it here :
https://github.com/Roukys/HHauto/raw/newSalary/HHAuto.user.js

[2021-11-29 16:41] Roukys commented on #419
erf ... ok so let's try and solve that ...
could you give me the values of :
parseInt(server_now_ts, 10);
new Date().getTimezoneOffset();
new Date();
new Date().getTime();

[2021-11-29 19:19] YotoTheOne commented on #417
Nothing more to report.
I let you close the issue if you want, maybe you want to keep it open so you remember to improve it since you said it's not perfect yet ;)
No time to look at the code sorry, I'm super busy these months...

[2021-11-29 20:32] Roukys commented on #417
@YotoTheOne No problem I just forced a wait time between each item bought, but yes would be better to Rewrite it to only act on being on market

[2021-11-30 06:15] Cirkulis commented on #387
It's not trying to collect 1000 ymen every 60s anymore, so I like it. Thanks!

[2021-11-30 07:26] Roukys opened #420 "Enhancement : Market to buy while being on market page"
**Which feature is concerned**
For better human like script make market only buy when being on market page

[2021-11-30 07:27] #417 closed

[2021-11-30 09:28] OldRon1977 commented on #387
I'm not sure if it is because I have the monthly card...
The min value is set to 20K but even values of 1.224 have been collected via the "collect free" button.
So it looks like it works for people without monthly card (I can't confirm, but from what I read it looks good) and for people with the monthly card it works as well, because I don't have a harem-loading-delay :)

So it looks good to me...

[2021-11-30 10:20] Roukys commented on #387
@OldRon1977 I'll check code concerning monthly card,should not be Collected.
Could you send me a debug log ?

[2021-11-30 11:44] OldRon1977 commented on #387
Maybe it was a hiccup or a value that still lingered somewhere...
I made a reset and now it looks like the collection also works with the monthly card...
I will keep an eye on it for a few more collects and then I can tell if it works or not ;)

[2021-11-30 12:44] cossname commented on #419
![image](https://user-images.githubusercontent.com/56331601/144049572-6625f2bf-597a-49e7-a084-67554c9af1f4.png)

[2021-11-30 13:06] cossname commented on #420
it already works this way
but all buys going almost simultaneously

[2021-11-30 14:10] Roukys commented on #420
No in fact buying are made even if not on market, on market page it just get all items list.
After the shopping function is called but can be called while being on other pages

[2021-11-30 17:49] YotoTheOne commented on #417
@Roukys I think you can remove the market check every 2h and go back to 6h like before, all items are correctly bought the first time.

[2021-12-01 12:49] cossname commented on #420
Its a very bad thing, because each request have "referer" field that contains name of page request send from.
So its very easy detectable when someone requests came from wrong refer pages

[2021-12-01 13:40] Roukys commented on #420
exactly ...

[2021-12-01 14:26] Roukys commented on #419
Ok I think I've found something, testing on y side

[2021-12-01 16:23] Roukys commented on #387
so it seems go to go to prod for you ?

[2021-12-01 17:15] OldRon1977 commented on #387
Yep... I would give it a green light for prod :)

[2021-12-02 15:58] cossname opened #421 "Bug [5.6.23] - Mask locked wrong function"
Mask Locked button in shop have wrong function on click, should be
[code]
but currently
[code]
![image](https://user-images.githubusercontent.com/56331601/144457010-39f5bdf4-677e-410d-999a-3d1a09880a74.png)

[2021-12-02 16:10] Roukys commented on #421
Thanks @cossname I'll correct that

[2021-12-02 16:20] Roukys commented on #421
@cossname in 5.6.24

[2021-12-02 16:20] Roukys commented on #419
@cossname in 5.6.24

[2021-12-02 16:20] Roukys commented on #387
prod in 5.6.24

[2021-12-02 18:46] Dimka2010 commented on #406
I dont use OCD, so cannot answer on question..

[2021-12-03 10:55] ilviloon opened #422 "Enhancement : Give exp to the girls till awaken"
Add the function to automatically add 50 levels and 250 levels for the girls ( the last one will have to wait to see if they fix the unnecessary awake from level 50~250 ) .

just two push buttons to level up for easy use.

or simply an exp gain button to suffice for awaken

![image](https://user-images.githubusercontent.com/74257523/144590710-97f4e226-62c4-4f4e-9a5b-852b3568fb10.png)

[2021-12-03 11:49] Roukys commented on #422
@ilviloon for the moment it is not doable as clicking on awakening reload the page ... (what a nice dev from their side ...)

[2021-12-03 12:12] Roukys commented on #422
current script is able to detect the window and click on awakening if cost is zero but no more at the moment

[2021-12-03 13:52] ilviloon commented on #422
If it possible to make a push button that gives the girl experience to the point of neer awakening ( because the auto level up  button will alway be your level number )
For example levels 49, 149 , 249, 399. will probably increase the rate of girls leveling up faster

[2021-12-03 13:58] ilviloon commented on #419
sorry I can't test this time because I set it to complete the mission with koban first so it will probably be done when the new contest comes :)

[2021-12-03 16:22] kaadeel opened #423 "after update didn't show plugin window"
**Describe the bug**
after update to 5.6.24 and enter hentaiheroes.com didn't see plugin window.
I cannot enter to plugin settings.

**Screenshots**
![image](https://user-images.githubusercontent.com/95493051/144636532-63ac1e35-614a-4c54-9cab-93b7570669fa.png)

**System:**
- **OS:** Windows 10
- **Browser:** Opera 82.0.4227.23
- **Script-Helper:** Tampermonkey v4.14.6148
- **Script-Version:** 5.6.

[2021-12-03 16:40] Roukys commented on #423
@kaadeel seems the script is not running.
Can you try : Opera: Press CTRL + SHIFT + I to open Dragonfly. Click on the “console” tab
and paste here the error ?

[2021-12-03 18:33] NinJaraya commented on #422
Since awakening works by reloading the page, the script shouldn't click to awakening.
I did some tests, and found that the XP given over is not lost.
If you give a 2500 XP book to a legendary girl, you can awakening her twice since she reaches level 103.
The "Auto Give" should give XP until reaching Max, regardless of the girl's current level, then move on to the next one.
**by Google Translate**

[2021-12-03 19:19] Roukys commented on #422
@NinJaraya that should be easy ,we'll improve after

[2021-12-03 20:30] ilviloon commented on #422
@NinJaraya
Currently giving experience to girls who exceed the awakening threshold will not give additional points for contests,
so it's not advisable to give the girls more experience when it's maxed out. (at least until dev fixes this bug)

[2021-12-04 00:26] kaadeel commented on #423
04/12/2021, 01:25:51.516:start:???no Hero???
userscript.html?name=HaremHeroes%20Automatic%2B%2B.user.js&id=20bd9a98-d347-4601-a0e6-590dcbbefa97:8697 Uncaught (in promise) TypeError: Cannot read properties of null (reading 'HHAuto_Setting_autoAff')
userscript.html?name=HaremHeroes%20Automatic%2B%2B.user.js&id=20bd9a98-d347-4601-a0e6-590dcbbefa97:8697 Uncaught (in promise) TypeError: Cannot read pro

[2021-12-04 00:29] kaadeel commented on #423
![image](https://user-images.githubusercontent.com/95493051/144689126-7c0da457-9677-4d89-b27d-e16936d97260.png)

[2021-12-04 13:54] NinJaraya commented on #422
I personally don't care about contests, I only do it in PoA.

[2021-12-04 14:58] kaadeel commented on #423
@Roukys can you help?

[2021-12-04 15:13] cossname commented on #423
try to click those 2 buttons
![image](https://user-images.githubusercontent.com/56331601/144714651-851329c2-5984-4fd6-87e5-e82725ddb2e4.png)

[2021-12-04 15:43] kaadeel commented on #423
but I didn't see window to enter settings ;?

but I don't see window to change settings ;?

[2021-12-04 17:53] kaadeel commented on #423
in addition, I uninstalled script from Tampermonkey and install it again.
still didn't working.

[2021-12-04 19:01] Roukys commented on #423
I have no clue, you are still able to see debug menu ?

Can you try enter that in console :
`localStorage.clear();`
then :
`sessionStorage.clear()`

and reload

[2021-12-04 20:40] cossname commented on #423
debug menu
![image](https://user-images.githubusercontent.com/56331601/144723970-4ed0f061-62e9-4530-8955-5c5a79fd5ef4.png)

[2021-12-04 20:50] cossname opened #424 "Bug [5.6.25] - Troll battle loop"
script goes to troll pre battle page, but for some reason "Perform x1" button not active
![image](https://user-images.githubusercontent.com/56331601/144724058-ad698cab-f656-4c0b-beb1-cf69e6cd3561.png)
still have 1 combativity

after page reload - all goes well

Debug log
[code]

[2021-12-04 23:54] kaadeel commented on #423
thanks a lot! <3
it's helped!

[2021-12-05 00:00] kaadeel commented on #423
p.s. i have a question.

usually after restarting the browser (closing and opening) my settings are emptied and I have to load the configuration from a file. Is it possible to introduce the initial settings so that if I restart the browser I will not have to load the configuration manually?
Best Regards,

[2021-12-05 12:25] cossname commented on #424
temporary solution

change:
[code]

to:
[code]

[2021-12-05 12:42] ilviloon commented on #419
It worked fine 👍

[2021-12-05 18:07] cossname commented on #424
didnt work, stuck again with inactive "Perform x1" button

[2021-12-05 20:28] DrkMfn2 opened #425 "Enhancement : Auto equip sandalwood perfume for mythic fights"
Sandalwood perfume legendary booster allows to save a massive amout of gold when fighting for mythic girl since it basically provides an additional 11 affection for free, which in general reduces the cost of getting a mythic girl from about 2-2.5 K kobans down to about 1.5 K (booster cost included). So it's only logical to have it equipped during fights.

I personally try to get mythic girl at the

[2021-12-05 20:40] YotoTheOne commented on #425
+1, following ;) I think many will be interested by such a feature, great idea !

[2021-12-05 21:52] YotoTheOne commented on #424
Strange, never happened to me. Unable to reproduce so I can't help you much sorry... But I'm following, if I can help I will.

[2021-12-05 22:12] NinJaraya commented on #425
But there's a catch, I almost never see this booster to buy it myself.

[2021-12-05 22:20] YotoTheOne commented on #425
Almost a full month to stock 5 boosters, with 4 free market reset every day, it's pretty easy ! Or you're very unlucky, or don't play enough.
Anyway I guess that could be automated too ;)

[2021-12-06 07:24] Roukys commented on #424
encountered if only once, but yes I'll try to force a timer or a reload if it is disabled, let me check

[2021-12-06 07:35] Roukys commented on #425
a mythic girl with 2-2.5K kobans ?
What I've seen as stats is more around 15K kobans, how do you do it ?

[2021-12-06 07:40] Roukys commented on #425
auto buy should work, need though to have the good code for this particular booster.
I think entering it in the buy booster filter should do the trick.
Using them joins #234 in the way to implement.

[2021-12-06 07:42] #387 closed

[2021-12-06 07:42] #419 closed

[2021-12-06 07:42] #421 closed

[2021-12-06 07:42] #423 closed

[2021-12-06 08:47] DrkMfn2 commented on #425
Forgot to mention that I'm playing on Nutaku server, and from what I've heard, they have different approaches for gold on Nutaku and Hentaiheroes...

[2021-12-06 10:59] Roukys commented on #425
ah yes there is a x6 factor :)

[2021-12-06 12:35] cossname commented on #424
@Roukys also  there loop - checking mythic timer, when it disappear aftrer last shards update (last 2-3 hours of event)

[2021-12-06 12:41] cossname commented on #425
this approach will work only if you will use x1 fights, otherwise there will be problem to track how much perfume stacks left

[2021-12-06 12:43] Roukys commented on #425
honestly won't be an easy one, I've not worked on booster for the moment.
To track it I'll be able to use the tracker of shards won I think.
But I don't know when I'll be able to work on that
Next version will also allow to buy mythic booster in the same way as legendary ones

[2021-12-06 13:26] cossname commented on #425
also problem to track rewards/shards from troll battle, if used "skip" button

[2021-12-06 13:32] Roukys commented on #425
normally script should be able to track it, but yes it adds complexity

[2021-12-06 17:34] Roukys opened #426 "Enhancement : Translation requests"
Here you can upload the translations files so I can update the script

[2021-12-06 17:45] Roukys commented on #426
function to come in v25 :)

[2021-12-06 18:29] cossname commented on #425
script can check response from ajax-request sent by manual button click?

[2021-12-06 22:20] Roukys commented on #424
Can't it be the cause of #393 ?

[2021-12-06 22:21] Roukys commented on #393
Think it is linked to #424

[2021-12-07 07:29] Roukys commented on #424
@cossname for mythic yes seen it correction is in next version :)

[2021-12-07 08:02] Roukys commented on #424
@cossname solved in 5.6.25 for mythic and troll loop

[2021-12-07 08:03] Roukys commented on #393
@EasyOne2021 @bjaume made a fix in 5.6.25 that may help

[2021-12-07 08:05] Roukys commented on #425
@cossname @DrkMfn2 @YotoTheOne @NinJaraya should now be able to auto buy mythic boosters as per 5.6.25

[2021-12-07 08:09] Roukys commented on #422
@NinJaraya @ilviloon in 5.6.25 script does not click anymore on awakening.
Meaning it will be able to go to next girl
@ilviloon if you set max level as 51 is will not go above target

[2021-12-07 12:44] cossname commented on #424
@Roukys yes this can be same problem as mentioned in https://github.com/Roukys/HHauto/issues/393

[2021-12-07 12:50] cossname opened #427 "Bug [last] - Bug description"
[code]
reddirected to home page with no reason, also too frequently

[code]
all other logs removed to simplify

[2021-12-08 07:08] Roukys commented on #427
@cossname do you have some other logs to be able to understand the return to home ?
for the log I'll check but do shopping is called at each page load ...

[2021-12-08 12:50] cossname commented on #427
i will try to create new log with each home-redirect-log have different numbers

[2021-12-08 13:32] cossname commented on #427
[code]

[2021-12-09 08:20] Roukys commented on #427
yes goShopping is a non blocking function so it can be interrupted by any other.
and in fact the log go shopping is triggered every page start

[2021-12-09 13:02] cossname commented on #427
so what is the reason for auto-redirect after manual page change?

[2021-12-09 13:05] Roukys commented on #427
"Back to home page at the end of actions", ?

[2021-12-09 13:16] Ivebeenpwnd commented on #422
@Roukys Is there any chance on letting it overspend on autogiveaff if it isn't the girls last star or is there a setting I am missing, having to manually give the 10 affection left because I don't have enough of the lower gifts is tedious.

[2021-12-09 13:47] cossname commented on #427
yes

[2021-12-09 13:50] cossname commented on #427
if there a redirection to home page after autoLoop-"enable", so why there also home redirection at end of each function?

[2021-12-09 15:16] Roukys commented on #422
@Ivebeenpwnd yes could be but my issue there would be the following :
would need to know how much we can overspend.
if your last item is a 1500 one that would mean you won't be able to use the 1490 on an other girl ...

[2021-12-09 21:00] Ivebeenpwnd commented on #422
since the points carry over into the next level I don't see that being too much of a problem. As long as it isn't the last star the points aren't truly lost. Would it be possible to add a check box like there is on pachinko to continue even if there are no girls available?

[2021-12-10 10:17] Roukys commented on #427
yes I'll have to check on that, normally go to home is nearly everywhere.

[2021-12-10 12:00] cossname commented on #427
looks llike this happens after home-redirect, manualy redirection to another page after it

[2021-12-10 15:16] Roukys commented on #427
I'll try to comment this out for next release we'll see :)

[2021-12-10 16:24] dadanda opened #428 "Request : Path of Valor support"
New content.

[2021-12-10 18:33] cossname commented on #428
there only 1 function, that we can implement - mask claimed rewards

[2021-12-10 18:50] cossname commented on #428
disign of this event window so ugly

[2021-12-10 18:57] bjaume commented on #428
I agree

[2021-12-11 20:59] dadanda commented on #428
yeah that would still be helpful in anycase, similar to poa mask rewards.

[2021-12-12 10:47] cossname commented on #428
@Roukys
[code]

[2021-12-13 08:43] Roukys commented on #383
@varluigi I've tried but nothing possible on my side, sorry ...

[2021-12-13 08:43] #383 closed

[2021-12-13 08:45] Roukys commented on #406
@Dimka2010 for filtering honestly best script is https://sleazyfork.org/scripts/415625-hentai-heroes-ocd-season-version/code/Hentai%20Heroes++%20(OCD)%20Season%20version.user.js.
Apart from buttons overlap it does work very nicely with mine :)

[2021-12-13 08:45] #406 closed

[2021-12-13 09:10] Roukys commented on #234
@OldRon1977 @YotoTheOne @Knatan @GachaImpact @Dimka2010 : in v5?6?26 I've crossed first step.
you should see boosters and their expiration in infobox.
boosterData is taken when going to shop page.
Remains

- [ ] Get booster Data from Market ( display for test purpose)
- [ ] force going to market when booster expires
- [ ] Implement prevent fight without booster

[2021-12-13 09:10] Roukys commented on #427
@cossname got to home after end of action commented out in v5.6.26

[2021-12-13 09:10] Roukys commented on #428
@cossname @dadanda implemented in 5.6.26

[2021-12-13 12:25] bjaume commented on #393
It seems to be working properly on my side now. Thanks @Roukys

[2021-12-13 13:23] OldRon1977 commented on #234
Cool :)

At the moment I am on holidays, so I will take a look next week :)

Thanks for the info...

[2021-12-13 14:05] Roukys commented on #234
@OldRon1977 that is only the first step, but I want to make sure that getting data from booster is efficient before implementing something that prevent the script to fight :D

[2021-12-13 14:54] YotoTheOne commented on #234
Is there something I should activate ? I updated the script to the last version 5.6.26 and I don't see anything new in my infobox.

[2021-12-13 15:02] Roukys commented on #234
@YotoTheOne normally not, maybe go to market manually, infobox should display the current ongoiing boosters.
Otherwise it does mean it doesn't work...

[2021-12-13 17:32] YotoTheOne commented on #234
It appeared eventually.
It's only updated when market is open, otherwise the timer is frozen, indicating the remaining booster time left during the last visit to the market. Is it supposed to be live ?

[2021-12-13 18:07] Franck-75 commented on #320
Hi. It seems with the todays update 5.6.26, you finally fixed the bug !
Very appreciated ! It was a very annoying bug.

[2021-12-13 18:35] Roukys commented on #234
Nothing more than to see that items displayed are the good one and timer is good also.
I'll check for the nan case

[2021-12-13 21:31] Roukys commented on #320
@Franck-75 I'm not sure...
I do hope there is no regression

[2021-12-13 21:47] Franck-75 commented on #320
In the last week update, the problem was accentuated as there were more situation when the script returns automatically to the home page. Now, when the script finish its work, it does not come back to the home page. This could be said a regression or the removal of an unnecessary operation.
Nevertheless, this new behavior solve this ticket.
And yes, it's not really necessary to go back to home pag

[2021-12-14 00:54] YotoTheOne commented on #234
Well mythic boosters have no timers so what do you expect that line to tell ?
And for legendary boosters you confirm it's normal the timer is frozen ? It shouldn't count down like the other timers in the infobox ?
Apart from that the correct items are displayed, that's good.

[2021-12-14 01:02] YotoTheOne commented on #428
Working fine but we have to find a way to make the cursor go to the top so the view is at the beginning of the rewards and not in the middle of nowhere.

[2021-12-14 01:06] YotoTheOne commented on #427
The script doesn't go home after troll fights for instance. It doesn't prevent the script from working but I guess money collection only works from the home screen ?

[2021-12-14 01:20] YotoTheOne commented on #426
I tried it, and when I got back to the game (without generating the txt file, just by clicking the top right cross) the script didn't work anymore and I found out that all fields in the menu contained the value "undefined". I had to load a saved config file.

[2021-12-14 07:45] Roukys commented on #426
@YotoTheOne I'll take a look at that, thanks for the notice

[2021-12-14 07:45] Roukys commented on #427
@YotoTheOne I'll take a look at that, thanks for the notice

[2021-12-14 07:45] Roukys commented on #428
@YotoTheOne yes I didn't found a way yet :)

[2021-12-14 07:46] Roukys commented on #234
@YotoTheOne nothing more than these kind of remarks, I've tottally forgotten that mythic booster have no expiration, I'll try to improve the display.
Only once display is good enough I can take a step further

[2021-12-14 08:14] bjaume commented on #426
I've tried too. An option to load a previously saved traduction text file would be good in case it is not possible to do all the work at once.

[2021-12-14 08:50] Roukys commented on #426
@YotoTheOne for the moment I was unable to reproduce your issue.

If you're able to reproduce can ou send me the debug log ?

[2021-12-14 09:03] Roukys commented on #234
@YotoTheOne 5.6.27 should be better in term of display

[2021-12-14 09:08] YotoTheOne commented on #426
OK, seems it happens consistently when tampermonkey's context menu is used while script menu is open.
Here is the log :
[code]

[2021-12-14 09:16] YotoTheOne commented on #428
I guess there is a vertical scrollbar hidden somewhere.
I'll take a look if I find some time.

[2021-12-14 09:28] Roukys commented on #234
Thanks for the tests @YotoTheOne

[2021-12-14 09:35] YotoTheOne commented on #234
Sandalwood seems to work fine too, although the remaining shards didn't show at first (0), I had to go back to the market and/or win some shards (I did both so I cannot tell precisely) to make the infobox show 10.

[2021-12-14 10:03] Roukys commented on #234
yes still to improve on equipping a booster.
Also for mythical one, impossible for the moment to update the remaining usage out of market shop.

[2021-12-14 12:36] Roukys commented on #426
@YotoTheOne I was able to partially reproduce, seems it happens when menu is open, I'll check on that

[2021-12-14 13:09] Roukys commented on #426
ok I've found the error...
I've used the same ID as the menu :(

[2021-12-14 13:42] Roukys commented on #428
and there come @cossname , thanks :)

[2021-12-14 17:45] Roukys commented on #426
@YotoTheOne should be solved in v28

[2021-12-14 17:45] Roukys commented on #428
Implemented in v28

[2021-12-14 22:30] YotoTheOne commented on #234
Just like a real player so it's OK. For sandalwood specifically you could decrement each time shards are won but that won't work with x10 or x50.

[2021-12-14 22:31] YotoTheOne commented on #428
And working fine, thank you both !

[2021-12-15 14:15] #428 closed

[2021-12-16 14:17] cossname opened #429 "Request : no activity before day reset"
pause script for last 2/5 minutes before day reset, to have some "free"(without interuption) time to boost for last minutes of contest

[2021-12-16 20:23] dadanda opened #430 "AutoCollect Free bundle : autocollects free bundles when they do appear"
Title. If it's possible considering more and more free bundles seem to come out.

[2021-12-16 20:29] dadanda opened #431 "Activities Bug - timer is set for a mission but no mission has been activated"
**Describe the bug**
Every so often, the timer for missions, before it checks again, is set but no missions are running.

**To Reproduce**
I can't tell what is causing this, it may perhaps have something to do when the page gets refreshed by my refreshing extension.

**Additional context**
Also, there are times when the script doesn't collect the missions, like times when there are 2 missions fini

[2021-12-18 17:12] GaryStar commented on #430
for this I've added this the autoloop function:
[code]

[2021-12-19 16:12] cossname commented on #430
bad idea, to click each. You need to click only first, also with some delay, not every autoloop iteration

[2021-12-19 16:39] GaryStar commented on #430
foreach is executed only when the buttons are available in page (popup appears). normally only one button will be there so only one click is executed.

[2021-12-19 20:01] #431 closed

[2021-12-20 14:05] Roukys commented on #430
I'll check on that :)
@GaryStar be careful with the second queryall, it could interact with the shard catching function ;)

[2021-12-22 01:37] diller9132 commented on #377
@Roukys Long time lurker, first time contributing something of use. This is a linear optimization problem, which I've recently become interested in. I think line 6621 (function calculateAffSelectedGirl) is the beginning the relevant section, so I'll try putting something together and post it here. The general plan would be to use Google's CPSolver for the calculations.

P.s. I still very much cons

[2021-12-23 09:31] Roukys commented on #430
purchase box only exist when opens but I'll try to see to it

[2021-12-25 02:25] diller9132 opened #432 "AutoGiveExp not working at high levels [5.6.28]"
**Describe the bug**
After awakening common girls at level 500 (to level to 550), the Give Exp calculation doesn't think it can give those girls any exp items. Eg. Bunny is at level 505, needing ~24,000 exp to get to 550. When I open Give Exp and enter 550 (or even higher/lower numbers), it doesn't register that it's possible. It worked perfectly levelling the girls TO 500, but after awakened abov

[2021-12-25 02:26] diller9132 commented on #432
Forgot to mention: It continues when I select "Auto Give" as well. It then skips over all of the girls, despite all being awoken and between 500 and 550.

[2021-12-25 02:27] diller9132 commented on #432
Log, in case it would help.

 "12/24/2021, 8:58:31 PM.362:doShopping": "Go shopping",
    "12/24/2021, 8:58:38 PM.569:doShopping": "Go shopping",
    "12/24/2021, 8:58:50 PM.312:updateShop": "Detected Market Screen. Fetching Assortment",
    "12/24/2021, 8:58:50 PM.356:updateShop": "counted 2280818 Aff 3237680 Exp",
    "12/24/2021, 8:58:50 PM.358:setTimer": "nextShopTime set to 18985:22:58:50 (02

[2021-12-25 02:30] diller9132 commented on #290
@Roukys Long time lurker, first time contributing something of use. This is a linear optimization problem, which I've recently become interested in. I think line 6621 (function calculateAffSelectedGirl) is the beginning the relevant section, so I'll try putting something together and post it here. The general plan would be to use Google's CPSolver for the calculations.

P.s. I still very much cons

[2021-12-25 08:53] Roukys commented on #290
@diller9132 no noob here :)
I had pretty much never coded in javascript before myself also ;)
It is a little easier than java.
We're all here to contribute together and I do like the way everyone is helping here, each with their own ways.
It will be a pleasure if you can tackle this one linear optimization.
Do post here if I can be of any help to you.
Welcome on the contributors side of the code

[2021-12-25 09:01] Roukys commented on #432
Yes you're right I've only set older levels I'll take a look

[2021-12-25 11:11] Roukys commented on #432
@diller9132 should be good in 5.6.29

[2021-12-25 11:11] Roukys commented on #427
@YotoTheOne should be better in 5.6.29

[2021-12-25 11:11] #320 closed

[2021-12-25 11:13] Roukys commented on #430
@dadanda @GaryStar @cossname frist draft in 5.6.29
works only if there is a daily reward to load the purchase box
to be improved

[2021-12-26 20:07] dadanda opened #433 "Enhancement : Give Aff/XP Lock"
**Which feature is concerned**
The Give Aff/XP system.

**Describe the solution you'd like**
Be able to lock certain types of Gifts/Books for Give Aff/XP to not use them.
Similar to the lock system in selling equipment.

[2021-12-27 09:03] GaryStar commented on #429
if you want to manually do something without interruptions from the automation script you just need to double click on the status text (box in top-right corner with timers) to enable/disable script.

[2021-12-27 12:04] dadanda commented on #430
@Roukys
I dont know if this is part of this or another feature, but there is a constant loop of trying to get daily rewards, which can lead to Error 500.
[HH_DebugLog_1640606591882.log](https://github.com/Roukys/HHauto/files/7780075/HH_DebugLog_1640606591882.log)

[2021-12-27 21:39] Diadochus-Ptolemy opened #434 "Bug [5.6.30] - Booster bug."
Even if the script is not active, the market does not display a tooltip above the active boosters.

The second problem is when you need to activate boosters, the script does not allow you to activate two identical boosters in a row. You must either turn it off completely in the extension, or re-enter the market section.

Well, the last is not exactly a bug - but personally I do not need data on bo

[2021-12-27 22:13] Diadochus-Ptolemy opened #435 "Configuring display or non-display for all additional script features."
Earlier, I suggested a setting that turned on or off the display of additional script functions in the market section. It was realized, it works, and it seems to me convenient - the functions are enabled only when needed, and the rest of the time they do not clutter up the interface, and they also exclude accidental mouse clicks, which is also important.

Now I want to suggest this setting for all

[2021-12-28 00:07] diller9132 commented on #290
Thanks, and will do!

[2021-12-28 00:32] diller9132 commented on #432
Confirmed working on my end! Both the individual and auto-give for multiple girls.

[2021-12-28 09:16] #432 closed

[2021-12-28 09:49] OldRon1977 opened #436 "Bug - League timer needs to be adjusted"
**Describe the bug**
At the moment my league at ComixHarem is pretty large... The script needs too long to load all opponents and during that time a new operation kicks in. After that, the script starts from the beginning and will never finish...

![image](https://user-images.githubusercontent.com/73475830/147553337-d38770a1-9c55-4abb-80a0-bec353165404.png)

Maybe we can either set a longer timer

[2021-12-28 10:34] Roukys commented on #436
@OldRon1977 very strange it should restart from where it has ended and not from the beginning.

Could you send me a debug log of when it is on the new operation so I check on the temporary list ?

[2021-12-28 10:35] Roukys commented on #435
@Diadochus-Ptolemy In fact I do hope at a moment to move from in UI buttons to these #415 :)

[2021-12-28 10:36] Roukys commented on #434
@Diadochus-Ptolemy yes I'll remove this info, this is only in preparation of #234

[2021-12-28 10:39] Roukys commented on #430
@dadanda you're right I've disabled it in v30 I'll have to rework it

[2021-12-28 10:41] Roukys commented on #434
@Diadochus-Ptolemy removed in 5.6.31

[2021-12-28 11:27] OldRon1977 commented on #436
[HH_DebugLog_1640690828702.log](https://github.com/Roukys/HHauto/files/7784412/HH_DebugLog_1640690828702.log)

@Roukys : Here you go :)

[2021-12-28 11:38] Roukys commented on #436
@OldRon1977 each time building is few hours ... I'll try to understand what can make it loop like that ...
Could you uncomment these lines (remove the //) :
[code]
They should be around line 3463.
Then please let opponent list build up (maybe disabling other functionalities).

when you say it will never finish does it stay specifically on one number ?

And let's try to have the debug when you feel

[2021-12-28 11:39] OldRon1977 commented on #436
I will try to provide the log this afternoon :)

[2021-12-28 11:41] Roukys commented on #436
:) I'll check when they arrives :)

[2021-12-28 12:33] Diadochus-Ptolemy commented on #435
The ability to use additional functions through the add-on interface is very good, but for me it is important to be able to remove additional interface elements that appear in the game itself. I have already written the reasons above, but there is another, let's say, "slippery" moment - I periodically share different screenshots of the game and I have a slight paranoia on the topic that I simply w

[2021-12-28 12:47] Diadochus-Ptolemy opened #437 "Bug [5.6.31] - When you first enter the harem section on a new tab, the script returns to the main screen."
When you first enter the harem section on a new tab, when you just started the game, the script returns to the main screen.
The only thing I can add is that it works only the first time, then it does not happen, in addition, the script itself is turned off, that is, it is inactive and, in principle, should not perform any action.

[2021-12-28 12:56] Roukys commented on #435
@Diadochus-Ptolemy I does make sense, in fact I wan to remove the UI buttons in the end, but I'll check on your request.
In the end and also for easier maintenance of the script I'd rather have button directly like #415 and no more on the game screen

[2021-12-28 12:57] Roukys commented on #435
your reason adding weight to this move in fact

[2021-12-28 13:57] Diadochus-Ptolemy commented on #434
@Roukys Yes, the script no longer shows information about boosters, but both bugs that I described above remain - you cannot see the prompts above the already running boosters in the market section and you can't turn on two identical boosters right the first time, you need to reload the market or unload the script.

[2021-12-28 15:16] OldRon1977 commented on #436
It should take 4:30 min...

![image](https://user-images.githubusercontent.com/73475830/147579067-5d5a018d-b299-44e0-97f7-fa5a855f3209.png)

I flushed the temp cache and the script run without a break. All opponents were scanned. Maybe it is a priority thing if another timer has reached its mark. Anyway, I clearly missed a lot of fights (which is no problem for me, because Comix is not my priority

[2021-12-28 15:39] Roukys commented on #436
my concern is that list building should resume to where it has been stopped and also not run undefnitely.
I'll try to see if I can find something which could do this in the code

[2021-12-28 19:04] bjaume commented on #430
I think i't would be interesting to have a setting switch to set on or off this automatic collect. There are some gifts that could be better to be collected manually.

[2021-12-28 20:19] OldRon1977 commented on #430
I don't think so... Maybe a switch would he nice, because most of the things the script does have a switch, but I can't think of a free gift that should be collected with a huge delay.

We could set the collect at a time when a new contest has started, so that tickets, kisses or energy can be used therefore. For PoV or other contests it would be too tricky to save them. Also the gifts are not that

[2021-12-29 10:01] bjaume commented on #430
3 kisses or 5 energy for me (not a high level player) it's enought to be collected in a concrete moment in PoA contest.

I ratify my vote to have a switch

[2021-12-29 12:30] dadanda commented on #430
[HH_DebugLog_1640780963939.log](https://github.com/Roukys/HHauto/files/7788827/HH_DebugLog_1640780963939.log)
Issue is still apparent, definitely would be useful if its a switch.

[2021-12-29 12:32] Roukys commented on #430
@bjaume for the moment I intend to implement it with the collect Daily switch and same way of working ( collect only if not collected 1h before expiration)
@dadanda switch is the collect daily reward one (isseu could happen if you've already collected it but from another computer)

[2021-12-31 15:10] Cirkulis commented on #434
Thanks to Diadochus-Ptolemy for reporting booster tooltip and equip bugs. I was too lazy to do that...
But personally I like seeing booster counters in the Info section. Roukys, please make this On/Off option if possible.

[2022-01-01 11:55] NinJaraya commented on #434
I think it's better to open a new issue, because this one is already closed and they won't see it!!!
**by Google Translate**

[2022-01-01 19:38] dadanda opened #438 "Feature: Option to clear the settings/go back to default when ever Error 500 happens"
**Is your feature request related to a problem? Please describe.**
So as a player that has 2 accounts, on 2 games that use the script. I send a lot of action requests to the servers which causes me to usually get error 500s. It usually happens when an event starts, prompting to do activities and whatnot with other things relating to it. But usually, the case is that I crash and when the game reloa

[2022-01-04 02:28] ilviloon opened #439 "Enhancement : Improve mythic days"
Solve problems that still arise

https://github.com/Roukys/HHauto/issues/434#issuecomment-1003547309

currently you can't use 2 boosters of the same type at the same time without restarting the shop and mystic boosters can't see the remaining amount

![image](https://user-images.githubusercontent.com/74257523/148000911-57fb15fe-6d4c-4af0-8f10-a2e7f2a36550.png)

it looks like by the end of the even

[2022-01-04 08:10] Roukys commented on #439
Hello @ilviloon could you open different issues in specific issues so it is easier for me to follow on their resolution ?
I do understand 4 issues here
1) => #434
2) => please create a new one
3) => #436
4) => please create a new one

[2022-01-04 08:48] Roukys commented on #434
@Diadochus-Ptolemy Sorry I closed it too fast, don't hesitate to reopen if needed ;)
I think I've found something trying to do a correction.

[2022-01-04 10:16] ilviloon commented on #439
@Roukys Hello!
Sorry I not knew the other 1. and 3. is aready got someone on
this could also be 2. and 4. :)

it seems that after completing the mythic days the stagnation in the script will end.
I hope someone will post the debug file ( again sorry )

thanks for the early reply in busy days.

[2022-01-04 11:23] OldRon1977 opened #440 "They did someting to the timers..."
**Describe the bug**
The script does not show any timers...

I already started the script freshly and cleared all caches, but no timers... maybe the devs did something...

Here a screenshot:
![image](https://user-images.githubusercontent.com/73475830/148051956-518c2ac6-7229-412c-ad2e-2ef5bef035b6.png)

...and also a logfile:
[HH_DebugLog_1641295368610.log](https://github.com/Roukys/HHauto/files/78

[2022-01-04 11:28] OldRon1977 commented on #440
...and as soon as somebody files a complaint, the script starts working normally again...

weird... it looks like the devs did something in the background because every time I hit CTRL-F5 and flushed the caches the script collected more and more timers correctly... so I blame the devs ;)

bug closed...

[2022-01-04 12:31] OldRon1977 commented on #440
...nope... still there...

![image](https://user-images.githubusercontent.com/73475830/148059309-45e34b78-73d0-43c0-a2bc-9dec0c80c5cb.png)

[HH_DebugLog_1641299433876.log](https://github.com/Roukys/HHauto/files/7807567/HH_DebugLog_1641299433876.log)

Any ideas?

[2022-01-04 12:39] ilviloon commented on #440
You can try turn off troll fight for now. it's bug happen when mythic days start

[2022-01-04 12:40] ilviloon commented on #439
maybe https://github.com/Roukys/HHauto/issues/440#issuecomment-1004769174 this debug may help

[2022-01-04 13:33] Roukys commented on #439
@ilviloon no problem, having them in different threads is just easier for me to try and prioritize :)
seems I've work to do :D

[2022-01-04 13:38] Roukys commented on #440
seems linked to mythic event yes checking, @OldRon1977 do you still have the issue if you switch off Mythic event ?

[2022-01-04 13:39] Roukys commented on #439
seems you're right 2 & 4 are linked, I'm trying to work on that

[2022-01-04 13:55] Roukys commented on #440
at the moment I was not able to reproduce on any environnements ... @ilviloon @OldRon1977 do you see some conditions under which it happens ?

[2022-01-04 14:04] Roukys commented on #440
I see no error in your logs @OldRon1977 so something is preventing the script to go and do the actions on those setting on which timer is 'no timer"

[2022-01-04 14:15] OldRon1977 commented on #440
Yes... Deactivating Mystic has done the trick.
Now the script runs normally.

[2022-01-04 14:25] OldRon1977 commented on #440
It looks like that if Mystic is enabled, shards are available but the script is waiting for new combat-energy.

In the beginning shards were out of stock after 2min, so it was no problem. Right now shards are available for a very long time. Maybe that's the problem.

[2022-01-04 15:16] Roukys commented on #440
ok so when fight is at 0 and shards I'll try that :)

[2022-01-04 15:35] Roukys commented on #440
I've tried on one account with troll mytic activated, even with shards and 0 fights it does loop :(

[2022-01-04 15:50] Roukys commented on #440
Ok I think I've been able to reproduce, debugging now

[2022-01-04 16:32] Roukys commented on #439
@ilviloon 1 2 and 4 should be good in 5.6.32, 3 I'm still working on it under #436

[2022-01-04 16:33] Roukys commented on #434
@Diadochus-Ptolemy  should be good in 5.6.32 please close if confirmed

[2022-01-04 16:34] Roukys commented on #437
@Diadochus-Ptolemy should be good in 5.6.32, please close if confirmed

[2022-01-04 16:48] OldRon1977 commented on #440
Looks ok to me :)

I also recognised that if you activate Mythic it ignores the threshold which has been set. I don't remember, if that is intended or a bug...

[2022-01-04 17:02] Roukys commented on #440
it is intended, I don't remember the issue, idea was if you want to catch the mythic then threshold is not respected.
Only works when there is a mythic and shards available.

[2022-01-04 21:24] dadanda commented on #440
[HH_DebugLog_1641331399236.log](https://github.com/Roukys/HHauto/files/7810480/HH_DebugLog_1641331399236.log)
I still seem to have the issue, when there are remaining shards during the timer, it gets stuck at the event page for the mythic event. Halting everything else.

[2022-01-04 21:35] YotoTheOne commented on #440
I think it happened to me sometime, I don't remember the issue exactly but I think it was when "+event" and "+mythic event" were both activated. And something with having 0 fights left also.
Maybe not very helpful sorry, but maybe worth mentioning.
I'm installing last version of the script to see if I can reproduce.

[2022-01-04 21:43] YotoTheOne commented on #434
I had no idea the script caused this, I almost reported it to the game devs :O
Anyway the boosters tooltips are working fine for me now, only need to wait for boosters to expire so I can test equipping them again.

[2022-01-04 22:34] Dimka2010 commented on #434
I want to say thank you. Tabs with books and gifts began to open much faster.

[2022-01-04 22:48] Dimka2010 opened #441 "Found a logical bug with Myth Girl Event + Kobans Bank"
![Screenshot_15](https://user-images.githubusercontent.com/86404525/148133936-be2d2b45-5238-4e4e-b811-cd27de8735a9.jpg)

situation.
1) i have stack of 1500 kobans. (was near 15000 in morning)
2) set the "Kobans bank" = 1500
3) When my personal kobans became near 1500 - the bot stopped.
The reason?
The Myth event main in all scripts = true.
The Myth event cannot continue do his work - because the "

[2022-01-04 22:52] Dimka2010 commented on #441
I forgot to add how I see the solution to this problem.
You need to make a check - if the player's current kobans are less than or equal to the value of bank kobans, then the priority of the Myth Girl script should be made lower, and continue other bot functions until the value of kobans in the player's pocket becomes greater than the value of bank kobans in order to be able to purchase attempts f

[2022-01-04 22:56] Dimka2010 commented on #405
Right now (in 5.6.32) the problem was solved like i wanted.
Thank you!

[2022-01-04 22:56] #405 closed

[2022-01-04 23:04] Dimka2010 commented on #408
I would really like this software innovation to come into play sooner. I'm tired of collecting secondary rewards myself, like money, balloons, condoms and other garbage in the form of new stones manually.
![Screenshot_16](https://user-images.githubusercontent.com/86404525/148135831-9a4ae706-0d56-45d5-933a-f777df2cb8a0.jpg)
![Screenshot_19](https://user-images.githubusercontent.com/86404525/1481358

[2022-01-04 23:12] Dimka2010 opened #442 "Can you fix the bug with Math calculating with 7 number on the end?"
![Screenshot_20](https://user-images.githubusercontent.com/86404525/148136291-23703bd8-070c-4c51-9455-a1941a1a3fe4.jpg)
A lot of times I gave gifts to girls and constantly this figure jumps out and breaks the whole calculation.
It would also not be bad to make combinations of the available gifts so that numbers like 1150 (taken from my head) could be easily divided into many small numbers, and not

[2022-01-04 23:41] Dimka2010 commented on #234
Still wait when this script will be appear in our bot :)

[2022-01-04 23:45] Dimka2010 commented on #430
Я надеюсь, у игроков будет выбор - собирать немедленно (как появилась возможность) или за 1 час до истечения.
У многих нет возможности держать браузер открытым 24 часа в сутки. Они включают бота, он делает свою работу часов 4-6, потом человек выключает компьютер и идёт спать, завтра работа и до вечера ни комп, ни браузер, ни бот не будут включатся. И если стоит галочка на "сбор до истечения 1 часа

[2022-01-04 23:48] Dimka2010 opened #443 "Click on "Tower of Fame" and the bot immediately expels you from there."
So.. you can try to do it manualy by yourself.

[2022-01-05 02:12] dadanda commented on #440
It doesn't happen to me anymore but that's because I have a page refresher every 15 mins, so if you have a refresher the script works fine and doesn't get stuck (because if it does the page will refresh eventually).

[2022-01-05 02:27] ilviloon commented on #439
@Roukys great, I have tested and 1 worked fine
2 and 4 I can't check at the moment because I've finished the mythic days
🥇
im closing this and leave it in #436 thank you champ

[2022-01-05 02:27] #439 closed

[2022-01-05 02:30] ilviloon commented on #422
The new give exps working just fine now with the max cap removed.
im closing this now : )

[2022-01-05 02:30] #422 closed

[2022-01-05 02:34] ilviloon commented on #443
also have the same thing and it only happens when the script is on

[2022-01-05 02:42] ilviloon commented on #442
it's true that this will ruin the automatic affs for girls.
I suggest you can increase the required affs to about 5~> up.
For example, the girl needs 1800 affs and the script adds up to 1805 or slightly higher to make sure they are ready to be upgradeable.

[2022-01-05 02:48] ilviloon commented on #441
@Dimka2010 you can try to upgrade the script i think this bug is fixed in the latest version.
![image](https://user-images.githubusercontent.com/74257523/148152850-75046b28-ee16-4093-963f-36ac68b8bfa9.png)

[2022-01-05 07:25] OldRon1977 commented on #440
I can't say that a refresher is the solution. Mine is set to 5min and I had the bug. Also I manually refreshed the page and also flushed the caches manually. It is the combination of Event, Mythic and energy, shards available. Unfortunately I have the girl now, so I can't test until next time.

[2022-01-05 07:47] cossname commented on #443
Version 5.6,26 working fine :)

[2022-01-05 08:15] YotoTheOne commented on #440
I didn't find how to reproduce this bug sorry.

[2022-01-05 08:43] #434 closed

[2022-01-05 08:45] #437 closed

[2022-01-05 09:00] Roukys commented on #442
Duplicate of #290

[2022-01-05 09:00] #442 closed

[2022-01-05 09:02] Roukys commented on #440
was able to reproduce, happening when mythic shards available and mythic activated, and 0 remaining fights
Issue was in the if conditions

[2022-01-05 09:04] Roukys commented on #430
@Dimka2010 for auto collect on daily and (if I mange to do it) free bundle I don't think I'll add a tick.
It is a 3 click action if needed to be done manually.

[2022-01-05 09:55] Franck-75 opened #444 "Bug [5.6.35] - Regression again - Go home without reason when manual operation"
**Describe the bug**
The bug was already signaled in #320 and corrected by removing "Go home" in all situations.
The script should go home (or not) after performing an operation.
Currently, if I go manually to a screen, for example, Espion Ninja fight, but not only this one, the script goes automatically home in a second. He doesn't care that it's a manual operation not an automatical one.

It was

[2022-01-05 10:30] Dimka2010 commented on #441
i have the latest version and refreshed the browser.

[2022-01-05 10:32] Dimka2010 commented on #443
today they changed the fight calculations in Tower of Fame, so if you want to fight here - do OFF the button with calculation.
and "returning on Main screen" bug in manual clicking here - still here.

[2022-01-05 11:20] iirtimD commented on #444
Bug with Collect daily

[2022-01-05 11:48] dadanda commented on #440
[HH_DebugLog_1641383113499.log](https://github.com/Roukys/HHauto/files/7814640/HH_DebugLog_1641383113499.log)
Here is another debug log when the script freezes, it got stuck at building the opponent list.
I don't know if I should make a separate issue report but ill put this here for now.

[2022-01-05 12:04] NinJaraya opened #445 "Bug [5.6.32] - Patch update messed up League power calculation"
[code]
[HH_DebugLog_1641384139977.log](https://github.com/Roukys/HHauto/files/7814716/HH_DebugLog_1641384139977.log)

[2022-01-05 12:06] NinJaraya commented on #440
[code]

[2022-01-05 13:04] Roukys commented on #440
@dadanda @NinJaraya fixed patch issue in v33

[2022-01-05 13:04] Roukys commented on #445
@NinJaraya fixed patch issue in v33

[2022-01-05 13:32] NinJaraya commented on #445
Thank you!

[2022-01-05 13:32] #445 closed

[2022-01-05 22:43] ilviloon commented on #444
@iirtimD  Hi
can you tell me how it happened? mine is still fully automatic
![image](https://user-images.githubusercontent.com/74257523/148300008-3bba6e7a-48d9-496a-a010-0262970cd301.png)

[2022-01-05 22:46] ilviloon commented on #444
@Franck-75 Hello
did you turn off the script completely before doing anything manually?
you can turn it off easily by double clicking on the info bar then you are free to do whatever you like manually

[2022-01-05 22:52] ilviloon commented on #441
@Dimka2010 do you still getting this error? if possible you should send debug file for further investigation.

[2022-01-05 23:00] Franck-75 commented on #444
No. Because if I turn it off, after I forget to turn it on.

[2022-01-06 07:37] ilviloon commented on #444
I don't say turn it off from the menu
you should try double clicking here
![image](https://user-images.githubusercontent.com/74257523/148346182-caa32041-0305-41fe-a339-093183f79510.png)

[2022-01-06 13:11] cossname commented on #444
its same, clicking or menu
bag similar to https://github.com/Roukys/HHauto/issues/427#issuecomment-990913331

[2022-01-06 17:57] Franck-75 commented on #444
Yes the #427 is related.
And deactivating the script is just a turn around.

[2022-01-07 07:58] Roukys commented on #444
@Franck-75 I'll try to fix it, but as explained in previous issue goal of the script is to automatize and for some action it does need to be on home page.
Therefore I still need to prioritize having it going to homepage, even if it was a manual action to preserve all the function of the script.
But I'll try to find a better solution in any case.

[2022-01-07 08:00] Roukys commented on #441
@Dimka2010 I'll check on the logic of the code to find the cause of the loop

[2022-01-07 08:30] Franck-75 commented on #444
Thank you Roukys. It's exactly that.
Do you want I raise another ticket for that bug : when the script is on the screen where the timeout occurs, the automatical action is not done.
Example : I'm on mission screen, there is a mission time out, the new mission is not automatically started.

[2022-01-07 08:41] Roukys commented on #444
@Franck-75 yes that seems a new issue, please open an issue and add a debug log of it so I can check

[2022-01-07 13:14] #338 closed

[2022-01-07 13:40] Dimka2010 commented on #441
i got the Myth girl .. so.. cannot repeat this what i wrote upper.
Need to wait when new one Myth girl will be avaible to repeat my steps with Set some number in Koban Bank option and wait when your personal kobans will be near this number.

[2022-01-08 01:10] Killer66 commented on #444
Same problem with Opera.

[2022-01-08 12:19] Dimka2010 opened #446 "Enhancement : Collecting awards in the Contests section"
![Screenshot_23](https://user-images.githubusercontent.com/86404525/148643793-403215b8-cadd-4cf7-b046-22c5c1495a2d.jpg)
![Screenshot_24](https://user-images.githubusercontent.com/86404525/148643794-64f83420-7d2a-4415-a1b4-94fe391868ce.jpg)
![Screenshot_25](https://user-images.githubusercontent.com/86404525/148643798-f38aba4d-48a3-496d-8779-b132ee207807.jpg)

Look.
I ask you to make sure that the c

[2022-01-08 12:25] Dimka2010 commented on #430
the problem is not to make THREE clicks with your hands, but to know at all that there are some Free bundles there. The game does not give a hint that free prizes are being distributed right now in honor of something. This is found out by accidentally clicking on that section or specifically with the expectation of a "gift" during the holidays
![Screenshot_26](https://user-images.githubusercontent

[2022-01-08 13:41] YotoTheOne commented on #444
@Franck-75 did you try activating "settings per tab" option and then do your manual actions in another tab ? That could be an acceptable workaround for you, at least one that doesn't require you to pause the script.
I personally don't use that setting for other reasons so I don't know if it's still working properly but it's worth a try.

[2022-01-08 16:31] cossname commented on #446
Useless function.
Contest rewards does not contain any currency that can be used before/after day reset.
There only Gems. Ymen, Kobans, Champion's tickets.

[2022-01-08 16:40] Dimka2010 commented on #446
was boss figths earlie...|
and this is no problem to do this Enhancement if on Missions it already did and works fine.

[2022-01-08 17:59] Franck-75 commented on #444
This is a workaround with many impediments.
The first one : it killed all my settings on the script. I have to redo them. I deactivated the script on the second tab and after closing the tab I saw my first tab with script deactivated and settings reset.
Second one : there is a popup in the other script saying that I already play in another screen.
Last but not least : when we play on 3 games with

[2022-01-10 08:03] Roukys commented on #446
@Dimka2010 it is different from mission as there is only one contest ongoing when collection occurs.
Lets re-open this case if at a moment they add other thing in the reward :)

[2022-01-10 08:14] Roukys commented on #443
tried a fix in 5.6.36 @Dimka2010 please close if it does solve the issue

[2022-01-10 08:15] Roukys commented on #444
tried a fix in 5.6.36 @Franck-75  please close if it does solve the issue

[2022-01-10 11:10] Dimka2010 commented on #443
all good.

[2022-01-10 11:11] Dimka2010 commented on #443
worked fine

[2022-01-10 11:11] #443 closed

[2022-01-12 15:17] #424 closed

[2022-01-12 15:17] #393 closed

[2022-01-12 15:18] #427 closed

[2022-01-12 15:18] #440 closed

[2022-01-13 02:41] NinJaraya opened #447 "Enhancement : Add New Boss Name: WereBunny Police"
Add New Boss Name: WereBunny Police

[2022-01-13 07:41] Roukys commented on #447
@NinJaraya done in 5.6.37

[2022-01-13 13:09] NinJaraya commented on #447
Is missing tooltip:
`HHAuto_ToolTips.en.eventTrollOrder = { version: "5.6.24", elementText: "Event Troll Order", tooltip: "(values separated by ;)<br>Allow to select in which order event troll are automatically battled<br>1 : Dark Lord<br>2 : Ninja Spy<br>3 : Gruntt<br>4 : Edwarda<br>5 : Donatien<br>6 : Sylvanus<br>7 : Bremen<br>8 : Finalmecia<br>9 : Fredy Sih Roko<br>10 : Karole<br>11 : Jackson's

[2022-01-13 13:43] Roukys commented on #447
You're right, corrected it now in v38

[2022-01-13 14:34] Dimka2010 opened #448 "Bug [5.6.38] - Bug. Broken menu"
![Screenshot_31](https://user-images.githubusercontent.com/86404525/149349547-244fbb49-3fce-42ef-8ce5-db462a0a5d0f.jpg)
this menu is out in 5.6.38

[2022-01-13 16:37] khyon commented on #448
![image](https://user-images.githubusercontent.com/22803248/149371033-40df1714-8796-4c03-b62b-2b6e3e1e3925.png)

A little mistake in line 9551, an extra quote

[2022-01-13 17:40] Dimka2010 commented on #448
thanks! all works!

[2022-01-14 02:50] NinJaraya commented on #447
https://github.com/Roukys/HHauto/issues/448

[2022-01-14 08:56] Roukys commented on #448
@khyon @Dimka2010 fixed in v5.6.39, sorry guys was made too fast

[2022-01-14 08:57] Roukys commented on #447
@NinJaraya  fixed in v5.6.39, sorry guys was made too fast

[2022-01-14 12:14] dadanda opened #450 "Mission Bug [5.6.39] - Missions doesn't collect so it doesn't get the daily reward at the end."
On some of my tabs (I have a Harem, Hentai, and both Comix accounts), the missions don't get collected. So the Koban daily bonus for completing it doesn't appear and gets collected.
(I had one with all the missions collected and one with missions not collected and checked at 5 mins before reset. The one with missions collected is fine, the other has daily missions reset set to the time at reset. I

[2022-01-14 13:10] Dimka2010 commented on #450
all missions collected good in 5.6.39
![Screenshot_33](https://user-images.githubusercontent.com/86404525/149520528-3bb1f8c4-96b5-4b2f-837c-51f4a8891114.jpg)

[2022-01-14 14:04] dadanda commented on #450
I have both items selected and still they didn't collect at 5 mins before reset.

[2022-01-14 14:34] #448 closed

[2022-01-14 18:45] Dimka2010 opened #451 "Places of Power [5.6.39] Too many clicks (returning function) here"
Open this tab and see how many times he makes a "return" at the time of putting the girls to work. My opinion is that before sending it, some kind of check takes place and it returns to the previous screen, where the girls are already exposed and sent to work.

[2022-01-15 08:38] Franck-75 commented on #444
Hi,
Sorry for the delay.
And Sorry for the correction it's not working.
Tested currently on 5.6.39.
OK, something has changed because the go home is done after 10 secondes instead of 1.
But the go home remains after a manual operation at least on league and troll.

[2022-01-15 22:53] Franck-75 opened #452 "Bug [5.6.36] - When you're on the mission screen and the mission timeout occurs, the action is not done"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Missions screen
2. Wait until the mission timeout occurs
3. At timeout, the action is not done and the timer rearmed for 1 minute.

**Expected behavior**
The action should be done.

**Screenshots**
Here are the logs (tested again today, same behavior) :

07/01/2022, 13:00:54.901:autoLoop:Time to do missions. HaremHero

[2022-01-16 00:33] #447 closed

[2022-01-16 22:21] PyritePyro opened #453 "Feature Request : Power Calculation timeout adjustment"
I have an older computer, and I have noticed that when I have 4 windows open (Nutaku, HH, GH, and CH) that often the power calculation will complete, and then a timer will move me away from the league screen, and by the time it gets back there the power calculation will be stale, ultimately resulting in all 4 windows getting 15 chalenge tokens and never properly doing league.  If I sit at my compu

[2022-01-18 21:06] iirtimD opened #454 "Bug [5.6.39] - Use PowerCalc does not work"
**Describe the bug**
When you enable Use PowerCalc, the script sorts not by strength, but by level and selects the smallest levels.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Master switch + Leagues Enable + Use PowerCalc'
2. Waiting for the opponent list is building
3. we see sorting by level, not strength..

**Expected behavior**
Sort by score and automatic fights with weak

[2022-01-19 10:55] OldRon1977 opened #455 "Enhancement : Champions for ComixHarem"
**Which feature is concerned**
With the update today, CH received the Sex God Path module, and in the beginning the champions...
It would be nice to make the option for champions also available at CH.

[2022-01-19 11:20] RuperSama commented on #455
Hi @OldRon1977 for now you can change the lines 9470 and 9471 to "true" and that should enable the options

[2022-01-19 13:32] Roukys commented on #455
pushed in v5.6.40 @OldRon1977 @RuperSama

[2022-01-19 14:19] OldRon1977 commented on #455
Looks good :)

Thanks!

[2022-01-20 21:55] smashrvmco opened #456 "Bug [5.6.40]: Daily Goals on Test server"
With the arrival of Daily Goals on the test server, it has messed up everything on the Activities Tab (Missions undone, autolooping, wont collect or do PoPs, unsure about contests, I do everything in there manually)

Just a heads up as this will probably move to the main servers next week

[2022-01-20 22:14] dadanda commented on #450
I deselected Kobans first and the issue persists. it can at times not collect it.
![image](https://user-images.githubusercontent.com/73831849/150430616-b4ee3feb-6d39-43aa-9879-233a505903eb.png)
![image](https://user-images.githubusercontent.com/73831849/150430635-469cb35f-948b-4284-b0af-a37ce4e1dea4.png)
The AutoMissions do work, just the collection might need to check again sometime before the re

[2022-01-20 22:58] #455 closed

[2022-01-21 08:46] Roukys commented on #456
@smashrvmco fixed in v41 ;)

[2022-01-21 13:16] Roukys commented on #454
@iirtimD it should choose the opponent by score, however the display stay as-is, unless you click on the button sort by score

[2022-01-21 16:08] iirtimD commented on #454
The script uses sorting by level and hits the level starting from the smallest, although it should beat the weak in strength...

[2022-01-21 16:20] iirtimD commented on #454
This is sorting by power
![image](https://user-images.githubusercontent.com/80946842/150561852-5670407d-3da8-413f-b454-3a692da64d57.png)
This is sorting by level from the smallest
![image](https://user-images.githubusercontent.com/80946842/150561942-fca926c3-2b93-4ebb-8fa4-ae0df7e067ed.png)
When the beat by force option is enabled, for some reason he hit Dane

[2022-01-21 20:36] Roukys commented on #454
The script choose the one highest il the list of score.
If all 100% it will be the first one in the script list which may not be reflecting your screen

[2022-01-25 14:12] Roukys commented on #452
@Franck-75, seems some counter are not updated unless page refreshed, I've tried to update them, please confirm if it is better

[2022-01-25 14:13] Roukys commented on #450
@dadanda I've made a fix concerning mission tab not working if already on mission tab.
Could be a reason, do tell me if it seems better with v44

[2022-01-26 12:15] NinJaraya opened #457 "Bug [Latest version] - Daily Goals has messed up everything on the Activities Tab"
With the arrival of Daily Goals, it has messed up everything on the Activities Tab

[2022-01-26 12:16] Dimka2010 opened #458 "Bot collected rewards before new contest start"
![Screenshot_19](https://user-images.githubusercontent.com/86404525/151161231-658b7383-48a1-46c9-829b-8f1da322bc9b.jpg)
![Screenshot_20](https://user-images.githubusercontent.com/86404525/151161235-f4285240-8570-4018-871b-5f8ba4928940.jpg)
![Screenshot_21](https://user-images.githubusercontent.com/86404525/151161237-91bcc6a3-ac79-48e0-86c0-9516d714fdda.jpg)

was about 30 minutes when old contest c

[2022-01-26 12:19] Dimka2010 commented on #458
sorry. all works good.
updated 5.6.46.

[2022-01-26 12:19] #458 closed

[2022-01-26 12:48] bjaume commented on #457
Solved in v5.4.46

[2022-01-26 14:03] Azadrim opened #459 "Request : Daily goals completion"
Is it possible to do the daily goals, or at least collect the ones that are already done?

[2022-01-26 17:51] Roukys commented on #459
@Azadrim do no would be to difficult to implement, let's keep this one for collection :)

[2022-01-27 00:38] #457 closed

[2022-01-27 07:44] #456 closed

[2022-01-27 16:14] bsup68 opened #460 "Bug [Script version] - Bug description"
**Describe the bug**
Activities>Missions are looping, no missions are picked and the script stays in that part of the site
Activities> Places of power does the same as above

**Expected behavior**
That the script picks new missions and claim prices of the completed missions

**System:**
- Windows 10
- Chrome Version 97.0.4692.99 (Officiel version) (64-bit)
- Tampermonkey V4.13
- **Script-Version:*

[2022-01-28 05:30] dadanda commented on #460
#450

[2022-01-28 12:05] OldRon1977 commented on #460
Please try the latest version of the script. It should be fine. :)

[2022-01-28 14:59] Franck-75 commented on #452
Hi,
Now it's working for 2 reasons.
1) The patch you made is working well
2) After 10 seconds, the script goes back to home. It wasn't the case before.

[2022-01-28 22:20] dadanda commented on #450
@Roukys had another case of it not getting claimed. But haven't checked whether it will collect later on before the reset.

[2022-01-28 23:10] bsup68 commented on #460
@OldRon1977 Thx, i'll do that, and try it out on Hentai Heroes when the site gets up and running again.

[2022-01-31 12:53] Roukys commented on #460
@bsup68 can you please close if confirmed that it does work ?
Thanks

[2022-01-31 12:53] #452 closed

[2022-01-31 15:26] bsup68 commented on #460
@Roukys Sorry forgot about that over the weekend.
The script has performed flawless the last couplw of days.

[2022-01-31 15:26] #460 closed

[2022-01-31 16:08] Roukys commented on #408
@Dimka2010 I've tried to develop it for season, which is the worst one to collect, it is now in v47

[2022-01-31 19:58] Dimka2010 commented on #408
thank you - will test it :)

[2022-02-01 13:31] dadanda commented on #450
![comix](https://user-images.githubusercontent.com/73831849/151977314-7b363c92-536c-4066-9adf-2a56a46d9d48.png)
![comix2](https://user-images.githubusercontent.com/73831849/151977322-6573c5b2-9984-4e02-8f9b-8a918dc6b63e.PNG)
There are still cases of it not collecting @Roukys.

[2022-02-01 15:12] khyon commented on #408
An option to immediately and automatically collect daily rewards will be great, a checkbox for example :P

[2022-02-01 15:12] Roukys commented on #450
:( ... I'll try to find from the code directly but not trivial....
did you identified a context in which it happens ?

[2022-02-01 15:14] Roukys commented on #408
I'll try to work on something like that.
I'm just publishing now auto collect for Path of Valor, as it is also one with multiple clicks :)

[2022-02-01 20:11] YotoTheOne commented on #459
Maybe just like the daily rewards, only collect what's left just before the end (if I forgot to collect or if it was completed by the script while I'm not around).

[2022-02-02 06:34] dadanda commented on #450
It's very inconsistent as it's not game-specific, as I can find cases of it happening in Hentai and Harem, as well as Nutaku Comix. It doesn't happen all the time as some people have said they have not found an issue with it.
The only thing that might be affecting it is that the script gets interrupted by the page refresher when it's doing the collecting.
A possible solution is to maybe have addit

[2022-02-02 09:22] Roukys commented on #459
@YotoTheOne yes IM'll have to check on that, as I've understood not everyone is at ease with the daily. I'm releasing a way to change it I'll have to think about concerning daily goals :)

[2022-02-02 09:26] Roukys commented on #408
@Dimka2010 @khyon please check v49 ;)

[2022-02-02 09:26] #446 closed

[2022-02-02 10:43] Dimka2010 commented on #408
wrong theme, but..
i have a problem. My version stoped to update automaticly. Only manualy.
what i must to do to active that again?

[2022-02-02 11:53] Dimka2010 opened #461 "5.6.50 - If you click on any locations - will return on Main Page"
try.
click - activity - missions or PoP
click - Seasons or Pachinko or tower of Fame.

will return on Main Screen

the problem is - in ON button with "collecting Daily".
if i OFF it - no transfer on Main Screen

![Screenshot_3](https://user-images.githubusercontent.com/86404525/152148753-a4dafc57-42c3-4267-9cfb-a6c96ec9ae21.jpg)

[2022-02-02 13:49] Roukys commented on #408
may be because you did a modification once : in tampermonkey go to parameter of the script and check that check updates is checked.
If you modify script by default it unchecks.
Otherwise you can also use this link to reinstall : https://github.com/Roukys/HHauto/raw/main/HHAuto.user.js

[2022-02-02 14:46] Dimka2010 commented on #461
right now - all works fine.
my thoughts - it was in time when new Daily rewards are appeare and before new missions are starts.
0.5-1 hour.
need to look in this time better tomorow.

[2022-02-02 16:26] khyon commented on #408
@Roukys i have a problem when click in pov
![image](https://user-images.githubusercontent.com/22803248/152194686-3af358a2-d100-495f-b309-f9d2ff0931f0.png)
[HH_DebugLog_1643819070690.log](https://github.com/Roukys/HHauto/files/7988289/HH_DebugLog_1643819070690.log)

[2022-02-02 17:15] Roukys commented on #408
@khyon  I'll check your log to find the issue

[2022-02-02 18:46] Roukys commented on #408
@khyon should be better in v51, seems to be a miss in checking if a reward is available.

[2022-02-02 18:56] Dimka2010 commented on #408
Can you update this menu too?
![Screenshot_4](https://user-images.githubusercontent.com/86404525/152219046-8edc901b-6ac0-4308-9ae9-3da4ce8398f8.jpg)
in left side add the same sub-menu where you will be ask - "collect anytime" or "dont collect between no active contest avaible"

![Screenshot_5](https://user-images.githubusercontent.com/86404525/152219352-bcaaf96d-cf15-442d-8c82-8267dd8f2ef6.jpg)
an

[2022-02-02 18:59] Dimka2010 commented on #408
And i am still asking you - dont collect this rewards in time when "no active contest avaible" because this last reward have 1 battle with Boss. It will help some one on next Contests or when new girls will come and need to fight with bosses :)
![Screenshot_6](https://user-images.githubusercontent.com/86404525/152219804-03e9f7f3-aa48-435f-876a-74e398ecc45c.jpg)

[2022-02-02 19:09] YotoTheOne commented on #408
@Dimka2010 I don't see the point, nobody should collect anything in the 30 mn between contests. Can you give me a use case of the "collect anytime" option ?
That would take some time to implement and could be confusing for some users.

[2022-02-02 19:23] Dimka2010 commented on #408
"Collect at any time" is how it is implemented now. There is an opportunity to take a prize - we take it.
"do not collect until there is no competition", these very 30 minutes - do not collect these very 30 minutes.

[2022-02-02 19:35] Dimka2010 commented on #450
maybe you run a multi-hour task (which requires 3-4-5 hours to complete) end-to-end or after the bot could collect a reward on the current game day on the current day.So it turns out that this task not completed "yesterday" is no longer taken today?

[2022-02-02 19:43] dadanda commented on #450
I've seen it happen during regular, non-Event days so it's because of long missions.

[2022-02-02 20:51] YotoTheOne commented on #408
I think I didn't understand correctly, because the subject is Daily rewards collection, which is done just before the end of the contest ; but you're now talking about all rewards, and even all activity. Maybe the subject needs a new name, or opening a new subject would be better.

I see your point, and I agree ! I just don't see why you would want to use the "collect at any time" option, so I see

[2022-02-03 09:45] Dimka2010 opened #462 "5.6.51 Bot stopes do anything when goes into League screen"
![Screenshot_2](https://user-images.githubusercontent.com/86404525/152318553-8a003fc9-998c-4955-ba9d-492412d6b4a0.jpg)
i ended this week championship and have some fights in stack.
bot goes here and stop doit anything .
just sit on this screen and nothing happens
![Screenshot_1](https://user-images.githubusercontent.com/86404525/152318418-ae25a0b6-b69f-4c23-b340-646f545a417f.jpg)

[2022-02-03 09:50] Dimka2010 commented on #462
when i clicked OFF Main League button - bot starting work fine.
PS same bug on https://www.comixharem.com/ too.

[2022-02-03 10:05] Dimka2010 commented on #462
found the reason - as you see on picture - here one player left unfight - so bot just "sit here" and wait something.
if manualy do fights with this last player - bot will be work fine.

[2022-02-03 10:41] Roukys commented on #462
@Dimka2010 could you send the debug log please ?

[2022-02-03 11:02] Dimka2010 commented on #462
i got lvl up - bot started to collect all new market (took too many pop-up messages about "you dont have money") and i got banned on 1 hour :)
eh :)

[2022-02-03 11:03] Dimka2010 commented on #462
give me the info - where and how i must to collect logs. i am newbie here with this :)

[2022-02-03 12:01] dadanda commented on #450
![image](https://user-images.githubusercontent.com/73831849/152338892-776aa0e6-439a-4870-8bd8-b98675cd48c1.png)
Tested the script after the latest update: had a case of not collecting, quest was an event quest.

[2022-02-03 12:06] dadanda opened #463 "Collect Season Bug [5.6.58]"
**Describe the bug**
When Collect is activated in Seasons, it will try to collect even if there's nothing to collect.

**To Reproduce**
Have collect option on with everything ticked except kisses, fights, and quest energy.

[HH_DebugLog_1643889771781.log](https://github.com/Roukys/HHauto/files/7994314/HH_DebugLog_1643889771781.log)

[2022-02-03 12:57] Roukys commented on #462
@Dimka2010 for the debug log in HHmenu -> Debug menu -> save debug log :)

[2022-02-03 13:04] Roukys commented on #463
strange it does seems to find a soft currency to collect : "collectSeasonRewards": "Collecting : soft_currency",'' do you see it available on your side ?

[2022-02-03 13:30] Dimka2010 commented on #462
i am just sell items on mark. maybe my debug will be none-usefull for you.
[HH_DebugLog_1643889771781.log](https://github.com/Roukys/HHauto/files/7994911/HH_DebugLog_1643889771781.log)
[HH_DebugLog_1643894931216.log](https://github.com/Roukys/HHauto/files/7994912/HH_DebugLog_1643894931216.log)

[2022-02-03 14:12] Roukys commented on #462
yes if possible please extract it when bot is frozen in league.
In the mean time I'll check these two to see if any clues

[2022-02-03 23:54] dadanda commented on #463
I think it's trying to collect the next reward, you would get if you rank up.
because when I activated it, it tries to collect tickets, and tickets is the next thing that I would get if I would rank up.

[2022-02-04 08:18] Roukys commented on #463
Ok I'll check un on that @dadanda

[2022-02-04 08:25] Roukys commented on #463
@dadanda please try version 5.6.52 I do hope it fixes the issue

[2022-02-04 14:40] Roukys commented on #459
@Azadrim please check v54 ;)

[2022-02-05 05:49] dadanda commented on #463
It works

[2022-02-05 16:37] GachaImpact commented on #408
so my question about the new menu and his autoclaim

In PoV, if i unlock bonus rewards, will it check if something i have not selected is inside and won't collect or does it look inside and if something is inside it collect all, because in pov u can claim single items

[2022-02-05 18:53] dadanda commented on #463
@Roukys nevermind it has a hard time collecting orbs.
[HH_DebugLog_1644087150962.log](https://github.com/Roukys/HHauto/files/8008667/HH_DebugLog_1644087150962.log)

[2022-02-05 19:01] dadanda opened #464 "Enhancement : Activities Collect Safeguards."
**Which feature is concerned**
Collect of Activities. #450

**Describe the solution you'd like**
Would want a safeguard where it will try sometime before the day rollover/reset, to try and collect the Activities.
So like let's say 1 hour before the reset, around 12nn GMT+1, it would try to collect, and if there is something to collect it would, if it doesn't nothing happens.

**Describe alternativ