[2021-01-19 17:22] Roukys commented on #125
Long wanted to work on that, but just hover on the button and fields to see :)

if ok for everyone I'll ask here for translations :)

[2021-01-19 17:24] Roukys commented on #117
Long wanted to work on that, but just hover on the button and fields to see :) (for 5.4-beta.25) #125 

if ok for everyone I'll ask on #125  for translations :)

[2021-01-19 20:28] ssh316 commented on #124
new bug for me with latest beta update (25)
settingmenu not showing
![Capture2](https://user-images.githubusercontent.com/37237815/105089294-388c0d80-5a9d-11eb-897b-58a6dd74ab1e.PNG)

[2021-01-19 22:18] Roukys commented on #124
@ssh316  ok it seems I've badly pasted for commit, can you try with v27 ?

[2021-01-19 23:22] ssh316 commented on #124
@Roukys it's working now, ty

[2021-01-20 08:18] OldRon1977 commented on #125
This tooltip: autoSalaryCheckbox: { elementText: "AutoSal.", tooltip : "if enabled :<br>Collect salaries every X mins"}, is not correct.
It should be: autoSalaryCheckbox: { elementText: "AutoSal.", tooltip : "if enabled :<br>Collect salaries every X sec"},

The timer is measured in seconds, otherwise, it would check every 120min on default ;)

A button to disable the tooltip could be handy, but fo

[2021-01-20 09:00] Roukys commented on #63
@Cronosus it seems now implemented both in test and main ;) can you confirm and close ?

[2021-01-20 09:50] minedoog opened #126 "All stopped working Jan 20 2021 Patch of doom"
Oh no....

https://kinkoid.com/patchnotes/patch-notes-hentai-heroes/

![image](https://user-images.githubusercontent.com/37474398/105157405-b414ab80-5aeb-11eb-9f91-e91a2d86d051.png)

[2021-01-20 09:52] OldRon1977 commented on #63
I can't confirm for main:
![image](https://user-images.githubusercontent.com/73475830/105157731-8fc9c680-5b0d-11eb-8e74-cbf88d9da12d.png)

[2021-01-20 09:56] Roukys commented on #63
strange : 

![](https://user-images.githubusercontent.com/73461293/105158275-154d7680-5b0e-11eb-8f25-ddaa12710449.png)

[2021-01-20 09:58] Roukys commented on #126
I would recommend to use paranoia ...

[2021-01-20 09:59] Roukys commented on #126
but I can't guarantee it will prevent being caught

[2021-01-20 10:08] Roukys commented on #126
let's also be very careful on the screenshot we post.

I'll also check on debug log data to remove any data allowing identification

[2021-01-20 10:21] cossname commented on #126
I guess time to find new game

[2021-01-20 10:32] REDOCITTA commented on #126
Well, I mean, I feel like there are things they should specify more? Like if I do not use the various auto collect features am I still  directly suspended for using scripts? Or do I just get some kind of warning or something like that?

[2021-01-20 10:47] OldRon1977 commented on #126
Also, there is the one "official" script that is accepted: https://harem-battle.club/wiki/Harem-Heroes/HH:HaremHeroes

Direct link: https://pastebin.com/raw/t3y82cvf

Well, this script just provides insight data and does no automation...
We maybe need more time between actions, with some randomness, so that it seems there is a human behind the actions.

But yes, I did activate paranoia after this

[2021-01-20 11:26] Knatan commented on #126
I propose a de-optimisation mode of the script. Make it more erratic, more forgetful to amulate human laziness.
Kind of lika a Paranoia +++ Enhance Super Paranoia mode which also slows down click intervals to 2-3 seconds.

[2021-01-20 11:28] OldRon1977 commented on #126
That's what I meant by optimizing the Paranoia-Mode ;)
The script should still do all the stuff, so we won't lose points, etc... but we should be able to set intervals when we want to be active, randomness, not spending all points at once, more time between actions, etc...

[2021-01-20 11:35] Knatan commented on #126
I think it's safer if we do lose points now and then. Just lose a little bit. The best way to trick the system is to emulate inefficiency and small bits of losses here and there.
It would still be semi-auto and a convenient script. But for now I think safety is propriety # 1.

@Roukys I have noticed **haveAff** and **haveExp** in the nfobox might potentially be used as unique identifiers if the ad

[2021-01-20 11:38] Roukys commented on #126
yes we'll have to be careful on the screenshots if needed as done I'll delete posts

[2021-01-20 12:23] OldRon1977 commented on #126
Anyone using an app (Android) to access GitHub?
I use at the moment GitHub and FastHub, but both do not support the discussion feature... Any suggestions? :)

[2021-01-20 12:36] cossname commented on #126
there is easy way to detect auto-clicks... they can just add few more checks with any new update. where nothing will changed except this checking. => new ban list ready.
p.s.
there was few check but they changed it to something else with last update

[2021-01-20 12:40] YotoTheOne commented on #126
The note says "ressource gathering scripts", nothing about auto fighting so my guess is they focus on auto salary ; I think disabling autosalary or setting a large gathering interval might be sufficient for now, but I'll activate paranoia mode just to be sure.
I suggest modifying the way thresholds work so all points are spent when the threshold value is reached.
My script is active like usual sin

[2021-01-20 13:40] Cronosus commented on #63
yeah. it is

[2021-01-20 13:43] hh1234a commented on #126
The only thing that doesn't seem to work anymore since the new patch is PowerCalc (which is a very powerful feature)...

This is the behavior I have: With PowerCalc on, the script get stuck in Leagues. I had to do all my challenges to even change anything in the script settings or even to turn off the Master Switch. I disabled AutoLeagues and everything works OK.

[2021-01-20 13:48] #63 closed

[2021-01-20 13:53] JimmyBoyHalpert commented on #126
The only thing that seems broken for me right now is auto season

[2021-01-20 14:02] Roukys commented on #126
for those having issues please use the last beta : https://github.com/Roukys/HHauto/raw/5.4-beta/HHAuto.user.js

[2021-01-20 14:03] Roukys commented on #126
I'm modifying the AutoSalary time between clicks

[2021-01-20 14:07] dark-muffin commented on #112
Done. Commented out spcified line and observed it for a while. There was a couple of ticket purcheses and none of them crashed, so I think the isuue was fixed this way.

[2021-01-20 14:34] Roukys commented on #112
ok so it is fixed in beta version :)

[2021-01-20 14:59] Tucho1m commented on #126
Hi.
I have an idea, if the "info" function would bring another button with "Full info" that shows all the counters for all things. Just to know the remaining times ... in this way it is easier to see what needs to be done. This function will ignore if the script functions are activated or deactivated and it will always show the remaining times. In order to do the collection manually xD
In cases of

[2021-01-20 15:16] Roukys commented on #126
@Tucho1m on displaying times I do find that the autorized OCD scripts does a good job, even with powercalc displayed

[2021-01-20 15:23] YotoTheOne commented on #126
@Roukys Seems to be working perfectly, thank you ! Nice work as always ^^

[2021-01-20 15:25] Roukys commented on #126
yes I was pretty proud of the tooltips , do hope we'll survive :D

[2021-01-20 16:24] Killer66 commented on #126
Well, I hope some big spenders are using this kind of scripts. I HARDLY imagine they banning people that spend money on a regular basis.

[2021-01-20 16:30] Knatan commented on #126
The Master switch just became 1000% more useful than ever^^
I think I will deactvating the master script some  23 hours per day.

[2021-01-20 20:25] Killer66 commented on #126
That would be the best course, indeed.

[2021-01-20 22:27] Knatan opened #129 "Enhancement : Revise Use energy for Tickets"
**Which feature is concerned**
Use energy for Ticket puchases always trigger at 60/100.
So I suspect the game developers can easily identify this behaviour.

**Describe the solution you'd like**
Make it random so the Energy grows from 61 to 100 before the ticket is purchased.
Make it vary each time, for example we don't want a pattern of 70/100, 70/100, 70/100, 70/100 either.
Ideally is should be

[2021-01-20 22:34] hh1234a commented on #126
BTW, good job on the beta version. Everything seems to work perfectly. I don't use "Questionable Shit" nor AutoChampion though... And I haven't have Legendary Gears or a Mythic Event since. So I couldn't test these fonctions.

[2021-01-21 07:05] Roukys commented on #126
in fact paranoia mode sets 3 type of period, active, casual and sleep.

Sleep mode is set to not do anything for 5h +- a random interval, 

casual rest is half an hour +- a random interval

active rest is a few minutes +- a random interval

[2021-01-21 09:04] YotoTheOne commented on #126
Script is working fine with paranoia active, still no ban in view.

[2021-01-21 09:11] YotoTheOne commented on #129
Current paranoia mode won't do a thing outside a "burst period". These bursts are spaced by a fixed + random time interval. There are 3 distinct fixed times, casual, active and sleep, depending on the time of the day. So your tickets won't always be bought at 60 energy if you use the current paranoia mode.

[2021-01-21 09:25] dark-muffin opened #130 "Bug [5.4-beta.28] - Script stops when paranoia mode is on"
**Describe the bug**
After a timer for rest expires, script doesn't continue its operations, as if timer is still ongoing. There are no errors in console and the latest recod in debug log is "autoLoop Disabled", so I believe there is an issue with script's internal logic. See debug log and settings (had to rename json to txt to attach it here) attached.
[HH_DebugLog_1611220600595.log](https://gith

[2021-01-21 10:19] OldRon1977 commented on #130
I suggest you try a different browser like MS Edge.
It looks like the script has sometimes problems with browsers that are not so widespread.
It might be the script or the way Tampermonkey is supported by Opera...

[2021-01-21 11:14] Roukys commented on #126
I'm working on a more human paranoia also...

[2021-01-21 11:14] Roukys commented on #126
I'm working on a more human paranoia also...

[2021-01-21 13:23] Roukys commented on #126
@Knatan @Killer66 @minedoog @cossname @JimmyBoyHalpert @YotoTheOne @hh1234a @Killer66 @Tucho1m @REDOCITTA 

 I've got another decision to propose

I think I will move this repository to private, which will have some drawbacks : 

*   I'll have to add people in the repository for them to see it
*   Everyone will have access to modify code
*   for update you'll need to be connected to github

Advant

[2021-01-21 13:30] OldRon1977 commented on #126
This is a step that is absolutely understandable.
Of course, this will slow down the distribution of the script, but it will also make it more difficult for developers to get access to our code.
The question will be, how do we handle it in the future, if someone wants to have access to the code.
We can hardly start a person query ;)

So it more or less boils down to, do we close the repository and

[2021-01-21 13:45] Roukys commented on #126
yes ;( 

I would also prefer to keep it public, so it is not only for few people ...

Of course everyone will be able to suggest new comers.

also will mean that will all have to police ourselves on the private repository, you'll will all get full accesses :)

[2021-01-21 14:11] YotoTheOne commented on #126
Although the script being available to less people would provide us more advantage, for now I'm against.
I don't think we are in real danger.
The devs have made empty threats in the past, I don't think they truly have the means to detect and ban all script users. I don't think it would be profitable for them neither. I believe they are only threating to reassure some players complaining. Many scri

[2021-01-21 15:50] Roukys commented on #126
@YotoTheOne I do agree with you, even though I propose it I would prefer to keep it public, that the fairest thing to do

[2021-01-21 16:26] Killer66 commented on #118
No freeze in leagues in a long time, script is working 120%

[2021-01-21 16:26] #118 closed

[2021-01-21 16:31] Killer66 commented on #126
Hard decision. But I think we can re-open in a while when things are calmer?

[2021-01-21 16:32] Killer66 commented on #126
Also, making all members have full access, we don't risk some sort of sabotage?

[2021-01-21 16:55] Roukys commented on #126
yes clearly or errors ... 

and at a moment that is the game, the script does allow things not allowed by HH so ...

I would prefer to keep it public and work on enhancing it, and let's see. has been a day and no bans

[2021-01-21 16:56] OldRon1977 commented on #126
I agree to both statements... We should go private for a few days/weeks to see how things develop.
To give everybody full access is risky or does GitHub only works this way?

[2021-01-21 16:57] Roukys commented on #126
even going prevent won't remove everything I think

[2021-01-21 17:37] OldRon1977 commented on #126
Here is the documentation about public, private or internal Githubs:

https://docs.github.com/en/github/administering-a-repository/setting-repository-visibility

[2021-01-22 06:59] CodeandmoreCode-art commented on #126
Managing the activities of multiple accounts on an individual level would be impossible. Hence, I believed that the developers would filter those that have give inputs or perform actions on the sever in a repeating definite time intervals (which is in suspicion of utilization of scripts, because, for example, it is very rare for people to collect salary in the game at exactly 10 minute apart).

So

[2021-01-22 07:06] Roukys commented on #126
didn't know the expression "take my suggestion with a grain of sand" :)

yes that is implemented on most repetitive click ( getSalary and get opponents level)

Randomizing the performed action is more difficult, though I don't see an issue there, even doing manually I do actions in a certain order

Paranoia mode sets wait time which are also kind of randomized, so for me it is a good start

[2021-01-22 12:11] Knatan commented on #126
On the topic of human behaviour of salary  feature. I think something like this will be good:
- wait 14 to 34 minutes
- Go to Harem
- click 4 to 8 girls only
- repeat

Assuming Paranoia feature is activated to emulate sleeping schedule and workday schedule. The above pattern would be very close to human behaviour.
It's very lossy, you lose out on money. But it's realistic and safe.

[2021-01-22 12:18] Tucho1m commented on #126
I came up with an idea .. a new function to enter randomly in the different places club, activities, pachinko, in some places, just to watch, wait from 3 to 15 seconds inside for example .. and then go back home ... I usually go to many places just to look xD
I'm human? I already have doubts xD

[2021-01-22 13:05] Roukys commented on #126
@Knatan when I'm collecting salary manually I do collect all the girl one by one using the grid view and in fact collecting nearly 10 or twelve in a few secs

[2021-01-22 13:42] OldRon1977 commented on #126
me too :)
there was a time where you could switch between girls via the tab key, that was so fast, that nobody bought the monthly card because it was not needed :)
Now, this method does not work anymore, but still, I would be fast enough to collect many girls in a few secs...

[2021-01-22 14:24] Roukys commented on #126
fixed pop in test and added few delay

collect and league opponent list will be longer

[2021-01-22 17:00] dark-muffin commented on #130
Tried it on latest Chrome and got the same result - it stopped after ~30 min casual rest. I'll continue investigating this, maybe I'll be able to pinpoint specific conditions when this happens... For now all I can say is that browser was minimized during the countdown, maybe that's the issue, though I'm not sure.

[2021-01-22 17:15] Roukys commented on #125
I'll have to think about that :) thanks for the checks @OldRon1977 => seems the error was on the wiki for all this time :)

[2021-01-22 19:12] Knatan commented on #126
@Roukys I suspect we are thinking of 2 different things. You are referring to the question of "what is humanly possible?"
And I'm referring to "what can the average lazy person tolerate to do?"

To get a proper humanized algorithm we need to take both questions into account
So if you have 500 girls in the harem, and you are able to get 10 girls every 5 seconds, that means you have to click, click,

[2021-01-22 19:13] #129 closed

[2021-01-22 21:06] notmyHHname commented on #126
I signed up on github just to comment on this, I use to read, not write.

First of all, thank you for the effort put into this script. Let's all agree HH it's a really boring "game", if one can call it that, and the script makes it bearable for the collecting part.

My 2 cents on the matter: I don't think you guys should stress too much over it. Think about it, these are developers who aren't even

[2021-01-22 21:50] cricox commented on #126
Sorry for the bad translation, I don't know English very well and I had to resort to Google Translate.

I've been playing for two years and practically using the dorten script. I don't know the script language very well and sometimes it has really been difficult for me to find the access to install the tampermonkey, if I have succeeded it has been thanks to the links that sometimes some kind user

[2021-01-23 06:31] CodeandmoreCode-art commented on #126
The issue raised by several users concerning the account suspension behavior from HH is an anomaly some can take a bet on. However, with insufficient intel and certainty regarding the specifics of how HH will catch and handle users that utilize script, it is better off to prepare for such event.

It depends on how @Roukys would manage this situation through the paranoia mode. Personally, I felt @R

[2021-01-23 13:57] Roukys commented on #125
for translators :
`HHAuto_ToolTips.en = {
    saveDebug: { elementText: "", tooltip : "Allow to produce a debug log file."},
    gitHub: { elementText: "", tooltip : "Link to GitHub project."},
    saveConfig: { elementText: "", tooltip : "Allow to save configuration."},
    loadConfig: { elementText: "", tooltip : "Allow to load configuration."},
    master: { elementText: "Master switch", toolti

[2021-01-23 13:59] Roukys commented on #126
I'll check the feasability but for salary a solution could be :

- Replace min salary time by an integer
- get salary to collect sorted by amount
- only get the X first % each time (or X first salaries)

[2021-01-23 14:19] CodeandmoreCode-art commented on #126
A query, how would you define X in "X first % each time"?

[2021-01-23 14:50] Roukys commented on #126
X would be a parameter in place of min time for salary, you can choose it (up to everybody)
could even add a random +- to this X
Anyways thanks all for your feedback, I do prefer the script to be public, and open to anyone

[2021-01-23 14:51] Roukys commented on #126
@all tomorrow I'll move this as a discussion
@OldRon1977 on my side I'm connecting directly to gitHub on my chrome on android for following when I'm not updating the code

[2021-01-23 14:53] CodeandmoreCode-art commented on #126
Sure, the progress of the script is going soundly.

I am about to learn Javascript, so perhaps, I can help you with the implementation. But that's the future that I cannot foretell.

[2021-01-23 14:57] Knatan commented on #126
@Roukys a salary feature like that sounds really awesome.

There are two more thing that concerns me.
The first is Use-Energy for purchasing tickets. Even with paranoia mode on, there will still be a high ratio of purchases made exactly at 60 energy. I might be paranoid about this, but the game developers might be able to clue together the statistics and pinpoint script users who have this higher

[2021-01-23 15:04] Roukys commented on #126
@Knatan not exactly 60 because if you have parnaoia, when returning from paranoia it may not be 60, but 61 or 62
and when buying multiple it would be in the case you've taken energy from the season and multiple clic on the button
also I'll double check but there is a random time in between each bought ticket.

Same thing for buying option I'll recheck but normally there is a timeout in between eac

[2021-01-23 17:13] YotoTheOne commented on #126
@Roukys : OldRon1977 already made a discussion topic, [](https://github.com/Roukys/HHauto/discussions/128)
In fact we're waiting for your input there to document the paranoia parameters so everyone can change them to their liking ;)

[2021-01-25 07:19] #114 closed

[2021-01-25 07:19] #119 closed

[2021-01-25 07:19] #120 closed

[2021-01-25 07:19] #123 closed

[2021-01-25 17:01] Roukys opened #131 "Translation needed for tooltips and menu item"
Hello all,

I'm taking translations for the beta new menus and tooltips.

Idea being to translates line : HHAuto_ToolTips.en
Rules :

- element part has to be short not to break the menu -> you can try by modifying the lines directly into tampermonkey (do keep HHAuto_ToolTips.en as for the moment I've not redirected other language
- for carriage return, as in the example, you can use <br>
- only u

[2021-01-25 21:43] maxime843300 commented on #131
hi @Roukys I made a french translation for the tooltips
[tooltipsFR.txt](https://github.com/Roukys/HHauto/files/5869841/tooltipsFR.txt)

[2021-01-25 21:46] SwiftrHub commented on #126
Here's the actual passage in the ToU:
"Not to create or use and/or circulate “auto” or “macro” computer programs including without limitation “cheats”, “mods”, “hacks”, “bots” and “trainers” programs or software applications, and/or use the Services via a mirror site. Provider might allow this use at its sole discretion."

I believe other sites like Nutaku use their own Terms of service. But what

[2021-01-26 08:23] Roukys commented on #131
@maxime843300 thanks, I've implemented it in 5.4-beta.30

[2021-01-26 16:23] nothhname commented on #126
I made a special account just to comment... I'm sure a few people have now... Personally I don't think making the script private would accomplish anything.  The notice was probably because they've gotten some complaints and they're trying to put on a show to shut people up.  They might do a couple targeted bans to make it look like they're doing something but unlikely the vast majority of people h

[2021-01-26 16:34] nothhname commented on #126
I just had a thought RE: private repository... Instead of making the code private it might be good to set up a private / invite only repository (probably without any code) as a place to discuss ideas for how to deal with script detection or the like without putting it out in the open.  I mentioned some thoughts above but I have one other concern/thought that I don't want to post publicly because o

[2021-01-26 18:32] dadanda opened #132 "[5.4-beta] The numbers when upgrading girls affection is just in jumbles."
**Which feature is concerned**
The accurate numbers in the market for upgrading the girls' affection are just a mess.

**Describe the solution you'd like**
Formating issues.

[2021-01-27 11:39] Roukys commented on #132
@dadanda I think it is OCD script which display them ;)

[2021-01-27 12:40] YotoTheOne opened #133 "Auto PoP [5.4-beta.28] - not working"
Seems last update this morning changed something about the PoPs.
The script seems unable to get a timer and all PoP's indexes are "undefined".
Log is attached.

[HH_DebugLog_1611751039631.log](https://github.com/Roukys/HHauto/files/5880218/HH_DebugLog_1611751039631.log)

[2021-01-27 13:13] OldRon1977 commented on #133
There was an update at PoP which is implemented at Beta 29, please update and give us feedback if this resolves your problem. :)

[2021-01-27 14:18] Zwackle commented on #131
I can translate it into german, if still needed

[2021-01-27 14:18] Zwackle commented on #133
Could you link the beta 29? I cannot update my beta 28 script with the updater

[2021-01-27 14:52] JimmyBoyHalpert commented on #133
What is the link for the beta releases?

[2021-01-27 16:52] YotoTheOne commented on #133
The update to beta 30 fixed it.
I don't know why it worked fine until this morning, that's strange.
Thank you !

[2021-01-27 17:15] Killer66 commented on #133
Last update (today) messed with PoP.

[2021-01-28 01:39] ZaryImortal commented on #131
1. How do I upload files here?
2. In "calculatePowerLimits" it says red / yellow, but in the text it says red / orange. That's right?

[2021-01-28 03:01] GerraldT opened #134 "defeat villians not counting autorun"
I am using beta 5.4-30 and have noticed since the update this morning that the count does not incriment correctly for the Defeat Villians / defeat players or defeat chmpions in the long challenge.  It may need to be delayed so that you the skip button is available before counting the auto.  It would be nice to add a delay like was done for the salary collect.

[2021-01-28 08:36] Roukys commented on #131
you're right it should be red orange, let me correct in my own file

[2021-01-28 08:42] Roukys commented on #131
language in hh seems to be only :
Deutsch (Beta)
English
Español
Français
Italiano
日本語
Русский (Beta)

[2021-01-28 22:22] ChristianOlszowa commented on #131
Puuh, sry in the fist Place for our german language xD
[tooltips_german.txt](https://github.com/Roukys/HHauto/files/5890290/tooltips_german.txt)

[2021-01-29 09:02] OldRon1977 commented on #131
@ChristianOlszowa : thanks for the first draft :)
I made a quick check and fixed 2 or 3 typos and 1 or 2 expressions :)

[tooltips_german.txt](https://github.com/Roukys/HHauto/files/5892770/tooltips_german.txt)

[2021-01-29 12:20] Roukys commented on #134
Ive check everything seems counted on my side

[2021-01-29 13:42] cossname commented on #134
@GerraldT just set "Threshold" near max, value, when you need to collect more before next "event stage".

[2021-01-29 16:05] dark-muffin commented on #130
Alright, I made additional tests and found out that it doesn't matter whether the browser is minimized or not, also looks like it doesn't matter which options are activated - as long as script has something to do, it stops each time the paranoia is activated. Additionally, for Chrome with paranoia on, script does not activate automatically right after first load of the page: you have to manually r

[2021-01-29 17:57] OldRon1977 commented on #130
Strange... I also did run the script under chrome, using Tampermonkey. It worked fine, no stops at all. Do you have other scripts or extensions running as well? Maybe the problem is caused by another trigger.

[2021-01-29 21:29] GerraldT commented on #134
I was having the issue when collecting multiple 3+ it would not always count every one.  If it was a single it counted just fine.

[2021-01-30 04:10] cossname commented on #134
counter is server-side, try to reload page

[2021-01-30 05:03] dark-muffin commented on #130
Nope! The thing is that after you suggested to use a different browser, I specifically downloaded and installed the latest Chrome, then installed Tampermonkey on it and then installed the beta version of the script and reproduced the problem. So, it's fairly safe to say that the script is the only thing that runs there, everything else is left completely by default.

Strange indeed. Is there a way

[2021-01-30 07:27] deuxge commented on #134
When I play on a "slow" computer, I need to comment the action "gotoPage("home");" in CrushThem function l 3030 of v5.4 beta29. Otherwise it never count the combat at all, it displays a network fetch alert (It works on a more powerfull computer). (It is with Firefox).
It could be linked.

Commenting this line will let the game display the "OK" button after the combat. There is already a function d

[2021-01-31 15:02] OldRon1977 commented on #130
Here are my settings from the debug file, should be easy to compare via word :)

"HHAuto_browserVersion": "chrome 88.0.4324.96",
  "HHAuto_scriptHandler": "Tampermonkey 4.11.6120",
  "HHAuto_version": "5.4-beta.30",
  "HHAuto_HHSite": "https://www.hentaiheroes.com",
  "localStorage.HHAuto_Setting_plusEvent": "false",
  "localStorage.HHAuto_Setting_autoLeaguesThreshold": "0",
  "localStorage.HHAuto

[2021-02-01 07:09] Roukys commented on #130
@dark-muffin seems most of your parameters are disabled is that normal ?

[2021-02-01 08:00] #133 closed

[2021-02-01 08:07] dark-muffin commented on #130
Yep, I tried to check whether this behavior depends on options activated, so I disabled almost all of them eventually. See settings file from issue description, it's the one I use in real life.

Also, if you still will not be able to reproduce the issue, here is something for you: [image](https://drive.google.com/file/d/1ev-UmpPwASM4cdjWnWXQgtAtgYnYJRRA/view?usp=sharing)
It's a virtual machine ima

[2021-02-01 08:51] #40 closed

[2021-02-01 08:51] #50 closed

[2021-02-01 08:51] #52 closed

[2021-02-01 08:51] #75 closed

[2021-02-01 08:51] #98 closed

[2021-02-01 08:51] #110 closed

[2021-02-01 08:51] #111 closed

[2021-02-01 08:51] #112 closed

[2021-02-01 08:51] #124 closed

[2021-02-01 08:51] #125 closed

[2021-02-01 08:53] Roukys commented on #117
I'll try to publish beta in main this week.

[2021-02-01 09:57] OldRon1977 commented on #130
Hmmm... seems like the debug-file is not correct then.
Here is the screenshot according to the debug-file:
![image](https://user-images.githubusercontent.com/73475830/106442925-32723580-647c-11eb-871a-d3d7674f4e97.png)

[2021-02-01 10:06] Roukys commented on #130
I only checked the last debug where it was mostly disabled ;)

downloading the VM ...

[2021-02-01 10:09] Roukys commented on #130
the autoloop disabled is strange. loop should continue during paranoia

[2021-02-01 10:12] OldRon1977 commented on #130
Yep... I also checked the debug. This debug and the screenshot should show the same, but they are not. I will do some more testing, maybe it is because of different open tabs. Otherwise we have a bug at the debug ;)

[2021-02-01 10:14] Roukys commented on #130
the screenshot with undefined:undefined is an issue also

[2021-02-01 10:27] Roukys commented on #130
@dark-muffin could you try with very last beta (I've fixed the log so it display caller function, to understand from where do come te autoloop disabled)

And please use your normal setting before producing the debug log

[2021-02-01 10:43] Roukys commented on #130
last beta : https://github.com/Roukys/HHauto/raw/5.4-beta/HHAuto.user.js

[2021-02-01 10:47] Roukys commented on #131
published in last beta https://github.com/Roukys/HHauto/raw/5.4-beta/HHAuto.user.js

[2021-02-01 11:01] ChristianOlszowa commented on #117
Is it possible that you accidently have deactivated the UI, in 5.4.31?

[2021-02-01 11:06] OldRon1977 commented on #117
Yep... UI is gone at the moment... I will roll-back to Beta 30 atm

[2021-02-01 11:07] Roukys commented on #117
let me check, possible there is an error with german translation ...

[2021-02-01 11:08] Roukys commented on #117
as I know both of you are using it

[2021-02-01 11:11] OldRon1977 commented on #117
I use EN as my default...

[2021-02-01 11:11] Roukys commented on #117
ok my copy paste issue is back there ...
trying to commit again ...

[2021-02-01 11:12] Roukys commented on #117
file is fully corrupted it seems paste do keep text at the end.
Moving back to kraken for commit

[2021-02-01 11:15] Roukys commented on #117
seems fixed in beta 32 but github still redirects to v31.
will have to wait a few mins

[2021-02-01 11:52] OldRon1977 commented on #117
Yep... fixed :)

[2021-02-01 15:24] dark-muffin commented on #130
Done. Here is how script state look right after the page loads for the first time:
![script state after load](https://user-images.githubusercontent.com/76837441/106478457-092cc600-64cb-11eb-81cb-eecc3604247a.png)
Corresponding debug log: [HH_DebugLog_1612190542344_load.log](https://github.com/Roukys/HHauto/files/5904766/HH_DebugLog_1612190542344_load.log)

Here is how everything looks when rest ti

[2021-02-01 15:44] Roukys commented on #130
thanks I'll check on that :)

[2021-02-01 15:48] Roukys commented on #130
I do see strange things :
"localStorage.HHAuto_Setting_autoPowerPlacesIndexFilter": "undefined;undefined;undefined;undefined;undefined;undefined;undefined;undefined;undefined",

[2021-02-01 15:57] dark-muffin commented on #130
Ah, yes, this must be related to power places numbers bug reported here earlier (can't find the issue, must be closed already): when you activate "Auto power places" option script scans power places and this is what it puts in the settings afterwards. I noticed it and then just disabled power places switch.

Most likely not related to our stopping issue here since power places broke after one of t

[2021-02-01 16:07] Roukys commented on #130
ok :) normally last version should correct.

I'm trying to execute your VM :) (just need to export it to virtualBox :))

However I do see the last logs are Opera, and I think it does not work to well with it.

[2021-02-01 16:22] dark-muffin commented on #130
You are right, latest logs were made under Opera since I haven't seen any differences in behaviour from Chrome. I can reproduce this under Chrome and attach new logs, if you need.

[2021-02-01 16:31] Roukys commented on #130
I'll try and execute first your VM.

that is a very strange behavior indeed ...

[2021-02-01 16:42] Roukys commented on #130
in your last logs :
"2021-02-01T14:44:46.548Z:flipParanoia:\"PARANOIA: Casual rest\"",
    "2021-02-01T14:44:46.548Z:setTimer:\"paranoiaSwitch set to 18659:20:18:15 (33:29)\"",
    "2021-02-01T15:18:16.340Z:flipParanoia:\"PARANOIA: Casual burst\"",
    "2021-02-01T15:18:16.342Z:setTimer:\"paranoiaSwitch set to 18659:20:21:06 (02:50)\"",
    "2021-02-01T15:18:16.343Z:autoLoop:\"autoLoop Disabled\""

[2021-02-01 17:25] dark-muffin commented on #130
I think it should be line 3770 instead of 3370. Changed it as you specified, but this thing decided to go to sleep for 8 hours...
Can you tell me where I can change value of the timers for all paranoia phases to facilitate testing?

[2021-02-01 19:06] Roukys commented on #130
strange 8h is for midnight.
http://css-workshop.com/check-cookies-local-and-session-storage-in-ie11-chrome-opera-and-firefox/#:~:text=In%20Opera%20you%20must%20click,%E2%80%9CCookies%E2%80%9D%20and%20explore%20it.

find storage and a key named HHAuto_Temp_Timers in sessionStorage.

Clear it and reload

PS it does remind me I wanted to do a debug menu to help with reset temp vars ...

[2021-02-02 07:53] dark-muffin commented on #130
It was around 23:00 according to my local time when script switched to sleep rest.

Okay, tried modified script, the issue still persists. New debug log is attached: [HH_DebugLog_1612238704138.log](https://github.com/Roukys/HHauto/files/5909517/HH_DebugLog_1612238704138.log)

[2021-02-02 14:01] cossname opened #135 "Enhancement : hide Claimed rewards from seasons"
i dont have info to adapt this page for Season pass, so this is code for Seasons page wthith out season pass
ss before:
![image](https://user-images.githubusercontent.com/56331601/106610569-bfa2b080-6588-11eb-888b-8373a7a42bae.png)
ss after:
![image](https://user-images.githubusercontent.com/56331601/106610766-f4166c80-6588-11eb-9fb8-540d1b50df3c.png)
code
[code]

[2021-02-02 15:26] OldRon1977 commented on #135
Interesting...
I can provide testing (or maybe even data) for the season pass.

[2021-02-02 15:50] Roukys commented on #130
my current understanding is that the issue is that new page does not seems to load ...
But I'm still unable to reproduce but just realized that you're using nutaku...

@OldRon1977 you're using nutaku or only hentaiheroes ?

I don't know how many people are playing on nutaku.

Can you put back 3370 to :
`window.top.location.reload();`

and replace 3365
`window.top.postMessage({reloadMe:true},'*');`

[2021-02-02 16:07] OldRon1977 commented on #130
I use hentaiheroes...

[2021-02-02 16:14] Roukys commented on #130
that's why we can't reproduce ...
@dark-muffin sorry just realized you were using nutaku ...

[2021-02-02 16:18] Roukys commented on #135
I do love your functionnalities @cossname
Implemented in new beta ;)

[2021-02-02 16:18] Roukys commented on #117
Added a menu for debug with debug log, reset settings, reset temporary settings of the script
Added an option to mask claimed rewards on Season, thanke @cossname
Modified logging of the script for easier reading

[2021-02-02 16:20] Roukys commented on #135
@OldRon1977 up to you for test with season pass.
I don't know if rewards are collected by pair or one by one, could need to change implementation

[2021-02-02 16:27] OldRon1977 commented on #135
At the moment the script filters as soon as one of the both is claimed.
I had a stage with both (normal and season) to collect.
I collected the normal reward and it directly filtered the season reward.
Next, I took another where both rewards were available and claimed the season reward, and it immediately filters.

So how can I provide data to identify the normal and season rewards?

[2021-02-02 16:51] Roukys commented on #135
can you try and replace line 1053
`var arrayz = $('.rewards_pair');`
by
`var arrayz = $('.reward_wrapper_s');`

if it does work I do need to find a way to differentiate season pass and no season pass.

[2021-02-02 16:55] Roukys commented on #135
then you can try with replacing the function with
`function moduleSimSeasonReward()
{
    var arrayz;
    if (Storage().HHAuto_Setting_SeasonMaskRewards === "true")
    {
        if ($("button#get_seasons_pass_btn").length)
        {
            arrayz = $('.rewards_pair');
        }
        else
        {
            arrayz = $('.reward_wrapper_s');
        }

        var obj;
        if (arrayz.

[2021-02-02 17:48] OldRon1977 commented on #135
Hmmm...

the first try left me with this:
![image](https://user-images.githubusercontent.com/73475830/106640942-f24ba980-6586-11eb-860d-6a3ac387de82.png)

the second larger function with this:
![image](https://user-images.githubusercontent.com/73475830/106641054-14452c00-6587-11eb-91b2-f7022eb833d8.png)

Original script:
![image](https://user-images.githubusercontent.com/73475830/106641209-3ccd260

[2021-02-02 18:22] Roukys commented on #135
maybe try this
[code]

[2021-02-02 21:06] OldRon1977 commented on #135
New function has also a funny result:
![image](https://user-images.githubusercontent.com/73475830/106661922-136dc380-65a2-11eb-8888-75dd36ff0b64.png)

Better?
![image](https://user-images.githubusercontent.com/73475830/106662613-e40b8680-65a2-11eb-8184-139c04059ae2.png)

[2021-02-03 07:12] Roukys commented on #135
ok so new function work to see if you have season pass but need to remove pair when  both are taken
let's try this :
[code]

[2021-02-03 07:52] OldRon1977 commented on #135
Works like a charm :)

![image](https://user-images.githubusercontent.com/73475830/106715232-206bd080-65fd-11eb-98f5-14be7ceb3942.png)

[2021-02-03 10:56] Roukys opened #136 "Request : New Club champion"
**Describe the solution you'd like**
Auto club champion

[2021-02-03 10:59] Roukys commented on #117
adde support for club champion on test

[2021-02-03 11:16] OldRon1977 commented on #136
Is this new on the test server?

[2021-02-03 12:37] Roukys commented on #136
yes it is, in the club there is a shared champions since yesterday I think

[2021-02-03 13:56] OldRon1977 commented on #135
Beta 3 ?

Why not include it in Beta 4?

[2021-02-03 14:07] Roukys commented on #135
I think I've pushed it in beta 4, where did you see beta 3 ?

[2021-02-03 15:30] OldRon1977 commented on #135
Hahahaha :)

I was misdirected by the automatic entry....
Now it says that it goes to Beta 5... or to Beta, 5 hours ago ;)

![image](https://user-images.githubusercontent.com/73475830/106769116-e6baba00-663c-11eb-9ecd-a03014ad2264.png)
As I originally looked, it was 3 hours, so I came up with Beta 3... My bad ;)

[2021-02-03 15:36] Roukys commented on #135
:D
could have happened though :)

[2021-02-04 07:17] #132 closed

[2021-02-04 07:44] Roukys commented on #130
@dark-muffin I've created an account on nutaku.

As it is executing in a subwindow I need to understand how to deal with...

seems you should replace
`window.top.postMessage({reloadMe:true},'*');`
with
`location.reload();`

is there other functionalities you've seen not working there ?

[2021-02-04 08:08] dark-muffin commented on #130
Tried this and confirm that issue is no longer present.

Nope! Everything else seems to be working fine, at least features that I use. If I found such problems I would've created a ticket here as usual.

[2021-02-04 08:37] Roukys commented on #130
thanks @dark-muffin, with your confirmation I'm updating the beta with modification :)

[2021-02-04 08:47] Roukys commented on #130
@dark-muffin it is fied in last beta

[2021-02-04 09:32] Roukys commented on #134
that is strange that it does decrease your fight count without increasing the counter
I would say that browser side decreased the counter but not on server and a full refresh should give you back the fights.
could you try with a
`setTimeout(gotoPage("home"),10000) `

[2021-02-05 03:12] Killer66 commented on #136
Shared champion? Care to elaborate ma man?

[2021-02-05 15:08] cossname opened #137 "Enhancement : auto-sell function"
@Roukys, do we need this function for public version?
i have refactored it few times, but it's still looks messy
sequence:
- sell all non legendary armor
- sell all legendary items except hero class(mono), multi class(rainbow)
- compare left items after 2 prev. steps
- sell all except 2 armor sets( include equipped one): 1 mono, 1 rainbow (equiped included).

**Selection based on max.main class st

[2021-02-05 15:25] Roukys commented on #137
@cossname it is linked to #61, yes I think needs is still there but need extra care to not be too visible.

[2021-02-05 15:26] Roukys commented on #66
working slowly on this one.
finished to design a function to calculate best use of aff, needs now to implement it with care not to draw attention when using this function.

[2021-02-05 15:28] cossname commented on #137
@Roukys  what do you mean by "not be too visible" ?

[2021-02-05 15:30] OldRon1977 commented on #137
I would love an auto-selling function.
All non-Epic gear should be sold.
All non-class-Epic-mono should be sold
All other gear should be compared... I use the Power-Calc-Function and simply compare the value before and after the switch. If the value is better, then I keep the item, otherwise, I sell it. :)

[2021-02-05 15:35] cossname commented on #137
@OldRon1977, Power-Calc-Function does not calculate your overall Power, this calculation just for current yor opponents
For different opponents you need different gear
You use class-Epic-mono gear? really? Im cosidered only legendary ones

[2021-02-05 15:42] OldRon1977 commented on #137
Ouchy... Sorry, my bad... Yoda would say: "Purple, I use..."
So yes, Legendary... All other stuff is crap ;)

I use the PowerCalc because it helped me to identify roughly which gear is better when it comes to combinations of main-stats and endurance... especially for me as a KH-Player endurance is relevant, so my special abilities kick in... I use it as a best guess and because I am too lazy for o

[2021-02-05 15:55] Roukys commented on #137
@cossname I do mean adding randomness in the selling and not to much mass selling ;)

[2021-02-05 16:04] cossname commented on #137
@ Roukys still dont get it.
but here is code:

 ** adding EventListener **
[code]

**Main function code**
[code]

[2021-02-05 16:21] Roukys commented on #137
I do mean as you've done add a random intervall and maybe do not sell all in one go :)
so it is not seen on server side as a robot.
no one will selle their 11K objects in one session :)

[2021-02-05 16:31] cossname commented on #137
you can sell them, all 11k objects, but you will do only.. selling ofc :)
so this will took 5500-7700 seconds... almost 2 hours.
this function stoped once you leave shop->armor tab, manualy or any other action

[2021-02-05 17:51] OldRon1977 commented on #137
As always, I can provide testing :)

[2021-02-06 11:56] Olaf-san commented on #117
Places of power no longer function.

[2021-02-06 15:25] OldRon1977 commented on #117
Please make sure, you use the latest beta and if it still does not work, please provide us with the debug file from the menu :)

Thanks

[2021-02-06 17:42] Olaf-san commented on #117
Thank you very much for your prompt response. Here is the file.
[HH_DebugLog_1612632917216.log](https://github.com/Roukys/HHauto/files/5937325/HH_DebugLog_1612632917216.log)

[2021-02-08 08:19] Roukys opened #138 "Request : allow mythic to bypass paranoia and buy comb"
**Describe the solution you'd like**
Add buy comb for mythic events
allow mythic to bypass Paranoia, and make sure to run each wave

[2021-02-08 08:23] Roukys commented on #138
finnished a little late for mythic ...

[2021-02-08 10:19] OldRon1977 commented on #117
@Roukys : can you take a look at the debug file from Olaf-san?
PoP stopped working, maybe you can find the needle in the haystack ;)

[2021-02-08 10:48] Roukys commented on #137
@cossname
once class and after id, is it normal ?
if (shop_on[0].className == "selling") {
            //Nothing to do
        } else {
            shop_on[0].id = "selling";

[2021-02-08 10:52] Roukys opened #139 "[5.4-beta.38]Nutaku : PowerPlaces no longer works"
Thank you very much for your prompt response. Here is the file.
[HH_DebugLog_1612632917216.log](https://github.com/Roukys/HHauto/files/5937325/HH_DebugLog_1612632917216.log)

_Originally posted by @Olaf-san in https://github.com/Roukys/HHauto/issues/117#issuecomment-774513422_

[2021-02-08 10:52] Roukys commented on #117
Opened it as new issue :)

[2021-02-08 10:56] Roukys commented on #139
@Olaf-san
could you

1. enable only powerplaces
2. go in debug menu and use the button "Delete temp storage" to reset temp var
3. Do tell me what info show about powerplaces.
4. Send the new debug log :)

Lets try and solve it, I think the n°2 should help

[2021-02-08 11:07] Roukys commented on #117
@Olaf-san please check #139

[2021-02-08 11:21] Olaf-san commented on #139
Hello Rocky,
thank you for your prompt response.

By resetting the temporary variables the timer has come back but it checks the PoPs every 20 minutes in a loop (when there is more than an hour left).

Kind regards
[HH_DebugLog_1612783026919.log](https://github.com/Roukys/HHauto/files/5943284/HH_DebugLog_1612783026919.log)

[2021-02-08 12:30] OldRon1977 commented on #139
As far as I know, this is correct. So the script won't miss a PoP that has finished before the timer is ready.
This could happen if you do not have all PoPs running at the same time with the same speed because you do not have enough girls to reach the 7h limit. So checking every 20min is ok :)

[2021-02-08 12:50] Roukys commented on #139
yes it was a request after the new temporary powerplaces :)

[2021-02-08 12:51] Roukys commented on #139
ok so I clearly need to work on the wiki now that the tips are diectly in the code.
And does lso mean that the debug menu is useful :)

[2021-02-08 13:03] Olaf-san commented on #139
Well, it's working again (removing the temporary variables worked). For your information, I have enough girls to do all 9 PoPs.

[2021-02-08 13:15] OldRon1977 commented on #139
The debug menu is of course helpful :)

[2021-02-08 17:22] #139 closed

[2021-02-08 17:50] cossname commented on #137
no, you can change it for
[code]

[2021-02-09 12:51] Roukys commented on #117
improved the wiki
https://github.com/Roukys/HHauto/wiki

[2021-02-09 13:06] OldRon1977 commented on #83
I have another suggestion on this topic: how about a switch that allows you to set that you only fight in the league when you are booted.
That way there is a window of time where other players can attack you and try to catch you while you are not boosted, but you yourself don't waste points while you are not boosted.

[2021-02-10 10:46] Roukys commented on #117
I'll push beta in main after a few runs of club champion

[2021-02-10 14:31] cossname commented on #117
"Show info" switcher out of reach after changing save/load buttons style
![image](https://user-images.githubusercontent.com/56331601/107523475-92807e80-6bd6-11eb-82e5-8ed7b52857be.png)

[2021-02-10 14:35] hh1234a commented on #117
In 5.4-beta.40, there's not enough space for the showInfo switch. I moved line 5886 to 6067 so that the switch is displayed at the end. Also, AutoPachinko(Free) is very close to be outside of the screen.

[2021-02-10 14:37] hh1234a opened #141 "Enhancement : Show script version in the settings page"
The title says it all!

[2021-02-10 20:08] RuperSama opened #142 "AutoLogin"
**Is your feature request related to a problem? Please describe.**
The game automatic log off

**Describe the solution you'd like**

in "hardened_start" i add this.

`var loginPage = document.querySelector('[title="Conectar"]');
    if(loginPage != null){
        loginPage.click()
        return;
    }`

with this, the main script dont start and the game go to the "login" page but i dont find how

[2021-02-10 23:17] Roukys commented on #142
Ive got another script for that but it is not really finished as they use ifram for another site for login.
Security prevent to do some action

[2021-02-10 23:18] Roukys commented on #141
Yes could be added to debug menu

[2021-02-10 23:49] Cronosus commented on #117
looks like UseEne not working
it worked even without activating champions, but not anymore

[2021-02-11 02:38] NinJaraya commented on #117
Someone spent kobans for global "Skip Resting" at "Club Champions" and messed up the timer.
by Google Translate

[2021-02-11 10:08] Roukys opened #143 "Someone spent kobans for global "Skip Resting" at "Club Champions" and messed up the timer."
Someone spent kobans for global "Skip Resting" at "Club Champions" and messed up the timer.
by Google Translate

_Originally posted by @NinJaraya in https://github.com/Roukys/HHauto/issues/117#issuecomment-777170004_

[2021-02-11 10:09] Roukys commented on #143
@NinJaraya what do you mean by mess up ?
timer stayed at few hours and did not take the update or other issues ?

[2021-02-11 10:11] Roukys commented on #117
@cossname @hh1234a
I've made a few modification in 41, does it help ?

[2021-02-11 10:11] Roukys commented on #141
@hh1234a  done in 5.4-beta.41

[2021-02-11 10:11] Roukys opened #144 "5.4-beta.40 : looks like UseEne not working"
looks like UseEne not working
it worked even without activating champions, but not anymore

_Originally posted by @Cronosus in https://github.com/Roukys/HHauto/issues/117#issuecomment-777118102_

[2021-02-11 10:15] Roukys commented on #144
@Cronosus can you confirm your version of the script ?
I'll cumulate 60 ene to check on my side, they may have changed someting

[2021-02-11 11:54] RuperSama commented on #142
i make some test and this is working, but i need to make some "delay" between the steps for work, any idea for make the delay?

var loginPage = document.querySelector('[title="Conectar"]');
if(loginPage != null){
  loginPage.click()
 document.getElementById("auth-email").value = <Email here>
 document.getElementById("auth-password").value = <Password here>
 document.getElementById("submit-authenti

[2021-02-11 13:08] Roukys commented on #142
only delay I know in js is settimeout(function, timeinMilli)

delay is needed in between click and setvalues right ?

for loginPage you should use [rel="phoenix_member_login"] it will be independant of language

[2021-02-11 13:11] Nox-Ater commented on #117
in paranoia mode could you add an option where the time is selected or at least a range of time from where the sleep rest phase begins and ends?

[2021-02-11 13:17] cossname commented on #117
@Roukys, yes, now its fine

i think option to reset any timer with all timers listed there should be usefull

[2021-02-11 13:18] Roukys commented on #117
@cossname for the moment you can do it with the debug menu reset all temporary, but yes could be useful, could you open it as a feature request ?

[2021-02-11 13:19] Roukys commented on #117
@Nox-Ater you mean to be able to customize the paranoia ?

[2021-02-11 13:27] Nox-Ater commented on #117
@Roukys at least the sleep rest (I mean the 8h rest) because sometimes it starts at a very inopportune time when you deactivate the paranoia mode and activate again. Also, it would be strange to change the player's sleep hours from time to time and it would be better to keep a range of hours where it always started. That would also help so that it does not cover a time range that does not favor us

[2021-02-11 15:16] Roukys commented on #142
for sure I'll not add it in the script, can be another script, but in script, updates would remove the harcoded password ...

[2021-02-11 15:29] Roukys commented on #117
@Nox-Ater , you can check #128 where it is explained.
But be careful in setting it.
I'm still working on a secure way to modify it

[2021-02-11 16:17] cossname opened #147 "Enhancement : manual Timer reset"
Design:
[code]
 Options:
[code]

Events:
[code]
preview:
![image](https://user-images.githubusercontent.com/56331601/107664705-85cf5980-6cae-11eb-9d28-140f9b7995e8.png)

[2021-02-11 19:04] gendexzen commented on #143
I think what they mean is that the script doesn't know that someone has reset the timer. It will keep waiting the original 24 hours before even checking the club champ again. And even manually challenging the champ doesn't reset the timer.

I've worked around this temporarily by setting the club champ timer always 15 minutes.

[2021-02-11 21:35] NinJaraya commented on #143
That's right.

[2021-02-12 07:43] Roukys commented on #147
added in 42 ;)
I've added it in debug menu and with dynamic timers list :)
thanks again @cossname

[2021-02-12 07:43] Roukys commented on #143
implemented in 42, club champ timer always 15 mins

[2021-02-12 07:44] Roukys commented on #142
@RuperSama : any better ?
I've got cross domain security issues when I want to modify fields ...

[2021-02-12 07:50] Roukys commented on #51
https://developer.mozilla.org/fr/docs/Web/HTML/Element/Input#messages_personnalis%C3%A9s_pour_les_erreurs

[2021-02-12 09:44] bjaume commented on #131
A spanish translation.
[tooltips_SP.txt](https://github.com/Roukys/HHauto/files/5970840/tooltips_SP.txt)

[2021-02-12 10:35] Roukys commented on #144
should be better in v43 ...

[2021-02-12 10:43] Roukys commented on #131
hello @bjaume and welcome here

Sorry I need to find a better way for translations ...
I'll upload here the last version of what is in the script.

Up to date is the HHAuto_ToolTips.en, new fields are only on this one as it serves as default.

Can you check on your languages is translation is still good and add the new ones ?
To add, you just need to copy the line from .en

@OldRon1977 for German

[2021-02-12 10:45] Roukys commented on #117
@Cronosus I've opened your issue as a separate one #144,
normally last version should solve the issue

[2021-02-12 10:58] OldRon1977 commented on #131
For german the first draft was made by @ChristianOlszowa :)

[2021-02-12 11:02] bob626 opened #148 "Bug [5.4-beta.42] - UsePowerCalc not working in leagues"
**Describe the bug**
Opponents in leagues are fought from lowest to highest level instead of using PowerCalc to choose the opponent. It seems that the script correctly generates the opponents list, but then it does not use it.

**System:**
- **OS:** Windows 10
- **Browser:** Chrome 88.0.4324.150
- **Script-Helper:** Tampermonkey 4.11
- **Script-Version:** 5.4-beta.42
- **Actual activated options:*

[2021-02-12 12:00] YotoTheOne opened #149 "Buy combats in events -> sets threshold to 0 when active"
For the 2nd event in a row "buy comb. in event" didn't work at all.
All necessary switches are on, koban bank exceeds the specified minimum and paranoia was not active at the time (I deactivate it during the last day of the events because I'm not sure how these 2 options interact with each other).
Each time I was way too late to have an usable log, but I'll try next time.
Just opening the issue to

[2021-02-12 12:08] OldRon1977 commented on #149
Hi @YotoTheOne : try the latest beta 43 :)
It should be fixed there...

[2021-02-12 12:15] YotoTheOne commented on #149
Thank you @OldRon1977 , trying now.
Do you know what changed ? I see nothing related on the changelog.

[2021-02-12 12:26] OldRon1977 commented on #149
The real expert regarding the changelog would be @Roukys :)
I have to confess, that I never really used the "buy comb" feature.
What exactly do you expect the script should be doing?

[2021-02-12 12:54] Roukys commented on #131
@ChristianOlszowa mea culpa :)

[2021-02-12 12:55] cossname commented on #147
@Roukys yw
any idea for this problem?
![image](https://user-images.githubusercontent.com/56331601/107770629-87a32680-6d5b-11eb-8d60-a17c73299912.png)

[2021-02-12 12:57] Roukys commented on #147
ah ...
nutaku is a strange one for me I'm not using it,
I think somewhere in the code this is to prevent :
[code]

but does not seems to be uptodate ...

[2021-02-12 13:05] cossname commented on #147
where "hh_nutaku" defined?

[2021-02-12 13:05] Roukys commented on #149
@YotoTheOne I'll check in between 30 and 43, but I know I've added buy comb for mythic in the mean time ...

[2021-02-12 13:06] Roukys commented on #148
hello @bob626 yes the NaN one is not normal, I'll check on my side

[2021-02-12 13:10] Roukys commented on #148
do you have other opponent in list that have NaN values ?

I'll force not consider NaN value in the code, should prevent this ...

[2021-02-12 13:19] Roukys commented on #147
I'll connect to nutaku to try and understand this alive thing

[2021-02-12 13:19] Roukys commented on #147
@cossname this is a recent issue right ?

[2021-02-12 13:20] cossname commented on #147
3 times today

[2021-02-12 13:21] cossname commented on #147
cant reload top window from frame

[2021-02-12 13:26] Roukys commented on #147
yes because of cross domain security right ?

[2021-02-12 13:26] cossname commented on #147
yes

[2021-02-12 13:27] Roukys commented on #147
I've got the same issue for autologin

[2021-02-12 13:28] cossname commented on #147
will try to find solution for it with
window.top.postMessage({someMessage},'*');

[2021-02-12 13:32] ChristianOlszowa commented on #131
later this day I'll pick the new IDs for translation,

[2021-02-12 13:33] bob626 commented on #148
Hi @Roukys, thanks for answering.
The opponent list is looking fine, all IDs have a correct value assigned, even the first one that the script fights and shows as NaN in the console.
I've now noticed however that none of the values in the log file match the ones I see on the leagues page (but they still both look realistic, there aren't strange values), not sure if this could help finding the erro

[2021-02-12 14:06] Roukys commented on #131
@ChristianOlszowa for most, nothing has changed, only a few missing ones
I'll try to work on a CSV or something so it will be easier to check what has been changed

[2021-02-12 14:11] Roukys commented on #148
for the nan I'm working on a excluding thing

for the values on league page it is the one displayed by this script or by OCD script ?

[2021-02-12 14:13] cossname commented on #147
found this
[code]

[2021-02-12 14:32] bob626 commented on #148
By this script. What I'm saying is that for example on the leagues page I see this:
![Capture](https://user-images.githubusercontent.com/78957944/107780638-3c7f1880-6d47-11eb-8037-ac638db31c1f.PNG)
but none of the IDs in the log file have value -39163

[2021-02-12 14:43] Roukys commented on #148
ok I'll check on my side ... :)

[2021-02-12 14:53] OldRon1977 commented on #148
Yep, I can also confirm that the script goes from the lowest level up instead of choosing PowerCalc.

Here is my logfile:
[HH_DebugLog_1613141453657.log](https://github.com/Roukys/HHauto/files/5972517/HH_DebugLog_1613141453657.log)

[2021-02-12 15:01] Roukys commented on #148
yes Nan cause the issue, working on the fix

[2021-02-12 15:09] Roukys commented on #148
v44 should solve it for NaN, till checking for values ...

[2021-02-12 15:15] Roukys commented on #147
1st is generated by script and second generated by app, need to find how to do the good one ...
![Uploading Capture d’écran 2021-02-12 à 16.13.46.png…]()

[2021-02-12 15:52] Roukys commented on #147
could you try with window.top.parent.postMessage({ImAlive:true},'*'); ?

[2021-02-12 16:19] bob626 commented on #148
It still doesn't work... Could it be that you left commented by mistake some of the lines (2825-2828) you added? I'm not really familiar with js ^^'
I've tried removing the // but it doesn't seem to change anything

[2021-02-12 18:38] Roukys commented on #148
you're right forgot to remove comment, good that it is now the weekend
v45 should be good

[2021-02-12 18:39] Roukys commented on #148
however it will only work when list will be refreshed, you can force it by removing temporary in debug menu

[2021-02-12 19:31] bjaume commented on #131
Here is the Spanish version with the new fields.
[Spanish.txt](https://github.com/Roukys/HHauto/files/5973923/Spanish.txt)

[2021-02-12 19:42] bob626 commented on #148
Still not working :(
I've relaunched my browser (I play in incognito) and deleted the temporary storage as you said before switching on again the script, it still fought the opponents going by their levels.
This time I let it fought two different opponents before saving the logs and they both had NaN as their value:
[HH_DebugLog_1613157594772.log](https://github.com/Roukys/HHauto/files/5973980/HH_

[2021-02-12 20:03] ChristianOlszowa commented on #131
And german version
[German.txt](https://github.com/Roukys/HHauto/files/5974064/German.txt)

[2021-02-12 21:40] cossname commented on #147
cant understand what you need to do...
both  events similar, except origin, "ImAlive:true" stored in "data" section

[2021-02-12 22:25] cossname commented on #117
maybe better to use not this:
[code]
but this:
[code]

[2021-02-13 10:58] Roukys commented on #147
in script replace the line :
`window.top.postMessage({ImAlive:true},'*');`

by :
`window.top.parent.postMessage({ImAlive:true},'*');`

they may have changed some frames probably

[2021-02-13 12:58] OldRon1977 commented on #148
Same here... :/

[2021-02-13 15:18] cossname commented on #147
![image](https://user-images.githubusercontent.com/56331601/107853555-93184f80-6e38-11eb-9d41-8f7d12d6c791.png)

[2021-02-13 17:16] Kirito-Ki opened #150 "Request : AutoBoosters"
Hello. It would be nice to incorporate a function to use a booster of your choice when none is active or expires.

[2021-02-14 11:20] YotoTheOne commented on #149
OK found the issue : need code to bypass the threshold. It works well when the threshold is set to 0, any other value is blocking.

[2021-02-14 20:12] bjaume commented on #131
Some corrections on Spanish version.
[Spanish.txt](https://github.com/Roukys/HHauto/files/5978443/Spanish.txt)

[2021-02-14 21:22] Cronosus commented on #144
yep, looks fine

[2021-02-15 07:20] Roukys commented on #150
Hello Kirito-Ki
there is already an issue concerning this #83

[2021-02-15 07:20] #150 closed

[2021-02-15 07:21] Roukys commented on #149
@YotoTheOne yes buying options are only working and being triggered when fight number reach 0, that was your issue ?

[2021-02-15 07:25] Roukys commented on #117
yes I'll integrate it in next version

[2021-02-15 07:30] Roukys commented on #148
@OldRon1977 your powercalc seems good : "localStorage.HHAuto_Setting_settPerTab": "true", therefore it is reading the "sessionStorage.HHAuto_Setting_autoLeaguesPowerCalc": "true", and not the "localStorage.HHAuto_Setting_autoLeaguesPowerCalc": "true",

[2021-02-15 07:42] Roukys commented on #131
thanks guys, I've added your translations into v46

[2021-02-15 07:42] Roukys commented on #148
On my side list never contain Nan ...
I've made another check in v46, this time directly in the opponent choosing function

[2021-02-15 08:46] bob626 commented on #148
Even worse now: it tries to fight the opponent with ID -1, that doesn't exist, and so it just gets stuck on the leagues page and does nothing.
`   "2021-02-15T08:28:11.125Z:FindOpponent:": "highest score opponent : -1(-1)",`
[HH_DebugLog_1613377731452.log](https://github.com/Roukys/HHauto/files/5980403/HH_DebugLog_1613377731452.log)

[2021-02-15 09:26] Roukys commented on #148
I've reverted the change, I'll try to do some tests on my side ...
Your list does contains NaN values ? (in sessionStorage.HHAuto_Temp_LeagueOpponentList)

[2021-02-15 09:36] bob626 commented on #148
No, the list has always looked fine. All the values are plausible (even though they don't match the ones showed in the leagues page). The IDs are all positive numbers as they should be and there are no NaN values.

[2021-02-15 09:50] Roukys commented on #148
found :) they've change field type
should be good in v48 ...
I do hope

[2021-02-15 10:24] bob626 commented on #148
Still nothing, I'm sorry :(
Now it once again shows NaN in the console. I'm not sure how can I help you find the error, here is the list of all the power levels of my opponents:
-174601, -16017, -142028, -242160, -111757, -36410, -242100, -283850, -214559, -264016, -49683, -14566, -65353, -214935, -139921, -33967, -75310, -265542, -211308, -35005, -239937, -75167, -228353, -101291, -247332, -19348

[2021-02-15 10:27] Roukys commented on #148
my bad missed on line ...
see v49

[2021-02-15 10:27] OldRon1977 commented on #148
I also tested the 46, and the script still goes from lowest level to highest. If there are several opponents with the same level it looks like the script chooses the opponent with the highest PowerCalc value.

It might be possible, that the function works within a level range but not over all opponents...

[2021-02-15 10:46] bob626 commented on #148
Fixed with v49! Thanks!
Just one last little thing: I've noticed that the power values of charm players showed by this script greatly differs the ones showed by the OCD script. From what I understood this is because in the last month or so charm players were buffed due to a bug that kinkoid hasn't yet solved (I don't really understand the mechanics of the game and I never really cared about pvp, s

[2021-02-15 10:48] Roukys commented on #148
not annoyed :) challenging though :)
yes could you please open a new issue to update script with this ( yes I think it will mean some rework as OCD is modifying some values...)

[2021-02-15 10:56] bob626 opened #152 "Enhancement : Update PowerCalc"
The power values of charm players showed by this script greatly differs the ones showed by the OCD script. From what I understood this is because in the last month or so charm players were buffed due to a bug that kinkoid hasn't yet solved.
We should update this script to match the calculations done by the OCD one.

[2021-02-15 11:26] OldRon1977 commented on #148
Yep - working again :)

Thanks for the fix :)

[2021-02-15 17:25] cossname commented on #142
@Roukys
[code]

[2021-02-16 19:09] bjaume commented on #131
Hi again,

I'm not sure how to do this correctly. I don't know if I have to leave it here or somewhere else.
I have made minor corrections in the Spanish translation. Here I leave the updated file.

[Spanish.txt](https://github.com/Roukys/HHauto/files/5991084/Spanish.txt)

[2021-02-16 21:49] YotoTheOne commented on #149
@Roukys yes, it seems I forgot to set the AutoTrollBattle threshold to 0 on the last day of the event.
If you could add some kind of bypass that would be cool in case I forget again ^^'
Suggested behaviour : if the "Buy comb in events" switch is on, then set the AutoTrollBattle threshold value to 0 during the "hours to buy comb."

[2021-02-16 22:00] YotoTheOne opened #153 "Midday Thresholds reset"
It would be cool if the Thresholds values could reset to a fixed value during the midday break (between the end of a contest and the beginning of the next one).

It could be achieved with an on/off button "daily thresholds reset" and a button to "set default values" that would memorize current thresholds values. Or even the on/off button "daily thresholds reset" alone, that would memorize default

[2021-02-16 22:47] YotoTheOne opened #154 "Auto Club champ limit"
A box to set the maximum amount of impression we would like to make on the club champion, so we cannot go rogue and take the most contribution while penalizing other players in the club (that don't play as much or are lower levels for instances).

[2021-02-17 01:45] OldRon1977 commented on #154
That would be nice indeed... There should also be a timer like the last 4 hours where the limitation is off and everybody can go and finish him off...

[2021-02-17 09:15] ChristianOlszowa commented on #152
I guess it is time to do it now, because the calculator seems to stop working after the latest game update

[2021-02-17 09:57] OldRon1977 commented on #152
Yep... PowerCal is broken at the moment... thank you HH ;)

[2021-02-17 13:21] OldRon1977 opened #155 "Bug (5.4 Beta 49) - PowerCalc not working in season since last update"
**Describe the bug**
The PowerCalc is no longer working since the last update made by the HH devs.

**To Reproduce**
Upen up season and find an opponent.

**Expected behavior**
PowerCalc shows the value for each opponent, which is used to determine which opponent to attack (or bypass).

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.github

[2021-02-17 16:44] cossname commented on #155
@OldRon1977 had same problem after update, but now its working without any changes

[2021-02-17 16:51] cossname commented on #155
@OldRon1977 this "HH variables" script still working for you? all settings names changed already

[2021-02-17 17:28] minedoog commented on #155
[HH_DebugLog_1613582839796.log](https://github.com/Roukys/HHauto/files/5997447/HH_DebugLog_1613582839796.log)
![image](https://user-images.githubusercontent.com/37474398/108242939-47adbc00-712c-11eb-8d47-1b40be7c6a6b.png)
Sadly, I do too suffer from the powercalc issue. I wonder what they changed now? and why?

[2021-02-17 19:21] minedoog commented on #155
I just noticed, the powercalc works on the tower, so something really small was changed on the seasons to make it not work there.
![image](https://user-images.githubusercontent.com/37474398/108256309-205eeb00-713c-11eb-80a3-4c7d994d6497.png)

[2021-02-18 07:14] MrKeeney81 commented on #155
the beta was updated 3 days ago I checked and when I updated to the new beta that was fixed

[2021-02-18 07:25] Roukys commented on #155
@OldRon1977 @minedoog , normally that was fixed in v50, I had seen it on test before ;)

Can you confirm ?

[2021-02-18 07:28] Roukys commented on #149
@YotoTheOne yes could be an idea, I'll try to find a way, though it may not be temporary.
not sure I'll find a way to switch it on only up to the end of the event.

[2021-02-18 07:29] OldRon1977 commented on #155
Confirmed :)

Fixed in 5.4 beta 50

[2021-02-18 07:29] #155 closed

[2021-02-18 07:29] Roukys commented on #131
thanks @bjaume, I'm taking it

[2021-02-18 07:35] Roukys commented on #117
as we seems to have no more bug I'll push this to prod today :)
that will cleanup issues and allow auto update of the script

[2021-02-18 07:43] YotoTheOne commented on #149
That would be a start. I don't mind if the threshold stays at 0, I'll reset manually ; better than loosing some girls ;)
See what you can do, no hurry.

[2021-02-18 08:28] OldRon1977 commented on #131
@ChristianOlszowa and @Roukys : I made some spellchecking and corrected some wording to the wording which is used if the german language is set within the game.

[German.txt](https://github.com/Roukys/HHauto/files/6001237/German.txt)

[2021-02-18 08:38] Roukys commented on #131
updated in 52, you came in time for release :)

[2021-02-18 08:55] OldRon1977 commented on #131
I knew that ;)

[2021-02-18 10:33] #117 closed

[2021-02-18 10:35] #148 closed

[2021-02-18 10:39] #51 closed

[2021-02-18 10:39] #135 closed

[2021-02-18 10:39] #136 closed

[2021-02-18 10:39] #138 closed

[2021-02-18 10:39] #141 closed

[2021-02-18 10:39] #147 closed

[2021-02-18 10:39] #143 closed

[2021-02-18 10:39] #144 closed

[2021-02-18 10:39] #130 closed

[2021-02-18 10:41] #6 closed

[2021-02-18 10:41] #27 closed

[2021-02-18 10:41] #49 closed

[2021-02-20 22:02] minedoog opened #159 "Girls power level marker"
**Which feature is concerned**
Normally, while building your team of Alfa, Beta and Omega, you have to choose the girl and add it to see your power level

**Describe the solution you'd like**
What about a dot, green for good/high power choice, yellow for average/middle power choice, and red/low power for bad choice.

**Describe alternatives you've considered**
Another alternative would be to have

[2021-02-21 03:31] cossname commented on #159
@minedoog what criteria you value the most? percentages for  "power level"s?

[2021-02-21 03:36] cossname commented on #154
@Roukys for some reason - count of clicks on perform button dont equal total count of fights (clicks>fights [ex:12>10])
also how about cheking clubChamp fight posibility by "button-notification-action"?

[2021-02-21 10:26] minedoog commented on #159
well, since I really don't know how the system works, but I do know that depending of what you choose you get X more than Y ability or defense or attack...

Now it got complicated...

Let me think about that

[2021-02-21 12:29] cossname commented on #159
im use top damage build with mono-class gear

[2021-02-22 17:34] cossname commented on #154
found problem, its my fault :D

[2021-02-23 07:54] OldRon1977 commented on #137
Since we already have code and since the last event my inventory is like one of those garages from those auction hunters, I would really like to push this forward.
How can I help?

[2021-02-23 08:21] Roukys commented on #137
hello @OldRon1977, would be good to have a way to rate the functionalities so easier to prioritize.

@cossname I'm not clear on how it work, since it start when being on shop, it will start when the script goes to shop, therefore taking ages at least on first launch, right ?

[2021-02-23 08:26] Roukys commented on #137
@cossname said nothing it does start when clicking on equipement ...

[2021-02-23 08:44] OldRon1977 commented on #137
@Roukys we have two options for prioritizing features.
a) we use the Feedback option and count the thumbs up / down
b) you simply give the order ;)
I am not sure, if you can sort the cards on the project page, I can't do that.

For the feature itself, maybe we can test it as a separate script? Does this make sense?

[2021-02-23 08:49] Roukys commented on #137
@OldRon1977 thumbs up is a good idea, today I sort issues by recently updated :)
On project I can only manually sort, but I would put in todo or in progress depending on priorities

for testing it that would be a good idea yes :)

being able to keep a certain number would be good also, as we need to sell for PoA

[2021-02-23 08:57] Roukys commented on #137
@OldRon1977 keeping rainbow only based on main class does seems good for you ?
@cossname for mono, no need to keep the mono endurance or harmony ? (I'm not using it but maybe I don't know how to use it ...)

[2021-02-23 09:20] OldRon1977 commented on #137
Keeping rainbow based on main stat seems to be the best option for all classes. It should be compared to other rainbows and not to single stat items, otherwise it will always be dumped.

[2021-02-23 09:47] Roukys commented on #137
@OldRon1977 do you use the mono harmony or mono Endurance, my understanding is that in this script they will be sold

[2021-02-23 10:00] OldRon1977 commented on #137
Hmmm... I personally don't use them. I could ask my club if there is anyone, so we get a wider view on that... Maybe some more can ask their clubs so one can share the view of many :)

[2021-02-23 10:35] OldRon1977 commented on #137
Is there a way to identify, if it is a single KH,HC,CH or Harmony,Endurance item?
If so, then we can say that we always keep the best item.

[2021-02-23 10:37] Roukys commented on #137
yes I think so, working on it :)

[2021-02-23 15:15] REDOCITTA opened #160 "Last update problem"
Ok, maybe it's happening only to me or I missed some explanation or I'm not seeing the right setting, but after the last update the whole initial description blocks me from seeing/choosing the setting for a LOT of stuff because they're literally lower than the page allows me to scroll down.
Like, this is how far down I can see
![Schermata 2021-02-23 alle 16 14 26](https://user-images.githubusercon

[2021-02-23 17:04] Roukys commented on #137
@OldRon1977 you can try it here : https://github.com/Roukys/HHauto/raw/%23137-selling/HHAuto.user.js

@cossname I've added a button and menu to choose how many item to sell, plus kept best harmony and endurance items :)

[2021-02-23 17:19] OldRon1977 commented on #137
Cool... I will test it later... :)

[2021-02-23 18:47] OldRon1977 commented on #137
Here are the results...

After pushing "Sell" at the Market the script counted all items.
After that it shows this menu:
![image](https://user-images.githubusercontent.com/73475830/108888358-a632d880-760b-11eb-8728-3ee6df2f3e0f.png)

I started with 1.000 items to sell ;)
![image](https://user-images.githubusercontent.com/73475830/108888429-c367a700-760b-11eb-85cf-1238a7af328f.png)

It took 30 minu

[2021-02-23 18:52] OldRon1977 commented on #137
The question is... if there are only 6-24 best items over, will the script stop?
Why 6-24? Because you can have 6 best rainbow, single stat or harmony or endurance.

@Roukys do you know if the script will stop? And if I exchange the items, will the script sell the swapped item?
E.g.: I have a single stat hat for 1000 and a hat with 1.200 in the inventory. I expect the script to not sell the item.

[2021-02-23 19:53] Roukys commented on #137
not fully flawless it missed 5 items, I'm trying to understand, but that may only be delay to increase
yes it should not touch those

and script should stop either after having sold the amount or after no item remains to sell

when you swap you'll have to relaunch popup and item will be taken into account.

@cossname I need to check but if I'm right it does sell them if they are under the equipped

[2021-02-24 00:37] RuperSama commented on #142
Sorry for dont answer @Roukys i make it in one script i upload it. the script need to be changed by the user for set the value of 2 var's (email and password) for kinkoid HH work fine (idk if the script work un gayheroes but in nutaku dont work because is diferente login)

[2021-02-24 07:15] Roukys commented on #142
Hello @RuperSama @cossname,

Seems you have 2 differents implementation, could you cross check I'll publish it in a script appart as for sure it won't work for nutaku ...

[2021-02-24 07:57] Roukys commented on #160
hello @REDOCITTA , can you try and reinstall the script, that is a strange behavior

[2021-02-24 10:38] YotoTheOne opened #163 "Threshold input format checking is too restrictive"
I think some limitations should be removed from the input format checking.

Example : I claimed some remaining kisses in my season rewards to  speed up the path of affection. So I have 51 kisses and I only need 28 to complete the step, I tried setting the kisses threshold to 23 to keep those kisses for next PoA pvp step. The script didn't let me.

[2021-02-24 10:43] OldRon1977 commented on #163
I don't have kisses left at the moment, but I am pretty sure, that I could set a threshold higher than 15 and the script accepted the value.

Can you give me more info about which browser, script handler and script-version?

[2021-02-24 13:01] Roukys commented on #163
@YotoTheOne yes it will show red but will still use the value.
though be careful if you have spends points before activated, it will spend them.

[2021-02-24 13:23] cossname opened #164 "Enhancement : hide claimed rewards - Path of Attraction"
[code]
upd 5

[2021-02-24 13:41] cossname commented on #142
Nutaku didnt need login, only page reload

[2021-02-24 17:19] YotoTheOne commented on #163
OK cool ! I thought it wouldn't work with a red value but it does.
Thank you for the info regarding "spend points before" and sorry for the inconvenience :)

[2021-02-24 17:19] #163 closed

[2021-02-24 17:21] Roukys commented on #66
Teaser :
![Capture d’écran 2021-02-24 à 18 18 10](https://user-images.githubusercontent.com/73461293/109039430-10f81880-76cd-11eb-94ab-bc4201a323af.png)

[2021-02-24 23:14] RuperSama commented on #142
Nutaku version use Nutaku system for login so for that version need to check it how is the site structure of nutaku.

the @cossname implementation use two script i made it the same but in one only script.

but i upload my script to my own git with other mini-script that i use.
https://github.com/RuperSama/HentaiHeroesScripts

so if you want to have this project just focused in the "auto-play" that

[2021-02-24 23:15] RuperSama commented on #160
if that dont work, please check to dont have another scripts working at same times, maybe you have css colission with other scripts

[2021-02-24 23:17] RuperSama commented on #159
i think you want this.
https://harem-battle.club/wiki/Harem-Heroes/HH:Compare-All-Haremettes

the only think that the build team need is a fast way for search like the harem where you can write the girl name

[2021-02-25 00:02] REDOCITTA commented on #160
Hey, so I tried to reinstall the scrip and disable the other 2 scripts that I have working at the same time (which are "Hentai Heroes++ (OCD) Season Version" and "HaremHeroes GirlSorter" but all still seems to be the same
Could it be the problem is the browser I'm currently using? (Safari 14.0.3)
Because on the Market I also see this (which might not be the interface that was intended)pushing one

[2021-02-25 10:11] Roukys commented on #160
yes it maybe :)
please use chrome if you can :)

[2021-02-25 14:47] #66 closed

[2021-02-25 14:47] Roukys commented on #137
@OldRon1977 this version should be better and this time flawless

[2021-02-25 14:48] #61 closed

[2021-02-25 16:57] Roukys commented on #131
hello @ChristianOlszowa @bjaume @OldRon1977 @maxime843300
I've added these more :
menuSell : { elementText: "Sell", tooltip : "Allow to sell items."},
    menuSellText : { elementText: "This will sell the number of items asked starting in display order (first all non legendary then legendary)<br> It will sell all non legendary stuff and keep : <br> - 1 set of rainbow (choosen on highest player cla

[2021-02-25 18:13] ChristianOlszowa commented on #131
[German_CO_WIP.txt](https://github.com/Roukys/HHauto/files/6044976/German_CO_WIP.txt)
ready for check
! Missing !
"Masked Claimed Rewards" -> Verstecke beanspruchte Belohnung
tooltip: "Erlaubt es, beanspruchte Belohnungen im Season Bereich zu verstecken. "

[2021-02-25 22:01] Diadochus-Ptolemy opened #165 "Bug [5.4.4] - Market check and harem collection do not work"
**Describe the bug**
Market check and harem collection do not work when paranoia mode is off. (working with paranoia)

**To Reproduce**
I just run it as usual.

**Expected behavior**
I wish it would work as before

**Screenshots**
![err01](https://user-images.githubusercontent.com/79668922/109224598-3b30ff80-77cd-11eb-9e36-2822b40ab9c5.jpg)

**System:**
- **OS:** Windows
- **Browser:** Chrome
- **

[2021-02-25 22:25] NinJaraya commented on #165
I think it's the 'Paranoia mode'. Even disabled, it seems to interfere.
by Google Translate

[2021-02-26 06:22] OldRon1977 commented on #165
Hi, I can confirm, that there is a bug...
I run the script without paranoia for several hours and it misses to check the market or collect the salary.
As soon as you enter the market manually, it will buy things according to your settings, but it does not enter the market on its own.

I will let the script run a little longer so I can provide a debug file :)

[2021-02-26 07:11] Roukys commented on #165
ok I think I know.
I tried to add a way for them not to run undefnitely and during paranoia last minute spends points ...

[2021-02-26 07:22] Roukys commented on #165
@OldRon1977 @Diadochus-Ptolemy @NinJaraya please check 5.4.5

[2021-02-26 10:48] Diadochus-Ptolemy commented on #165
![QOpN](https://user-images.githubusercontent.com/79668922/109290779-1b372580-7839-11eb-9034-b7f3fd73012e.gif)
Thanks dude, we're back in business again!

[2021-02-26 10:48] #165 closed

[2021-02-26 11:18] maxime843300 commented on #131
hi @Roukys I have updated the french translation
[French.txt](https://github.com/Roukys/HHauto/files/6049258/French.txt)

[2021-02-26 11:40] Diadochus-Ptolemy commented on #137
I need an option so that only yellow and green equipment would be sold without touching the gray and purple ones. I have several sets of purple rainbow, mono sets for all classes, a set of gray weak things to weaken the team. I really would not want to lose any of these sets, so you need to be able to protect them so that the script does not even try to sell them, perhaps some kind of checkbox - "

[2021-02-26 13:38] OldRon1977 commented on #165
Yep... I can also confirm. I had to wait until now, so the shop has new items ;)

[2021-02-26 14:05] OldRon1977 commented on #131
I would rather translate to this:
"Masked Claimed Rewards" -> Beanspruchte Belohnung ausblenden

Sounds better to me 😉

[2021-02-26 14:12] ChristianOlszowa commented on #131
Lol, day was hard xD brain afk. Of cause this is better xD

[2021-02-26 19:19] bjaume commented on #131
Hi @Roukys

Updated spanish translation too.

[Spanish.txt](https://github.com/Roukys/HHauto/files/6051909/Spanish.txt)

[2021-02-26 22:40] RuperSama commented on #164
Work fine, i add your script here
https://github.com/RuperSama/HentaiHeroesScripts

in a new script called "HentaiHeroes-HideInfo.js" with other stuff more. (Tested only in HH original)

[2021-02-27 12:20] cossname opened #166 "Bug [all] - Club champion 2 auto-attacks in 1 second"
debug log
[code]

temporary solved it by changing
[code]
to
[code]

[2021-02-27 21:25] cossname opened #167 "Enhancement : Display match result for all league opponents"
![image](https://user-images.githubusercontent.com/56331601/109400741-2e96dd80-796c-11eb-8a90-4b34cf3abdb4.png)

[code]

also module to hide "3/3" opponents (you already fought with them 3 times)
[code]

[2021-02-27 21:39] cossname commented on #159
https://sleazyfork.org/en/scripts/415625-hentai-heroes-ocd-season-version/code
check this version on OCD script, there few functions you would like
![image](https://user-images.githubusercontent.com/56331601/109401006-f1334f80-796d-11eb-9d38-3bfb90a7dd96.png)
![image](https://user-images.githubusercontent.com/56331601/109401041-23dd4800-796e-11eb-9513-d27f38c98c3c.png)

[2021-02-27 22:26] deuxge commented on #66
To have this working with firefox, you need a small update on configuration:
https://developer.mozilla.org/fr/docs/Web/HTML/Element/dialog
`From version 53: this feature is behind thedom.dialog_element.enabled preferences (needs to be set to true). To change preferences in Firefox, visit about:config.`

[2021-02-27 23:25] Knatan opened #168 "Request Code cleanup: Battle.html simulation no longer needed"
Hi Roukys, you added this feautre #17 for me back in the day, and it was very useful.
But now the "Hentai Heroes++ (OCD) Season version" on greasyfork has been enhanced and now includes simulation in /battle-html as well.

And their version works faster for some reason, it always loads a few seconds faster, which makes it more useful for my usage.
In return this means you can now remove some code

[2021-02-27 23:28] Knatan commented on #167
I propose to have this become on/off toggleable via a button. Sometimes I like to spy on my rivals, so it's useful to unhide them and note down behaviour and strategies etc.

[2021-02-28 00:15] Knatan opened #169 "Bug [5.4Beta - 5.4.5] - AutoClubChamp conflict with AutoPowerPlaces"
**Describe the bug**
The script constantly jumps between club-champion.html vs Places of Power when both timers reach 0 (Time's Up!).
The script fails to execute the fight inside club-champion.html because suddenly the script calls the browser to navigate to Places of Power.
At Places of power, the script will do 1 action.
And then the script jumps back to club-champion.html
But it doesn't activat

[2021-02-28 03:50] diller9132 opened #170 "Request: Auto Boosters"
Problem:
Occasionally I'll stay up well into the night, not be able to sleep, etc. and activate my boosters at around 2am. When trying to be competitive in leagues, that can be pretty detrimental.

Potential Solution:
I assume this has been requested before, but hopefully I have a new suggestion that might work out. My first thought would be to set it similar to the auto places setting. You can tu

[2021-02-28 06:44] Knatan commented on #170
Would you actually like all of your opponents to be permaboosted? Because that's what you're going to get.

This is BS. Take it from someone who have won Dictator 3 several dozens of times.
You can literally just NOT attack people when you don't have booster.

You're requesting a feature for lazy people who want their Auto-League to be autoBoosted,

[2021-02-28 10:27] dadanda opened #172 "Script issues in Hentai Heroes [5.4.5 and below(?)]"
**Describe the bug**
The script gets stuck/runs slower in Hentai Heroes.

I have 2 accounts, 1 in Harem and 1 in Hentai.
The settings for both accounts are the same. Both accounts are similar in almost everything.
I have a tab reloader on both tabs set to 5mins(now set to 1 hour to lessen the interruption)
But for some reason, whenever I switch to Hentai, the script is usually stuck in AutoSal and

[2021-02-28 18:05] cossname commented on #172
try to open them in different windows(not tabs inside same window)

[2021-02-28 19:05] dadanda commented on #172
yeah thats what I've been doing for however long I am playing with both accounts.

[2021-03-01 03:47] #170 closed

[2021-03-01 03:48] diller9132 commented on #170
Figured I'd ask. Thanks for the reasoning on why it's been avoided. Makes more sense, now.

[2021-03-01 06:54] Roukys commented on #172
@cossname you have many girl and no monthly card ?
I've got an issue on my side lately where script goes for way too long on get salary.
Thinking of way to reduce it or cut it when paranoia comes ...

[2021-03-01 08:36] dadanda commented on #172
Yeah, that's the case. If I don't have it on, I'll eventually drain my bank.
I think a workaround at the moment is maybe making the priority of AutoSal the least?
Like if some of the other timers are done, it would interrupt the AutoSal to do it. But then it would definitely mess somethings up.

[2021-03-01 08:41] Roukys commented on #172
yes I'm thinking on something like that, auto salary is the last one so normally other should have run, but that is not always the case.

Your idea is good, only run salary when no others need to run, I've gotta check, issue is that is will seems not to work for people.

Implementation could be as easy as remove the fact that during salary the autoloop is blocked

[2021-03-01 08:48] Roukys commented on #172
trying that on my side, salary will not block script, therefore if any thing is time's up it will run, including paranoia

[2021-03-01 09:51] Roukys commented on #166
@cossname, yes could help, I fact it does not use 2 tickets I think but does not detect the change on the button, allowing to know that the first click has worked.

[2021-03-01 10:20] Roukys commented on #169
ok so issue is with the famous busy of autoloop...
I'm trying to find a better implementation ...

[2021-03-01 10:25] Knatan commented on #154
Yes, this would be a good way for the user to configure so that you fight the champion just approximately 1 time.

When a person participates with 1 fight, they actually help their club mates tremendously and increase their shard prizes, since the system will hand out more more shards the more participation in the club there is.

[2021-03-01 11:06] dadanda commented on #172
how is it running?

[2021-03-01 13:14] Roukys commented on #172
not good for the moment ...
tried another thing, seems collect money check at the end if any news, may means that it can run indefinitely, tried a fix on that to see ...

[2021-03-01 13:59] Roukys commented on #172
you can try to replace lines within collectMoney function if you want to try :
[code]

[2021-03-01 14:44] Roukys commented on #172
ok not a good idea if you deactivate an option, its timer stay activated and will block getSalary
I need a clean timers function ...

[2021-03-01 15:41] OldRon1977 commented on #172
You can clear timers via the debug menu:
![Screenshot_20210301-163919.jpg](https://user-images.githubusercontent.com/73475830/109520823-eaf7bd00-7aac-11eb-8bfe-1e968cd03f3d.jpg)

Was that the option you were looking for?

[2021-03-01 16:57] Roukys commented on #172
:) no I was meaning that this list will contains timer outdated if you put a function off its timer will stay.

so in my test I was checking that no time's up appart salary and was stopped by other timers of function no longer active ...

but that was a good guess :)

In fact I need to :
 - see that salary only runs when other don't (only for non monthly card get salary...)
 - see that it can be i

[2021-03-02 00:36] dadanda commented on #172
So as of the moment, I could technically apply the changes and have it work to some degree but it needs new functions to work the way it supposed to do?

[2021-03-02 12:40] Roukys commented on #172
@dadanda can you try this one : https://github.com/Roukys/HHauto/raw/better-salary/HHAuto.user.js
it does seems to do the trick for me, issue was salary do check if more salary at the end, with many girl it is nearly an infinite loop ...

[2021-03-02 14:27] cossname commented on #166
@Roukys i know about "not using 2 tix" but there 2 requests to server. so it's can be detected on server side

[2021-03-02 14:32] NinJaraya opened #173 "Enhancement : AutoMission priorize "Event Misson""
**Which feature is concerned**
AutoMission give priority to event misson.

[2021-03-02 14:36] cossname opened #174 "Enhancement : Disable auto-club champion fights after defeating."
after club champion was defeated, for maximal damage per ticket, we should change team setup
so for not doing fights with club champion with low damage, i suggest disabling club champion auto-battles after defeating him
[code]
convertTime function
[code]

[2021-03-02 14:41] Roukys commented on #166
yes it could click 2 time on the button, I'm adding your proposition in code :)

[2021-03-02 14:44] cossname commented on #137
@Roukys srry for not answering in thise theme, but github functionality sucks.. i dont even saw those messages until now(checked theme manualy), so there any option to display last messsage in theme.. etc? Also i dont get any notifications about  mentioning me.. maybe its only for email notifications..

[2021-03-02 14:56] Roukys commented on #174
yes I need to do the same implementation as for champions, so only crush him if it was started by the player .

[2021-03-02 14:56] Roukys commented on #173
@NinJaraya you mean to do it first ?

[2021-03-02 15:19] Roukys commented on #137
no worries
ok I'll work on a filter then, thanks @cossname :)

[2021-03-02 18:39] NinJaraya commented on #173
Yes!

[2021-03-03 12:02] dadanda commented on #172
Alright, I tested it over a few hours and it seems to work for the most part just that, it's still not working as well as it should be.
(There's a bunch of combativity not used when I forcefully stopped the script from running and a bunch of functions waiting for AutoSal to finish)
What is your min wait time so that I can replicate it one-to-one?

[2021-03-03 13:02] Roukys commented on #172
in fact for the moment I was not able to stop it runs if any other needs, only not to check after collecting if new salary to collect
Old behavior : get all salaries, collect them, get if new salaries, collect them -> loop
New behavior : get all salaries, collect them -> then set next auto salary.

I've set it to 10 mins

[2021-03-03 19:16] Knatan commented on #173
Is there a specific use case where it is more advantageous to do the long duration mission first?

[2021-03-04 07:13] Roukys commented on #173
from my understanding only for event mission, so the one with kobans, on my side I see no advantages to do it before apart to be sure that this one at least is done.
Plus could help get event girl (even if script is getting her correctly now.)

[2021-03-04 15:05] dadanda commented on #172
alright, it seems to be working well, even if the timer is set low. at times it can get stuck for some reason or another but it's working fine.

[2021-03-04 16:16] Roukys commented on #172
yes I'll try to improve, I'm working on other things on this version and will publish it soon :)
it should auto update when main will be updated :)

[2021-03-04 21:19] Knatan commented on #154
Proposal 1 by YotoTheOne.
Proposal 1a: We could also set the limit as Percentage among the total in the club. (The _HH++ (OCD) Season version_ script have implemented Impression percentage, so we can calculate a similar data like this as well)
This one has the advantage of scaling from Champion Tier 0 to Tier 1 to tier 2 etc.

Proposal 2: Let user input "Spent x-amount of tickets today". And then

[2021-03-05 03:28] Knatan commented on #174
I agree with this. It's a huge waste of tickets in the club I'm in since these guys purchase revives on the champion all the time.
The end result is a ton of tickets being wasted on really bad damage.

The sooner you can implement this one, the more tickets will be salvaged.

[2021-03-05 08:27] YotoTheOne commented on #154
1a is nice. Along with 3, I think we need both and these are not mutually exclusive.
Ideally we could also set a timer (1h before the end for instance) to remove both limitations and finish him, with an option to spend kobans.

[2021-03-05 08:57] Roukys commented on #154
;(
sorry guys I've worked on implementing n°2, but to be change, release is on the go :)

[2021-03-05 09:08] Roukys commented on #154
5.4.6 :
Club Champ :
- do not fight if have not been started #174
- can set a max tickets by champion runs #154
- fixed double champion click #166
- try to fix club champ issue with powerplaces #169
Missions:
- priorize missions with kobans (event) #173
Salary:
-try to fix issue with salary and paranoia for big harem and no monthly card #172
Give Aff:
-Small fixes
Shop Sell
-big update (proud of i

[2021-03-05 09:09] Roukys commented on #173
5.4.6 :
Club Champ :
- do not fight if have not been started #174
- can set a max tickets by champion runs #154
- fixed double champion click #166
- try to fix club champ issue with powerplaces #169

Missions:
- priorize missions with kobans (event) #173

Salary:
- try to fix issue with salary and paranoia for big harem and no monthly card #172

Give Aff:
- Small fixes

Shop Sell
- big update (pro

[2021-03-05 09:10] Roukys commented on #174
5.4.6 :
Club Champ :
- do not fight if have not been started
- can set a max tickets by champion runs
- fixed double champion click
- try to fix club champ issue with powerplaces

[2021-03-05 09:12] Roukys commented on #172
5.4.6 :
Salary:
- try to fix issue with salary and paranoia for big harem and no monthly card #172

[2021-03-05 09:13] Roukys commented on #169
5.4.6 :
Club Champ :
- do not fight if have not been started
- can set a max tickets by champion runs
- fixed double champion click
- try to fix club champ issue with powerplaces

[2021-03-05 09:13] Roukys commented on #166
5.4.6 :
Club Champ :
- do not fight if have not been started
- can set a max tickets by champion runs
- fixed double champion click
- try to fix club champ issue with powerplaces

[2021-03-05 09:14] Roukys commented on #137
5.4.6 :
Shop Sell
- big update (proud of it !)

[2021-03-05 10:53] OldRon1977 commented on #137
Looks promising :)

Thanks for the update!

[2021-03-05 12:06] OldRon1977 opened #175 "Bug [5.4.7] - Mission not working"
**Describe the bug**
The script opens the mission menu but does not start a mission.

**Expected behavior**
The script opens the mission menu and starts the mission with the shortest time to complete.

**System:**
- **OS:** Windows
- **Browser:** Microsoft Edge
- **Script-Helper:** Tampermonkey
- **Script-Version:** 5.4.7
- **Actual activated options:** : What are the options activated ? (can be a

[2021-03-05 12:41] cossname commented on #175
@OldRon1977
change
[code]
to
[code]

[2021-03-05 12:49] OldRon1977 commented on #175
Nearly a succes ;)

The script correctly opens the mission menue after a mission is finished and collects the reward.
The script stops at the final collection of the reward (screenshot) and does not hit "OK".

![image](https://user-images.githubusercontent.com/73475830/110117725-8fce0f00-7db9-11eb-8613-95fa889ade34.png)

So it stops there...

[2021-03-05 12:53] Roukys commented on #175
let me check ...

[2021-03-05 12:54] OldRon1977 commented on #175
I cleared the temp storage and saved a new debug file...

[HH_DebugLog_1614948871135.log](https://github.com/Roukys/HHauto/files/6090578/HH_DebugLog_1614948871135.log)

[2021-03-05 13:08] Roukys commented on #175
my bad ... I had noted to replace that ...

thanks @cossname

[2021-03-05 13:12] Roukys commented on #175
@OldRon1977 choose mission surely fixed, for reward it should be good too, to be confirmed

[2021-03-05 13:16] cossname commented on #175
@Roukys  did you fixed something with rewards?

ps [ver.5.4.8]
got  log in console
``
2021-03-05T13:09:32.240Z:doMissionStuff:Something went wrong, need to retry later...
``

[2021-03-05 13:21] OldRon1977 commented on #175
Now it is catching the second confirmation but when it tries to start a new mission, it goes to a loop and is always refreshing the mission menue but not starting a mission.

[HH_DebugLog_1614950478236.log](https://github.com/Roukys/HHauto/files/6090693/HH_DebugLog_1614950478236.log)

[2021-03-05 13:24] cossname commented on #175
hm..
[code]

[2021-03-05 13:30] Roukys commented on #175
I'm out today yes it is, just corrected the same for leagues ...
should be good in 5.4.10 ...

[2021-03-05 13:44] OldRon1977 commented on #175
Starting a new mission works now...
checking if everything else is still working ;)

[2021-03-05 13:48] OldRon1977 commented on #175
The script started the mission which took 8h instead the one with the shortest duration... why?

[2021-03-05 14:00] Roukys commented on #175
was a request to start first the event missions #173

[2021-03-05 14:36] OldRon1977 commented on #175
Hmmm... I think that this is a bad idea.
Why? For the rewad to finish all missions in one day, it is relevant to start the mission, not to finish it.
So it would be best to start the small missions first and the big ones last.
I know that sometimes there are contests where we have 2 or 3 big missions, but now I think it is not helpful.

What was the statement why it is helpful to start the big one

[2021-03-05 14:43] OldRon1977 commented on #173
I just now found this thread.
I don't think that the big missions have to be started first. The other way around makes more sense from my point of view. Because, as I understand it, it's the time when a mission was started that counts, not when it was completed. Event missions are of course more interesting because they give kobans and count for the event, but especially if you have a lot of girls

[2021-03-05 14:51] Roukys commented on #175
@OldRon1977 I did not know about importante to start not to finish, let's discuss it here : #173, that is an easy one to modify :)

[2021-03-05 16:13] YotoTheOne commented on #173
I tend to agree with OldRon1977 on this one.
It is not very important though since all missions are easily completed within much less than a day with automission.
Maybe it's useful for people with a very bad internet connexion ?

[2021-03-05 16:14] YotoTheOne commented on #167
Wow awesome ! Looking forward to see where this post goes ^^

[2021-03-05 16:16] YotoTheOne commented on #154
No problem Roukys, thank you for your work ! Maybe that could become an enhancement sometimes. We have to make sure you don't get bored and keep working the script ;)

[2021-03-05 16:19] OldRon1977 commented on #167
If you guys take a look at the new version of the OCD script here: https://sleazyfork.org/en/scripts/415625-hentai-heroes-ocd-season-version/code you will find an additional calculation for the league, where the script shows the potential points you might get.

It shows something like 200.000 / +20 which means you will get 20 points.
The calculation is not always correct and I often got one point

[2021-03-05 17:13] Roukys commented on #154
bored ? no always much to do :D with you guys and in a very good cooperative mindsel, I do like that
the sell one with the filter took me some time but is usefull as hell :)

[2021-03-05 18:42] Knatan commented on #173
It's 19:40 in the evening in central Europe time now, and the long mission still hasn't finished. Meanwhile the Paranaoia mode is about to enter sleep anytime soon, and the script has finished none of the daily missions for me.

This is very severe consequences. I fear we have been trolled^^;;

[2021-03-05 18:50] OldRon1977 commented on #173
We had a little hiccup with the script... you got the latest version @Knatan ?

[2021-03-05 18:58] Knatan commented on #173
Yes. The problem is the long missions can be reaaaaaally long. I have seen missions that exceed 9 hour mark and I suspect they can get even longer than that.

The ideal scenario is to complete all the small missions before Paranoia enters sleep, but if you have a super long random mission in the way, and the enter a a Sleep schedule on top of that, then it means you risk the smaller daily missions

[2021-03-05 19:49] Roukys commented on #173
can you replace :
` if (JSON.stringify(missionsList[m].rewards).includes("koban"))
        {
            return missionsList[m];
        }`
by
` if (JSON.stringify(missionsList[m].rewards).includes("koban"))
        {
            //return missionsList[m];
        }`

until we decide ?

[2021-03-05 20:23] OldRon1977 commented on #173
Yep... Another reason to get back to do small missions first. The calculation to get big missions finished before paranoia kicks in, would be a pain in the ass, I think, but I'm no coder ;)

[2021-03-05 21:55] Knatan commented on #173
I don't think the script is doing any calculations. The script will simply not activate the smaller missions,
Here is the worst case scenario in the most popular playerbase timezone France.
New missions unlock at 13;00
Let's say worst case scenario is 9 hour mission, (I suspect it can get much worse) the mission starts 13:00, and ends 22:00.
At 22:00 you can get maybe half of the missions done bef

[2021-03-05 22:17] OldRon1977 commented on #173
So we all agree on starting with the small ones first, or is there some side we haven't heard yet?
Otherwise I would propose to switch back to small missions first :)

[2021-03-05 23:18] Roukys commented on #173
granted

[2021-03-06 01:51] NinJaraya commented on #173
Why not include an option for it and let each decide for yourself?
by Google Translate

[2021-03-06 12:14] OldRon1977 commented on #175
Ok... We are back to normal. Everything works fine :)

[2021-03-06 13:08] Knatan commented on #175
Ehrm.. I think there might still be some small issues.

I have found that the script tends to stay on the /activities.html page even after it has done its thing.
In the old behaviour the script would return to the start page.

[2021-03-06 13:29] OldRon1977 commented on #175
So, let's reopen the issue and let @Roukys do his magic ;)

[2021-03-06 13:58] Shiju046 commented on #173
Definitely makes more sense for non-event missions to be prioritized. I want to be able to collect the rewards on the same day the missions are refreshed because I time my level-ups with the shop refresh.

[2021-03-06 14:49] cossname commented on #175
i guess this is new behaviour of script to minimize actions count

[2021-03-06 15:05] Knatan commented on #175
Ahh, this is actually a really cool idea. Anything that creates fewer connections to server makes the script more safe.

[2021-03-06 15:29] Knatan opened #176 "Bug [All] - Server side advertisement shenanigans blocks script feature"
So this isn't really a fault in the script. But there is a conflict for Adblock Plus users regardless.
The game serves advertisements inside iframe which is inside a div.
The Adblock Plus extension successfully removes the 3rd party advertisement. But custom implementations like #iframe_wrapper remains since the blocklist does not target this HH website specifically.
![Untitled](https://user-image

[2021-03-06 17:36] YotoTheOne opened #177 "Conflict between "HH++ OCD season version" and "masked claimed rewards""
Since I installed the other script "HH++ OCD eseason version", the "mask claimed rewards" feature doesn't work anymore.
Am I the only one ?
It's not urgent at all, and maybe it's the other script's fault, but I thought I'd mention it anyway, if someone can take a look it would be much appreciated, I loved that feature !

[2021-03-06 18:13] Knatan commented on #177
That's weird, you're talking about that feature that hides the Seasons rewards you already claimed, right?
It seems to work okay over here.
HH++ Seasons version 0.22.9
HH Automatic++ version 5.4.11
Here are the settings I used in tab 1: https://user-images.githubusercontent.com/1931284/110216491-c71ee780-7eaf-11eb-8ded-f2b221e9eb8a.png
That one worked fine.
Here are the settings I used in tab 2: h

[2021-03-06 18:58] OldRon1977 commented on #177
I also use both scripts and it works flawless.
I use Microsoft Edge and Tampermonkey.
I once had the issue, that the script did the same and I could fix it by clearing all caches and timers via the debug menu. After that I reloaded the page via CTRL+F5. I hope that fixes your problem as well. :)

[2021-03-06 20:20] YotoTheOne commented on #177
Thank you both for your answers, that gives me hope that there could be an easy fix on my end.

@Knatan :
HH++ OCD season version 0.23
HH auto++ version 5.4.10, I'll try 5.4.11 now.
I use a lot more settings than you do but I don't think it's relevant.

@OldRon1977 : I tried clearing all and refreshing but unfortunately it didn't solve the problem. I'll try to clear the browser cache (Google Chrom

[2021-03-06 22:42] NinJaraya commented on #173
I just want to collect the girls, nothing else matters to me.

[2021-03-07 10:30] Nox-Ater commented on #176
Change for uBlock Origin.

[2021-03-07 13:49] Knatan commented on #176
@Nox-Ater That would be a symptom treatment. Not solving the problem which others might also have.

Option 5: We could also contact game developers. I'm not sure if they care about supporting people with adblockers though.

[2021-03-07 17:24] cossname commented on #175
@Roukys
change  all missions setTimeout bcs with timeout 500 we will see a old page, without started mission
[code]
to
[code]

[2021-03-08 07:47] Roukys commented on #176
z-index could help, @Knatan can you try on line starting with UIcontainer.html to modify z-index to a higher value ?

[2021-03-08 07:58] Roukys opened #178 "Info [All] - script seems Slow"
**Describe the bug**
Script seems slow and is always on building list or collecting money.

For all I've discovered that in Chrome or firefox based browsers inactive tab are slowed down:
 - setTimeouts and setInterval are set to minimum 1sec if tab is inactive (this a old settings less visible)
 - setTimeouts and setInterval are set to minimum 1min in certain conditions since January

most of the

[2021-03-08 07:59] Roukys commented on #172
@dadanda can you check #178 I think this is the real issue.
Since I'm running in differents windows I no more have the issue

[2021-03-08 08:45] Roukys commented on #175
in fact I removed a restoring page function yes. but I think I'll try to put a goto home.

[2021-03-08 08:47] #173 closed

[2021-03-08 08:48] #101 closed

[2021-03-08 08:48] #122 closed

[2021-03-08 08:48] #126 closed

[2021-03-08 08:48] #134 closed

[2021-03-08 08:48] #137 closed

[2021-03-08 08:48] #154 closed

[2021-03-08 08:48] #160 closed

[2021-03-08 08:48] #166 closed

[2021-03-08 08:48] #169 closed

[2021-03-08 08:48] #172 closed

[2021-03-08 08:48] #174 closed

[2021-03-08 09:39] Roukys commented on #177
:D my bad :
if (getPage() === "season" && Storage().HHAuto_Setting_showCalculatePower === "true") {
        moduleSimSeasonReward();
    }

I conditionned it to showCalc :D let me correct that

[2021-03-08 09:42] Roukys commented on #177
@YotoTheOne  should be good in 5.4.13

[2021-03-08 10:08] Roukys commented on #164
@cossname this is a specifics for nutaku right ?

[2021-03-08 11:04] cossname commented on #164
@Roukys tested only on nutaku, but i dont think there will be differences between nutaku and HH

[2021-03-08 11:18] OldRon1977 opened #179 "Ther is a new player for automization coming ;)"
Now, since Microsoft has made its Power Automate Desktop Tool available for free incl. plugins for Chrome and Edge, we might see more problems for HH to keep scripts under control ;)

https://flow.microsoft.com/en-us/desktop/

I haven't looked into the PAD-Tool, but I surely will, and this might make scripting for everybody quite easy. You can simply record mouse clicks and get your money from gir

[2021-03-08 16:29] YotoTheOne commented on #177
Working without a fault, thank you !
In fact I disabled Show PowerCalc when I installed HH++ to only show values from HH++.

[2021-03-08 16:29] #177 closed

[2021-03-08 16:41] YotoTheOne commented on #179
Interesting.

The fact is auto-clicking can only get you so far, many tools exist from a very long time, like autoit for instance.
It will never be as reliable or fast as javascript and it's far less portable since it's user-interface dependent (button size and placement depends on browser and screen resolution for instance).
And the code is a pain to maintain and update.
Finally it cannot work on

[2021-03-08 16:48] YotoTheOne commented on #153
Since that feature doesn't seem to interest anyone else, I think a separate script could do the job.
Would someone be willing to write it ? I know some of you have separate scripts to refresh browser at fixed intervals or reset some options, maybe my request could be made quickly from one of those ?
I suspect it's not quite complicated but I really lack the time to improve my javascript these days

[2021-03-08 16:53] OldRon1977 commented on #179
Of course such a tool will never be a real challenge to our script.
But it has some nice features like auto-saving attachments from incoming mails. If (big if) there is a supporter API like Exchange or Outlook, the tool becomes very powerful. It has some plugins for browsers as well, but mostly for starting, closing of tabs or the browser itself. So it won't be a thread, but who knows how far some

[2021-03-08 16:54] YotoTheOne commented on #149
It's similar to the "Mythic bypass threshold" function if I'm not mistaken, so you found a way to do it, just need to transpose it to "buy comb. in events".
BTW that should be automatically activated when "Buy comb. for mythic" is active.
It seems logical : if I want to buy combats to get the girl, I don't care for the threshold at that time !

[2021-03-08 16:59] cricox opened #180 "Hide opponents in tower of fame"
Could you add a function to hide opponents that have already been fought in the tower of fame?

[2021-03-08 18:55] OldRon1977 commented on #153
What exactly would be the use case for this?
Maybe if you explain it a bit more like what you had in mind, it will make things easier to follow you :)

[2021-03-08 19:43] YotoTheOne commented on #153
Well I'll try to be more clear :
I usually cannot play during the day, only morning and night. I live in western Europe so the reset occurs at 13h00. At this time the daily contest stops and another one starts 30mn later.
Say there is a troll fighting contest ending, I likely set my threshold to 0 that morning so I can earn every free point I can for that contest ; I'd like that threshold to go ba

[2021-03-08 20:28] YotoTheOne opened #181 "Enhancement : autoseason - mask claimed rewards"
Since a recent KK patch, the last season reward earned is automatically selected when season tab is opened.
With "hide claimed rewards" on, the screen is not centered on the selected reward, but on the position where it should be with no rewards hidden.
Could you make it so the screen is all the way to the left, or centered on selected reward ?

What I see when I open the season tab :
![HH season

[2021-03-08 21:28] NinJaraya commented on #176
I use userstyles:
https://github.com/openstyles/stylus
/* ==UserStyle==
@name           HH hide ADS
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Jaraya
==/UserStyle== */
@-moz-document regexp("^https://(www|test|nutaku).h(entai|arem)heroes.com/.*$") {
    #iframe_wrapper {
        display: none!important;
    }
}

[2021-03-09 02:39] Knatan commented on #176
I'm not sure what's going on. Your #sMenu is already set to z-index 1000 from what I can tell.
Yet the "do all" toggle still not clickable.

The #iframe_wrapper itself doesn't have a z-index.
But its parent #sliding-popups has z-index 3.
I tried to change it to z-index 2, and no difference happened.
Then I tried to change #sliding-popups to z-index 1, and then your "Do all" toggle became clickable

[2021-03-09 02:49] Knatan commented on #179
You should move this to the discussions section, not in the issues section.

[2021-03-09 02:54] Knatan commented on #177
@YotoTheOne It turns out your settings were relevant. In the future it will help the script author if you can isolate the settings that cause the bugs.

[2021-03-09 05:59] hh1234a commented on #178
In Chrome 88+, beside leaving the tab and the window always on top, the only way that I could find to stop Chrome for throttling timers is to set chrome://flags/#intensive-wake-up-throttling to disabled.

Use a separate Chrome user profile if you don't want to affect all of your opened tabs.

Be aware that if you are on a laptop, that could drain your battery more quickly.

For more info : https:/

[2021-03-09 06:02] hh1234a commented on #178
It would also be possible to play a sound using Howler... But that would probably be very annoying.

[2021-03-09 06:13] hh1234a commented on #178
In Firefox, it could be possible to play with these about:config settings:

dom.min_background_timeout_value_without_budget_throttling
dom.timeout.background_throttling_max_budget
dom.timeout.budget_throttling_max_delay
dom.timeout.throttling_delay
or this one that could disable the whole thing : dom.timeout.enable_budget_timer_throttling

I don't run the script in Firefox, so I didn't do any test

[2021-03-09 06:57] OldRon1977 commented on #153
The last sentence did it for me :)
You need more than one profile which can be loaded automatically.
Like "normal" and "troll-fight" the challenge would be to identify which profile to load at which trigger point.
I am not sure how this could be managed.

The more simple solution would be "profile 1" and "profile 2" and a timer to switch. But that might be a problem for users with more than one ta

[2021-03-09 07:25] OldRon1977 commented on #179
You are right... but I can't... maybe @Roukys can do that?

[2021-03-09 07:30] #179 closed

[2021-03-09 07:50] YotoTheOne commented on #153
I don't even need something that complicated, just go back to default settings is enough ; then I can set the values manually on the evening according to the daily contest.

[2021-03-09 07:55] Roukys commented on #153
@YotoTheOne yes that is clearer, thanks.
Main issue would be to be able to save all vars in somewhere users can modify them when wanted, then to have the reset at 13h or next active burst before doing anything ...
technically could be doable, @OldRon1977 my understanding is that @YotoTheOne want to have only one default profile and everything back to this profile at 13h
However practically to grap

[2021-03-09 08:28] Roukys commented on #181
I think I can all the way to the left, centered on may be more difficult.

[2021-03-09 08:45] Roukys commented on #181
however if I do that it will apply again each time your claim a reward and go back to left

[2021-03-09 12:18] NinJaraya commented on #176
Geniuses, just insert:
`GM_addStyle('#iframe_wrapper { display: none!important;;}');`

[2021-03-09 13:06] Knatan commented on #176
@NinJaraya Your proposal was mentioned in option 2.
Are you certain the HH developers don't use that #iframe_wrapper for things like promoting free Kobans?
As far as I know they used to ask you to visit a website and then you get 150 Koban, or 300 Koban, or something like that.

We can't just nuke it without making sure it has no such consequences.

[2021-03-09 13:19] NinJaraya commented on #176
For that there is an item in the menu called SexFriend:
![sexfriends](https://user-images.githubusercontent.com/73942331/110476602-ec367480-80c0-11eb-8bf7-845f6cefcaeb.jpg)
![sexfriends2](https://user-images.githubusercontent.com/73942331/110476634-f35d8280-80c0-11eb-9476-1c3f3825d8d7.jpg)

[2021-03-09 18:20] YotoTheOne commented on #153
Thank you, that should do the job !
I need to execute that script once every day right ?

[2021-03-09 19:37] YotoTheOne commented on #181
Thank you for your reply Roukys.
Even if it scrolls back each time we claim a reward, I think it would be more practical than having to scroll each time we open the season tab but let's wait for other opinions.

[2021-03-10 01:11] Knatan commented on #176
@NinJaraya That's besides the point. I don't agree that the script should cripple the game's ability to advertise free Kobans for its users.
You're free to apply your use userstylesheet as always.

[2021-03-10 07:12] Roukys commented on #176
@Knatan can you try that  : GM_addStyle('#sliding-popups { z-index : 1;}');
I'm waiting to have it back to be able to check what we can do.

[2021-03-10 07:36] Roukys commented on #153
no it should load everytime HH page load, like the script ;)

[2021-03-10 07:37] Roukys commented on #153
I didn't test it thoroughly though, particularly concerning timezone ...

if needed you can change the line let secondsTo13 to match the good hour

[2021-03-10 12:22] NinJaraya commented on #176
On the test server, the popup to collect the daily 60 kobans, appears normally.

[2021-03-10 13:25] NinJaraya commented on #176
You can try:
#sliding-popups #iframe_wrapper {  left: 780px!important; opacity: .5!important; }

[2021-03-10 17:14] Knatan commented on #176
@Roukys
GM_addStyle('#popups#sliding-popups, #sliding-popups#sliding-popups { z-index : 1;} #sliding-popups { z-index : 1;}');
I tried to add this line 7148 in your script.
It worked!

Then I tried to alter line 7148 into
GM_addStyle('#sliding-popups#sliding-popups { z-index : 1;}');
And it also worked!

[2021-03-10 20:38] YotoTheOne commented on #153
It didn't work today.
The console says "ERROR: Execution of script 'HaremHeroes midday reset' failed! Illegal constructor".
I'm looking into some documentation of the date constructor to see if I can find spot a syntax error.

[2021-03-10 21:53] YotoTheOne commented on #153
Working perfectly now, thank you again !
I made some corrections, here is the full working code if anyone is interested :

[code]

You just need to set the correct value for resetHour to match your time zone, and adjust the thresholds values.

[2021-03-10 22:33] YotoTheOne opened #184 "Enhancement : Troll order tooltip with number and names"
I thought having the names of the trolls with their numbers on that tooltip would be helpful.
line 6363 of beta 5.4.13 :

`
eventTrollOrder: { elementText: "Event Troll Order", tooltip : "(values separated by ;)<br>Allow to select in which order event troll are automatically battled<br>1 : Dark Lord<br>2 : Ninja Spy<br>3 : Gruntt<br>4 : Edwarda<br>5 : Donatien<br>6 : Sylvanus<br>7 : Bremen<br>8 :

[2021-03-10 22:57] RuperSama commented on #180
@cricox here.

https://github.com/RuperSama/HentaiHeroesScripts

the script called HentaiHeroes-HideInfo.js do that.

[2021-03-10 22:59] RuperSama commented on #176
i dont read all the thread but the ad can be removed with this.

function moduleAd(){
    var ad = document.getElementById("iframe_wrapper");
    if(ad != null){
        ad.remove();
    }
}

[2021-03-11 01:18] NinJaraya commented on #153
Is it possible to do this with minutes too?
Like 13:30?

[2021-03-11 02:32] YotoTheOne commented on #153
Yes it is, just replace
`let msToReset = (new Date(currentTime.getFullYear(), currentTime.getMonth(), currentTime.getDate(), resetHour).getTime()-currentTime.getTime());`
by
`let msToReset = (new Date(currentTime.getFullYear(), currentTime.getMonth(), currentTime.getDate(), resetHour, resetMinute ).getTime()-currentTime.getTime());`
and add
`const resetMinute = 30;`
after
`const resetHour = 13;`

[2021-03-11 11:47] NinJaraya commented on #153
:+1: :1st_place_medal:

[2021-03-11 17:00] YotoTheOne commented on #153
For some reason it didn't reset the autoleague threshold today. Looking into it.

[2021-03-11 19:10] RuperSama commented on #164
@Roukys i tested in HH and work fine

[2021-03-13 08:16] YotoTheOne commented on #153
It does not work anymore with any values.
The correct values are retrieved and logged but they are not updated within the main script.
Still investigating ^^

[2021-03-13 16:55] Roukys commented on #153
maybe it would be better to add a loop and set them multiple time, just in case ...

[2021-03-13 16:57] Roukys commented on #153
function middayReset()
{
        for (let i =1, i<5, i++)
{
    setTimeout(resetThreshold, i*500);
}
}

function resetThreshold()
{
console.log("HaremHeroes midday reset now !");
        Storage().HHAuto_Setting_autoQuestThreshold="90";
        Storage().HHAuto_Setting_autoTrollThreshold="18";
        Storage().HHAuto_Setting_autoSeasonThreshold="8";
        Storage().HHAuto_Setting_autoLeaguesThr

[2021-03-14 11:02] YotoTheOne commented on #153
OK that was the issue, now it's working. Here is the code :

[code]

[2021-03-14 15:12] Cronosus opened #185 "Bug [5.4.13] - AutoClubChamp with max tickets"
for some reason autoclubchampion didnt work, if i set max used tickets
rsp. it didnt start on itself

i set it to 30. and it started attacking only after i did the first attack manually

[2021-03-14 17:05] cossname commented on #185
this is not a bug, auto-champs works only after first manual attack

[2021-03-14 18:54] OldRon1977 commented on #185
It's a feature, not a bug ;)

[2021-03-14 18:55] OldRon1977 commented on #185
Or as my colleagues always said: "Works as designed."

[2021-03-14 20:22] Moizevitch opened #186 "Bug on script"
Hello.
I received this script from a friend about a game.
(https://github.com/Roukys/HHauto/wiki/English)
It turns out that I am not able to install it on my machine.
As an answer: invalid script header.
Can you help me with this, please?
I don't know where I'm going wrong.
My friend installed it on Chrome.
But I want to install it on Brave.
The Brave's engine, for those who don't know, is the Chr

[2021-03-14 22:34] OldRon1977 commented on #186
Hi :)

If you browser is based on Chromium, try to install the Tampermonkey extension. Tampermonkey is an excellent script handler for Chrome, Edge (also based on Chromium) and other browsers as well.

[2021-03-15 12:47] cossname opened #187 "Bug [5.4.13] - Bug description"
https://github.com/Roukys/HHauto/blob/f8bb59c9be3a5e8e65a6243ebdb65105cbbe79cf/HHAuto.user.js#L3076
should be removed bcs its redirected page to "home" right after clicking on fight button

as result those lines didnt work properly, also there no dalay between troll fights
[code]

[2021-03-15 15:19] NinJaraya commented on #153
Is it possible to also work with Switch?
I would like to turn on Collect in Mission after starting a new Contest that takes place at 13:30 in Europe, 9:30 in Brazil.

[2021-03-15 19:39] YotoTheOne commented on #153
Then we need to set it off first inside the middayReset function, and then set another timer to reactivate it 30 mn later.
A little more complicated but should work.
I'll look into it if I find the time.

[2021-03-15 21:35] YotoTheOne commented on #153
@NinJaraya here is the code :
[code]
I set the time for you, I let you set your preferred default values.
Tell me if it works for you.

[2021-03-16 05:39] NinJaraya commented on #153
I may be talking nonsense.
Contests end when Missions start.
Just use the same timer.

by Google Translate

[2021-03-16 07:08] OldRon1977 commented on #186
@Moizevitch : any luck with my suggestions?
Otherwise we will close this soon.

[2021-03-16 08:27] neroarts opened #188 "Bug [v5.4.13] - Tower of fame not working"
![Captura](https://user-images.githubusercontent.com/80747143/111278302-ff849b00-85fe-11eb-82a5-bd878108f58c.PNG)

**System:**
- **OS:** Windows
- **Browser:** Brave (Main) y Chrome
- **Script-Helper:** Tampermonkey
- **Script-Version:** v5.4.13
[HH_DebugLog_1615882448849.log](https://github.com/Roukys/HHauto/files/6147176/HH_DebugLog_1615882448849.log)

[2021-03-16 09:52] OldRon1977 commented on #188
Hi @neroarts : what exactly is not working? The ToF does not start, or does it get into an auto-loop? Please give us more information about what does not work and what you expect how it should work.

[2021-03-16 10:00] Roukys commented on #188
@neroarts you seems to be above your target :
"2021-03-16T06:50:08.262Z:doLeagueBattle:": "Current league above target, needs to demote. max rank : 92/106",
    "2021-03-16T06:50:08.265Z:doLeagueBattle:": "Current league above target, needs to demote. Score should not be higher than : 336",
    "2021-03-16T06:50:08.266Z:doLeagueBattle:": "Can't do league as could go above demote, setting timer to

[2021-03-16 12:41] NinJaraya commented on #153
Daylight Saving Time in France starts day 28.
[https://www.timeanddate.com/time/change/france](url)

[2021-03-16 15:50] YotoTheOne commented on #153
Yes but you cannot start collecting rewards before the new contest starts in case you need the XP for that new contest.

[2021-03-16 19:48] neroarts commented on #188
@OldRon1977 sorry I thought I had put it, they just don't start the fights and it leaves me with fifteen

@Roukys when i get to dicktator 3 stopped, I am currently in sexpert, let me pass and try solutions to other community problems to see if their solutions would work for me.
![Captura2](https://user-images.githubusercontent.com/80747143/111370588-0c84a700-865e-11eb-872b-5e2938fc26ad.PNG)

[2021-03-16 20:42] Moizevitch commented on #186
Hi **OldRon1977**!****

Thanks for your help.
Yes, I had installed Tampermonkey.
I've installed the script twice and nothing.
But when I restarted the browser, everything was working fine.
Sorry about my delay in answer you.
And thanks again for your help!
To me, it's ok to close the thread.
Thanks!!

[2021-03-16 22:24] OldRon1977 commented on #186
@Moizevitch no problem :)
@Roukys can you close this, I can't...?

[2021-03-17 04:24] #188 closed

[2021-03-17 04:27] neroarts commented on #188
uninstall the extension and it started working again

[2021-03-17 07:41] Roukys commented on #93
in fact x50 is easier than x10, because x50 allow to also buy the needed combat where x10 needs them to be available
but we need to define the how and when to use them.

[2021-03-17 07:41] Roukys commented on #186
strange, I'll check
@OldRon1977 @Moizevitch closing

[2021-03-17 07:41] #186 closed

[2021-03-17 07:52] OldRon1977 commented on #93
I would like to keep it simple. Just allow the 10x or 50x battles, if enough points are available. Because I believe that if you have to buy points you better do it on purpose, so you can stop at the moment you got the girl. Otherwise the option might burn your Kobans ;)

[2021-03-17 08:54] YotoTheOne commented on #181
Solved by adding `document.getElementById("rewards_cont_scroll").scrollLeft = 0;` at the end of `moduleSimSeasonReward()` function.
I'm making a pull request with that code.

[2021-03-17 09:44] #185 closed

[2021-03-17 09:48] #152 closed

[2021-03-17 09:48] #164 closed

[2021-03-17 09:48] #184 closed

[2021-03-17 09:48] #187 closed

[2021-03-17 09:48] #176 closed

[2021-03-17 09:48] #181 closed

[2021-03-17 09:49] #175 closed

[2021-03-17 09:52] #77 closed

[2021-03-17 09:52] #178 closed

[2021-03-17 11:43] OldRon1977 commented on #181
Works as expected :) Thanks!

[2021-03-17 17:34] cossname opened #190 "Bug [all] - fix few visual css bugs"
1. bug - cross css for switchers: HH++ and OSD script:

replace:
[code]
with:
[code]
--------------------------
2. Fix for debug menu > Reset default button - tooltip glitch:

replace:
[code]
with:
[code]
--------------------------
3. fix for showInfo almost invisible tooltip

add:
[code]
replace:
[code]
with:
[code]

[2021-03-17 23:51] YotoTheOne commented on #181
The problem is the reward element is constantly scrolled all the way to the left at each update so if you try to scroll to the right (if you have more rewards there or to check future rewards) it goes instantly back to the left.
I'll try to find a better way.

[2021-03-18 08:04] OldRon1977 commented on #181
Not a problem for me...
I open up the season, the script scrolls to the left and if I scroll to the right, it stays there.

MS Edge and Tampermonkey...
I get the feeling, that this browser & Scripthandler combo might be the most trouble-free ;)

[2021-03-18 10:07] ilviloon commented on #190
Hi is there a bug, im using the new update and season is not working...

[2021-03-18 10:08] ilviloon commented on #190
HHAuto.user.js
5.4.14
yesterday

[2021-03-18 10:13] Roukys commented on #93
yes was my point it is harder to clearly define the how to work it out at best

[2021-03-18 10:14] Roukys commented on #93
ok so idea is to use the first available, if more than 50 allow use x50, if 10<x<50 use x10 otherwise use x1, right ?

[2021-03-18 10:38] OldRon1977 commented on #93
Looks good to me :)

[2021-03-18 10:42] Roukys commented on #181
@YotoTheOne normally I've added a way to see if modified or not and scroll back left should only happen if you claim a new reward, is this not the case ( it works for me ...)

[2021-03-18 10:52] YotoTheOne commented on #181
All right, fixed in 5.4.14 indeed. Thank you !

[2021-03-18 11:04] OldRon1977 opened #191 "Enhancement : Auto-League update to win a selected stage"
**Which feature is concerned**
The Auto-League can be set to aim for a specific stage like Dicktator 2. If you are below that stage, the script will try and win so you get promoted. If you are above the script will only fight so much, that you get demoted. And when you are at the selected stage, the script will keep you there.

**Describe the solution you'd like**
I would like to have an extra opt

[2021-03-18 11:37] YotoTheOne opened #192 "autotroll [5.4.14] - freezes on reward when a girl is won"
The script is better now, more human-behaviour-like, since the last update Roukys made.
But there is a problem : when I win a girl after a troll fight the script freezes on the reward page.
I'll look into the new code tonight but I wanted to submit the bug asap.

Edit : additionnaly the script kept fighting the same troll despite the event girl already being won. I had to manually reload the brows

[2021-03-18 12:16] Knatan opened #193 "Bug [5.4.14]] - Test Server - Seasons and League are broken"
Looks like some changes are coming there. It's been like this all day yesterway.
The Seasons are glitching massively, visual glitches, and the script is stuck at the opponent selection screen.
The Leagues is broken at the place where it tries to calculate list of opponents.

Can someone confirm this?

[2021-03-18 13:06] NinJaraya commented on #153
I did some tests.
with the master switch off, it works perfectly.
but with the master switch on, the timer bugs when the HH script reloads the game page.

by Google Translate

[2021-03-18 13:47] cossname commented on #190
@Roukys
https://github.com/Roukys/HHauto/blob/34fe5b0980f5a24d7c2c5ae4839a550bc9053532/HHAuto.user.js#L2372
"playerEgoCheck" didnt deckared, also dont have any value

[2021-03-18 14:18] #190 closed

[2021-03-18 14:19] Roukys commented on #193
seems forgot a variable in powerCalc for no custom values thanks @cossname
can you try v5.4.15 ?

[2021-03-18 14:19] Roukys commented on #190
thanks @cossname correcting these in 5.4.15

[2021-03-18 14:20] Roukys commented on #192
@YotoTheOne could you provide a debug log ?
on my side it is able to fetch the reward and go to the good troll ...

[2021-03-18 20:03] YotoTheOne commented on #192
I forgot to save the debug log this morning sorry... I'll reproduce the conditions tomorrow to win the last event girls.

[2021-03-18 20:04] YotoTheOne commented on #153
what do you mean "the timer bugs" ? What is written in the console ?

[2021-03-18 21:46] Knatan commented on #193
Yup, looks like you fixed it.

[2021-03-18 21:46] #193 closed

[2021-03-19 02:21] NinJaraya commented on #153
Console starts with:
"Contest ends in "x" ms."
then:
"Contest already ended today."
next:
"Contest ends now ! Setting default values."
instead of:
"New contest starting now ! Mission collect set to True."
stay repeating:
"Contest already ended today."
in infinite loop.

[2021-03-19 02:23] NinJaraya commented on #153
the line:
setTimeout(contestStart, 1800000);
resets every time that the game change of the page.

[2021-03-19 07:05] Roukys commented on #192
:)

[2021-03-19 07:06] Roukys commented on #93
I can at first only use option if it is monthly activated therefore without kobans

I would just need the button HTML code

[2021-03-19 07:26] Willyxxx opened #194 "AutoSalary [v.5.4.15] - Auto Salary not working when using another page"
**Describe the bug**
When I'm leaving the page where the script is active and doing Auto Salary, the script stops until I come back on this page.

[2021-03-19 07:50] iirtimD commented on #192
the skip button does not appear
[HH_DebugLog_1616139869030.log](https://github.com/Roukys/HHauto/files/6169425/HH_DebugLog_1616139869030.log)

[2021-03-19 10:27] OldRon1977 commented on #93
Is this what you are looking for?

![image](https://user-images.githubusercontent.com/73475830/111766434-d46fa500-88a5-11eb-9224-e3d85d45ab9c.png)
![image](https://user-images.githubusercontent.com/73475830/111766675-1bf63100-88a6-11eb-9fd5-4f2e85fd5a06.png)

[2021-03-19 11:39] cossname commented on #194
this is new feature of Google chrome (also few other browsers), its decrease memory and cpu consumption of inactive tabs

[2021-03-19 11:57] cossname commented on #192
same for me
[HH_DebugLog_1616137702340.log](https://github.com/Roukys/HHauto/files/6170859/HH_DebugLog_1616137702340.log)

[2021-03-19 12:49] Roukys commented on #194
yes in fact it does increase all interval to 1 sec or even 1 minutes in some cases.
@Willyxxx you have to open in separate window

[2021-03-19 12:51] Roukys commented on #192
@YotoTheOne @cossname @iirtimD can you try v16 ?
otherwise I will roll back modification fully

[2021-03-19 14:59] cossname commented on #194
@Roukys opening in separate window dont fix this "option", at least for me

[2021-03-19 15:16] Roukys commented on #194
strange does seems to work for me, or chrome has found a way to detect window is not visible I don't know

[2021-03-19 15:45] cossname commented on #192
@Roukys cant repeat this bug yet but have some thoughts.
Problem not in function "CrushThem" bcs loop happens before those timeouts,
code from ver: 5.4.16
[code]

[2021-03-19 15:51] cossname commented on #192
also script keep trying to fight troll even when we waiting for
[code]

[2021-03-19 16:48] Roukys commented on #192
@cossname yes you're right, that may be due to reward not being able to be fetched, replaced a gotohome with reload to prevent that
@YotoTheOne can you check on v17

[2021-03-19 20:05] YotoTheOne commented on #192
Sorry I've been really busy today, I only checked around 14h. I only won 1 event girl, the remaining 2 were not even started, not a single shard so I guess the freeze on girl reward happened again but nothing relevant on the log, I guess I was too late.
I'll test the new version you made, I have a troll girl at 96% so it should happen pretty fast. I'll keep you posted.
Thank you all for your work

[2021-03-19 20:34] YotoTheOne commented on #153
I don't see anything wrong with your console log ; maybe you could post it with the timestamps ?

setTimeout(contestStart, 1800000);
resets every time that the game change of the page.

How do you know ?

[2021-03-20 03:55] NinJaraya commented on #153
I'll try...

[2021-03-20 15:05] Cronosus opened #197 "Enhancement : Sell Items"
**Which feature is concerned**
Sell items in shop

**Describe the solution you'd like**
Can be specified which type/quality itms i want to sell?
example i dont want to sell legendary items, but only common, rare and epic.

[2021-03-20 15:15] #197 closed

[2021-03-20 17:26] dadanda opened #198 "Error 500 [5.4.17] - Script be sending too many requests to the server"
**Describe the bug**
So atm, the script can send too many requests, as in it does way too much stuff at a certain time.
I know paranoia exists and I did forget to turn it back on because it's Legendary Week again, and I really don't want to be forced into using kobans.
So I guess maybe have a slower version of collecting stuff because I really want to collect as much as possible but the paranoia i

[2021-03-20 18:16] dadanda commented on #198
Update:  something must've changed in the way they check when this error gets triggered as there's just a lot of people reporting it on the discord server and it's happening more frequently than it used to, that people just selling, giving exp/aff normally gets the temp ban.

[2021-03-20 19:28] OldRon1977 commented on #198
I used an auto-clicker to use my 180 orbs... After around 100 orbs I run into the 500-error. Maybe I set the tool to fast. But sofar I had no problems while using the script, even without paranoia active.
I tried to access the website via my mobile, it still worked, so they blocked my IP and not my account. So I suspect, they can't identify my account but my IP. After 1h everything went to normal.

[2021-03-21 00:27] MrKeeney81 commented on #198
if you go to HH official discord you find everyone is having that problem if you click faster than one click per 5 sec you get the error 500

[2021-03-21 08:10] cossname commented on #198
error 500 happens not bcs of script, but bcs of current contests: 2 spam-contests at same time..
 @dadanda your screenshot **not** from script version: **5.4.17**

[2021-03-21 08:20] dadanda commented on #198
Yes, I know, but the settings are essentially the same. I couldn't take a photo of the recent one as I am temp IP-banned.

[2021-03-21 09:11] Willyxxx commented on #194
So what you're telling me is that there is nothing to do and that I can quit the game ?

[2021-03-21 10:05] OldRon1977 commented on #194
If you refer to the new feature that put tabs to sleep, I can only give help for MS Edge.
There is the option under the system settings...

Settings and more > Settings > System > Save recourses

If this is enabled the browser put tabs to sleep to save memory.
You can completely disable it or define sites to exclude.

Chrome should behave similarly.

I hope that helped :)

[2021-03-21 14:13] Roukys commented on #198
the script on most repetitive action is clicking with a random between 800ms t 1600ms which is much slower than if you do it manually.
For example on salary I can pick nearly 20 in only a few secs, I think they took a step too much in detecting to much activity, moreover in a contest that ask to do multiple clicks for example to sell orbs

[2021-03-21 14:30] dadanda commented on #198
Yeah I think its just a case of the automated thing on their end that flags suspicious clicking just got way too active at that time.

[2021-03-21 14:30] #198 closed

[2021-03-21 18:22] NinJaraya commented on #153
On the first log, I changed the setTimeout to 2 minutes to speed up the test.
The Master Switch OFF, everything works normal.
On the second log, I went back to the default.
The Master Switch ON only with Missions.
[www.hentaiheroes.com-1616240068759.log](https://github.com/Roukys/HHauto/files/6178064/www.hentaiheroes.com-1616240068759.log)
[www.hentaiheroes.com-1616245130259.log](https://github.co

[2021-03-21 18:34] NinJaraya commented on #194
This script dealt with the same problem:
[https://github.com/ccloli/E-Hentai-Downloader/issues/65](url)
Silent Music seems to work.

[2021-03-21 20:03] YotoTheOne commented on #153
OK thank you for your tests.
It seems you're right, for some reason the contestStart() function is not executed if the script resets before the end of the timeout.
Let's try a different approach :
[code]
Don't forget to set your preferred default values and keep me posted !

[2021-03-22 01:25] NinJaraya commented on #153
:+1:

[2021-03-22 07:54] Roukys commented on #194
thanks @NinJaraya let me try that

[2021-03-22 08:01] cossname commented on #194
i found solution for chrome in this github
just disable this flag
[code]
[code]

[2021-03-22 09:28] bob626 opened #199 "Enhancement : On/off switch for tooltips"
While the tooltips are useful at explaining what each function does, I find the boxes of text really annoying as they often cover others switches I'm trying to turn on or off. I would suggest to add a "disable tooltips" switch to make life easier to those like me that already know how everything works.
Another solution could be that of displaying the text always at the bottom of the window:

![Unt

[2021-03-22 10:02] OldRon1977 commented on #199
Yes, that would be helpful, if we can enable/disable the tooltips :)

[2021-03-22 10:07] #192 closed

[2021-03-22 10:58] dadanda opened #200 "Enhancement : AutoChampions x10"
**Which feature is concerned**
AutoChampions

**Describe the solution you'd like**
I would like to have an x10 mode for it similar to how we have AutoBuyCombativity, but instead of buying the energy we need to fight, it would instead have every champion fight every time the champion rests to be an x10 fight instead of just using a ticket.

**Describe alternatives you've considered**
I thought of m

[2021-03-22 12:05] NinJaraya commented on #199
I put the following CSS in mine using the "Stylus" extension:
`.tooltip:hover span.tooltiptext {
    pointer-events: none!important;
}`
Thus, the tooltip barely gets in the way.

by Goggle Translate

[2021-03-22 12:28] NinJaraya commented on #194
Yes, it has already been noticed here: https://github.com/Roukys/HHauto/issues/178
Mas tem a questão da bateria em notebooks.
E o jogo já tem sua propria musica:
Nutaku
document.querySelector("#hh_bg_music")
[code]
Hentai Heroes
document.querySelector("#hh_bg_music")
[code]
É só tirar o volume.

[2021-03-22 12:31] Roukys commented on #194
if we disable fully you'll have perf issue,

I've implemented the silent volume in 5.4.18 lets try and see
@Willyxxx @cossname @OldRon1977 @NinJaraya I'm taking returns ;)

[2021-03-22 14:21] Roukys commented on #199
hello, button added @OldRon1977 @bob626

[2021-03-22 14:24] OldRon1977 commented on #199
@Roukys : works :)

[2021-03-22 14:47] minedoog opened #201 "Enhancement : Jump to girl or Sort girls by level"
**Which feature is concerned**
In the Market, specifically on the Books and Affection section, a "jump to" a specific girl, by the number of the list.
Or, a sorting of the girls by their level (Book section or Affection).

**Describe the solution you'd like**
Could be like the "Give Exp" or "Give Aff" button but it could say: "Go to" then input the number of the girl in the list, and jump to that

[2021-03-22 15:43] OldRon1977 commented on #194
@Roukys : I see at regulary basis the speaker icon at the tab, but no sound is played. Sofar I would say it works.

[2021-03-22 15:51] Roukys commented on #194
yes that should be the working way, however I don't know if that really fully prevent throttling ..

[2021-03-22 15:56] Roukys commented on #201
@minedoog I do confess that I use OCD script for filtering girl

[2021-03-22 15:58] Roukys commented on #181
@YotoTheOne I improved it so it just adapt to mask rewards, should be much better now :)

[2021-03-22 16:29] YotoTheOne commented on #181
Trying 5.4.19 now, I don't see what changed ?...

[2021-03-22 18:25] cossname commented on #194
its working only with tabs, but im use different windows for each account

[2021-03-23 00:00] minedoog commented on #159
can both scripts co-exist? or would one interfere with the other?

[2021-03-23 07:22] Roukys commented on #159
they co-exist normally :)

[2021-03-23 08:21] Roukys commented on #194
and you have the throttling issue ?

[2021-03-23 10:46] OldRon1977 commented on #194
I must say, that even if it does not have any negative effect it bothers me to see the sound icon every few seconds in the tab header. Is there no other way?

[2021-03-23 12:32] Roukys commented on #194
only way found so far, but not sure if it works though

[2021-03-23 17:40] cossname commented on #194
nah, im just disabled js throttling flag
because im use edited stable version of script, and update it only when something big changed, new versions going throw test on alt accounts

[2021-03-24 10:06] OldRon1977 commented on #194
So does this mean, we can delete this function from the code?

[2021-03-24 10:51] Roukys commented on #194
disabling it fully in a browser be careful if you use other sites ...
advantage of this code is that I can make it only happen in active mode

[2021-03-24 15:09] #199 closed

[2021-03-25 12:47] NinJaraya commented on #153
so far, everything is going well!

[2021-03-26 16:52] cossname opened #202 "Enhancement : Harem Affection Empty Stars"
UPD 0,2 - 04.04.21
![image](https://user-images.githubusercontent.com/56331601/112664912-50588700-8e7c-11eb-9d88-2fd9f8a72855.png)
**click on star - navigation type change**
![image](https://user-images.githubusercontent.com/56331601/113503887-10656400-954e-11eb-8f93-643bc8fa6c16.png)

add to autoloop function after page check
[code]
main code
[code]

[2021-03-27 05:31] Knatan opened #203 "Enhancement : Less intrusive infobox on club Champion page"
![Untitled](https://user-images.githubusercontent.com/1931284/112709893-4dca5180-8ebd-11eb-82e5-067eabd7f0ad.png)

As you can see, the box is blocking some of the position icons in
/club-champion.html
/champions/6
/champions/5
/champions/4
/champions/3
/champions/2
/champions/1

The info that is being blocked is useful for composing an effecting team of girls. So can we do something about this?

*

[2021-03-27 16:12] YotoTheOne commented on #203
Here is the code that works for me : line 8360 starting with `div.innerHTML = '<div id="pInfo"`, replace with :
`div.innerHTML = '<div id="pInfo" style="padding-left:3px;z-index:-1;white-space: pre;position: absolute;right: 5%; left:77%; top:11%;border: 1px solid #ffa23e;background-color: rgba(0,0,0,.5);border-radius: 5px;font-size:9pt;"></div>'.trim();`

Some testing is needed since it depends on

[2021-03-28 07:01] YotoTheOne commented on #153
May need time adjustment today for summer time (or daylight saving time).

[2021-03-28 10:40] NinJaraya commented on #153
:+1:

[2021-03-28 18:57] dadanda commented on #194
has there been a fix for this script-wise without turning the flag off?

[2021-03-29 06:41] Roukys commented on #194
@dadanda normally yes I've added a blank music, you should see it appear on inactive tab, but for the moment no confirmation has been made that it does do the trick.

[2021-03-29 06:55] Roukys commented on #203
personnaly I only use the infobox on home page, so I can check on proposal 1

[2021-03-29 07:43] OldRon1977 commented on #194
So I would propose to delete that workaround since it appears to not work.

[2021-03-29 12:37] nwlndfre opened #204 "Bug [5.4.19] - Mythic Pachinko redemption stuck in an infinite loop"
**Describe the bug**
Mythic Pachinko never resolves, locks the tab in an infinite loop with the script

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on AutoPachinko

**Expected behavior**
Pachinko redeemed

**System:**
- **OS:** Windows 10
- **Browser:** Chrome 87
- **Script-Helper:**Tampermonkey
- **Script-Version:** 5.4.19
- **Actual activated options:** : AutoPachinko is the on rel

[2021-03-29 12:42] ilviloon commented on #204
Just turn auto Pachinko off for now and wait till fix

[2021-03-29 12:45] Knatan commented on #204
Thanks nwlndfre, I was about to make the same thread.

Here's the debug log I saved:
[HH_DebugLog_1617021519871.log](https://github.com/Roukys/HHauto/files/6221744/HH_DebugLog_1617021519871.log)

**Additional context**
During this bug I noticed the side scrolling animation of the Epic pachinko banner is stuttering.
![Untitled](https://user-images.githubusercontent.com/1931284/112837971-d2bf9180-90

[2021-03-29 16:57] RuperSama commented on #202
This function hide all girls with max star

`function moduleHarem(){
    //console.log("Inicio");
    if(moduleHaremRepeat) {
        setTimeout(load,3000);
        return;
    }
    document.getElementsByClassName("check-btn shards-state owned")[0].click();
    var listGirls = document.getElementsByClassName("girls_list grid_view")[0].getElementsByClassName("graded");
    for(var i = 0; i < listG

[2021-03-29 17:28] Knatan commented on #203
What if we took it one step further...
Proposal 1a;
Disable Info box from every page, except for these two:
/home.html
/path-of-attraction.html

Arguments;
Usually the box is shoved into the background where it makes the user interface more ugly: for example:
![Untitled](https://user-images.githubusercontent.com/1931284/112875072-019d2e00-90c4-11eb-8392-f7426ef916ef.png)
I think it would actually

[2021-03-29 17:56] cossname commented on #202
@RuperSama how you can get Element with this code?
[code]
where you found "grid_view" class?
where is "load" function?

[2021-03-29 21:57] YotoTheOne commented on #203
I have another suggestion I'd like to put to the test :
replace the line starting with
`div.innerHTML = '<div id="pInfo"`
by the following code :
[code]

This way, only the line "Master : ..." is shown. By hovering the mouse the entire infobox shows. By clicking the master switch state toggles.
I can also modify it so the infobox shows or hides simply by clicking on it.
It's not perfect and it is

[2021-03-29 22:32] YotoTheOne commented on #203
Here is an updated version pushing the concept further :
[code]
Mouse hover : show all info
Click : toggle master switch
Double click : toggle auto show/hide by mouse hover

[2021-03-30 00:23] Knatan commented on #203
If the goal was to make the user interface pretty, then your idea would be the best.

But there is 1 super important thing all of us use the info-box for. It's to notice if the script is broken.
You know the drill when we wake up or when we come home and get on the computer, it's always the exciting Rush to check if the HH script is still working, or it it's somehow broken.
We can usually tell by

[2021-03-30 02:59] dadanda commented on #194
Hmmm, I mean I do not experience issues with Harem, but I do experience it with Hentai.
I just realized the Hentai tab has its tab audio muted. Maybe that's the issue on my end, will confirm with further testing.

[2021-03-30 06:53] YotoTheOne commented on #203
@Knatan did you try it ? You just have to move the mouse over it to show all infos. And I said I can make it stay / hide on click, that way if it masks some important info you need on a page you just click on it and it goes away. I think that should be convenient enough for most players, at least in the meantime while we work on your other proposal that will require more complex coding (showing in

[2021-03-30 07:15] Roukys commented on #204
strange I checked it did work greatly in both test and prod on my side, checking if they have changed anything on timers

[2021-03-30 11:11] Knatan commented on #204
@Roukys Today the bug magically vanished. But yesterday if definitely had hangups.

[2021-03-30 12:59] Roukys commented on #204
ok I may have missed it then ...

[2021-03-30 13:48] nwlndfre commented on #204
Confirming, this seems to no longer be an issue. Pretty weird, I'll close the issue.

[2021-03-30 13:48] #204 closed

[2021-03-30 19:28] Knatan opened #205 "Bug [5.4.19] - Unable to scroll unhidden opponents in the League."
The feature in #180 the partial feature from #167 seems to be insufficiently implemented.
The hiding is very aggressive and overstays its welcome.

Bug # 1 - Scrollbar bug
- I have 4 opponents left in the League
- The other opponents I have beaten are hidden by default each time I open the Leage page
- So I try to unhide them by clicking the button
- Bug: The opponents appear, but there is no scro

[2021-03-30 19:46] Knatan commented on #203
It's an added inconvenience when previously all we had to do was give the info box a glance.
Secondly, the double click doesn't last. The browse simply needs to refesh the tab, and the info box is hidden.

I think you're inventing an excuse. all items in the market can be automated,

[2021-03-31 03:35] Nox-Ater commented on #205
@Knatan the button of hide/unhide it's a feature of OCD script, not this script.

[2021-03-31 06:18] Knatan commented on #205
Hahah, thanks for the heads up @Nox-Ater
Well that was embarrassing. Closing topic.

[2021-03-31 06:18] #205 closed

[2021-03-31 20:17] YotoTheOne commented on #203
Secondly, the double click doesn't last. The browse simply needs to refesh the tab, and the info box is hidden.

Nothing that can't be solved by coding.

??? why would I do that ?
I merely pointed out that some (me at least) like to have the infos on other pages than the home page. Then the inconvenience would be permanent and not limited to just having to move the mouse (that you could leave on t

[2021-04-01 02:04] YotoTheOne commented on #153
I'm closing the issue, if interested the work continues here [https://github.com/YotoTheOne/HHcontest](https://github.com/YotoTheOne/HHcontest)

[2021-04-01 02:04] #153 closed

[2021-04-01 09:33] Knatan commented on #203
Is there a good reason why you are pausing the script? I just want to understand your usecase, since the obvious solution is to not pausing the script.

[2021-04-01 12:36] YotoTheOne commented on #203
Yes, it's for watching and upgrading my harem or to select good teams for champions fight mostly ; I don't want to be disturbed by incessant page changes for trivial things like troll fights or salary collect. I could manually disable autosalary, autotroll, autoseason, autoquest and a couple other things while I play but it's way faster to just set master off.
I don't want to miss market refresh,

[2021-04-01 12:43] Knatan commented on #203
In those situations I just open a 2nd tab in the browser, This is the point of the Setting per Tab feature, you can open new tab with script disabled, and close tab once the champion girls are selected. And it's the safest approach, since no harm will happen if you forget to close the second tab, but you will incur loses if you only use 1 tab and forget to activate the script.

[2021-04-01 13:06] YotoTheOne commented on #203
Then why don't you set showinfo off in that second tab ?
I had problems with sett per tab in the past so I took the (undoubtly bad) habit of not using it. Maybe I'll try again but the process of opening another tab seems more complicated than just pausing the script. Since the master state is always shown I don't forget to turn it on again.
Do you play permanently with 2 tabs or do you open it onl

[2021-04-01 15:18] Knatan commented on #203
Untrue. Middle clicking into /clubs.html only takes 1 click. Whereas pausing the script takes multiple clicks, so you have only made it harder for yourself. Seting per tab have always worked .

Because it's a global setting across all tabs. And it's way more unnecessary clicks.

[2021-04-01 20:01] YotoTheOne commented on #203
I don't understand and I don't endorse your attitude so I'll just stop debating.
I provided the code you wanted so just use it if you like.
You are not required to thank me though it's only basic courtesy.
Nice trolling, sorry I fell for it.

[2021-04-02 01:25] Knatan commented on #203
I'm not trolling. Middle-click the mouse button on the club icon to open new tab is like universal across all browsers.

[2021-04-02 06:15] Roukys commented on #194
confirmed it is not working as chrome is able t check if a real sound is playing.
I've tried different thing but was not able to find a good workaround ( hey that's why I'm not a chrome developper ;))
Last test on my side seems to show that enabling HH sound plus a page refresher every 15min does seems to do the trick

[2021-04-02 06:48] Roukys commented on #203
hey guys, were all in the same boat, not just all roaming the same way :)
@Knatan, like @YotoTheOne I'm not using the setByTab, as it was causing issues in the past :)
@YotoTheOne as per a request I've made showinfo a global setting accross all tabs ...

If I do resume :
Knatan, you would just like to have the infobox full available on home only ?
YotoTheOne, didn't check your code but it does see

[2021-04-02 09:17] bob626 opened #209 "Enhancement : Collect missions rewards after x time from the reset"
I was wondering if it would be possible to have an option to collect rewards from missions starting from at least 30 minutes after the daily reset (ideally any fixed amount of minutes).
The reasoning is the following: new contests are added 30 minutes after the reset and sometimes the objective of the contest is to gain experience. Any experience that is autocollected from missions during those 30

[2021-04-02 10:11] Knatan commented on #203
Wouldn't the root of the problem be to fix "Settings per tab"  in this case?

It's a fine compromise, but I think you guys' use  case can literally be solved by opening /Clubs.html into a new tab where you can work on the champion all you want without interruption, and keeping the main tab fully automated instead of deactivating the master switch.

[2021-04-02 11:10] NinJaraya commented on #203
I use "Settings per tab" since it was introduced and it works very well.
The problem is to switch on / off by mistake that messes up the selected options.
I use CCS userstyle to prevent me from clicking on it by mistake.

by Google Translate

[2021-04-02 11:13] NinJaraya commented on #209
https://github.com/Roukys/HHauto/issues/153

[2021-04-02 12:13] Roukys commented on #203
@Knatan yes and normally it is fixed, other reason for me is that the script runs for me on a server, therefore on my PC or my phone I do not need to disable the script :)

[2021-04-02 12:16] Roukys commented on #203
I do thought that the compromise is good for all, but if it not the case, let's discuss it.
I do work on this script trying to make it for everyone, I won't be able to cover every need, but I'll try :)

[2021-04-02 12:29] bob626 commented on #209
Sorry, I didn't see it! I'm closing the issue :)

[2021-04-02 12:29] #209 closed

[2021-04-02 15:16] Knatan commented on #203
Heh, I think you got us confused. I don't need to disable the script either.
It's YotoTheOne who needs to disable the script because he can't open a second tab for whatever reason.

[2021-04-02 15:57] Roukys commented on #203
@Knatan no just explaining why I don't use settByTab :)

[2021-04-02 19:29] Knatan commented on #203
@Roukys Would it complicate the code, or would it simplify the code to remove infobox from these pages?

Pachinko page
![Untitled](https://user-images.githubusercontent.com/1931284/113445816-d9306f00-93f6-11eb-9edc-282e8a346e8d.png)
Season page
![Untitled](https://user-images.githubusercontent.com/1931284/113444730-be5cfb00-93f4-11eb-9972-180a0d3635e9.png)
Season battle page
![Untitled](https://us

[2021-04-02 20:08] RuperSama commented on #202
@cossname

where you found "grid_view" class?
![Captura](https://user-images.githubusercontent.com/20951229/113450245-e38e4100-93d5-11eb-8fc1-550f6b66539f.JPG)

where is "load" function?
https://github.com/RuperSama/HentaiHeroesScripts/blob/main/HentaiHeroes-HideInfo.js

i wish this answer your question

[2021-04-03 06:21] cossname commented on #202
@RuperSama, not everyone use "grid_view". just remove this class from code.
![image](https://user-images.githubusercontent.com/56331601/113470393-9ad69680-946e-11eb-9f98-bffae2cb4bc1.png)

[2021-04-03 16:18] Knatan opened #210 "Bug [5.4.19] - AutoSeason is buggy on new low level accounts"
**Describe the bug**
On new accounts at around level 4-5 the Autoseason doens't work as it should.
The powerCalculator inside seasons also doesn't always work.

After the script fails to execute the season battles, the Season timer in the info box resets to 30 minute countdown.

Here is the debug file:
[HH_DebugLog_1617464900536.log](https://github.com/Roukys/HHauto/files/6252967/HH_DebugLog_16174

[2021-04-04 09:53] cossname commented on #210
this happens exactly bcs of 1 girl you have. this is so small chance to encounter this, so i guess this dont deserve mentioning, and time needed to track and fix this "bug".  **just my opinion**

[2021-04-04 14:55] Diadochus-Ptolemy opened #211 "Enhancement : Make it possible to disable / enable utilities for the market in the settings."
The two utilities of the market are great, but they are not used daily, and sometimes with a long break. I would like to be able to temporarily disable them in the script settings so that they are not distracted when they are not needed. In addition, the HH++ script in some of its new market functions uses the same places for buttons and they overlap each other, this does not cause any critical er

[2021-04-06 00:05] dadanda commented on #194
So, I would say that the sound thing that's occasionally playing that's supposed to be blank is actually happening?
Like I would on random, just hear the music of the games in the background when the sounds and music are supposed to be off.
But I do not know whether it would actually do the trick on just making AutoSal work without having a tab refresher.

[2021-04-06 00:47] Knatan commented on #210
That's fair enough.

[2021-04-06 00:47] #210 closed

[2021-04-06 00:53] Knatan commented on #169
I'm reopening this issue because I suspect it still hasn't been fully resolved. I noticed a few days ago the script kept jumping back and forth between /clubs.html vs. /activities.html?tab=pop
It's like they are still fighting against each other.

Here is the Debug log I saved:
[HH_DebugLog_1617589951161.log](https://github.com/Roukys/HHauto/files/6261286/HH_DebugLog_1617589951161.log)

Here are t

[2021-04-06 01:00] Knatan opened #212 "Bug [5.4.19] - RE: AutoClubChamp conflict with AutoPowerPlaces"
Continuation from #169

I'm reopening this issue because I suspect it still hasn't been fully resolved. I noticed a few days ago the script kept jumping back and forth between /clubs.html vs. /activities.html?tab=pop
It's like they are still fighting against each other.

Or perhaps I'm mistaken?
Does the script simply replace /home.html with /clubs.html and it was going to jump back and forth betw

[2021-04-08 01:49] Killer66 commented on #212
This behavior persists or after a time it goes back to normal?

[2021-04-09 17:21] dadanda opened #213 "Enhancement : Autobuy Leagues/Seasons Energy"
**Which feature is concerned**
Leagues and Seasons

**Describe the solution you'd like**
Something similar to the current buy comb for mythic, it works only when there's a new Kinky Competition.
I would also say maybe autobooster option for the event?

**Describe alternatives you've considered**
A way to make it easier to reset the timer for leagues/seasons? without going thru the debug and anothe

[2021-04-13 16:53] OvergearedGodGrid opened #214 "Bug [5.4.19] - AutoClubChamps not starting"
Hey,
I have a probleme with the auto champ, i set my team i launch the first fight and then after the 15min the script don't start the fight by itself ( it's doing other stuff without probleme)
I have set a limit of 10 fights and i'm at 8 at the moment, i'm on windows and using chrome

I have the debug
[HH_DebugLog_1618332400166.log](https://github.com/Roukys/HHauto/files/6305386/HH_DebugLog_16183

[2021-04-13 17:02] OvergearedGodGrid commented on #214
It seems the timer was desynchronised, if i go in the debug menu and reset the timer myself, the fihgt is done, and now i let the timer go and the timer seems to be again set for 15min, false alarm sorry

[2021-04-13 17:12] #214 closed

[2021-04-16 16:01] Knatan commented on #204
Looks like this bug is back. the bug became active today when the contests refreshed.

[2021-04-16 16:02] Knatan commented on #204
@Roukys @nwlndfre Looks like this bug is back. the bug became active today when the contests refreshed.

[2021-04-16 17:16] OldRon1977 commented on #204
Yep, I simply went to the debug menu and reset the timer for the Pachinko. After that the script worked fine again. Maybe it get confused with a Timer-Reset made by the server?

[2021-04-17 12:20] Knatan commented on #204
After 24 hours, the script worked again. Same as last time.

[2021-04-20 08:39] OldRon1977 opened #215 "It has been quiet for a while..."
Yep, I am not starting a discussion, because I have the feeling those are not as visible as a new issue ;)

So, it has become quiet around these halls ;)
Are there activities in the background going on, or any other stuff we need to address?
Otherwise, I would like to clear the issues-log up, or maybe we can start the big task to refactor the script.
Any other suggestions?

[2021-04-20 13:07] cossname commented on #215
yes, new issue - more "visible".
clearing issues-log, without solving them - bad idea (imho).
also curious about current situation.

[2021-04-20 13:28] OldRon1977 commented on #215
By clearing I meant resolving or if we don't want to change something just closing, not just a sweep ;)

[2021-04-21 01:29] Diadochus-Ptolemy commented on #215
Roukys just disappeared, I'm worried about him.

[2021-04-21 05:55] OldRon1977 commented on #215
@Roukys : still there buddy?

[2021-04-25 11:01] OldRon1977 commented on #215
@Roukys : please say something, if you are still around... Do you need a break?

@all: do we have a Plan B if Roukys has quit? Is there somebody among us who can continue the script?

[2021-04-25 23:31] Knatan commented on #215
Possibly a good old burnout from all the random thousands of requests people made.
Possibly also my fault, I shouldn't have argued with Yoto in the other thread. That was probably the last drop that made Roukys go on hiatus.

[2021-04-29 15:54] JCDC85 opened #217 "Firefox Refresh Loops [5.4.19]"
The script works fine for me on Chrome but I get into infinite refresh loops when using Firefox. I am on Mac Big Sur. Tamper Monkey for both Chrome and Firefox.
It have been happening for a few weeks now so I have been avoiding Firefox assuming an upcoming update would resolve it.
If I enable the options one by one it will cause the following options to go the the relevent page and then continue r

[2021-04-29 17:07] OldRon1977 commented on #217
Sorry to inform you, but it looks like our developer is currently not available... we hope, that he is only on vacation...
Anyone else who might help?

[2021-04-30 09:25] Roukys commented on #215
@OldRon1977 @Diadochus-Ptolemy, yes got a very popular virus ...
Recovering, luckily seems we did not have big update on the game.
I'll see when I can connect back on my computer

[2021-04-30 09:26] Roukys commented on #215
I'll try to see and prioritize on our issue, even though it does seems script worked well during these weeks :)

[2021-04-30 09:33] OldRon1977 commented on #215
Yeah! You are back (more or less) :)

Just keep it safe and get well soon! At the moment the script works fine (except for one FireFox Bug).

[2021-04-30 11:00] Roukys commented on #217
@JCDC85 would you per any change have a debug log of the phenomenon ?

[2021-04-30 11:00] Roukys commented on #215
yes it took car of my harem ;)
thanks @OldRon1977

[2021-04-30 11:08] NinJaraya opened #218 "Enhancement : New Boss Name"
in line 7223 replace:

`eventTrollOrder: { elementText: "Event Troll Order", tooltip : "(values separated by ;)<br>Allow to select in which order event troll are automatically battled<br>1 : Dark Lord<br>2 : Ninja Spy<br>3 : Gruntt<br>4 : Edwarda<br>5 : Donatien<br>6 : Sylvanus<br>7 : Bremen<br>8 : Finalmecia<br>9 : Fredy Sih Roko<br>10 : Karole<br>11 : Jackson's Crew<br>12 : Pandora Witch<br>13 :

[2021-04-30 11:20] bjaume commented on #215
Glad to see you again @Roukys.
Get well soon

[2021-05-01 01:18] JCDC85 commented on #217
How do I get the debug log you are looking for?

[2021-05-01 14:58] Diadochus-Ptolemy commented on #215
@Roukys, it's good you're okay now. The damned covid took two of my friends over the past year, now I get scared when someone does not answer for a long time.

[2021-05-01 15:12] OldRon1977 commented on #217
Open up the menu of the script.
You will find the debug menu at the top left.
Just hit the button and at the next menu choose "save debug".

Cheers...!
[Screenshot_20210501-170758__01.jpg](https://user-images.githubusercontent.com/73475830/116786687-615e6e80-aaa0-11eb-855e-30572c66835d.jpg)

[2021-05-03 06:27] OldRon1977 commented on #218
Changes made and under review...

@Roukys : please check the pull requests :)

[2021-05-03 08:59] OldRon1977 commented on #218
Done...

Update your script to version 5.4.21

[2021-05-03 08:59] Roukys commented on #218
@OldRon1977  you're a fast one :)

[2021-05-03 09:00] OldRon1977 commented on #218
Thanks )

Btw. I can't close this enhancement, any idea why?

[2021-05-03 09:35] Roukys commented on #212
the script work by doing action in the order of the script, if it starts autopowerplaces and during that autoclubchamp timer reach 0 it could do autoclubchamp in the middle, shouldn't but may happen, I'll check on the busy thing of autoloop

[2021-05-03 09:39] Roukys commented on #215
@Diadochus-Ptolemy yes that thing is a bitch, and I would have prefered not have her in my harem.
And it is a harsh thing to battle, you have the impression not being you anymore ...

[2021-05-03 12:40] JCDC85 commented on #217
It says "The <dialog> API is not supported by this browser" when i click on Debug menu. It says the same thing when Ive tried to click on the scripts sell button in the market as well.

[2021-05-03 13:17] OldRon1977 commented on #217
Hmmm... looks like an error that is within Chrome/Firefox and Tampermonkey.
To me, it seems that the script tries to address a function but the API can't handle it.
I am not sure if Tampermonkey is fully supported under macOS.

[2021-05-03 13:32] Roukys commented on #149
ok so we all agree that the buy option when activated will bypass threshold ?
if buy mythic, it will only bypass if mythic is available and fragment are available.
@YotoTheOne @OldRon1977 @RuperSama that is good for you ?

[2021-05-03 13:34] OldRon1977 commented on #149
Yes, it's good for me.

[2021-05-03 13:42] Roukys commented on #217
I think it is the Dialog option which may not work
@JCDC85 it also mean you don't have access to save/load menu, sell menu, auto exp and auto aff in market right ?

[2021-05-03 13:43] Roukys commented on #218
no but I think I can maybe out of me the only one who can close is the one who opened it :)

[2021-05-03 13:43] #218 closed

[2021-05-03 15:23] JCDC85 commented on #217
Correct except save config does work. But not load, sell, exp or aff. All give the same api error.
Again, it all works on chrome. Except for the auto experience, the button just doesnt appear at all for it. But Affection does oddly.
When I try on Safari everything gets shifted down halfway off the bottom of the screen. The script oprions as well as items in the market. Very weird.
I am trying to g

[2021-05-03 17:55] YotoTheOne commented on #149
Sure. I worked a bit on that subject, take a look at the code I posted, maybe it can be useful.
I could not test it properly yet, on the next event I won all the girls o before the end, then I got super busy with work again.
Looking forward to help further.

[2021-05-04 06:16] Roukys commented on #149
yes I've seen :)
My thinking reproduce what I've done for mythicbypassthreshold and apply it on buy comb for event.
idea is to still use event to make sure that threshold is bypassed and comb bought only if girl is/are available

[2021-05-04 06:17] Roukys commented on #149
it will allow to remove the mythicbypassthreshold button

[2021-05-04 07:15] Roukys commented on #149
and instead of modifying threshold it will bypass it for the time being

[2021-05-04 12:31] #211 closed

[2021-05-04 12:59] Diadochus-Ptolemy commented on #211
It does not work for me. It does not matter whether the switch is turned on or off, it still shows market tools.

[2021-05-04 20:11] Roukys commented on #211
@Diadochus-Ptolemy sorry eyes not in front of the PC forgot to add the switch to the module, should be better now

[2021-05-04 20:18] YotoTheOne commented on #149
It is way simpler than what I did, however it is not quite what I had in mind ; my code attempts to bypass threshold when "Buy comb. in event" is on, but only during the time set in "hours to buy comb." ;)
It is not exactly the same thing as for the mythic event, where the threshold can be bypassed during the entire event, if the girl is not won and shards are available. Regular events have a set

[2021-05-05 06:16] Roukys commented on #149
argh you're right let me check on that I dit copy mythic, forgot this part.

it also means that in fact for mythic the hours to buy comb is in fact useless, either you wan the girl or not .

[2021-05-05 07:11] Roukys commented on #149
@YotoTheOne should be better in v24.

I'll have to rework on that, I'm currently working on a way to use the x10 x50 (hope it could help for next occurence of mythic)

[2021-05-05 12:32] Diadochus-Ptolemy commented on #211
![109290779-1b372580-7839-11eb-9034-b7f3fd73012e](https://user-images.githubusercontent.com/79668922/117141234-f9b56580-adb6-11eb-93a9-94bf250e80ee.gif)

[2021-05-06 14:29] Roukys opened #220 "Enhancement : better visibility of kobans using funtion"
**Which feature is concerned**
Koban using switches

**Describe the solution you'd like**
Visible way to differentiate them, so they can be regrouped with their corresponding functions

[2021-05-06 14:50] Roukys commented on #220
![Uploading Capture d’écran 2021-05-06 à 16.50.21.png…]()

[2021-05-11 19:49] OldRon1977 commented on #215
@Roukys  : how is it? Getting better or still trying to recover? Friends of mine had some serious infections over the last week. He is still trying to climb 3 steps without loosing his breath.

[2021-05-11 19:58] YotoTheOne commented on #149
That should do the trick.
There are good chances I'll be able to test it this time, I should be around at the end of the event and I won't have won all the girls.
I'll keep you posted.
The only downside I see is that the value of "diff" is always calculated, it would be better optimized if the calculation took place within the test (but ugly ;)
Another thing : line 5166 I believe you don't need to

[2021-05-12 08:14] Roukys commented on #149
yes I'm working on the x10 x50 I think I will add a var in check event directly to prevent duplicates checks

[2021-05-17 19:26] YotoTheOne commented on #149
I don't know if it is related to this issue, and I don't see how the last changes could have an effect but the "buy combats in events" does not work very well. It buys 20 fights and executes them, then it waits for another script event or a browser refresh to buy another 20 fights, and so on. When manually refreshed it works pretty well but not on itself. I'll see what I can find in the code.

[2021-05-18 11:24] Roukys commented on #149
cheking the last modifications, may need to make sure a reload is made after each fight but should be the case, as check for event is only made at page loads

[2021-05-18 15:16] Roukys commented on #149
how does the last combat ends, does it reload the page ?

[2021-05-18 15:58] YotoTheOne commented on #149
CollectEventData is executed after the last fight, yes. So it should buy fights but it does not unless I do a manual reload.
I stumped on another issue while doing some tests : if the girl is won, the script does not change targeted troll before a reload.

[2021-05-18 16:31] YotoTheOne opened #221 "Bug [5.4.23] - autoTroll : if the girl is won, the script does not change target before a reload."
When several fights are done in a row, if an event girl is won the script does not change targeted troll before a reload.

**To Reproduce**
- have several fights stored and set threshold to 0, then have plenty of luck !
- or simply activate the "buy comb. in events" feature, set relevant time in "hours to buy comb." field and observe (some luck may also be required, and some kobans too... ;))

**E

[2021-05-18 20:33] YotoTheOne commented on #221
We need to find a way to force a reload when a girl is won after a troll fight, so `CollectEventData` is executed, and `HHAuto_Temp_eventTroll` is updated or deleted.
I guess `CollectEventData` only works from the home screen ?

[2021-05-19 07:26] Roukys commented on #149
@YotoTheOne  I'll check on HH original code for that, it may be the function(data) code that has changed on their side

you can directly add the reload in the function data that will be better it will only reload when answer to the ajax is received ;)

[code]

[2021-05-19 14:07] NinJaraya commented on #221
Before, as soon as the fight started, the script would jump to Home Screen and check which Troll had girls.
It is not necessary to click Skip then OK to collect Rewards.
I don't know which version that changed.
It would be a case of returning as it was before.

**by Google Translate**

[2021-05-19 14:13] YotoTheOne commented on #221
Roukys changed it so the script acts more like a human plays. That was shortly after KK threatened to ban all script users.

[2021-05-19 14:38] NinJaraya commented on #221
I, as a human, usually click on the button to return to the Home Screen when I do Champions in events because the Skip button takes a long time to appear.

**by Google Translate**

[2021-05-19 15:04] YotoTheOne commented on #221
So do I. For the trolls it takes longer to go back on the troll page, so I use the skip button.
I don't mind going back as it was before, I just explained why (I think) Roukys modified it this way.

[2021-05-19 15:39] NinJaraya commented on #221
Using "Hentai Heroes++ (OCD) Season version" is very easy.

**by Google Translate**

[2021-05-20 06:24] Roukys commented on #221
normally after a troll fight there is a reload by this line :
setTimeout(function(){location.reload();},3000);

so not anymore going home but reloading and therefore should collectEvent, I'll check on that

[2021-05-20 07:18] YotoTheOne commented on #221
Between 2 fights while the game is on adventure screen, the log indicates : "CollectEventData:no  event".
I think CollectEventData only works from the home screen.
I believe event_data only exists on the home window. Since it is tested on beginning of CollectEventData, `if (unsafeWindow.event_data || unsafeWindow.mythic_event_data)`, CollectEventData returns false and logs "No event".

[2021-05-20 09:04] AsgarShallBurn opened #222 "The Server didnt answer properly. Please try Again. (ERR HH_I error)Bug [Script version] - Bug description"
It looks like the servers are a bit slower than before.
When it comes to leagues and fighting player, and the Bot returns you to the page where to choose the next opponent,
the message "The Server didnt answer properly. Please try Again. (ERR HH_I error)" appears. i tried it without the bot and noticed, if you wait for the first attack and return to the page the error doenst pop up. The Bot runs t

[2021-05-20 09:04] Roukys commented on #221
yes you're right
so it does mean we have to go back to home after troll fights ...

[2021-05-20 09:19] Roukys commented on #222
thanks @AsgarShallBurn , today script is waiting for 3 secs, I'll try to increase that to see if it works

[2021-05-20 10:30] YotoTheOne commented on #221
Otherwise going home only when a girl is won would work and be lighter but I don't know if there is an easy way to test for it.

[2021-05-20 11:44] Roukys commented on #221
yes not an easy one as we bypass reward because we're not so much able to handle it ...

[2021-05-23 11:56] Franck-75 opened #223 "Can't make Mythic event work"
During mythic event, I tried to activate all the toggles related to Mythic event, but the script doesn't respond at all.
Currently activated :
- Master switch
- Questionnable shit
- Are you sure
- You've been warned
- By comb for mythic
- Hours to buy mythic comb : 1
- Auto troll battle (off is the same)
- Ninja spy selected (where mythic girl is)
- Mythic event
- Priorize over event
- Mythic bypa

[2021-05-23 12:00] Franck-75 opened #224 "When connected in 4G (slower response time) actions are not started"
Hi,

When I'm connected in 4G instead of fiber, the script doesn't work as well.
It's due that it does not wait the ack of the request.

The biggest example is Automission.
It goes to the good page, arm the timer, but the request doesn't arrive to the server so the mission is not started.

It happens on several other situations but they are less annoying.
The script should wait the response of the

[2021-05-23 17:58] YotoTheOne commented on #223
I think your problem comes from the "Hours to buy mythic comb : 1". That means the script will wait for the very last hour of the mythic event to buy combats, so we are not there yet ; and there may not be any shards left at that time. Try setting something like 24h or 18h.
All other options are good, be sure to set a relevant value in "koban bank" field (less than your koban stock).

[2021-05-23 23:07] Franck-75 commented on #223
Hi.

I've added to code modification stated in #149 (why it's not integrated in the script ?)
But at 1AM, just after new shards are available, no reaction from the script.
Here is a screen shot of my config on Firefox : https://zupimages.net/up/21/21/whv4.jpg

Something is missing for being working well, but I don't know what.

[2021-05-24 09:07] YotoTheOne commented on #223
The 3 switches "Questionnable shit", "Are you sure" and "You've been warned" prevent the auto koban spending options to be activated by mistake. "+ Mythic event" to activate koban spending for mythic event ; only "priorize over event" and "bypass threshold" could be automatic and not optional.
I think Roukys will integrate the RechargeCombat code modification in the next update.

[2021-05-24 09:29] bjaume opened #225 "Mythic Bypass Threshold didn't work [5.4.26]"
Mythic Bypass Threshold didn't work. The script does not fight the trolls until the threshold is reached even though the option to exceed the limit in the mythic event is selected.

This are my settings

![image](https://user-images.githubusercontent.com/77506895/119327291-1bea2700-bc83-11eb-91ab-1b000ea3b2fa.png)

[2021-05-24 12:24] YotoTheOne commented on #225
The error comes from the condition : `Storage().HHAuto_Setting_buyMythicCombat==="true"` in the following code :
[code]
The threshold will be bypassed only if "Buy comb. for mythic" is used.
I'll try working around it soon.

[2021-05-25 06:03] Roukys commented on #225
@bjaume yes it only bypass if buycombat is true as for mythic if you don't buy you won't get the girl.

[2021-05-25 06:56] bjaume commented on #225
Thank you, @YotoTheOne, I will try it at the next mythical event.

You're right, @Roukys. Without buying combats I will not get the girl on the first try but I will add crystals and maybe the second or third time...

[2021-05-25 07:39] Roukys commented on #225
in fact to prevent errors I've removed this button from the next version automatically bypassing threshold if buying option is activated.

[2021-05-25 17:45] bjaume commented on #225
But I still think that it's an interesting option the possibility to bypass the threshold even if you don't want to buy fights. Perhaps as an enhancement...

[2021-05-25 19:31] YotoTheOne commented on #225
more like the 10th or even 20th time... But still, since the work is already done we could keep that option.
Sure having one less switch isn't bad for UI cleaning, so I'd suggest bypassing threshold automatically for mythic if "+ mythic event" is on.

@Roukys if you can confirm that `HHAuto_Temp_eventTrollIsMythic = true` only when shards are available, then only need to remove `Storage().HHAuto_S

[2021-05-25 19:36] Roukys commented on #225
yes I'll check on that, wanted to gain one switch. but you're right we can gain one.

also I'm working on x10 x50 where I need to add 2 switch and 2 fields in order to choose from how many remaining shards you want to use x10 or x50

[2021-05-25 22:39] bjaume commented on #225
You're right @YotoTheOne. I've got 6 shards from the last mythic girld witout buying combs.
Also, I don't know if they will repeat mythical girls in the future.

Your solution seems perfect

[2021-05-26 06:17] OldRon1977 commented on #225
@bjaume  : The Mythic Girl event will regularly reappear. It is a goldmine for the Devs, because you need to spend Kobans to get it.
An educated guess is that you need around 14K Kobans for re-fills in order to get it in one pass.
The new mode is, that a girl will appear twice a month for 24h. After that, it is gone (for now) not sure when it will reappear.
Every month there will be a new girl cyc

[2021-05-27 10:10] bjaume commented on #225
Yes @OldRon1977, this is exactly how I thought the mythical event worked.

[2021-05-27 10:14] bjaume commented on #225
Thanks @OldRon1977, this is exactly how I thought the mythical event worked, but who knows if the mythical girls will repeat themselves in the future. I can't spend that many kobans (because I don't have them) and I have to get as many crystals as I can without spending kobans.

[2021-05-27 11:40] NinJaraya opened #227 "Bug [v5.4.26] - League freeze on Nutaku"
Every week, when a new league starts, the script freezes and doesn't fight.
Disabling UsePowerCalc, it works.
[www.nutaku.net-1622113757891.log](https://github.com/Roukys/HHauto/files/6553637/www.nutaku.net-1622113757891.log)

**by Google Translate**

[2021-05-27 11:41] Roukys commented on #225
no please don't close I'll use it as a reminder to put back the bypass threshold switch :)

[2021-05-27 11:44] Roukys commented on #227
@NinJaraya I've got two possible explaination :
in your log it just says that list is being built so fight can only start when done.

Secondly script does check score of other oppoenent to know what to do.

Ex : you want to stay it will check the score of n°15 to not go above with a security of 40 points, as league start n°15 may have a score of 0, so you should have a score below 0 minus 40, so c

[2021-05-27 12:54] Roukys commented on #225
sorry badly read, to always bypass threshold if mythic event is on.
@OldRon1977 @YotoTheOne @RuperSama @bjaume I'm thinking also to remove the buyComb timer for mythic, because If you by it is always... (didn't fully check if it is complicated though)
what are your thoughts on that ?

[2021-05-27 13:19] OldRon1977 commented on #225
Kinda makes sense...
I would like one clear switch, that says "If you activate, I will spend Kobans to buy energy for Mythic as long as there are shards to get." So everybody knows, that as long as you have Kobans and your Koban bank allows you to burn them, this option will do so.

We already have three safety switches and a Koban bank so every player has enough warnings to be carefull.

I also l

[2021-05-27 13:51] Roukys commented on #225
@OldRon1977 I'm working to put the koban switches in red also to be able to have only one Global koban security
#220

[2021-05-27 15:01] bjaume commented on #225
Yes. that makes sense @OldRon1977

I understand that if the switch that says @OldRon1977 is on and the kobans spend options are not, the script will fight with the mythical bypassing the threshold until he runs out of fights and no kobans spent.

[2021-05-27 15:04] OldRon1977 commented on #225
Yes... One switch to activate the Mythic Event (fighting without Kobans) and a second, red one which will activate to spend Kobans.

[2021-05-27 19:32] YotoTheOne commented on #225
@Roukys : Well I'm not sure. Maybe it's not useful to spend kobans on the first day (in case the mythic event lasts for 2 days), and maybe it's not useful to spend kobans on the first wave(s) in case the event lasts only 1 day. I usually use all fights without spending until the last wave ; by then most players have calmed down and shards last longer on that one, I never had any problems winning t

[2021-05-27 21:51] NinJaraya commented on #227
I always let in Dicktator III.
On HentaiHeroes is the same but works.

[2021-05-28 06:09] Roukys commented on #227
@NinJaraya Dictator 3 should not have the issue as it should start fighting right away but I've never been in D3 to test.

you mean on HH it starts right away at the league restart ?

[2021-05-28 07:14] Roukys commented on #225
@YotoTheOne yes you're right, that is strategic, timer is already coded I will therefore leave it.

@OldRon1977 I'll modify the tooltip on buy combat for mythic

[2021-05-28 09:59] Roukys commented on #217
I'll keep this to check if I can find a working equivalent of dialog option for Firefox ...
@JCDC85 in the meanwhile to print debug could you do the following in FF dev tool console when it happens :
[code]

[2021-05-28 10:01] Roukys commented on #93
still working on this one @OldRon1977 I've advanced a little still need time for dev and checks

[2021-05-28 13:40] OldRon1977 commented on #93
No problem :)

[2021-05-28 14:19] #168 closed

[2021-05-28 14:19] #220 closed

[2021-05-28 14:19] #223 closed

[2021-05-28 14:20] Roukys commented on #220
done in 5.4.27

[2021-05-28 14:20] Roukys commented on #168
done in 5.4.27

[2021-05-28 14:21] Roukys commented on #191
done in 5.4.27, can you confirm @OldRon1977 ?
if confirm please close the issue :)

[2021-05-28 14:21] Roukys commented on #149
done in 5.4.27 @YotoTheOne if confirm please close the issue :)

[2021-05-28 14:21] Roukys commented on #221
done in 5.4.27 @YotoTheOne if confirm please close the issue :)

[2021-05-28 14:22] Roukys commented on #222
done in 5.4.27 @AsgarShallBurn  if confirm please close the issue :)

[2021-05-28 14:22] Roukys commented on #225
done in 5.4.27 @bjaume  @OldRon1977 @YotoTheOne

[2021-05-28 14:23] Roukys commented on #223
done in 5.4.27 @Franck-75 @YotoTheOne

[2021-05-28 14:23] #142 closed

[2021-05-28 14:24] #215 closed

[2021-05-28 15:00] OldRon1977 commented on #191
I will do so... but right now I got promoted to D3, so it will take a two weeks to test :)

[2021-05-28 15:46] bjaume opened #228 "Bug [5.4.27] - Incomplete options menu view."
The options menu is not complete. It is cut off on the left side.

I'm using Google Chrome

![image](https://user-images.githubusercontent.com/77506895/120009748-9517b000-bfdc-11eb-8da2-838b728181bd.png)

UPDATE: Only occurs in HH, not in GH

UPDATE 2: The error is reproduced when the Spanish language is selected (I don't know if the same happens with other languages). With the English language op

[2021-05-28 19:28] Roukys commented on #191
:)

[2021-05-29 00:42] NinJaraya commented on #227
This week at HH, I was saving League fights for PoA, so I didn't start the League until an hour after it started.
This week I'm going to check it out.
I play on HH, Nutaku and the test server.

**by Google Translate**

[2021-05-29 02:03] Diadochus-Ptolemy opened #229 "Bug [5.4.27] - Two sliders "show info" in the settings."
**Describe the bug**
Two sliders "show info" in the settings.

![SI2](https://user-images.githubusercontent.com/79668922/120054860-333a6300-c03b-11eb-9b76-89f7fed4c867.png)

[2021-05-29 09:30] #229 closed

[2021-05-29 20:36] #159 closed

[2021-05-29 20:37] #194 closed

[2021-05-29 22:02] YotoTheOne commented on #225
Nice ! Huge update :)
For optimization purpose and code clarification, I replaced all `getSetHeroInfos('fight.amount')` by `currentPower` since `var currentPower = getSetHeroInfos('fight.amount');` at each autoLoop start, and put other thoughts in comments :
[code]

[2021-05-29 22:11] YotoTheOne commented on #228
Try replacing line (around 8044)
`UIcontainer.html( '<div style="font-size:x-small;position: absolute;right: 22%;width: inherit;text-align: center;display:flex;flex-direction:column;z-index:1000" id="sMenu">'`
with
`UIcontainer.html( '<div style="font-size:x-small;position: absolute;right: 22%;width: auto;text-align: center;display:flex;flex-direction:column;z-index:1000" id="sMenu">'`
and tell me

[2021-05-29 22:29] YotoTheOne commented on #149
I won't be able to confirm until the end of the next event but rechargeCombat worked fine with the last modification, and I saw CollectEventFData executes between each troll fight so that should be OK, I'll close for now.
Thank you !

[2021-05-29 22:29] #149 closed

[2021-05-30 09:04] YotoTheOne commented on #221
The script now goes back to the home screen between each fight, and CollectEventData is successfully executed so it should work perfectly :)

[2021-05-30 09:04] #221 closed

[2021-05-30 19:15] YotoTheOne commented on #228
@bjaume : try replacing `x-small` with `xx-small` in following line (8044) :
`UIcontainer.html( '<div style="font-size: x-small;position: absolute;right: 22%;width: inherit;text-align: center;display: flex;flex-direction: column;z-index: 1000" id="sMenu">'`
Result :
`UIcontainer.html( '<div style="font-size: xx-small;position: absolute;right: 22%;width: inherit;text-align: center;display: flex;fle

[2021-05-30 19:23] bjaume commented on #228
Tthank You @YotoTheOne !
It woks fine for me too

[2021-05-30 22:20] YotoTheOne opened #230 "Enhancement : Better UI menu"
I started working to make the UI easier to use and prettier.
Here is the work in progress (english only ATM, sorry !)
Please take a look and tell me what you think, what should be upgraded or what doesn't work on your particular screens.

2 code blocks to replace :
After `HHAuto_ToolTips.en = [];`
[code]

And after `var UIcontainer = $("#contains_all nav div[rel='content']");`
[code]

[2021-05-31 05:24] Roukys commented on #228
@bjaume can you try v29, I've changed some things in the menu for better display

[2021-05-31 10:55] bjaume commented on #228
@Roukys Much better now. Thank you

[2021-05-31 12:54] #228 closed

[2021-05-31 13:27] Roukys commented on #230
@YotoTheOne didn't compare to check what you've changed, but I've updated a little the menu to better handle switches and texts

[2021-05-31 21:53] YotoTheOne commented on #230
@Roukys : I pushed a little further ;) The script is now very complete with lots of options, all works fine overall ; I think UI is becoming a weak spot and may even discourage new users.
Here is a preview, please comment :
![HHUIscrsht](https://user-images.githubusercontent.com/74134758/120244671-29974200-c26b-11eb-8307-b920308ba20e.jpg)

[2021-06-01 05:21] OldRon1977 commented on #230
Looks better!
A lot cleaner and also aligned... I will think about further optimizations :)

[2021-06-01 12:21] OldRon1977 commented on #230
Could you deploy this UI (maybe as a beta) so I can test it?

[2021-06-01 16:56] YotoTheOne commented on #230
Gladly !
[https://github.com/YotoTheOne/HHauto/tree/patch-1](https://github.com/YotoTheOne/HHauto/tree/patch-1)
I've enhanced a bit further. Looking forward for your return :)