[2022-02-06 18:16] #464 closed

[2022-02-06 18:33] dadanda commented on #463
[HH_DebugLog_1644172374490.log](https://github.com/Roukys/HHauto/files/8010874/HH_DebugLog_1644172374490.log)
Still looping but does collect it now.

[2022-02-07 09:42] Roukys commented on #408
@gachaImpact, it will only claim if all are claimable :)

[2022-02-07 10:09] Roukys commented on #463
I'll try and refactor it ...

[2022-02-07 10:28] Roukys commented on #463
@dadanda orbs is like last time the next collectable ?

[2022-02-07 13:51] dadanda commented on #463
the next one that it would collect if it was available is gems.

[2022-02-07 13:58] Roukys commented on #463
ok strange it does try to collect orbs : please try with v55, I've change the way of working with no more reload, and better log so I'll maybe be able to find the issue

[2022-02-08 05:20] dadanda commented on #463
seems to be working atm, will continue testing.

[2022-02-10 08:25] Roukys commented on #429
@cossname I do think it too risky to stop during this time exactly as to make sure it will start over.
please use the enable disable master, or maybe you can also use paranoia (and even force rest by reseting paranoia timer )

[2022-02-10 08:26] Roukys commented on #433
@dadanda what is the need behind this request ?
I don't see any advantages to that at the moment.

[2022-02-10 11:11] dadanda commented on #433
Honestly I just want to get rid of the surplus of lower tier stuff but its definitely not a problem everyone has

[2022-02-11 07:37] Roukys commented on #433
:) ok, on ùy side not as I do use the give all, I'm hjust letting the script do its thing : )
so maybe just a code to loop and click repetively on give button can help you ?
Select item to spend in market
Open devTools
Select the good context :
![Capture d’écran 2022-02-11 à 08 33 18](https://user-images.githubusercontent.com/73461293/153553266-019535ed-b754-41a4-a9c3-42b4d35d3a50.png)
Past foll

[2022-02-11 13:35] dadanda opened #465 "The dialog API not supported by the Browser Bug [5.6.57] - Can't use the sell function."
**Describe the bug**
Error gets displayed when trying to use the Sell function in shop.
![image](https://user-images.githubusercontent.com/73831849/153600632-fdc723df-675c-44c7-b128-60a7b5c6bf87.png)

**System:**
- **OS:** Windows 10
- **Browser:** Chrome Version 98.0.4758.82 (Official Build) (64-bit)
- **Script-Helper:** Tampermonkey 4.13

[2022-02-15 07:09] Roukys commented on #465
@dadanda chrome should support dialog API.
though I think it is the last one of thes, I've replaced the others let me take a look

[2022-02-15 11:58] dadanda commented on #450
@Roukys had a case of it not collecting even within the last 2 hours. (but was 1 update late)
(also how does it get auto updated, because it seems to be not autoupdating on my end.)

[2022-02-15 13:24] Roukys commented on #450
I'll do a check on that ...
for update do check in tampermonkey then in script parameters that auto update is checked.
It auto disable if you edit the script manually

[2022-02-16 10:04] dadanda commented on #463
@Roukys
Collect for seasons can't seem to collect the girl. Have reset the timer and disabled and re-enabled the collect, still not collecting.
![image](https://user-images.githubusercontent.com/73831849/154241410-115fda46-5e28-427b-bce1-e8832ea0594e.png)
![image](https://user-images.githubusercontent.com/73831849/154241528-98ea9da5-0f07-409f-8696-97d46315c504.png)

[2022-02-16 12:45] Killer66 opened #466 "Stuck at troll page"
Script get stuck at the troll battle page. When you click the script button, script manages to continue and get stuck again...

I remember the same thing happening in the pantheon battles a while ago.

(Running the latest version of the script)

(Comix Harem don't seems to have the same problem)

[2022-02-16 19:13] khyon commented on #255
can't you just copy the sidequest mode from this script?
[yo](https://github.com/TrainerRoshi/Roshi-HHeroes-Trainer/blob/master/RoshiHHeroesTrainer.user.js)

[2022-02-17 03:37] Killer66 commented on #466
Working fine now, was probably something on their side.

[2022-02-17 03:37] #466 closed

[2022-02-17 07:15] Roukys commented on #463
@dadanda would you have the debug log of of it going to seson without collecting ?

[2022-02-17 07:27] dadanda commented on #463
[HH_DebugLog_1645082776935.log](https://github.com/Roukys/HHauto/files/8086440/HH_DebugLog_1645082776935.log)
Heres the log.

[2022-02-17 07:37] Roukys commented on #255
@khyon no I can't ...
First of for license reasons and secondly code is obfuscted, therefore would be hard to inspire from.

[2022-02-17 07:46] OldRon1977 commented on #255
Also it would be a not so nice behaviour from our side to copy the work of somebody else.
I would be happy if MasterRoshi would contribute his knowledge to us, that would be awesome, but simply copying is a no-go from my side.

[2022-02-17 14:43] Roukys commented on #463
@dadanda should be fixed in 5.6.59

[2022-02-18 11:23] NinJaraya opened #467 "New Feature: Boss Bang is online for all!"
https://forum.kinkoid.com/index.php?/topic/22264-new-feature-boss-bang/

[2022-02-18 18:30] cossname commented on #467
yeah, there you should set teams, click fight 100 times within 4-5 days(event length) No limits, only your teams stremgth.

[2022-02-19 09:02] #461 closed

[2022-02-19 13:37] Cirkulis commented on #465
I think this happens because HHauto is conflicting with HH++ v1.x
As a workaround, you could disable "Equips filter at the market" in HH++ settings.
But it would be nice to make this work without disabling Equips filter if possible.

Also, with both Show Market tools and Equips filter enabled, it looks a bit messy :)
![2022-02-19  15-24-24](https://user-images.githubusercontent.com/57276928/154802

[2022-02-23 11:03] NinJaraya commented on #467
https://blog.kinkoid.com/features/boss-bang/

[2022-02-23 12:32] DrkMfn2 commented on #467
It'd be great if we had a way to compose teams that would most efficiently counter one particular boss... Would be useful for PvP/Pantheon too

[2022-02-23 12:38] Killer66 commented on #467
Servers being super slow right after reset for you guys?

[2022-02-23 14:01] cossname commented on #467
Dont saw any lags

Boss Bang so annoying, even with Alt+Left, Alt+Right to Navigate between pages

[2022-02-23 19:23] Roukys commented on #467
this one will be a difficult one to automate...
one tired team is unusable for the rest of the event ...

[2022-02-23 21:28] Franck-75 commented on #467
Start with v1... auto-fights with already composed teams. It'll help a lot. And you'll see on a v2 more automation.
I was so bored to do 100 clicks with my only one team.

[2022-02-24 02:14] cossname commented on #467
i guess this function is useless, also take more time for implementation than you spent on clicking. This Event only once in a month.

[2022-02-24 11:39] RuperSama commented on #467
Hi! fast script for make the event,

How yo use.
1) Select your teams
2) Go to the fight script
3)Enable this script and disable others
4)Do one fight manualy
5)Done

the scipt will be spam the button for start the combat and the buton "Ok" at the end of the combat, in high lvl account link in 1hs you have the event done

`// ==UserScript==
// @name         HH AutoBang
// @namespace    http://tamp

[2022-02-27 04:20] ZaryImortal opened #468 "Bug [5.6.60] - Pachinko Girl e Daily Goals"
When we win a girl in Pachinko (only pachinko for money) she doesn't disappear from pachinko and the script understands that it still needs to be used, giving f5 when the girl is acquired solves the problem.

I also noticed that some random Daily Quests are not being claimed

Daily Goals is not being claimed.
[HH_DebugLog_1645988311911.log](https://github.com/Roukys/HHauto/files/8149263/HH_DebugLo

[2022-02-27 14:20] UncleBob800 commented on #465
![изображение_2022-02-27_171824](https://user-images.githubusercontent.com/86453893/155886122-09d65dd7-0cfc-46bd-9fed-4d5e28085789.png)
Same problem. Present when using mod **"Hentai Heroes++ BDSM version"**. Link: `https://github.com/45026831/hh-plus-plus`

[2022-02-27 20:31] YotoTheOne commented on #467
Thank you for sharing @RuperSama ! I will definitely use that script for the next boss bang :p

[2022-03-01 15:44] buttstallion69 opened #469 "Bug [5.6.60] - When changing club, club related options disappear"
**Describe the bug**
I recently changed the club (leave club, wait 24h, join another club)
and the related options are gone (like club champions)

**To Reproduce**
Steps to reproduce the behavior:
1. Leave the club
2. Wait 24h
3. Join the club
4. Go to HHauto menu
5. In "Champions" pane there should be an option to toggle club champion fights on and off. It's gone.

**Expected behavior**
A clear a

[2022-03-02 01:26] NinJaraya commented on #469
on Test Server, I'm not leave the club and the options also disappear...

[2022-03-02 10:15] Dimka2010 commented on #469
On main game this option dissapeared too.

[2022-03-02 10:40] Cirkulis commented on #469
A number of things were broken with the latest patch, including HHauto club champ function.

[2022-03-02 13:48] cossname commented on #469
dissapeared club champ opion, didnt changed club

[2022-03-02 18:07] Dimka2010 commented on #469
can you look here too?
i think some vars broken..
![Screenshot_1](https://user-images.githubusercontent.com/86404525/156421927-0cebf910-d688-45f0-b80d-0f3dd831bec2.jpg)
![Screenshot_2](https://user-images.githubusercontent.com/86404525/156421931-c823fd01-2d05-4f45-b52b-baa170f9dbf6.jpg)

[2022-03-03 07:13] Roukys commented on #469
@Dimka2010 you are using paranoia and script is in rest mode, therefore it is normal that it does wait for active mode to do actions ;)

[2022-03-03 08:57] Dimka2010 commented on #469
sorry for disturb.
thanks!
cleared browser cash and after that did the options..
missclicked on Paranoia..

[2022-03-03 11:19] UncleBob800 opened #470 "Bug [5.6.61] - Names of villains in ComixHarem"
Is it possible to fix the display of villain names?
![image](https://user-images.githubusercontent.com/86453893/156475793-19bcb6ea-d531-4b57-8847-298a8f4b599f.png)

[2022-03-03 13:36] cossname commented on #470
fast fix

after line
[code]

add
[code]

should be
[code]

[2022-03-04 11:07] dadanda commented on #450
@Roukys
![image](https://user-images.githubusercontent.com/73831849/156752505-dc544fc7-6852-4b42-bee0-ef02354ffd03.png)
didn't collect the last 2 days, it was fine then its not. the safeguard to collect 1 hour doesn't seem to have worked.

[2022-03-06 15:16] RuperSama opened #471 "Enhancement : Info for Paranoia is ON (Script sleep)"
When the script is sleping for Paranoia we can add a extra message here

![image](https://user-images.githubusercontent.com/20951229/156929307-1854b4e5-91f0-42f0-b983-894c99933eb8.png)

for example add at the end "(Paranoia Sleeping)"

[2022-03-10 13:16] OldRon1977 commented on #467
I tried the script, but it does not work.
I started the battle and the script hit the skip automatically, but then it stopped... I wonder if they changed the button (again) ;)

[2022-03-10 20:47] Franck-75 commented on #467
Ultra basic code. Need to deactivate to construct your team and activate when your team is ready. But it works !

[2022-03-10 22:05] OldRon1977 commented on #467
Hmmm... Maybe I did something wrong... I will give it another try next time ;)

[2022-03-11 18:05] cossname opened #472 "Give Exp: changes"
**Which feature is concerned**
Give Exp: changes

**Describe the solution you'd like**
Change default value of filed "Enter target Exp level " to 749, so then Exp will be given to max unlocked level
Current value outdated bcs max girl level is not limited by player level, but by current unlocked max girl lvl

upd.

Change script so, if "Auto Give" is active, its should select next girl when reache

[2022-03-13 08:55] Roukys commented on #472
@cossname normally autogive is already switching to next girl, isn't it working on your side ?

[2022-03-13 12:37] Kinnoishi commented on #472
Version 5.6.61
"Auto Give" still working for me

[2022-03-13 22:20] ZaryImortal commented on #468
I solve the daily goals problem https://github.com/Roukys/HHauto/pull/473/commits/ecee7495f9a0b68dba4e97c326d0305fbd34a32e

[2022-03-14 12:51] cossname commented on #472
@Roukys  when set level highter than awakening limit, its show message "Girl need awakening", unchech autogive after it

[2022-03-14 13:38] Roukys commented on #472
strang I'll check, it was working on my side but didn't used it lately

[2022-03-17 13:37] Killer66 opened #474 "Bug [5.6.62] - League loop"
**Leagues on loop when UsePowerCalc option is enabled**

Win10-64 bits / Opera.

(Just on HH. ComixH is doing fine)

[2022-03-17 20:55] Killer66 commented on #474
Really don't know what's happening. After 5 or 6 failed attempts, PowerCalc didn't loop and worked properly... Maybe that type of weird bugs occurs because I'm using opera?

[2022-03-18 15:53] Dimka2010 opened #476 "Can you add auto-collect script of this too?"
![Screenshot_2](https://user-images.githubusercontent.com/86404525/159037229-72c3eddd-d5c4-4a14-adb9-3ff705ed5c4e.jpg)

[2022-03-19 00:32] UncleBob800 commented on #470
Don't get me wrong, it's been 15 days and the code that cossname wrote hasn't been added yet. I don’t really like to enter these lines again after each update...

[2022-03-22 10:25] Roukys opened #477 "Info : Laptop has fallen"
Hello all,

Lately I was not able to update much on the script.

My laptop has crashed a few weeks ago and conclusion has fallen this morning it can't be repaired ...

Therefore I won't be able to update much the script until I can get a new one.

I'll try at least to follow on weekly patches which could break it completely...

[2022-03-22 10:54] OldRon1977 commented on #477
Oha... Good luck with getting a replacement soon :)

[2022-03-22 17:52] bjaume commented on #477
OK. Thank you for your work (and for the info), Roukys
Good luck

[2022-03-23 17:11] UncleBob800 commented on #477
Oh no, this is very very bad. *comforting hugs*
HDD/SDD at least alive? That's why I always keep all my work in several copies on a laptop, PC and several flash drives.
What's broken in the laptop (just curious)?

[2022-03-23 17:13] UncleBob800 commented on #477
Oh no, this is very very bad. \**comforting hugs*\*
HDD/SDD at least alive? That's why I always keep all my work in several copies on a laptop, PC and several flash drives.
What's broken in the laptop (just curious)?

[2022-03-24 11:56] dadanda opened #479 "Salary Bug [5.6.63] - Salary refuses to be collected in the other sites than Nutaku"
Fix by cossname
:> @dadanda fast fix

**Describe the bug**
Salary doesn't collect on  Comix Harem(.com)
[HH_DebugLog_1648122740192.log](https://github.com/Roukys/HHauto/files/8341169/HH_DebugLog_1648122740192.log)

Even when Min salary is set to 0.

userscript.html?name=HaremHeroes%20Automatic%2B%2B.user.js&id=78ba3ed4-9f54-4e53-abde-4a7a000dc377:271 3/24/2022, 7:55:51 PM.39:getSalary:Not enough s

[2022-03-24 13:06] NinJaraya commented on #479
Only Nutaku and Test Server is working.

[2022-03-24 13:18] cossname commented on #479
@dadanda
fast fix

change
[code]

to
[code]

[2022-03-24 15:52] #474 closed, assigned to nobody

[2022-03-25 10:26] JarekDerp commented on #479
I have the same issue in hentaiheroes.com and changing that one line does fix it.

[2022-03-25 13:54] bsup68 commented on #477
Damn, that sucks man, hope you find a way to fix the problem, or get a working laptop.

[2022-03-29 07:13] Roukys commented on #477
@UncleBob800 HDD are alived and always backuped :)
motherboard seems to be the faulty piece

[2022-03-29 07:25] #468 closed

[2022-03-29 07:25] #469 closed

[2022-03-29 07:25] #463 closed

[2022-03-29 07:25] #408 closed

[2022-03-29 07:26] #454 closed

[2022-03-29 07:34] Roukys commented on #477
@react31 thanks for the pull requests. It did greatly helped

[2022-03-30 08:36] dadanda opened #481 "Enhancement : Places of Power implementation in Comix Harem"
**Which feature is concerned**
Places of Power.

**Describe the solution you'd like**
Implement on Comix Harem
(it kinda works on the Nutaku version already, although need to update the index as well as implement the others as giving them the index from Harem/Hentai Heroes, doesn't apply to all of them.)
![image](https://user-images.githubusercontent.com/73831849/160789408-66a497f9-a374-4bad-9ab6-

[2022-03-30 09:17] Roukys commented on #481
that is something I should be able to do on the phone, give me a minute

[2022-03-30 09:20] Roukys commented on #481
@dadanda it is done :)

[2022-03-30 10:49] dadanda commented on #481
yep, it's working, just that I don't have enough leveled girls to populate it.

[2022-03-30 10:49] #481 closed

[2022-03-30 11:05] Dimka2010 opened #482 "Collecting mission rewards BEFORE the start of new competitions"
version 66.
probably it came with today update of the game or today update of the patch.

![Screenshot_2](https://user-images.githubusercontent.com/86404525/160819460-eb12dda3-4481-478f-bb13-3395b6ecc9f2.jpg)

![Screenshot_9](https://user-images.githubusercontent.com/86404525/160819464-d0bbc3b8-0063-4d15-be7a-9a2c0452a624.jpg)
![Screenshot_1](https://user-images.githubusercontent.com/86404525/1608

[2022-03-30 11:11] AdDueringer opened #483 "Bug [Script version] - Bug description"
**Describe the bug**
Auto mission is not working since the last big update.
I mean since the main screen changed there was no auto mission function anymore.

**System:**
- **OS:** Windows
- **Browser:**Firefox 98.0.2 (64-Bit)
- **Script-Helper:** Tampermonkey
- **Script-Version:** 5.6.66
- **Actual activated options:** :
![Screen HH settings](https://user-images.githubusercontent.com/91340116/1608

[2022-03-30 11:12] #483 closed

[2022-03-30 12:21] Dimka2010 commented on #482
I\ve got what the problem is - Game changed their time on summer clock in Europe.
deleted -1 hour
need to change the collceting data inside the bot on -1 hour

[2022-03-31 12:23] amirbahalegharn commented on #477
hopefully you get new generation laptop or fixed it and enjoy internet and updating scripts
in android,"yandex browser" works with extension such as "tampermonkey,..", and i use that when i'm on go in streets or somewhere to use scripts via smartphone. there are online windows solution as well,such as onworksDOTnet wich gives you online windows operating system to do things,although they are time-

[2022-04-01 08:11] Franck-75 commented on #479
Working fine.

[2022-04-01 08:16] Franck-75 opened #484 "Bug 5.6.66 - Power places not working on Comix Harem"
**Describe the bug**
Power places arrived this week on Comix Harem.
There is a flag "Power places" available on Comix Harem.
But, even with this flag activated, the automation is not working.

**To Reproduce**
Steps to reproduce the behavior:
Use Comix Harem
Set Power places to on.
Set filter to some values, example in my case : 1;13;9;8;5;6;17;21;23
Wait. Nothing happens.

**Expected behavior**
S

[2022-04-01 10:51] Dimka2010 commented on #484
working fine. place button ON - do all

[2022-04-01 13:05] Franck-75 commented on #484
Are you sure it's on Comix Harem ?
The value you provide seems to be for Hentai Heroes.

[2022-04-01 15:01] Dimka2010 commented on #484
Yes.. all work fine.
just right now Bot did all the job
![Screenshot_8](https://user-images.githubusercontent.com/86404525/161289710-14e9f451-7032-48c0-9850-0b50e372b3d7.jpg)
![Screenshot_9](https://user-images.githubusercontent.com/86404525/161289720-90cdb115-eae0-4307-9cdd-ea5da43cbd08.jpg)

[2022-04-01 15:03] Dimka2010 commented on #484
can you to do - All refresh inside this scrip?
![Screenshot_10](https://user-images.githubusercontent.com/86404525/161290105-a553272a-24fa-403e-9762-4f4939616099.jpg)
it helped for me in some cases.

[2022-04-01 18:48] Franck-75 commented on #484
Nop. I did it. It changes nothing. It's not working on Comix Harem.
I use the same script on the same navigator with Hentai Heroes and it works perfectly.

[2022-04-01 19:26] Roukys commented on #484
@Franck-75 could you send a debug log ?

[2022-04-01 20:24] Franck-75 commented on #484
I had no interresting logs.
After rebooting my PC, it's working now.
I don't know why.
Thank you.

[2022-04-02 07:04] Franck-75 commented on #484
OK. It just worked once.  I don't know why.
For the moment, on the display, I have "Lieux de pouvoir ; No timer"
and the logs I get when I reload the page are :
Le cookie « member_guid » a été rejeté car le domaine est invalide. [www.comixharem.com](https://www.comixharem.com/)
Error in moduleVillain [www.comixharem.com:13:1037](https://www.comixharem.com/)
Error in moduleXP or moduleMoney [www.co

[2022-04-02 07:07] Franck-75 commented on #484
And if I load the application in a new window, it works.

[2022-04-03 10:42] dadanda opened #485 "AutoBattle Bug [5.6.71] - Continues to battle to 0 energy even with threshold set higher, and wrong troll"
**Describe the bug**
In Harem Heroes, the AutoBattle continues to fight ill the energy is depleted even when the threshold is set to 18.

It only happens in Harem, not in Hentai or Comix as I'm aware of. Even when copying the JSON file from Hentai over to Harem it still continues to drain it.

![image](https://user-images.githubusercontent.com/73831849/161429178-367fb3f0-a079-49bd-9263-f6d95d63da6

[2022-04-03 17:39] UncleBob800 opened #486 "Little fix for PoV timer [5.6.66]"
**Current state:**
![image](https://user-images.githubusercontent.com/86453893/161440637-ef929483-78f5-4378-b811-ccf407c2782a.png)

**Fixed:**
![image](https://user-images.githubusercontent.com/86453893/161440642-8301da55-d33c-4a01-8003-bae45b6d9ff5.png)
[code]

[2022-04-03 18:52] Dimka2010 commented on #485
Play here with numbers.
![Screenshot_3](https://user-images.githubusercontent.com/86404525/161443469-72c85693-34ba-4fe9-b0ee-173e87520a61.jpg)
this is the mine as example
![Screenshot_4](https://user-images.githubusercontent.com/86404525/161443483-53692776-c6d7-4f57-9535-9b9238476cde.jpg)

[2022-04-04 07:56] dadanda commented on #485
its nothing to do with mythic tho, and now its happening in comix as well.

[2022-04-04 17:07] Olaf-san commented on #486
Bug

[2022-04-04 17:30] Dimka2010 commented on #486
not was brake after some time. after new update

[2022-04-04 17:38] Dimka2010 commented on #486
something broke in Troll battles.
here dissapeared numbers of queue
![Screenshot_1](https://user-images.githubusercontent.com/86404525/161600353-e57856e3-d8c2-40e3-b3e5-9c809dca584b.jpg)
 for battle.

[2022-04-05 02:06] UncleBob800 commented on #486
@Roukys, maybe it's better to use the coordinates that I indicated?🤔 This way the timer looks much better and doesn't feel like it was placed by a mod 😉 (and it doesn't fit on the progress bar at least...😬)

**Current coordination:**
![image](https://user-images.githubusercontent.com/86453893/161664041-9113d723-aa70-487c-b4c7-ceffa736ede7.png)
[code]

**My coordination from first message:**
![imag

[2022-04-05 02:19] UncleBob800 commented on #486
Minor bug.
![image](https://user-images.githubusercontent.com/86453893/161665885-a92415ec-984e-4c87-ad9e-31d5f20a6809.png)

Need to add this option `width: 100px`.
[code]

![image](https://user-images.githubusercontent.com/86453893/161666211-6a58f481-09db-4605-a014-77c8cf0fab00.png)

[2022-04-05 05:34] Roukys commented on #486
@UncleBob800 with your coordinate it does overlap with the same timer from OCD script ;)
But I can try to find a better placement

[2022-04-05 06:48] Roukys commented on #485
@dadanda would you have a debug log of it happening, seems some test is not working

[2022-04-05 07:47] Dimka2010 commented on #486
could you roll back all the changes. The bot is not working. and then, when you find the "best" solution, you will make an update.

[2022-04-05 09:07] dadanda commented on #485
[HH_DebugLog_1649147683962.log](https://github.com/Roukys/HHauto/files/8416377/HH_DebugLog_1649147683962.log)
This is the log after combativity got consumed in Mythic, I forgot to remove the Mythic toggle.

[HH_DebugLog_1649148794297.log](https://github.com/Roukys/HHauto/files/8416525/HH_DebugLog_1649148794297.log)
This is the log after combativity got consumed by troll, even though there is a thr

[2022-04-05 12:16] NinJaraya commented on #486
Just make a downgrade and disable auto update

[2022-04-05 13:36] Roukys commented on #486
@Dimka2010 please open a separate issue concerning event. Ive just seen your post as this issue concerns the pov timer

[2022-04-05 18:00] Dimka2010 opened #487 "5.6.67 povTimer update ruined the bot."
Can you to do roll back on 66 version because right now the bot stop on 1 screen after this update.
![Screenshot_1](https://user-images.githubusercontent.com/86404525/161820186-2078170a-ed77-4d43-9bea-b0094ead136d.jpg)
in both games.
this has been going on for the second day

[2022-04-05 18:12] OldRon1977 commented on #487
Yep... Me too... I rolled back manually.

[2022-04-05 18:13] Dimka2010 commented on #487
can you teach me how to do this.
i am stuck second day with buggy bot.

[2022-04-05 19:53] Franck-75 commented on #484
Still no idea for the fix ? I still have the problem.

[2022-04-05 20:01] YotoTheOne commented on #487
@Dimka2010 [https://github.com/Roukys/HHauto/blob/55adfe36a0887c104ab2773848fcff1e195e0119/HHAuto.user.js](https://github.com/Roukys/HHauto/blob/55adfe36a0887c104ab2773848fcff1e195e0119/HHAuto.user.js)

[2022-04-05 20:15] YotoTheOne commented on #487
To show all versions :
![image](https://user-images.githubusercontent.com/74134758/161841454-16598f82-deb7-4d1e-92f4-b44ee5426e5e.png)

Then go to the 5.6.66 :
![image](https://user-images.githubusercontent.com/74134758/161841038-019bdb9f-ee41-48ed-a90c-0abdec3b27bd.png)

And there is the code :
![image](https://user-images.githubusercontent.com/74134758/161841290-1fb4f3d8-14f4-4992-ac72-11a78a41e

[2022-04-05 21:03] Dimka2010 commented on #487
thanks!~
returned on 66 version - all works fine.

[2022-04-06 07:07] Roukys commented on #487
@Dimka2010 could you explain me what was happening ? Bot was working but freezed on event page ?

[2022-04-06 07:32] Roukys commented on #484
@Franck-75 could you send me the debug log using : https://github.com/Roukys/HHauto/wiki#extracting-the-debug-log
Please  :
1. disable the script
2. disable any other options
3. Reset temp vars : Go in debug menu and use the button "Delete temp storage" to reset temp var,
4. enable the script
5. when script is back to idle extract the debug log

[2022-04-06 07:33] Roukys commented on #485
ok this will take me some time to read all that on phone :)
thanks @dadanda :)

[2022-04-06 07:33] #479 closed

[2022-04-06 07:33] #470 closed

[2022-04-06 07:43] Dimka2010 commented on #487
The bot just goes to the event girls' page and stands still.
If you click on "Missions", it will do a couple of its functions, then it goes back to this page and freezes, doing nothing.
I'm not the only one with this problem. I don't use any other scripts except the Bot. Even OCD.

[2022-04-06 07:45] Roukys commented on #487
thanks @Dimka2010
I'll try and test after update

[2022-04-06 09:34] Franck-75 commented on #484
Here are the logs as asked. I still have "Lieux de pouvoirs : No timer"
It only works when the timer should be to zero and if I open a new window to load the game.
But in that cas, it works only once.

{
  "HHAuto_browserVersion": "firefox 98.0",
  "HHAuto_scriptHandler": "Tampermonkey 4.16.6160",
  "HHAuto_version": "5.6.67",
  "HHAuto_HHSite": "https://www.comixharem.com",
  "localStorage.HHAuto

[2022-04-06 13:34] Roukys commented on #484
@Franck-75 seems only Pop available to start anr number 2 and 3 but they aren't into your filtered list

[2022-04-06 13:37] Roukys commented on #487
@Dimka2010 @OldRon1977 @YotoTheOne I've tried a fix in v68

[2022-04-06 13:48] OldRon1977 commented on #487
I will update and check :)

[2022-04-06 13:51] Roukys commented on #487
then I do cross fingers :)

[2022-04-06 13:51] Roukys commented on #487
normally it should even show a CX for the champions on which to get one of the girls

[2022-04-06 14:02] OldRon1977 commented on #487
Looking good so far :)

I will let it run for a couple of hours and check back later in the evening.

[2022-04-06 15:19] Franck-75 commented on #484
You seem not to understand the problem.
At that moment, if there is nothing to do, the timer should be armed to awake the processus when necessary.
The problem is that the timer is not awaken. As you can see on my last screen copy => No timer.
So, when the time arrives there is something to do, nothing happens because the timer is not initialized !!!
The only way to start the processus is, when th

[2022-04-06 15:36] Roukys commented on #487
fiouf :)

[2022-04-06 15:36] Franck-75 opened #488 "Bug [5.6.68] - Infinite Loop on Comix Harem in Power places"
**Describe the bug**
I follow the bug #484 who was closed and released earlier without correction.
Now, with 5.6.68, I get an infinite loop when the flag Power Places is activated.
This is due to the timer who is not armed !

See configuration, scenario and detailed explanations on #484 ticket.

The most important thing, is the "No timer" on this screenshot :

![hh-powerplaces-zero](https://user-i

[2022-04-06 16:07] Roukys commented on #484
@Franck-75 I do understand the explanation but the log do tell me that script only see to and 3 as to be started but they are not in your filter ...
and it does cause the timer to not be updated and that I'm trying to correct.

Even though at the time I wasn't able to reproduce on my side.
I'll check your last log on the loop issue #488 to try and understand

[2022-04-06 16:09] Roukys commented on #488
it does seems to have an issue to generate the popToStart.
maybe script is meddling 23 with 2 and 3, checking

[2022-04-06 16:10] Roukys commented on #488
as per your pop Filter and as all is not checked it should not try to start 2 and 3

[2022-04-06 16:16] Roukys commented on #488
@Franck-75 please check v69 I do hope it will solve your issue

[2022-04-06 16:16] Roukys commented on #484
@Franck-75 please check v69 I do hope it will solve your issue

[2022-04-06 16:18] Roukys commented on #484
for info close was done because of description of commit ending with fix and it considered the issue just after to be closed.
![Capture d’écran 2022-04-06 à 18 17 10](https://user-images.githubusercontent.com/73461293/162020957-d31a5b1c-ff24-4261-969d-9153128f2dd8.png)

I do not close issue on my side unless no answer was done after tests

[2022-04-06 17:25] Franck-75 commented on #488
I'll need to wait the end of the timer to be sure but it sounds good. The timer is generated. I don't have "No timer" anymore. Thanks.

[2022-04-06 17:25] OldRon1977 commented on #487
Nope... endless-loop-of-death when trying to do the Places of Power.
Switching to the site and back to home and so on.

Sorry, so .68 is not free of bugs, rolling back to .66 at the moment.

[HH_DebugLog_1649265873391.log](https://github.com/Roukys/HHauto/files/8429081/HH_DebugLog_1649265873391.log)

[2022-04-06 17:26] OldRon1977 commented on #487
Also same with .69

[HH_DebugLog_1649265873391.log](https://github.com/Roukys/HHauto/files/8429108/HH_DebugLog_1649265873391.log)

[2022-04-06 17:29] OldRon1977 commented on #488
.69 did not solve the problem :(

[HH_DebugLog_1649265873391.log](https://github.com/Roukys/HHauto/files/8429128/HH_DebugLog_1649265873391.log)

[2022-04-06 17:47] Franck-75 commented on #488
Oh yeah. It seems that I don't have anymore infinite loop on Comix Harem, but now, the infinite loop is on Hentai Heroes.

[2022-04-06 17:54] Roukys commented on #488
one day I'll have to deal with all variables type ... (but I'll keep that for when I will not be debugging on the phone ...)
found the issue ...
delivering it now

[2022-04-06 17:54] Roukys commented on #484
one day I'll have to deal with all variables type ... (but I'll keep that for when I will not be debugging on the phone ...)
found the issue ...
delivering it now

[2022-04-06 17:54] Roukys commented on #487
one day I'll have to deal with all variables type ... (but I'll keep that for when I will not be debugging on the phone ...)
found the issue ...
delivering it now

[2022-04-06 18:36] UncleBob800 commented on #486
Oh, I understood. A few months ago I switched to HH++ OCD by 45026831 and completely forgot that HH++ OCD by Tom208 has its own PoV timer (yeah, there are two different HH++ OCD mods). I'm sorry, my mistake. 😅
Maybe then it's better to make it possible to enable/disable the display of the PoV timer in the HHauto settings? After all, those who use HH ++ by Tom208 do not need two PoV timers. 😉

[2022-04-06 19:38] Franck-75 commented on #488
Seems to be OK for the moment. Need to test the end of timer use case in 3 hours.

[2022-04-06 19:52] Dimka2010 commented on #487
i think all "my" probles was solved.
so close.

[2022-04-06 19:52] #487 closed

[2022-04-07 08:24] OldRon1977 commented on #487
I am still testing... Places should start in about 2h... Then I will post if I still see any errors. :)

[2022-04-07 09:08] Roukys commented on #486
@UncleBob800 could be but would add a button, maybe could mask mine if there is one from OCD ;)

[2022-04-07 09:21] Roukys commented on #485
@dadanda seems to be linked to quest needing a troll fight looping.

I'll check up on that

[2022-04-07 11:25] OldRon1977 commented on #487
Looks good to me :)

Thumbs up for your debugging on a mobile ;)

[2022-04-07 16:43] Roukys commented on #485
@dadanda should be solved in v71

[2022-04-07 23:01] #488 closed

[2022-04-07 23:01] Franck-75 commented on #488
Works fine. Thank you.

[2022-04-07 23:02] Franck-75 commented on #484
Works fine. Thank you !

[2022-04-07 23:02] #484 closed

[2022-04-08 06:41] dadanda commented on #485
[HH_DebugLog_1649400042012.log](https://github.com/Roukys/HHauto/files/8449219/HH_DebugLog_1649400042012.log)
Its not fixed on Harem Heroes.
Its also fighting Werebunny Police instead of the Event trolls

[2022-04-08 07:05] Roukys commented on #485
@dadanda seems again a variable type issue.
please try again in v72.

[2022-04-08 07:15] dadanda commented on #485
After doing 1 wrong troll battle, it seems to have fixed the issue. Will continue watching for issues.

[2022-04-08 07:20] Roukys commented on #485
at last :)

[2022-04-08 08:44] Dimka2010 commented on #482
dont forget about this problem :)
need to change one (probably 2-3) strings with timer with new time zone changes.

[2022-04-08 08:45] Dimka2010 commented on #450
right now - i think - the roots of this "problem" are here
https://github.com/Roukys/HHauto/issues/482

[2022-04-08 09:23] Roukys commented on #482
I forgot :)
checking :)

[2022-04-08 09:29] Roukys commented on #450
@Dimka2010  I've tried to fix the DST issue, please check :)

[2022-04-08 09:29] Roukys commented on #482
@Dimka2010  I've tried to fix the DST issue, please check :)

[2022-04-08 11:30] Dimka2010 commented on #482
All works fine. Missions not collect if have not Competitions active.
![Screenshot_2](https://user-images.githubusercontent.com/86404525/162427273-f710a4b5-3b98-4911-bedf-1bf001eca457.jpg)
![Screenshot_3](https://user-images.githubusercontent.com/86404525/162427280-5f2b82f4-00b9-4b90-b77f-9a636dce0a97.jpg)

[2022-04-08 11:38] Dimka2010 commented on #482
And collected fine after my local 14.30+ time.
so close.

[2022-04-08 11:38] #482 closed

[2022-04-08 11:49] Dimka2010 opened #490 "Based on the script "do not collect missions while there are no active competitions""
https://github.com/Roukys/HHauto/issues/482

I propose to expand this feature and also touch on the battles in the Leagues and Seasons.
If there is no active event - Path of Attraction (where battles in Leagues and Seasons are part of the test). On normal days, it is possible to "freeze" these battles during the shift change, when the old Competition has ended and the new one has not yet begun, pr

[2022-04-10 08:53] Dimka2010 commented on #476
you can place this autocollecter here, as example.
![Screenshot_11](https://user-images.githubusercontent.com/86404525/162610513-059ab3fc-8401-4ce2-bd95-8a79d58710f8.jpg)
![Screenshot_12](https://user-images.githubusercontent.com/86404525/162610516-aa9bc893-b78f-408a-9b52-8226b0328035.jpg)

[2022-04-10 11:39] NinJaraya commented on #476
Needless...

[2022-04-11 09:17] Roukys commented on #255
@GEJack,  @react31 proposed an implementation being if main quest is finished then it will switch to next available side quest.

would it be ok ?

[2022-04-11 12:12] Dimka2010 commented on #450
for me = all working fine

[2022-04-11 20:56] react31 commented on #451
@Dimka2010, please check.

[2022-04-12 13:21] bjaume opened #492 "Bug [5.6.75] - PoV mask claimed switch doesn't work"
Whether the "PoV mask claimed" switch is on or off, the rewards claimed are hidden.

Windows 10
Chrome
Tamnpermonkey
Script version 5.6.75

![image](https://user-images.githubusercontent.com/77506895/162971489-f56cd156-c790-4549-ae1d-0f75b5e727de.png)

![image](https://user-images.githubusercontent.com/77506895/162971785-012355d1-c744-4b08-962c-a83f583ca289.png)

[2022-04-12 13:41] Roukys commented on #492
@bjaume are they still mask if you reload PoV page ?
the way the script works it does mask if enabled when loading page, but can't unmask ...

[2022-04-12 15:42] bjaume commented on #492
Yes @Roukys , I've reloaded the PoV page and the main page too. I had already figured out how the script works.

[2022-04-12 17:36] Roukys commented on #492
I'll check up on that

[2022-04-12 17:46] Roukys commented on #492
@bjaume are you using OCD script ?
Seems they have added a mask claimed rewards ...

[2022-04-12 21:32] bjaume commented on #492
Yes, @Roukys that was the problem.
I'm sorry
Ty

[2022-04-12 21:32] #492 closed

[2022-04-12 21:34] Roukys commented on #492
@bjaume no problem :)

[2022-04-13 11:06] #462 closed

[2022-04-13 11:07] Dimka2010 commented on #451
going better! and more faster!
so = close.
PS^ thanks!

[2022-04-13 11:07] #451 closed

[2022-04-13 11:15] Dimka2010 opened #493 "Club Champion [5.6.75] Too many clicks (returning function) here"
Start fighting with Club Champion and see how many times he makes a "return" at 1 time.
1) He going on CC screen (where all Players are display)
2) He going in battle screen with CC
3) He return on Main screen
4) He going on CC screen (where all Players are display)
5) if here not fighting battle are present with League or Season - he goes in Screen with Players in this mode (League or Season) and

[2022-04-13 11:34] Dimka2010 opened #494 "Can you add here some table with numbers? (filling lvl with exp in market )"
The essence of the problem.
I fill in the figure here with my fingers, example 250. The bot does its job, the girl gets level 250. Then you have to do an awakening. Click, the page is reloaded. Then we need to manually enter the number 300 again, we raise the girl level. Awakening again. Page reload again. And by the time you raise it to level 650, you're already getting tired. Each time entering

[2022-04-13 12:16] Roukys commented on #493
@Dimka2010 it goes through cub page to identify the number of time club champion was fought

[2022-04-13 14:48] Dimka2010 commented on #493
I asked about Point 4 and 6 - one of that probably not nessesary repeate thing.

[2022-04-18 11:00] dadanda commented on #450
[HH_DebugLog_1650279423652.log](https://github.com/Roukys/HHauto/files/8505239/HH_DebugLog_1650279423652.log)
![image](https://user-images.githubusercontent.com/73831849/163799210-a761ac64-682c-4ec0-9e4d-c8dff95b7e9e.png)

Out of 4, 1 still didn't collect.
Had some other cases of the others not collecting.

[2022-04-19 05:32] JimmyBoyHalpert opened #496 "Enhancement : Automatic Awakening and Affection Scenes"
**Which feature is concerned**
Right now if you are using the "give experience" feature in the market, you get stuck and it passes to the next girl when you get to an awakening level. When you give affection, once you reach a certain level you have no choice but to click into it and view the scene before the affection level properly hits the next step.

**Describe the solution you'd like**
Please

[2022-04-20 04:39] khyon commented on #255
It would be better if there were 2 switches, one for main quest and one for sidequest

[2022-04-21 21:05] Franck-75 opened #497 "Enhancement : Support of the new pornstarharem.com game"
**Which feature is concerned**
Can you add support of the new pornstarharem.com game whose game play is identical than other games with real photos instead of drawings.

**Describe the solution you'd like**
Same automatic features than other games.

**Describe alternatives you've considered**
Not playing with this new game ? Too many clicks. Boring.

**Additional context**
This new game was announ

[2022-04-21 21:06] Ivebeenpwnd opened #498 "Request : Support for Pornstarharem.com"
any chance of pornstarharem being added even with it still in beta?

[2022-04-21 21:13] Ivebeenpwnd commented on #497
lol, I was 2 minutes too slow

[2022-04-21 21:13] #498 closed

[2022-04-22 06:25] Roukys commented on #497
@Franck-75 @Ivebeenpwnd done in v79 ;)

[2022-04-22 12:49] Roukys commented on #494
@Dimka2010
first easiest proposal : set default level to max girl level. therefore it will always update to next awakening

[2022-04-22 21:46] khyon opened #499 "Bug broken "Open X upgradable girl quest" window [5.6.79] - Error in launch"
**Describe the bug**
When you click in launch a error appears

**To Reproduce**
Steps to reproduce the behavior:
1. Open the  "Open X upgradable girl quest" window
2. Click in launch button

**Expected behavior**
Open the girls quest for upgrade

**Screenshots**
![image](https://user-images.githubusercontent.com/22803248/164799824-9241268f-6827-4767-8265-7853f40e7f4a.png)
![image](https://user-ima

[2022-04-23 07:57] Roukys commented on #499
@khyon I'll have to find another way to get that URL ...
thanks for the alert

[2022-04-23 08:23] Franck-75 commented on #497
So good !

[2022-04-23 08:23] #497 closed

[2022-04-23 13:11] Dimka2010 commented on #494
the problem with 25, 50, 75 (for daily tasks - it is necessary to raise the girl by 25-50-75 levels) will be not solve

[2022-04-23 13:12] Dimka2010 opened #501 "Pornstar - no level up or gift gathering inside the market."
![Screenshot_16](https://user-images.githubusercontent.com/86404525/164896013-bd8ff98a-99de-4564-898d-5c017987041a.jpg)

[2022-04-23 21:05] cossname commented on #501
@Dimka2010
lmao
![image](https://user-images.githubusercontent.com/56331601/164945944-c352eefb-b273-42c0-b51f-f2849aa2c9c3.png)

[2022-04-24 01:34] Franck-75 opened #502 "Bug 5.6.80 - Pornstar Salary Timer and Market Timer are not armed"
**Describe the bug**
On Pornstarharem.com only, the salary timer and the market timer are not armed.
I always see Salary : No timer and Market : No timer even if Market and Salary toggles are on.
I think it was not the case in the first version supporting Pornstar.

Here are my logs 👍

{
  "HHAuto_browserVersion": "firefox 99.0",
  "HHAuto_scriptHandler": "Tampermonkey 4.16.6160",
  "HHAuto_versio

[2022-04-24 14:10] Dimka2010 commented on #501
heh :)
damn, i am a noob here :)

[2022-04-24 14:10] #501 closed

[2022-04-24 23:36] Franck-75 commented on #502
With the update, 5.6.81, Market timer is repaired but still not Salary timer.

[2022-04-25 06:21] Roukys commented on #502
@Franck-75 for market it was as designed before last update, as you have no buying switch on it would not go to the market.
but that is solved as you've seen :)
for salary I do not understand why it does not collect ...
Do you have a monthly card on Pornstar ?

Otherwise could you disable all other switch to leave salary and master only and redo a debug temp vars before extracting the log ?

[2022-04-25 06:42] Roukys commented on #499
@khyon I've found, please check v82 ;)

[2022-04-25 08:05] OldRon1977 commented on #502
I have the same problem...
Salary is not collected.

[HH_DebugLog_1650873911398.log](https://github.com/Roukys/HHauto/files/8552698/HH_DebugLog_1650873911398.log)

[2022-04-25 09:23] Franck-75 commented on #502
Yes. I have the free monthly card available for 4 days... always given to new users by Kinkoid.

[2022-04-25 19:46] khyon commented on #499
perfect @Roukys thx

[2022-04-26 10:06] Roukys commented on #502
think I've got an idea .. could you try on your side @Franck-75 @OldRon1977 either to disable all your reward collection or to ensure at least one item is selected for each ?
@OldRon1977 in your log it does loop on going to collect season but no reward to collect are selected.
I'm working on a fix, but would like a feedback to ensure this is the root cause

[2022-04-26 10:40] Franck-75 commented on #502
Hi Roukys,
I've disabled all the toggles and now the salary timer is armed.
I now reactivate all the toggles and test.
I'll let you know.

[2022-04-26 10:49] Roukys commented on #502
thanks @Franck-75 I think it is linked to no selected reward to collect for collect switches.
it does induce a loop

[2022-04-27 00:20] Franck-75 commented on #502
I have disabled collect daily rewards and collect daily goals and the timer works again... But I can't automatically collect anymore...

[2022-04-27 05:04] Roukys commented on #502
@Franck-75 Ill try to finish the fix today
In the mean time you can try to have at least one item checked for collection for each type of collect

[2022-04-27 08:27] Roukys commented on #502
@OldRon1977 @Franck-75 please try with v83, I do hope it will be better

[2022-04-27 08:28] Roukys commented on #493
@Dimka2010 I've tried a modification in v83, please check if it is a little better

[2022-04-27 08:28] #486 closed

[2022-04-27 08:29] Roukys commented on #485
@dadanda any new occurences ?

[2022-04-27 08:30] Roukys commented on #255
@khyon @GEJack it is now in v83 thanks to @react31 :)

Please check and do update :)

[2022-04-27 15:44] Franck-75 commented on #502
Good !

[2022-04-27 15:44] #502 closed

[2022-04-27 21:47] Dimka2010 commented on #494
Can you switch back what you did in latest changes here some days ago?

i explain why.
earlie - when i open EXP section and wanted to fill exp =the counter saw in my present level (500) and may count  for me MAXIMUM exp that was need on leveling up from present level of girl (as example 1) to my max lvl (as example 500).
right now - the counter count and show me from 1 lvl (as example) only for 25

[2022-04-27 21:48] Dimka2010 commented on #493
ok.. will try to look better on changing tomorrow

[2022-04-29 09:25] Dimka2010 commented on #493
thanks!
not repeatable movement here.

[2022-04-29 09:25] #493 closed

[2022-04-29 09:32] Dimka2010 opened #504 "I would like to increase the priorities of some processes"
Namely, the market and PoP. Why?
The market in your script is generally the most recent one being checked.
And he has a 6 hour cooldown after this checking.
I would suggest putting it first in general - there's a second click, then things are bought up in the background.

And at this time it is better to check PoP second. This one also has 6-8 hours of cooldown.
It is being done now (after your go

[2022-05-03 03:17] ZaryImortal commented on #468
still buggy

[2022-05-03 03:19] ZaryImortal opened #505 "Bug [5.6.92] - Pachinko for Money"
When we win a girl in Pachinko (only pachinko for money) she doesn't disappear from pachinko and the script understands that it still needs to be used, giving f5 when the girl is acquired solves the problem.

[2022-05-07 16:52] Killer66 commented on #453
Woulb be really nice. Don't know if it's browser fault or y pc, or the script, but at the first days of every league I have to give some focus to the game to the power calc to work...

[2022-05-09 18:05] dadanda opened #507 "Enhancement : Add the Energy Threshold to Buy tickets."
**Which feature is concerned**
Buy tickets and Energy Threshold

**Describe the solution you'd like**
Tie the current Energy Threshold for Quests and Side Quests to buying Tickets.
Maybe make it so that the priority is Quest, Buy Tickets, then Side Quests. Because if you're not doing Quests, you're most likely saving tickets.

[2022-05-18 10:28] dasEno opened #509 "Request : boost automatically"
fill slots with defined boosters (chlorella,...) when empty... you know what I mean :)

[2022-05-18 13:07] OldRon1977 commented on #509
We already had that issue.
So far the opinions differ from "No don't do that" to "Hell yeah!"

As far as I can remember we had a consent to build an option, that would stop the script from fighting if no booster are set.

I'm not sure if @Roukys has already begun to think about that *hint*hint* ;)

[2022-05-19 16:51] ViperBGB opened #510 "Support for nutaku.pornstarharem.com"
Please add new URL with these infos :
- hostname : nutaku.pornstarharem.com
- gameID : hh_star
Thanks

[2022-05-21 10:59] Cronosus opened #513 "Bug [5.6.84] - League freeze Test server"
**Describe the bug**
on test server, it freeze window right after it opens league page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'League on test.hentaiheroes.com'

**Expected behavior**
simpy to work :D

**System:**
- **OS:** Windows
- **Browser:** Chrome, Firefox (latest)
- **Script-Helper:** Tampermonkey
- **Script-Version:** 5.6.84
- **Actual activated options:** : everything

[2022-05-21 11:28] UncleBob800 commented on #513
Me too

[2022-05-21 11:33] UncleBob800 commented on #513
The problem is in PowerCalc.
If I turn off "Show PowerCalc", then the League stops freezing.

[2022-05-21 12:03] Cronosus commented on #513
i dont use powercalc and freeze anyway

[2022-05-21 16:36] Mirrak1212 opened #514 "Support for nutaku.pornstarharem.com"
Please add new URL with these infos :
- hostname : nutaku.pornstarharem.com
- gameID : hh_star
Thanks

[2022-05-21 16:39] Mirrak1212 opened #515 "Support for nutaku.pornstarharem.com"
Please add new URL with these infos :
- hostname : nutaku.pornstarharem.com
- gameID : hh_star

[2022-05-21 17:45] react31 commented on #513
fastfix
Replace in script all `total_ego` on `remaining_ego`.

[2022-05-22 13:51] RuperSama commented on #477
@Roukys idk if you are reading this, but we need for the good of the project to give to somebody de power to commit in main.

[2022-05-22 19:30] Cronosus commented on #513
thanks, now it atleast not freeze

[2022-05-23 04:40] Xanxar opened #516 "Support for nutaku.pornstarharem.com"
Hostname : nutaku.pornstarharem.com
gameID : 44381

[2022-05-23 04:40] Xanxar opened #517 "Support for nutaku.pornstarharem.com"
Please add new URL with these infos :
- hostname : nutaku.pornstarharem.com
- gameID : hh_star
Thanks

[2022-05-23 12:49] cossname commented on #514
Temporary fix of last version
[nutaku_pornstarharem_support.txt](https://github.com/Roukys/HHauto/files/8754616/nutaku_pornstarharem_support.txt)

[2022-05-23 20:00] buttstallion69 opened #518 "Bug [5.6.84] - Hangs on test.hentaiheroes.com"
**Describe the bug**
Hangs on test.hentaiheroes.com

**To Reproduce**
Steps to reproduce the behavior:
1. Go to test.hentaiheroes.com
2. Activate some options like pachinko, leagues etc
3. activate the script
4. Script will do some basic steps then will hang (after finishing pachinko or if you disable it - after finishing checking the contests).
5

**Expected behavior**
No script hanging

**Screen

[2022-05-24 00:05] UncleBob800 commented on #518
The script hangs on almost any actions, even when trying to launch Place of Power

[2022-05-24 06:34] Roukys commented on #477
@RuperSama yes would be a good idea.
Second covid time for me, sorry I was not able to provide support

[2022-05-24 06:57] Roukys commented on #510
@viperBGB it should be good in v85

[2022-05-24 07:01] Roukys commented on #517
@Xanxar it should be good in v85

[2022-05-24 07:01] Roukys commented on #514
@Mirrak1212 it should be good in v85

[2022-05-24 07:36] Roukys commented on #513
there is still an issue with timers in test, looking into it.

[2022-05-24 07:47] Roukys opened #519 "Bug [5.6.85] - Test server Timer issues"
**Describe the bug**
Timers are not catched correctly since last update

**To Reproduce**
for example shop timer after going to shop page

userscript.html?name=HaremHeroes%2520Automatic%252B%252B.user.js&id=ade35955-a917-4526-be90-f08b40f49c25:4727 Uncaught TypeError: Cannot read properties of undefined (reading 'startsWith')
    at updateShop (userscript.html?name=HaremHeroes%2520Automatic%252B%2

[2022-05-24 08:05] UncleBob800 commented on #518
When I open the Market page:
![image](https://user-images.githubusercontent.com/86453893/169980272-0e795d09-8ade-44b7-85f4-0b32bfb8d140.png)

When I open window autosell in Market:
![image](https://user-images.githubusercontent.com/86453893/169980679-df493064-f200-4ffe-8f4f-12461831656f.png)

[2022-05-24 08:35] Roukys commented on #477
Thanks @UncleBob800
Yes even now I'm pretty tired and mind is still foggy

[2022-05-24 08:45] Roukys commented on #518
@UncleBob800 I have opened #519 for that as i have to find a workaround for the timers which may come in prod tomorrow...

[2022-05-24 10:03] Roukys opened #520 "Bug [5.6.85] - Test server auto sell Issue"
**Describe the bug**
Auto sell not working

![image](https://user-images.githubusercontent.com/73461293/170006301-077dd385-8a8e-4fbf-b3fd-73d300daf7f8.png)

[2022-05-24 12:02] Roukys commented on #520
jquery moved from 1.9.1 to 3.6.0 ...

[2022-05-24 13:48] ViperBGB commented on #510
Thanks a lot!!! Its working just fine! Plus now I can do Champions on pornstar too!

[2022-05-24 14:04] UncleBob800 commented on #519
I tested [react31](https://github.com/react31)'s fixes, most of the functions work again, except for the start of missions (when you go to the Activities section, it displays "Mission: No timer")
![image](https://user-images.githubusercontent.com/86453893/170054451-a313d92f-e04b-4c1c-915d-9f95b5bbffe9.png)
and auto-sales (it hangs on counting things)
![image](https://user-images.githubusercontent.

[2022-05-24 14:10] UncleBob800 commented on #519
Oh yeah, i see. 🤩 Thank very much! 😊

[2022-05-25 19:56] dadanda opened #523 "Request : Path of Glory collect"
**Is your feature request related to a problem? Please describe.**
Same with Path of Attraction, now its just with Goals and the Path of Glory.

**Describe the solution you'd like**
Same with Path of Attraction, just now for Path of Glory.

[2022-05-25 21:00] JimmyBoyHalpert commented on #519
So this is not an issue if we have the latest code? I've tried resetting the shop timer specifically as well as all timers and there is still an issue. Market is checked and then the next scheduled check is in 60 seconds.

[2022-05-26 05:11] DreadfulManticore opened #524 "Bug [5.6.88] - Crashes on ComixHarem"
This has always crashed on nutaku's ComixHarem, but now the normal ComixHarem will crash when the script is running - and if I shut it off, it will automatically turn off for Harem Heroes too (Nutaku). It also says I'm running three instances of it on my TamperMonkey extension, but only on ComixHarem. I'm unsure why.

[2022-05-26 12:57] bsup68 opened #525 "Bug [5.6.88] - Crash? Error message from Hentaiheroes"
I'm getting an error message while running the script(see screenshot) running in paranoia mode.

OS: Win10
Browser: Chrome with TamperMonkey

Getting the error turning the masterswitch on.

Expected the script to run as it always does, updated to newest version yesterday after the version I used got stuck on collection rewards.

Screenshot of error:

 [img]https://i.imgur.com/NceGgeM.png[/img]

My

[2022-05-26 22:54] Franck-75 opened #526 "Bug [5.6.88] - Market timer not working - rearmed every minute"
**Describe the bug**
Every minute, the market timer is rearmed without action.
The script goes back on the market page every minute interrupting all other actions.
It happens since the last wednesday update of the game.
It happens on every games (Hentai Heroes, Comix Harem, Horny Heroes, Pornstar Heroes) and every navigators (Chrome, Firefox).

See attachment for bug message.
[HH_DebugLog_16536051

[2022-05-27 00:58] dadanda opened #527 "Infinite Leagues Loop [5.6.88] - It keeps on refreshing opponent list."
**Describe the bug**
After remaking the list of scores, it goes refreshing the opponent list. Happens only in HentaiHeroes.

**To Reproduce**
Only happens when Allow win is enabled.

[2022-05-27 05:36] AKONIT90 opened #528 "Bug [Script version] - Bug description"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**System:**
- **OS:** Windows, Linux o

[2022-05-27 05:50] AKONIT90 commented on #528
The choice of the troll disappears, instead of it an empty value appears, as a result of which it goes to the page with an error and everything stops, it goes on without any impact, left the browser on, and when it checks, it sees such an error
OS Windows 10
Browser opera 87.0.4390.25 and Firefox 100.0.2
Tampermonkey and [Violentmonkey]
5.6.84
Mission salary troll
[HH_DebugLog_1653546693869.log](h

[2022-05-27 05:50] AKONIT90 commented on #528
[HH_DebugLog_1653546693869.log](https://github.com/Roukys/HHauto/files/8784261/HH_DebugLog_1653546693869.log)

[2022-05-27 09:25] Franck-75 commented on #528
I confirm. It happens sometimes. The value is not well updated somewhere and result of that.
Probably during a network problem.

[2022-05-27 17:13] mlopezwalook commented on #526
same problem

[2022-05-28 14:51] cossname commented on #528
set vlues to league list and troll list ans press "save defalt", dint occur after those actions

[2022-05-28 14:53] Dimka2010 opened #529 "Path of Valor stoped to collect rewards"
![Screenshot_29](https://user-images.githubusercontent.com/86404525/170830707-99212b31-a978-4b8a-ba53-670be8c028a1.jpg)
![Screenshot_30](https://user-images.githubusercontent.com/86404525/170830709-32a2db97-5263-4722-8843-8ade666d1e2d.jpg)

[2022-05-28 15:39] DreadfulManticore commented on #525
I'm getting the same exact issue on ComixHarem. Except for me its now just loading the website.

[2022-05-29 00:22] bsup68 commented on #525
Gonna try the "Settings Per Tab" tomorrow on Hentaiheroes, maybe it works there too :)

[2022-05-29 07:50] cossname commented on #528
Main quests also didnt work

[2022-05-29 08:13] Roukys commented on #525
I'm still checking for the moment can't reproduce and it seems a server error
Can one of you share a debug log ?

[2022-05-29 08:16] Roukys commented on #528
Can you try the reset temp vars ?

[2022-05-29 09:59] Dimka2010 opened #530 "in HH Bot dont buy last 1-2 gift."
![Screenshot_32](https://user-images.githubusercontent.com/86404525/170862371-a59d5f2e-1680-44cf-8d9a-2144baa7bf4f.jpg)
![Screenshot_33](https://user-images.githubusercontent.com/86404525/170862374-6feba5a1-46ee-4689-942b-515b7e02bc00.jpg)
![Screenshot_34](https://user-images.githubusercontent.com/86404525/170862437-f12e3bf1-4c89-4179-b99a-445b59a0f435.jpg)

[2022-05-29 12:46] bsup68 commented on #525
Sure, I hope I did that part correct though:

{
  "HHAuto_browserVersion": "chrome 101.0.4951.67",
  "HHAuto_scriptHandler": "Tampermonkey 4.16.1",
  "HHAuto_version": "5.6.88",
  "HHAuto_HHSite": "https://www.hentaiheroes.com",
  "localStorage.HHAuto_Setting_settPerTab": "false",
  "localStorage.HHAuto_Setting_autoAff": "500000000",
  "localStorage.HHAuto_Setting_autoAffW": "false",
  "localStora

[2022-05-29 13:26] cossname commented on #528
my bad, i have reached last available quest

[2022-05-30 07:05] #519 closed

[2022-05-30 07:05] #520 closed

[2022-05-30 07:06] Roukys commented on #524
@DreadfulManticore could you give more details of the errors and screenshot if possible.
Also please try to extract a debug log of comixharem to check if there is any issue I could see

[2022-05-30 07:08] Roukys commented on #527
@dadanda can you try to reset temp vars via the menu ?
and after to extract a debug log so I can see where the issue is ?

[2022-05-30 07:10] Roukys commented on #528
@AKONIT90 can you try to reset all vars using the button in debug menu ?

[2022-05-30 10:25] Roukys commented on #529
@Dimka2010 please check v90 ;)

[2022-05-30 10:26] Roukys commented on #526
@Franck-75 please check with v90

[2022-05-30 10:27] Roukys commented on #523
@dadanda please check with v90 ;)

[2022-05-30 12:31] bsup68 commented on #525
Updating to 5.6.90 did not fix the problem.

[2022-05-30 13:04] Roukys commented on #525
@bsup68 at the moment I'm not able to reproduce the issue ...

Seems the script is going to an unexisting page ...

Your debug log did not contain any info.

Could you try the following when being on the error page  :
As you are in chrome :

1. Open web developer console (menu->more tools->development tools or ctrl+shift+I)
2. in console tab please type : sessionStorage.HHAuto_Temp_Logging
3. then

[2022-05-30 13:11] Gateau98 commented on #526
@Roukys it keeps restarting every minute with v90

[2022-05-30 13:33] Roukys commented on #526
strange it seems on your side script is not able to get the correct timer.

You can cheat it by modifying the default timer (        let shopTimer=60; on line 4911) but still it will not update correctly market timer...

[2022-05-30 15:41] Dimka2010 commented on #523
all works fine

[2022-05-30 15:41] Dimka2010 commented on #529
all works fine

Thanks!

[2022-05-30 15:41] #529 closed

[2022-05-30 15:47] bsup68 commented on #525
@Roukys thanks for the guide, i'll get to it asap.

[2022-05-30 18:24] Roukys commented on #526
the connection reset when loading shop seems strange ...

[2022-05-30 18:48] KrazyGig commented on #526
I've notice the same strange issue. It keeps refreshing every 60 seconds with OCD script option SHORTCUT/TIMERS enabled. Disabling that feature in OCD and resetting nextShopTime, it sets a countdown of 2h, regardless the real restock timer (in my case 5h). Hope this helps!

[2022-05-31 10:45] Roukys commented on #526
thanks @KrazyGig I'll dig with this clue
maybe OCD modify timers I'll check :)

[2022-05-31 12:12] OldRon1977 opened #531 "Request : Failsave for Events etc..."
I would like to have a failsafe, so that even if I did not set the script to collect all items from PoV, PoG, etc.... The script will collect all of them before the event timer runs out.
This is similar to the option provided by the monthly card, which assures you, that you won't miss items.

:)

[2022-05-31 12:23] Dimka2010 opened #532 "you have wrong formula for calculating EXP for myth girls."
i had 689lvl of that Myth girl.
Was wrote about 42000+ exp need to up her on 700lvl
i used book with 40.000 exp and she become 700lvl
and no need to add 2000+ exp.
so.. your the formula is wrong here.
can you look better here?

![Screenshot_2](https://user-images.githubusercontent.com/86404525/171172172-b6cdba3d-bf2e-4bc6-9426-d729b6644113.jpg)

![Screenshot_1](https://user-images.githubuserconten

[2022-05-31 12:50] cossname commented on #530
its should check market periodicaly, sometimes items will be bought later

[2022-05-31 12:53] Roukys commented on #526
please check in v91

[2022-05-31 13:24] Roukys commented on #525
Ok seems your issue is with troll and league selected index not initialized...
I'll have to dig into the why.

Please try to change the troll selection dropdown list and same for league the reload to see if it solves your issue

[2022-05-31 14:35] bsup68 commented on #525
@Roukys Didn't get to test solution as I have auto update on, but so far it look like 5.6.92 have got the script up and running and running again :-)

[2022-05-31 14:54] Roukys commented on #525
@bsup68
perfect :)

[2022-05-31 16:07] #255 closed

[2022-05-31 16:07] #485 closed

[2022-05-31 16:07] #513 closed

[2022-05-31 16:07] #514 closed

[2022-05-31 16:07] #515 closed

[2022-05-31 16:07] #517 closed

[2022-05-31 17:02] bsup68 commented on #525
@Roukys Yeah it is :)

Thanks for the fast and effective support and solving the problem 👍

[2022-06-01 10:47] #526 closed

[2022-06-03 08:34] #525 closed

[2022-06-05 03:29] dadanda commented on #527
I think it has been resolved so I am closing this.

[2022-06-05 03:29] #527 closed

[2022-06-05 03:29] #523 closed

[2022-06-05 04:06] #433 closed

[2022-06-08 09:42] Roukys commented on #531
@OldRon1977 I'll check but normally this is the case for POV and POG, I'll check others

[2022-06-08 09:44] OldRon1977 commented on #531
Perfect :)

I should be able to test more, since our renovation made good progress, which held me back a lot lately. That's why I was not being around much ;)

[2022-06-11 04:01] ZaryImortal opened #533 "Auto Awaken and Bang Boss"
Auto Awaken: Would work just like Auto Give EXP, but to awaken.

Bang Boss: Make the script click on the first square, give Auto Fill and confirm, click on the second... etc... Finished, click on the last square, Bang, wait 2s to return to the page, do the availability check, click on the last or third square depending on availability...etc...

[2022-06-11 06:47] OldRon1977 commented on #533
AutoAwaken would be nice, indeed.

For AutoBang check out the script made by @RuperSama : https://github.com/RuperSama/HentaiHeroesScripts/tree/main

[2022-06-14 15:26] Eduardeus opened #534 "Enhancement : Feature to be enhanced"
**Which feature is concerned**
paranoia mode
**Describe the solution you'd like**
It should not be necessary a part of paranoia mode, but it would be easy to adjust this one (because of existing internal functionality) for my proposal:

make a pause between 13.00 and 13.30.  This time is not good for spending points, they may be needed to get some extra points in contest, which start 30 minutes af

[2022-06-17 06:37] Diadochus-Ptolemy opened #535 "Bug [5.6.92] - "Sell" feature in market stop working after update."
The item count function freezes and the table does not appear.

[2022-06-22 10:08] UncleBob800 commented on #535
In dev console:
[code]

[2022-06-22 11:48] Roukys commented on #535
checking on it

[2022-06-22 18:44] Dimka2010 opened #536 "5.6.92 Broken auto-sallary mode."
before today - auto salary collect from HIGH salary obtain to LOW salary price.
After today update again started to collect salary from "Date recruting" list.

[2022-06-22 18:49] Roukys commented on #536
Pfff I sometime hate they're releases
They always tend to change small thing
@Dimka2010 be careful salary collects according to current harem sorting
Try sorting by rarity it may help

[2022-06-22 18:49] Roukys commented on #536
Pfff I sometime hate they're releases
They always tend to change small thing
@Dimka2010 be careful salary collects according to current harem sorting
Try sorting by rarity it may help

[2022-06-23 01:03] UncleBob800 commented on #535
Sometimes I really hate Kinkoid updates. Often they don’t add anything new or anything very useful, they stuff all sorts of nonsense into the game, after which a lot of bugs appear.
These days, when I see in game their page about installing an update, my eye starts to twitching...
![twitch-icaage](https://user-images.githubusercontent.com/86453893/175185535-cc1c4679-356c-4352-aa76-1715beed72b1.gif

[2022-06-25 08:44] dadanda commented on #535
Heres a debug log from mine. Same issue
[HH_DebugLog_1656146572877.log](https://github.com/Roukys/HHauto/files/8984227/HH_DebugLog_1656146572877.log)
.

[2022-06-25 22:33] UncleBob800 commented on #535
@Roukys How are things with the correction of this bug? We really need this functionality, I very often used it to search for legendary items to wear more relevant.  Also this is especially useful during the performance of the PoA quests for the sale of 40 and 80 items.

[2022-06-25 23:16] Roukys commented on #535
@UncleBob800 for the moment nowhere they have changed some loading function and variable
At the moment I'm trying to find a workaround which could work however would only be able to sell items already loaded by the player

[2022-06-26 16:03] cossname commented on #535
@Roukys
edited function works for me
[code]

[2022-06-27 00:32] UncleBob800 commented on #535
@cossname Yep, the script begins to work, but there is another bug. The calculation of items is endless. When I press button STOP and forcibly stopped scan, I found that several duplicates of the same item appeared in my window window. In other words, the script scaned all my inventory, but instead of stopping - the script began to scan in the second circle, thereby duplicates appeared in my list

[2022-06-27 00:40] UncleBob800 commented on #535
@Roukys @cossname How realistic is it to copy the filter system in the Market from this script?
https://github.com/45026831/hh-plus-plus
The main feature of these filters is that the sale of items does not affect items that were hidden using the filter.
If I display only rare items in your script and start selling them manually, then I will inevitably sell those items that were between two rare it

[2022-06-27 14:01] cossname commented on #535
This is just temporary fix, bcs dev changed source code, so we need to work around to find solution, it iwll take time for now.
about HH++ script current version have changed to module system, i didnt know how this works for now

[2022-06-27 19:06] RuperSama commented on #535
@cossname, @Roukys

Okey this is a stupid idea becuase we cant set the number of "items" for load but this

document.getElementsByClassName('ui-droppable')[2].scrollTop = 9999999999

scroll the items box to the bottom (can fail if you have more item of my account :p)

[2022-06-28 11:04] Roukys commented on #535
not so stupid, I can try and bypass the automatical load.

just do sell what the player has manually loaded

[2022-06-28 11:31] Roukys commented on #535
erf sorry @react31 I just deployed temporary fix :(

I'll check your code now :)

[2022-06-28 13:19] Dimka2010 commented on #536
Maybe need to upgrade the options in Bot?
Collect only girls with 3-5 Full filled stars?
and to avoid 0-2 filled stars girls?

[2022-06-28 13:46] Roukys commented on #536
idea here is to still be human like, therefore if you collect manually you'll collect all you can not just 1 skip 3, then 2, skip 5 etc ...

I'll check though why it does not respect the sort by order

[2022-06-29 06:18] Roukys commented on #535
@RuperSama @cossname @dadanda @Diadochus-Ptolemy @UncleBob800 Issue solved thanks to @react31 work :)

[2022-06-29 16:22] #536 closed, assigned to nobody

[2022-06-30 19:44] Diadochus-Ptolemy commented on #535
Thanks it working again.

[2022-06-30 19:44] #535 closed

[2022-07-04 18:07] Ivebeenpwnd opened #540 "Keep getting the Error 500 temp ban"
I keep getting the Error 500 temp ban when I have salary set to collect.

[2022-07-05 12:51] Roukys commented on #540
hello @Ivebeenpwnd
Do you have it each salary collection ?

Would you have a debug log of after the issue ?

[2022-07-05 19:54] Ivebeenpwnd commented on #540
it does happen each time I have it on, how do I go about getting a debug log?

[2022-07-05 21:13] Ivebeenpwnd commented on #540
sometimes it happens immediately sometimes it is after it cycles through a few times, how do I go about getting a debug log? @Roukys

[2022-07-06 06:54] Roukys commented on #540
@Ivebeenpwnd please find a guide here : https://github.com/Roukys/HHauto/wiki#extracting-the-debug-log

[2022-07-06 06:56] Roukys opened #541 "Request : Auto get event girl from champions"
Automatically force start of champion when an event girl is available on the champion

[2022-07-07 12:17] OldRon1977 commented on #541
Works fine :)

[2022-07-08 08:43] Ivebeenpwnd commented on #540
Sorry it took so long to get back to you, had a few busy days at work. Here is the log right after getting a temp ban.
[HH_DebugLog_1657269564170.log](https://github.com/Roukys/HHauto/files/9070462/HH_DebugLog_1657269564170.log)
{

[2022-07-08 12:07] Roukys commented on #540
OK seems nothing specific in it ...
I'll try to check in code what could happen

[2022-07-08 12:20] Roukys commented on #540
OK seems nothing specific in it ...
I'll try to check in code what could happen

[2022-07-08 14:20] Franck-75 opened #542 "Bug [5.6.98] - Automation stops to work and don't restart"
**Describe the bug**
It'll hard to find the root reason, probably there are multiples. It happens often, more with pornstar harem.
I activate the automation of several activities (different configuration for each game) and after a while (hours or days), the automation is stopped. No more actions provided by the script.
Sometimes, if I click to load a page, the automation restarts. Sometimes, I nee

[2022-07-09 09:27] Roukys commented on #542
@Franck-75 I do see nothing in the log, though your analysis may be good.

Could you please try the following :
Open your firefox devTools using : https://firefox-source-docs.mozilla.org/devtools-user/
Let the script run until is does again stops.
Please look for errors in DevTools console (as these may not be catched by debug log)

[2022-07-10 12:23] Dimka2010 opened #543 "5.6.136 = Testing auto boss bang option."
![Screenshot_1](https://user-images.githubusercontent.com/86404525/178144722-9591248d-c23e-4aea-b1f2-57d7e1f8d168.jpg)

no autofill girls here - we can do it by myself
just an option start fight, end fight, start new and etc for the end - the end of HP girls or victory and winning event girl here.

[2022-07-11 12:43] cossname commented on #543
disable all scripts
eneble this one
https://github.com/RuperSama/HentaiHeroesScripts/blob/main/HentaiHeroes-AutoBang.js
enter event page
wait 100 shards
turn everything back

[2022-07-11 12:45] cossname opened #544 "Champion auto team"
any ideas how to make auto champion team roll?

[2022-07-11 12:48] cossname commented on #542
maybe its bcs of ?
[code]

[2022-07-11 14:37] Roukys commented on #542
@cossname thanks I re-read and found :
 "localStorage.HHAuto_Setting_ia": "false",
  "localStorage.HHAuto_Setting_iaSettings": "140-320/Sleep:28800-30400|Active:250-460|Casual:1500-2700/6:Sleep|8:Casual|10:Active|12:Casual|14:Active|18:Casual|20:Active|22:Casual|24:Sleep",
  "localStorage.HHAuto_Setting_iaSpendsBefore": "false",

seems paranoia has been renamed to ia ... at least in debug file

I'

[2022-07-11 15:10] Roukys commented on #542
Seems it does not detect Hero variable from hh but script does only try a click about
I'll look onto it

[2022-07-11 23:44] ZaryImortal commented on #543
there is no way to add this to the Roukys script? without deactivating everything

[2022-07-11 23:52] ZaryImortal commented on #533
there is no way to add this to the Roukys script? without deactivating everything

[2022-07-12 13:52] cossname commented on #543
this can be done, but it's more complicated than simply reactivate scripts once in a month

[2022-07-13 16:13] 13072022 opened #545 "on "edit team" add link to girl in harem"
on "edit team" page, after you press "current best" or "possible best", add link to girl in harem on the numbers added on those 16 selected girls.
Suggestion:
after ```newDiv.setAttribute('position',j+1);```
add ```newDiv.setAttribute("ondblclick","window.location.href='/harem/"+deckID[j]+"'");```

P.S. maybe also add: ```newDiv.setAttribute('title',deckStat[j]);```

[2022-07-14 13:42] Dimka2010 commented on #543
for pornstar game need to add this one string
// @match        http*://*.pornstarharem.com/*

[2022-07-15 12:59] NinJaraya commented on #545
I'd rather it go to the Market.

by Google Translate

[2022-07-19 07:32] 13072022 opened #546 "use energy to buy tickets"
when there are no more main or side quests use the energy on reception desk to buy tickets.
if there are new quests available use the energy again on quests.

[2022-07-25 00:02] Franck-75 opened #547 "Enhancement : Two new behaviors for Mythic event"
As mythic revival is fully disputed, but it can be interesting for mythic event also, I'd like to add two new behaviors so we miss less time.
1) Restart the Mythic event exactly at odd hours whatever the script is doing. Don't let him the time to finish what he's doing.
I've lost many minutes those 2 days and it's precious to loose the less possible because the event lasts only 5 minutes.

2) Rene

[2022-07-28 09:45] NepNepChan opened #548 "Request : Short description"
**problem**
It's frustrating to have to click in the market loads of times if your XP or affection stash is not sufficient to resupply manually if your kobans allow it.

**solution**
A feature where you could set X market refreshes and buy everything would be handy, but with an option to avoid buying mythic items.

**alternatives**
An alternative would be some kind of clicker script, but the issue

[2022-07-29 10:36] Ivebeenpwnd commented on #540
@Roukys any update for this, I keep having this problem

[2022-07-29 13:09] Cronosus commented on #542
when script opens league, it freezes

[2022-07-30 19:22] nothhname commented on #540
I've been seeing this too recently... I have a feeling it's related to request volume, I have a very high girl count in HH, I think it happens most often after sleep or when there is a large number to collect.  It may be a matter of increasing delay between clicks or limiting the number of girls that collect in one pass.

[2022-07-31 20:39] smashrvmco opened #549 "HUD move? (show info box on main screen)"
Any thought to moving the heads up display (info box with timers on the main screen)? Its currently being blocked by all the events we now have.
<img width="399" alt="Screen Shot 2022-07-31 at 4 37 41 PM" src="https://user-images.githubusercontent.com/76590336/182044454-46a0292c-809c-49e9-9194-fe5fa587d11b.png">

[2022-08-02 06:19] NepNepChan commented on #549
For now a hotfix is to disable the "Rearrange the items on the right side of the home screen" of the style tweaks script. I like to use these 2 in combo as well as many others probably, but that's what's causing the issue.

[2022-08-02 12:07] smashrvmco commented on #549
ah, didnt even realize that tweak was to blame, disabling it did the trick, now everything is viewable again. Thanks!

[2022-08-03 08:08] Dimka2010 opened #550 "Place of power in Pornharem"
need to expand the bot with this already known function in Pornharem too.

[2022-08-03 08:36] Roukys commented on #540
i've raised the minimum time beween 2 girls in v100 lets see if it is better

[2022-08-03 08:37] Roukys commented on #550
done in v100

[2022-08-03 08:53] Ivebeenpwnd commented on #540
Ill test it out, not sure if it will have to wait for after the free 3 day premium card they gave out since it collects without going into the harem page for now

[2022-08-03 09:07] #436 closed

[2022-08-03 09:07] #518 closed

[2022-08-03 21:08] nothhname commented on #540
I updated to latest and should have an idea tomorrow, the last few weeks it's been sitting on harem screen either with or without error almost every evening when I get to check with all indications being it failed at the first run after waking up from sleep. When I refresh it's 25-50% chance that it starts getting 500s before it finishes collecting but I've also noticed a few times it doesn't get

[2022-08-03 23:57] nothhname commented on #540
If this doesn't work I think I may try adjusting my paranoia settings, shorter rest/active times in the active/casual/sleep blocks may actually be enough to keep too much from happening in one batch as often. I'll still give an update tomorrow evening either way.

[2022-08-04 17:01] bjaume opened #551 "Bug [v6.6.101] - I can't do a Mythic booster selection"
I want the script to buy mythical equipment (sandalwood perfume only) but the selection filter appears in red when I type any mythical code (MB1, MB2...) . Is it a bug or am I doing something wrong?

![image](https://user-images.githubusercontent.com/77506895/182908344-3ea13ef0-f5e9-4dde-9d69-333813383a22.png)

System:
Windows
Browser: Chrome, Versión 103.0.5060.134 (Build oficial) (64 bits)
Scrip

[2022-08-04 22:29] nothhname commented on #540
It didn't lock today so that's a positive sign... I'll keep monitoring for a few days in case it was a fluke

[2022-08-05 01:42] nothhname commented on #540
I spoke too soon, I just got a 500 temp ban.

[2022-08-05 08:09] #550 closed

[2022-08-05 08:11] Dimka2010 commented on #551
it probably forgot to activate in comixharem game?

[2022-08-05 08:37] OldRon1977 commented on #551
I get the same red field on HH, CH and PSH.
I am not sure if a debug will help... @Roukys do you need a debug?

[2022-08-05 08:40] Roukys commented on #551
I think it is a bug on the validation of the field.
Ill check on it.
Should not need a debug i can reproduce
In any case even with field red it does work ;)

[2022-08-05 08:54] OldRon1977 commented on #551
I was thinking the same and was trying to verify that it is still working. But right now there are no MBs that I want to spend Kobans on ;)

[2022-08-05 16:46] bjaume commented on #551
Thank you. I've check it and it works perfectly. Do you want me to close the issue ?

[2022-08-05 22:25] nothhname commented on #540
It has definitely improved though.  FYI: I have almost 1050 girls which I'm sure has an impact...

[2022-08-06 18:51] Ivebeenpwnd commented on #540
1st run after the free premium and am back with the problem

[2022-08-06 23:07] Franck-75 opened #552 "Bug [5.6.101] - I get banned by KK everytime I use the script on one account"
**Describe the bug**
I use several accounts but the banishment occurs only with one.
I log in, I reset all the variables of the script using the adapted button.
The script does it job and when he arrives at getSalary, I'm banned by KK (mean http 500 error).
It happens since less than one week, so probably with the modifications on the 101 version which I downloaded 4 days ago.
I reproduce the bug

[2022-08-06 23:16] Franck-75 opened #553 "Enhancement : getSalary ordered by amount instead of rank"
**Which feature is concerned**
I would be happy if the getSalary operation get the salary of the most important money girls first instead of the standard list order.
When I need to stop the getSalary operation, it's more interesting that the script gets the maximum amount of money, so at the end, it'll get only pennies...

Example :
Girl 1 : 300k
Girl 2 : 100
Girl 3 : 3k

Get salary of Girl 1, Gir

[2022-08-07 01:48] nothhname commented on #540
I haven't seen it die over night since the change but it's died in the evening a few times now... the positive is I catch it before I lose out on anything this way but it may just be random chance that it's just failing differently.  the evening crashes are odder since even at casual speed it shouldn't be doing full runs of everything including claims like it does during the day... Are there maybe

[2022-08-07 01:57] Ivebeenpwnd commented on #540
It only happens when doing the salary claim, it usually happens when there is a lot of girls to collect from at once when I have to reset my browser after waking up, but sometimes it happens when there is hardly any to collect. It might be a specific girl when collecting, but not sure. The free premium they gave for 3 days solved it for the time it was up, my guess because it didn't go into the ha

[2022-08-07 17:27] nothhname commented on #540
Agreed, salary is where it always fails but my thought was that might be because it's just a lot of transactions at a steady rate since it hasn't been happening at wake-up from sleep for me for the past few days it made me wonder if there was some other process that was causing a lot of transactions (never enough to trigger on it's own, but enough to put it close) and then when salary happens it h

[2022-08-07 17:28] nothhname commented on #540
What makes it a pain is I haven't found a wy to turn on the dev tools without having it hit break points that would mess up scanning... having a log of how many transactions happened where might clue in a bit on possibilities.

[2022-08-07 23:34] #542 closed

[2022-08-07 23:35] Franck-75 commented on #542
seems to work better.

[2022-08-08 02:41] Ivebeenpwnd commented on #552
been trying talking about this in an earlier post
https://github.com/Roukys/HHauto/issues/540

[2022-08-08 09:43] Roukys commented on #553
@Franck-75 that is not possible as it not a default filter of the game.
best filter is by Grade

[2022-08-08 09:45] Roukys commented on #540
that is pretty strange as sometime script can collect all my girls without any ban ...
I'll try to add a longer way every X girls to see.

[2022-08-08 09:46] Roukys commented on #551
I'll keep it open to remember to modifiy the field validation :)

[2022-08-08 09:46] Roukys commented on #552
duplicate of #540

[2022-08-08 09:46] #552 closed

[2022-08-08 10:23] Roukys commented on #540
I've tried to do it in v102.
Let's see if it is better, in any case log will be a little more verbose around waiting time, so please try and extract a debug file when ban is finished if it does happen again.

[2022-08-08 10:30] Franck-75 commented on #540
Hi,
I'll check your update when I'll be unbanned but I'm not sure it's that.
In the logs you can see on #552 ticket, I have getSalary unchecked.
Nevertheless, the script goes to getSalary screen and I get banned before the first salary.
So the bug occurs before getSalary and the result is that I go to getSalary screen even if it's not wanted.
I don't understand the logs but it seems that the scrip

[2022-08-08 10:32] Franck-75 commented on #540
Is there a way to give you "save debug" when we are banned ? The interface can't be reached anymore....

[2022-08-08 10:34] Roukys commented on #540
@Franck-75 I'll check for debug when ban what I can do.
so in your case you're banned without even the first salary collection ? strange. ...
or they have introduced some way to detect script like a false girl, I don't know

[2022-08-08 10:35] Roukys commented on #540
@Franck-75 I'll check for debug when ban what I can do.
so in your case you're banned without even the first salary collection ? strange. ...
or they have introduced some way to detect script like a false girl, I don't know
One reason script goes to harem while getSalary is disabled is to check girls count, I'll also look that way

[2022-08-08 10:38] Franck-75 commented on #540
Yes.
My scenario is I log in, it reset all var, and let the job done with several automatic flag on but not getSalary.
I'm unban and no problem for the moment, but the bug is not systematic so...

I don't understand that in the logs :
VM677 jquery.min.js:2          POST https://www.hentaiheroes.com/ajax.php 403
send @ VM677 jquery.min.js:2
ajax @ VM677 jquery.min.js:2
hh_ajax @ VM680 default.js:1

[2022-08-08 10:43] Franck-75 commented on #540
OK. It's worse. I'm banned again after less than 5 minutes.

[2022-08-08 10:45] Roukys commented on #540
ok that could be useful, on which page where you when it occured ?

[2022-08-08 10:52] Franck-75 commented on #540
Just before, it was market check then go to home page.
And after, when going to getSalary page, a popup error of KK appears in the home page and then I switch to getSalary screen.
At that moment, it's the surprise... It works or... I got banned.

[2022-08-08 16:27] Dimka2010 commented on #540
still have the proble like this
https://user-images.githubusercontent.com/95862680/181750486-7d16e09e-1230-444b-ad97-9bb885a3c87c.png
102 version, only in HH (CHX and PornHarem - no problem)? have OCD script , but not active it when mistake from screen upper apeare

[2022-08-08 16:51] buttstallion69 opened #554 "Bug [5.6.102] - Script hangs on different screens (PoP, missions etc) at test.hentaiheroes.com"
script hangs on  different screens  at test.hentaiheroes.com

A clear and concise description of what the bug is.

Steps to reproduce the behavior:
1. Go to Places of Power with script activated
2. Observe
3. It will just refresh the page

[2022-08-08 21:24] smashrvmco commented on #554
Yeah, the activities page just keeps reloading if you have anything with missions or PoPs going

[2022-08-08 22:35] nothhname commented on #540
Today was the first overnight one I've hit in a while so I guess the problem is still there and I was just getting lucky.

[2022-08-09 17:30] Roukys commented on #554
they've modified the navigation on activites I'll try to find a way to do it for tomorrow update

[2022-08-09 17:53] Roukys commented on #554
should be good in v103

[2022-08-09 17:55] Roukys commented on #551
I've modified the field validation in v103, should be better

[2022-08-09 19:59] buttstallion69 commented on #554
Awesome!

[2022-08-09 20:59] smashrvmco commented on #554
Yep, looks like it is back to working, thanks!

[2022-08-10 12:49] OldRon1977 commented on #551
Looks good to me... Field is no longer red, boosters have been bought until Koban-limit has been reached. Looks like we can close this bug. :)

[2022-08-10 20:11] buttstallion69 commented on #554
It's working!

[2022-08-11 12:38] Lamoucheronn commented on #554
The new script works for nutaku Harem Heroes but not for nutaku Comix Harem on my end.
It doesn't detect the script.

[2022-08-11 13:04] Dimka2010 commented on #543
today used this script (from comments upper) -all good and workable.
maybe need to add this script in our bot too? :)

[2022-08-11 22:50] #551 closed

[2022-08-12 00:47] nothhname commented on #540
My current attempt to deal with this... I just changed my paranoia setting for max active from 320 down to 240.  I think this only tends to happen when a lot of stuff happens and then salary jumps in, I'm hoping the lower max causes the salary claim to jump to the following active period after bigger batches of catch-up activity.

[2022-08-12 09:26] Killer66 commented on #554
Still has problems in Comix.

[2022-08-12 15:53] Lamoucheronn commented on #554
Maybe we should create a new thread?

[2022-08-12 16:22] Roukys commented on #554
@Killer66 @Lamoucheronn
you're playing on comix nutaku both ?
URL has changed ?

[2022-08-12 19:43] Killer66 commented on #554
No Nutaku here. Problem solved after updating the OCD script to the newest version. I should have know by now that I'm using 2 scripts, so they both can mess things up -_-

Try that if you use both the Auto and OCD together @Lamoucheronn .

[2022-08-12 22:23] nothhname commented on #540
I'm 24 hours in now without dropping to a temp ban, no guarantee it's solved but the change is low risk if anyone else wants to try, you need to modify one of the application variables manually, the variable is named HHAuto_Setting_paranoiaSettings it starts with ###-### which defines the min and max length of an active time.  I reduced the max from the default 320 down to 240.  This should result

[2022-08-13 12:33] SisterSinister commented on #554
The issue still persists in PornstarHarem. Script version - 5.6.104. Tried to upgrade and switch off other scripts (Hentai Heroes++ BDSM version; Hentai Heroes++ League Booster Detector Add-on) to no avail.

[2022-08-13 18:56] nothhname commented on #540
Unfortunately the error is back this morning so that wasn't enough... would it be possible to maybe add 500 error that kills any running tasks (collecting, etc) sets all timers to a period greater then typical ban time, then set a timer to refresh the page between typical ban length and the lowest timer?  It wouldn't fix the root problem but could if nothing else keep things running...

[2022-08-13 19:02] nothhname commented on #540
Another thought... I do see a lot of log happening during POP setup.  I haven't watched network activity but if the auto-assign is doing something stupid like clicking the girls individually triggering a request for each one then, it's possible that's very chatty with the server and puts things close to triggering a ban.  If that's the case an easy fix might be to when setting up POP check salary

[2022-08-13 19:06] Ivebeenpwnd commented on #540
I have essentially fixed the problem with a chrome auto refresh add on by having the page auto refresh every 15 minutes and keeping the harem claim amount to 100k so it never has a chance to get too high.

[2022-08-13 20:27] Lamoucheronn commented on #554
@Roukys Thanks for responding, I'm playing on comix nutaku yes, trying to figure out the problem but I can't find it. Updated the script and don't have any other installed. I couldn't tell you if the URL has changed, the same link I've used for the past few months work like usual. It's strange it doesn't detect anything and it works completely fine for Nutaku Harem Heroes.

@Killer66 Don't have OC

[2022-08-13 23:01] Franck-75 commented on #540
Why there is an ajax request done by the script
action: process_rewards_queue
who return 403 error before going to the harem screen ?
I think I have a reproductible scenario to get banned for sure. I'll check the ajax requests.

[2022-08-14 00:26] nothhname commented on #540
I think it primarily happens with paranoia.  Without you're unlikely to pile up the volume of transactions that seem to be necessary particularly with everything firing immediately when it's timer expires instead of queuing up.  Typically I see it happen either right after reset when it has a full queue of stuff to do including resetting PoP and analyzing league or after I refresh when it's been s

[2022-08-15 11:38] Roukys commented on #554
@Lamoucheronn I've tried on comix nutaku and it does work like a charm ...

when you open tampermonkey window on comix nutaku, does it display the script or not at all ?

[2022-08-15 11:38] #553 closed

[2022-08-15 13:24] Roukys opened #560 "Request : auto Collect Seasonal Event"

[2022-08-15 13:25] Roukys commented on #560
done in V107

[2022-08-15 16:53] Roukys commented on #554
Pretty strange i was able to have it.
Ill try to understand ...

[2022-08-15 18:04] Lamoucheronn commented on #554
@Roukys I got it ! I completely removed the script from Tampermonkey, reinstalled it and it works fine now.
I'm always used to editing the file and it always works except this time, but now I know for the future.
Thanks a lot for helping me!

[2022-08-15 18:17] Roukys commented on #554
@Lamoucheronn glad you've found 😀

[2022-08-16 08:59] Dimka2010 commented on #560
working good.

[2022-08-17 08:20] #554 closed

[2022-08-17 08:23] Roukys commented on #540
on my side I've seen it happen mostly when going to harem, but not even time to get 1 girl...
@Franck-75 I'll try to reproduce also the ajax checking

[2022-08-17 09:27] bjaume opened #562 "Enable Club Champion auto fights in Pornstar Harem"
Please, could you enable the Autofight option against the club champion in pornstar harem ?

Ty

[2022-08-17 12:41] Roukys commented on #562
@bjaume done in v108

[2022-08-17 14:28] bjaume commented on #562
@Roukys Working OK

[2022-08-17 14:28] #562 closed

[2022-08-17 22:46] Franck-75 commented on #540
Same as Roukys. When going to harem and before get the salary of the first girl.

[2022-08-17 23:15] nothhname commented on #540
Here's a failure I had today, woke up, did a bunch, got maybe 75% through claiming, no error displayed.

`"8/17/2022, 2:05:09 PM.158:flipParanoia": "PARANOIA: Casual rest",
    "8/17/2022, 2:05:09 PM.159:setTimer": "paranoiaSwitch set to 19221:14:30:56 (25:47)",
    "8/17/2022, 2:05:09 PM.161:autoLoop": "autoLoop Disabled",
    "8/17/2022, 2:30:56 PM.654:flipParanoia": "setting autoloop to false",

[2022-08-17 23:18] nothhname commented on #540
Here's my log from a failure earlier, woke up, did some stuff, started salary, got maybe 75% through and just hung there, no message today.
[HH_DebugLog_1660776083179.log](https://github.com/Roukys/HHauto/files/9366568/HH_DebugLog_1660776083179.log)

[2022-08-18 11:26] iirtimD opened #563 "Bug [All version] - Give Exp does not work up to level 750"
**Describe the bug**
Give level only works up to level 700, although the ceiling is level 750.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Market->Books',
2. Click on 'Give Exp'
3. We write '750'
4. See No Exp available to be given to : Name

**Expected behavior**
Will appear:
Name 0/number
Items to be used :
4Exp x number
9Exp x number
40Exp x number
250Exp x number
1500Exp x num

[2022-08-18 12:54] cossname commented on #563
you can set 749, just for now

[2022-08-18 14:06] iirtimD commented on #563
It never occurred to me to write 749, I used books with my hands, then there were 749 instead of 500.

[2022-08-18 18:24] cossname commented on #563
@iirtimD you can set Target level manualy. Do you know it, right?

[2022-08-19 00:00] nothhname commented on #540
@Roukys I just got a 500 error page displayed when it entered harem to start collecting so I was unable to retrieve the log the normal way, I did however have dev tools open so I was able to save the console log there.  I'm not sure if there is anything identifiable in that log though since it has a lot of HH log messages and raw json in addition to normal HHauto stuff.  Would you have use for tha

[2022-08-19 00:09] Franck-75 commented on #540
You can drag&drop your file in your message.

[2022-08-19 01:52] nothhname commented on #540
@Franck-75 I know that, I did a couple messages back.  This isn't the normal HHAuto debug log though, it's full console output including stuff the site writes out so I'm concerned there might be something in there that could be used to identify my game account thus, my question about a more secure (not publicly visible) way, I don't see any way to send a PM type message on github or I would have g

[2022-08-19 07:46] Dimka2010 commented on #563
i wrote about this (or the same) problem with leveling EXP level before

here
https://github.com/Roukys/HHauto/issues/494

and here
https://github.com/Roukys/HHauto/issues/532

[2022-08-20 11:43] Roukys commented on #540
@Franck-75 yes please send I'll check what I can find

Furthemore in v109 I've added a menu item directly into the tampermonkey menu to produce the debug log.

[2022-08-20 14:51] Dimka2010 commented on #540
v109
broken Marker (trying to enter and ESC operation)

[2022-08-20 14:55] Dimka2010 opened #564 "Bug [109] - broken Marker (trying to enter and ESC operation)n"
![Screenshot_1](https://user-images.githubusercontent.com/86404525/185752726-c1f2f9c0-9a8e-4210-8e77-bd7cd0a4eb75.jpg)
![Screenshot_2](https://user-images.githubusercontent.com/86404525/185752729-ef5bc793-f2a4-4483-ba55-b93a67ac2e26.jpg)

[2022-08-20 14:56] Dimka2010 commented on #564
and it goes into loop and refresh and refresh page

[2022-08-20 19:47] Roukys commented on #564
@Dimka2010 seems to come from seasonal event, please try to disable it :)

[2022-08-20 19:56] OldRon1977 commented on #564
Yep... Disabling the seasonal event turned of the loop... :)

[2022-08-21 18:18] nothhname commented on #540
I just realized something... I've seen some people saying it will 500 when loading harem before even claiming any salary... It's possible an easy fix might be to put a x second pause in place before opening harem IE: when it triggers the timer, wait x seconds before proceeding... but not knowing the code I'm not sure how easy that might be to put in place.

Sorry, no logs the last few crashes I ha

[2022-08-22 13:16] Dimka2010 commented on #564
The idea.
Maybe you will add the check - if here this event is present or not.
if not = active button (if it ON) goes in OFF mode.
if yes = the button (if it OFF) goes in ON mode

[2022-08-22 16:45] Roukys commented on #564
Yes I'll have to wait for next occurrence to add the detection.
Just forgot to do it when developed the functionnality

[2022-08-22 17:01] Roukys commented on #540
For the one which encounter temp bans, are you running script parrallely on multiple games (hentaiheroes,test, comix,pornstar)
If it is the case next time a 500 happen could you use tampermonkey menu to generate debug log for each and post it here ?
I see some have the ban during salary collection but origin could be in another window ...

[2022-08-22 22:52] nothhname commented on #540
For me only the one game I run on linux and use chromium for the game only, chrome for everything else, only tabs open are HH, this thread, the doc page for script so I can easily check for updates and the issue list so I can refresh easily.  only extensions are tampermonkey and adblock plus (recently added to try to address a different issue) only scripts are HH auto and HH++, ++ is currently dis

[2022-08-25 01:57] nothhname commented on #540
Here's a new log at latest version. There was a full log of things to do as it had been hung up on a 500 page all day.
[HH_DebugLog_1661392333305.log](https://github.com/Roukys/HHauto/files/9420694/HH_DebugLog_1661392333305.log)

[2022-08-26 21:53] Franck-75 commented on #540
I'm still analysing and guessing where the bug come from. I've an idea. But no proof.
On my case, it happens after login and doing all the automatic stuffs and the bugs occurs when it's time to getSalary.
We go to the screen, but I got ban just before getting any salary.
What kind of thing could happen the first time only and never after ???
I've found !
The script is improving the character chara

[2022-08-29 06:45] ZaryImortal commented on #563
how do you filter them?

[2022-08-30 06:03] Roukys commented on #540
@Franck-75 , that may be a good hypothesis, I'll check that way

[2022-08-30 06:39] Roukys commented on #540
I've increased shopping intervals, let's see if it is better.

[2022-08-30 06:39] #560 closed

[2022-08-30 06:42] Roukys commented on #530
seems linked to sometimes failing buy and do not retry, I'll maybe try to reset market time if fails

[2022-08-30 09:16] Dimka2010 commented on #530
the problem still exist.
as example - today i did rebuy manualy 1 gift

[2022-08-31 01:11] Franck-75 commented on #540
I've tested 3 times. I got no problem. I think we found it. Waiting feedback from other people.

[2022-08-31 09:27] Roukys commented on #530
@Dimka2010  I've tried a fix in v111, please check if it does improve

[2022-08-31 23:06] nothhname commented on #540
No crash today but I've gone a few days without before so that doesn't prove anything.  I'll update if I crash again or in a few days if I don't.

[2022-09-01 23:18] Dimka2010 commented on #530
no. not working.
still have EXp or GIFT type by 1-2 items not buying every time.
only in HH !
in CXH or Porno - looks good.

[2022-09-02 00:35] Franck-75 opened #566 "Easy Enhancement : Add possibility to stop the script for several minutes"
**Which feature is concerned**
The On/Off script toggle.

**Describe the solution you'd like**
Having a possibility to set the script to Off for several minutes.
After those minutes, the script goes on again.
It's easy to implement and it prevents to forget to restart the script after doing manual manipulations.
To implement it, you should add a + button to Add 5 minutes for example.
At that momen

[2022-09-02 08:18] Dimka2010 commented on #566
1) Use paranoia mode On -here will be random timer from example 3 to 20 minutes where ALL function of bot are stoped
2) drag (move) your mouse on the page with any game - the bot stop before you will be stop moving the mouse.
![Screenshot_7](https://user-images.githubusercontent.com/86404525/188096242-a133e54b-db3c-431d-9338-856827b74e70.jpg)

[2022-09-02 08:59] Dimka2010 commented on #530
![Screenshot_8](https://user-images.githubusercontent.com/86404525/188104121-9bff4b0f-8689-4e7c-983d-605a9c46e4c8.jpg)
today

[2022-09-02 10:15] Franck-75 commented on #566
Paranoia mode is a not good answer but it seems that Mouse Pause is.
I've tested. It seems to be exactly what I wanted.
Thank you for your answer.

[2022-09-02 10:15] #566 closed

[2022-09-02 12:59] Dimka2010 commented on #566
mouse pause have one problem for me - little time with pause.
right now uts about 2-3 seconds.
and i like unnormal move mouse right and left for stoping bot activity.
i think need to upgrade this Mouse Pause to near 5 seconds or little more.

[2022-09-02 13:41] NinJaraya opened #567 "It was good while it lasted"
When trying to log in, I'm getting the following message:
**Your account has been permanently banned for Cheating and can not be appealed.**

"The dream is over" John Lennon

[2022-09-02 14:10] Roukys commented on #567
@NinJaraya sorry to hear that.
For the moment im still up and running ...
We'll see ...

[2022-09-02 14:22] NinJaraya commented on #567
On Nutaku still is ok but on HH and test server ti's over... :(

[2022-09-02 17:23] Dimka2010 commented on #567
turned Paranoia mode ON :))

[2022-09-02 19:39] Franck-75 commented on #567
One guy of my club is also touched. I check if he did the last update.

[2022-09-02 22:26] Franck-75 commented on #566
You can modify the timer in this line :

mouseBusyTimeout = setTimeout(function(){mouseBusy = false;}, 5000);

You can also reopen this ticket to ask to change this parameter officially.

[2022-09-03 09:46] Dimka2010 opened #568 "Can you grow Mouse Pause Timer from 5 sec (right now) to 10-15 seconds?"
According ion this theme of discussion
https://github.com/Roukys/HHauto/issues/566

[2022-09-03 09:48] Dimka2010 commented on #533
it will be good if we are have this script inside our script :)

[2022-09-03 10:58] Franck-75 commented on #568
In reality, it's 5 seconds.

This is handled in this line :

mouseBusyTimeout = setTimeout(function(){mouseBusy = false;}, 5000);

But for a human being, it seems to be 1 or 2 seconds.

I suggest to increase it to 15 secondes.

The code should be changed by :
mouseBusyTimeout = setTimeout(function(){mouseBusy = false;}, 15000);

[2022-09-03 16:26] OldRon1977 commented on #567
@NinJaraya did you run any other scripts or did you use exploits? Just trying to narrow it down to the reason why you got banned.

[2022-09-03 19:09] nothhname commented on #540
A few days in now, no 500s, a browser crash (SIGIL) but those happen occasionally particularly if I have the console open so I suspect it's resource related and the root of the 500 problem is resolved.

[2022-09-03 23:20] NinJaraya commented on #567
Hentai Heroes++ (OCD) Season version;
plus a script for skip battle on bosses.

[2022-09-04 07:54] OldRon1977 commented on #567
Hmmm... That is strange. I don't know how the skip script is working. Maybe you can share the URL and someone (@Roukys ) can take a look if the script does something strange. Our script was always designed to simulate a human like clicking a button. Maybe the skip-script was the bad guy.

[2022-09-04 13:29] Dimka2010 opened #569 "(5.7.0) Waiting new button for "Hide already beaten players" in League"
I'm still not sure if this is a bug or not a revision.Look.I'm launching a bot for League battles. Here are two examples in the screenshot.
![Screenshot_1](https://user-images.githubusercontent.com/86404525/188315789-02f5da79-3a2a-4cad-8143-324c0b3ced2d.jpg)
![Screenshot_2](https://user-images.githubusercontent.com/86404525/188315790-9eb93100-95d9-42b6-8ea8-62295e99ae02.jpg)
guess which option the

[2022-09-04 13:32] Dimka2010 commented on #567
my thoughts - here is the clue:
"plus a script for skip battle on bosses."

[2022-09-04 13:36] OldRon1977 commented on #569
If this is the case, your proposal to enhance the algorithm for choosing an opponent makes sense to me. :)

Also it would be nice if the bot could remember the last values for an opponent, if the value before was lower (aka unbuffed) the bot should wait or mark that opponent so we know that a booster might be in place. If we have a timestamp of the unbuffed values, the bot should attack the next t

[2022-09-04 15:15] Dimka2010 commented on #569
bot do update the list of opponent each ~1 hoour and MUST pick the best opponent in this new update data..
but he dont do it...

[2022-09-04 15:57] CooperPF opened #570 "Mythic Fight only when the player has Sandalwood active"
I like to fight Mythic with Sandalwood, it helps a lot with fragments, I believe I'm not alone in this, so I would like to leave this suggestion, fight Mythic only when Sandalwood is active

[2022-09-04 21:10] Dimka2010 opened #571 "(111) Found a bug with a queue of troll attacks"
When you start the browser from scratch, it goes to perform this function first.
![Screenshot_1](https://user-images.githubusercontent.com/86404525/188333585-c29f5451-778b-4d38-a932-f9a46e673337.jpg)
And only then he turns on the main page - he sees that there are events where it is necessary to beat up Trolls, but he has already spent his 20 fists elsewhere.
![Screenshot_2](https://user-images.gi

[2022-09-05 11:00] dadanda commented on #567
Well my standalone accounts got banned as well. I guess they did a sweep.
![image](https://user-images.githubusercontent.com/73831849/188433761-31233098-2f6c-4de7-8adf-50b3f73ed623.png)
I still am able to use my Harem Heroes account, but Comix has issues for some reason, some ppl on the forums have the same issue. Paranoia I guess is recommended.

[2022-09-05 13:00] Dimka2010 commented on #567
i change any timer like you have (300 on salary) in not round like 256
+ re-change it number one per week manualy

[2022-09-05 14:54] Dimka2010 commented on #569
another example.
saw today/
![Screenshot_3](https://user-images.githubusercontent.com/86404525/188475947-214a1c48-9488-4098-875d-f0b97edf6e2f.jpg)
![Screenshot_4](https://user-images.githubusercontent.com/86404525/188475954-5dfa73a4-7fef-4cc6-84e4-9efb62246411.jpg)

BOT dont want to fight the Player with less army and best mojo in calculation.
BOT did 2 fights - i saw that person down have better

[2022-09-06 04:28] ZaryImortal commented on #567
my account is logged in 24/7 and is ok.
should i activate paranoia mode?
salary min 100k and max time 1,200

[2022-09-06 06:04] OldRon1977 commented on #567
Same here... 24/7 online with salary at 20K and 1200.

Never had problems, at the moment I have the silver card for 2.99$ but I did run the script for many month without a card.

[2022-09-06 09:53] Dimka2010 commented on #563
![Screenshot_5](https://user-images.githubusercontent.com/86404525/188605232-ce10f85f-a50b-4d58-8b36-b0253daa8a09.jpg)
it script official.

[2022-09-06 10:45] Roukys commented on #567
For me can't be the boss skip script.
But cannot be sure.
As per message would say it is if online 24/7 but we have some counter proof.
I'm also using paranoia always.

[2022-09-06 14:44] OldRon1977 commented on #567
I wouldn't call any of this proof.
Maybe I am just lucky at the moment, maybe NinJara was unlucky.
One swallow does not make a spring... ;)

It can also be the fact, that I use a silver card, so my money collecting is a simple click. On the other hand, I only have a card for HH and not for CH or PS. So that proves nothing. Too many variables... It would be wise to use paranoia for a while...

[2022-09-06 16:08] Dimka2010 commented on #568
i think its very important and actual thing will be..
less bot activities while real player sit and move his mouse = more better will be.

[2022-09-06 16:51] dadanda commented on #567
I do run the script 24/7 and have 2 accounts for 4 games (both Comix Harem and HHs). The standalone is the one that got banned for cheating, but I wasn't informed till I sent a ticket using another account. I do have other scripts for the games but the only ones activated before the ban was this and the ++, I had the old style tweaks and boss bang script (but never used this).
Considering my Harem

[2022-09-07 06:55] OldRon1977 opened #572 "Enhancement : StatCalc of opponents"
I found this script: [LINK](https://github.com/45026831/hh-booster-detector/commit/7eb95e99cbe8a9ff9e737b352f5a585fcf579676)
It takes boosters into calc for the league.

Without script:
![image](https://user-images.githubusercontent.com/73475830/188809353-6b83e9ce-975d-4002-b72f-026e4c68ad81.png)

With activated script:
![image](https://user-images.githubusercontent.com/73475830/188809502-6205cbdb

[2022-09-07 07:09] OldRon1977 opened #573 "Enhancement : a better UI"
The same person where I found the "booster detection script" has a second script available.
[LINK](https://github.com/45026831/hh-plus-plus)
It provides a better UI (I think it is better / cleaner) ;)
Maybe we can also adopt some ideas from here.

[2022-09-07 13:01] NinJaraya commented on #567
My Nutaku Harem Heroes hasn't been banned yet, just HH and test server

[2022-09-07 14:03] Dimka2010 commented on #572
usefull thing!

[2022-09-08 01:26] NinJaraya commented on #567
Checking my spam folder, I found the following email:
[code]
First they banish me and then ask me to come back.
But it says it's expired.

[2022-09-08 05:11] OldRon1977 commented on #567
Just send them an email, telling it was in your spam and ask if they could renew their offer. Worth a try ;)

[2022-09-08 18:48] PrimusVox commented on #568
I've made a few changes to how mouse pause works in https://github.com/Roukys/HHauto/pull/574

First, clicking and scrolling now activate pause along with movement, which should make the timer "feel" more like you're getting the 5 seconds more regularly.

If you're still feeling like the delay is too short, I've turned it into a variable which you can now configure manually. Open your browser's de

[2022-09-09 13:29] Dimka2010 commented on #540
today got "temporary ban" in HH while loading Harem Salary.
And i got an idea.
Maybe this ban we take when loading ALL data from Harem Salary girls?
maybe need to load "window by window" with pauses between loads and not load ALL windows dawn with ALL 1000+ girl down?
maybe here is a clue?

[2022-09-10 10:13] cossname commented on #573
last update is there
https://github.com/45026831/hh-plus-plus/tree/main/dist

[2022-09-10 12:12] OldRon1977 commented on #573
Thanks...

If you have Tampermonkey installed, it can Auto-Update :)

[2022-09-10 14:13] Stalladir commented on #567
I bit the dust at the same time as OP, the only other script I was using were the HH++ OCD one,

[2022-09-12 13:18] Roukys commented on #570
it is near #425.
Precisely, what is dificult for me is to track usage of the sandalwood, I'm still working on a reliable way to do it

[2022-09-12 17:57] PrimusVox commented on #568
The above mentioned change has been merged and is now publicly available in 5.6.112.

[2022-09-12 22:27] nothhname commented on #540
I just got the first temp ban in a while again as well... definitely happening less but there's more there... same as usual on the harem screen, I'm not sure if it claimed any or not though.

[2022-09-13 09:58] Dimka2010 commented on #571
i am use Google chrome
my games in bookmarks
![Screenshot_1](https://user-images.githubusercontent.com/86404525/189871482-5f259e2e-3cdc-4330-b2e4-2513b279492f.jpg)
I usually launch the browser and go about my morning business. The browser turns on - and the bookmarks are loaded and the bot routine begins. The active bookmark is usually HH. And two passive = CXH and PornHarem.
and when I return to

[2022-09-13 10:09] Dimka2010 opened #575 "Market returning function after Merge update (was month+ ago)"
After last Market Merge Update we lost opportunity of auto selling function "junk" items like:
on Harmony and on Endurance
![Screenshot_3](https://user-images.githubusercontent.com/86404525/189873890-a0cc4041-f635-452b-b15b-9c22e87fe5d8.jpg)
+ sometimes here was non main stat items (example , my Main Stat = Charm and i dont need in know-how and Hardcore items, but some times htey are was here in p

[2022-09-13 10:27] Dimka2010 commented on #575
eaxmple from CHX
![Screenshot_5](https://user-images.githubusercontent.com/86404525/189878510-bc294ff3-837a-4067-b031-73f40cacf560.jpg)

![Screenshot_6](https://user-images.githubusercontent.com/86404525/189878485-1bf77e89-fb4a-44cc-b96e-3ee48bf61864.jpg)

[2022-09-13 10:38] Dimka2010 opened #576 "Market. Need to add some additions in auto selling logic"
eaxmple. we have situation like this
![Screenshot_5](https://user-images.githubusercontent.com/86404525/189878868-602182c0-deb3-4f1f-81a8-0a5cc22c689f.jpg)
our goal - to seell all useless items.
after selling we have this one result.
![Screenshot_7](https://user-images.githubusercontent.com/86404525/189879374-8fe6bfcd-b8a3-41e4-9d69-a044ef85b16d.jpg)
1 item on Main Stat
some junk items with Endura

[2022-09-14 03:05] dadanda opened #577 "Frozen Bug [5.6.112] - Script freezes screen/not working"
**Describe the bug**
The script just stops working. Either it shows the home screen without anything happening, the game is tucked into the corner and nothing is happening, or just the background shows up.
I dont have Mouse Pause option active.

Downgrading to 5.6.112 fixes it.
Have the option for setting for each tab with I dont use, (cuz got banned) on so turning it off before updating back up a

[2022-09-14 03:21] dadanda commented on #577
[HH_DebugLog_1663125654587.log](https://github.com/Roukys/HHauto/files/9562368/HH_DebugLog_1663125654587.log)
debug log.

[2022-09-14 05:21] Roukys commented on #577
@dadanda log is v111 :)

However on my side script seems to work well, I'm not able to reproduce at the moment

[2022-09-14 08:39] dadanda commented on #577
Yeah I guess its a me issue.

[2022-09-14 14:03] dadanda commented on #577
Well ok, so its a me issue but its also a script issue as the issue only exists when this script is active.
![image](https://user-images.githubusercontent.com/73831849/190174156-e5d2c52e-110d-4c18-bb23-e6f711c33da2.png)
![image](https://user-images.githubusercontent.com/73831849/190174463-ac529dfd-332c-4692-97b4-adbc836337e8.png)
The issue is alleviated when I put on a VPN, but not completely as i

[2022-09-15 01:43] JimmyBoyHalpert opened #578 "Bug [5.6.112] - Places of Power Not Functioning on HentaiHeroes"
**Describe the bug**
Places of power seems to work fine on Comix Harem but on Hentai Heroes I get a broken loop and the Places of Power never works. Issue has only appeared in HH for the past few days.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to hentaiheroes.com
2. Wait for the script to go to places of power to do a collection/start new set of places
3. See error in console

**Exp

[2022-09-15 01:44] JimmyBoyHalpert commented on #578
In the options, I turned of Places of Power because it was glitching. I also disabled all other scripts that I had enabled and refreshed the page to make sure that this was the only one running.

[2022-09-15 05:43] OldRon1977 commented on #578
I had the same problems on HH. I cleared the cache via the debug menu and then the script worked fine again. But the next time the Places got new stages it was the same. Maybe something changed and the script does not understand the change of stages. If I recognize such a bug I will send a log as well.

[2022-09-15 14:55] JimmyBoyHalpert commented on #578
Thank you. I'll try clearing the cache through the debug menu. It will at least help until the next time when I can do it again. I think you are right that something changed and the script does not see it yet. Thanks for submitting a log should you run into it as well.

[2022-09-15 18:56] Roukys commented on #578
for me the error showed is from the HH game javascript ...

[2022-09-16 11:03] bjaume commented on #567
I've been banned today from Hentai Heroes, Comix Harem and Porn Star Harem. I had paranoia on for two weeks. The only other script I had were "Hentai Heroes ++ BDSM versión"

[2022-09-16 19:21] Franck-75 commented on #567
Another guess (remember that many of my guess are good idea, but I don't have any proof) :
@bjaume : did you deconnect from the game every day ?
They perhaps identify people by watching the age of the connection token.
If it's many days old, it's because you don't deconnect. So you're cheating because after some time of inactivity, the token is liberated.

[2022-09-17 05:23] bjaume commented on #567
No, I didn't. It might be a good guess. I had a browser extension that reloads de page every 30 minutes.

[2022-09-17 13:59] NinJaraya commented on #567
I have made my notebook **sleep/wake** at predetermined times since August 2019 using the steps in the link below:
(sleep at 3:30 AM, wake up at 7:20 AM, local time, Brazil)
[How to Schedule Windows to Sleep and Wake Automatically](https://www.groovypost.com/howto/schedule-wake-sleep-windows-automatically/)
That's why I didn't use Paranoia mode.
**by Google Translate**

[2022-09-17 17:01] JimmyBoyHalpert commented on #578
Thanks. I thought the script was making a certain call that wasn't working. I'll close out this issue since clearing the cache resolved it as well and will be a suitable solution for now.

[2022-09-17 17:01] #578 closed

[2022-09-17 20:46] Dimka2010 commented on #567
Man !
For me its very obvious why you are have a ban.
You sleap near 3.5 hour per day. Day by day,. Weak by weak. Month by monts.
you are collected each summ less 20.000 per opportunity.. Each time. Half hour per half hour. Each day. Weak by weak.

you have consequence by your greedy or "stupidy".

[2022-09-18 00:20] NinJaraya commented on #567
There are times of the year when I go to bed at 2:00/3:00 AM and wake up at 8:00/9:00 AM.
Foram quatro anos assim, desde janeiro de 2018.

I felt offended, you don't even know me.

[2022-09-20 01:53] nothhname commented on #577
I saw some odd lockups, usually on market, between some watching logs and searching on forums I found that installing ublock and setting it to blacklist statisgeek.com in addition to it's normal block list stopped the lockups... worst case it speeds some stuff up for you but doesn't really do any good, best case you may find the cause of the locks.

[2022-09-20 16:13] nwlndfre commented on #567
Confirmed, got banned for "cheating." Tread carefully.

[2022-09-21 16:24] Dimka2010 opened #579 "Mouse Pause function need to updade while using autoleveling or autofilling operations inside the market"
need to do pause while this operation working.
![Screenshot_1](https://user-images.githubusercontent.com/86404525/191558731-561e689b-fe09-449f-a923-f7945334eb8a.jpg)
because right now even with Mouse Pause On - this operation can break any time with another bot function starting
and need to return as example after 1 troll battle (which break this operation) and to continue filling the girl with EX

[2022-09-21 16:49] Dimka2010 commented on #494
still ask to add this buttons with automaticly calculating the EXP that need to all 50-750 range levels

[2022-09-22 17:07] bjaume commented on #567
@nwlndfre Did you have paranoia mode on?
I have created a new account and I dont want to be banned again

[2022-09-23 16:30] Roukys commented on #567
Let's be fairly honest.
If they have really decided to ban cheaters we will be caught soon.
I can think of many easy way for them to do so.
However in the mean time I would advise to use paranoia if you let the script run 24/7 and also to close your chrome at least once per day in order not to be continually connected.
I also advise for those using a page refresher not to refresh every 5 mins.

[2022-09-23 17:37] Dimka2010 commented on #567
I don't use paranoia mod.
I do browser shutdowns randomly when I don't need to PoP.
I sleep for 8+ hours with the game turned off.
but to do the routine, I use a bot. When you wake up in the morning and turn on the computer - just about 15 minutes, the bot collects and does all the routine in the game. This is enough for me and I am grateful that there is a bot and that the bot is maintained after

[2022-09-23 18:18] Roukys commented on #567
@Dimka2010 yes i was mainly talking for the one using it 24/7
Your behavior is less easy to track and more human likely.
However as said above, I can think of many way to track the usage of the script not only using online status

[2022-09-24 18:47] bjaume commented on #567
Maybe they are reading this page too

[2022-09-25 02:09] smashrvmco opened #580 "Bug [5.6.112] - Market Update probably rolling out next wednesday, currently on test server"
**Describe the bug**
Market was been re-coded on test server and will probably be rolling out next wednesday Sep 28 on main servers. Auto-buy books and gifts is currently not working, but I think the timer for the market still is getting tripped every 6hrs.

[2022-09-26 13:33] dadanda commented on #567
Welp, got banned in HaremHeroes too. everything is gone.
nice playing with you guys.

[2022-09-26 14:29] bjaume commented on #567
@dadanda Were you still 24/7 with the script in harem heroes when you were banned?

[2022-09-26 14:35] dadanda commented on #567
no. i was running paranoia now and modified my autosal as well as had the script not active during the time as i was using the sell function for the poa. maybe that triggered it? i dont remember as i went and did a bunch of other shiz and when i came back its the same issue as what happened in my comix harem on nutaku. did a check with a spare account and yeah banned.

[2022-09-27 01:08] NinJaraya commented on #567
I found a it on Forum:
https://forum.kinkoid.com/index.php?/topic/23970-on-nutaku-the-%D1%81omixharem-stopped-loading-in-any-browsers-available-to-me/&do=findComment&comment=271315

[2022-09-27 04:52] dadanda commented on #577
Closing this issue as I cannot play the game anymore and this issue doesn't seem to be prevalent to other people.

[2022-09-27 04:52] #577 closed

[2022-09-27 13:03] cossname opened #581 "Nutaku.net - Ban [y/n]"
Got error when trying to open hh on nutaku, for 2 days.
[code]

Does anyone have same issue?

[2022-09-27 14:22] Jirastik commented on #581
Exactly the same issue from yesterday. Seems like ban wave.  Comix is still working, but no desire to play it. =\

[2022-09-27 20:56] Nox-Ater commented on #581
Automation Script Ban

[2022-09-27 21:24] Dimka2010 commented on #581
try to change IP .

[2022-09-27 21:30] Nox-Ater commented on #581
I tried through VPN and don't work

[2022-09-27 21:35] Nox-Ater commented on #581
I heard they are ban many accounts and this accounts are disappearing from the Leagues

[2022-09-27 21:36] NinJaraya commented on #581
https://forum.kinkoid.com/index.php?/topic/23970-on-nutaku-the-%D1%81omixharem-stopped-loading-in-any-browsers-available-to-me/

[2022-09-27 23:37] suckstobebanned commented on #581
How about not cheating and jsut playing the game normal :P ?

https://c.tenor.com/bLpI48qVdxAAAAAC/what-loser.gif

[2022-09-27 23:38] suckstobebanned commented on #581
How about not cheating and just playing the game normal :P ?

https://c.tenor.com/bLpI48qVdxAAAAAC/what-loser.gif

[2022-09-28 09:00] bjaume commented on #581
And here is the kinkoid account

[2022-09-28 13:30] cossname commented on #581
Just they gave an opportunity to stop playing this shit game to us ;)

[2022-09-28 13:40] cossname commented on #581
@Roukys thank you for maintaining this project, that was a funny time

[2022-09-28 13:43] cossname commented on #581
@suckstobebanned automation is a future), its not a cheating, not a little bit

[2022-09-28 16:38] suckstobebanned commented on #581
good for you then ;)

oh ok "sure"

[2022-09-29 06:41] DortenThe2nd opened #582 "Enhancement : Leagues interval"
When we are targeting specific league level (most obvious with 16-30 place bracket in Dicktator II), the competition gets really intense. I had expirienced being at 16th place 30 minutes before league reset, and still finishing 42nd, and also being at 32nd place with 36 points short from being 15th.

What I propose is:

1) Make leagueScoreSecurityThreshold changeable (for me specifically 20 works

[2022-09-29 12:31] Cirkulis commented on #567
Don't mind dimka, he sounds like a commie fascist who needs to be drafted and deruzified in Ukraine.

[2022-10-04 04:48] DortenThe2nd commented on #580
They promise a bigger update this Wednesday (05.10). New market may be coming

[2022-10-05 08:15] OldRon1977 opened #583 "Enhancement : Deconstruction of several "outdated" features"
Hello :)

the new update brings several new features out-of-the-box to the market.
We should use this opportunity to deconstruct our script.
For example:
 - "Buy all" option for books and gifts
 - "Max out" option for girls on the harem page
--> we could delete some market tools and logic since it will optimize the use of resources

Maybe this will help to strip down the script and make it more re

[2022-10-05 09:55] OldRon1977 commented on #580
At the moment I can't find any problems with the big update. Timers are collected correctly. But I have to test if all sites can be accessed correctly.

[2022-10-05 10:12] Killer66 commented on #580
Only problem is the auto-buy feature. Should be easy to fix since we have a "buy all" button now.

[2022-10-05 11:35] DortenThe2nd commented on #580
There's also the whole Autosell feature. I's dead now

[2022-10-05 13:21] OldRon1977 commented on #580
Yep... Wasn't able to test it until now. Market-tool is dead at the moment. We should discuss if it can be fixed or should be deleted.

[2022-10-05 13:57] OldRon1977 commented on #477
btw. should we close this and take it down from the main page?

[2022-10-05 14:21] OldRon1977 commented on #580
Yes, but the max-out feature is not that bad. It is practically the same thing the script does. It also tell you if you overpay, by how much. The one-girl-at-a-time is annoying, but nothing that bothery me really hard. Normally I will upgrade one or two girls to get the daylies... Maybe at a contest, it would be better to have the auto-give back. But I can live with that.

[2022-10-05 14:47] Roukys commented on #477
@OldRon1977 you're right  :)

I'm trying to check on last update.

I don't know how manay time we will all last :)

[2022-10-05 14:47] #477 closed

[2022-10-05 14:52] Roukys commented on #583
I do like the position.

Yes it would allow to strip the script of some functionnalities :)

[2022-10-05 14:53] Roukys commented on #580
I'm still trying on my side to understand how and what they have done :)

[2022-10-05 17:47] YotoTheOne commented on #583
+1 for the message to kinkoid :)
The vanilla game is so boring to play that I'd rather be banned than play it without script :p
But they would loose some money so I don't think they'll ban me.

+1 to removing obsolete functions to clean up the code. No time to help though, not for at least a month or two.

[2022-10-05 18:00] OldRon1977 commented on #583
We should make a list of the functions that need a rework and which could be removed.
Also the idea to keep it more modular could be worth another look.

I could start a list tomorrow, it's too late now... Me sleepy ;)

[2022-10-05 18:39] YotoTheOne commented on #569
On that subject, updating the opponents list every hour is useless (and dangerous I think).

The list is refreshed every 6h in game, after 1, 7, 13 and 19h UTC +2 (it takes some time, usually 30 to 45m), so the script only needs to update after these refresh.
Another refresh is done on a single player only when he looses all his boosters ; so the value could be calculated again only for the choose

[2022-10-05 19:05] YotoTheOne commented on #567
Well...
I'm really sorry for everyone that got banned.
Still nothing here, and I never used paranoia, I'm on 24/7.

I do auto missions but I manually collect the rewards.
I do auto PoP but I'm careful that all places expire at the same time.
I don't do auto quest since I reached the end of the story.
Autosalary is set to 250k. I have a monthly card though, and I think that might explain why : eith

[2022-10-06 13:18] cossname commented on #581
@YotoTheOne i dont know, game just dont working on my side, for my main account. But its working fine with alt. accounts.
Tried to use different browsers but it didnt help

[2022-10-06 13:50] DortenThe2nd commented on #580
Another thing is: it seems, that script doesn't collect books and gifts int PoV/PoG now.

They probably changed items' ids or something. Wasn't able to test seasons and boosts, but suspect it being broken too.

[2022-10-06 13:59] DortenThe2nd commented on #583
I certainly wouldn't kill Books and Gifts autobuy, only giving them to girls.

[2022-10-06 14:26] OldRon1977 commented on #583
I updated my original post so we can keep track of all ideas :)

I changed it to adjusting to the new buy all button

[2022-10-06 23:26] #570 closed

[2022-10-07 10:19] Dimka2010 opened #584 "Collecting of PoV and PoG dont working (books, gifts)"
if you have books or gifts = its not collecting.
i think it because the books and gifts "lost" their numbers.
Right now it show only one book but when collecting it - here maybe be 10-20 books inside.

[2022-10-09 01:58] rilitili opened #585 "Bug [5.6.112] - Test Server: Paranoia feature has been crippled"
This one should have high priority I believe, there is going to be a massive ban wave if they rollout the current edition of Testserver which has crippled the Paranoia feature.

I saved my debug file here
[HH_DebugLog_1665280315648.log](https://github.com/Roukys/HHauto/files/9740595/HH_DebugLog_1665280315648.log)

Please look into it for our sake.

[2022-10-09 02:38] rilitili opened #586 "Enhancement : humanisation of the script"
**Which feature is concerned**
Combat point spending
Kisses spending in seasons
League point spending in League
Energy point spending in the main quest and side quest

**Describe the solution you'd like**
We should move over to a "_Flush the toilet_" model in order to emulate realistic human behaviour.
A human player would spend all of his combat points in 1 go. Then forget about the game for a fe

[2022-10-09 17:55] UncleBob800 commented on #586
@rilitili, I wanted to offer something similar for a very long time, but I couldn’t find the free time to paint it in detail. You did what I didn't have the strength to do. Thank you so much, you are my hero!
@Roukys, in addition, I could suggest making it possible for the player to specify the minimum and maximum threshold for the randomizer in the settings. I would also recommend making a random

[2022-10-09 18:25] UncleBob800 commented on #585
@rilitili what exactly happened? Is there something wrong with Paranoia mode? I have this mode enabled on the test server, but I did not notice any deviations and I was not given a ban. Perhaps due to the fact that I do not use all the functions of this script. In fact, all I need from the script is to automatically buy books/gifts, and also that the combativity, kisses and league tokens resources

[2022-10-10 05:15] DortenThe2nd commented on #586
I believe, just tuning the paranoia would be ok mot of the time. For example making wait ime to be 1-3 hours would result in script coming after some VERY random interval, spend whatever it can, then go dormant again.

There is however a problem with active time being non adjustable in setting, and sometimes script doesn't collect salary before going to sleep (which is strange, as paranoia switch

[2022-10-10 13:53] Roukys commented on #567
If any courageaous guy want to take over the dev of the script (a lot of thing added and added therefore difficult to maintain...)

[2022-10-10 16:52] bjaume commented on #567
@Roukys , I'm so sorry for your ban

The autologin script? How are you so sure? I also had the autologin script when I got banned. I never thought that the ban was because of that script.

[2022-10-10 17:24] Roukys commented on #567
Difficult to be sure but lately I had the script nearly stopped but only auto login and forget to cut it

[2022-10-10 17:28] Roukys commented on #567
Difficult to be sure but lately I had the script nearly stopped but only auto login and forget to cut it
Anyway I had nearly as much fun try to work with and for you than on HH.
And honestly even with a monthly card script was one of the reason I was playing.
Without script only way is to be on HH continuousely nearly day and night.
So it is for the better if KK get some and allow better playabili

[2022-10-10 18:23] Franck-75 commented on #567
Do you want another account at level 400+ to continue to play an be with us ?

[2022-10-10 19:56] bjaume commented on #567
Nice offer, @Franck-75. Good for you

[2022-10-10 21:54] Dimka2010 commented on #567
half of my guild have second acc 500lvl from "guy who left earlie".
maybe you need another acc? i can help.

[2022-10-12 00:03] NinJaraya commented on #567
I created a new account just so I can continue helping you guys and playing with CSS code.
Nowadays there is hardly a website that I don't mess up its appearance with CSS code.
It's a hobby.

[2022-10-18 13:58] Dimka2010 opened #587 "Someone Push the request with update of the names of pornstarharem bosses."
For them - who understand where and witch need to add - its a job on 5 minutes.
![Screenshot_14](https://user-images.githubusercontent.com/86404525/196450707-a00d363a-4b44-4930-91df-9a9a8a412c59.jpg)

world 5 name of the girl
 ![Screenshot_15](https://user-images.githubusercontent.com/86404525/196450737-563332cb-cbc5-4674-a9e7-c7ff31318262.jpg)

world 6 name of the girl
![Screenshot_16](https://us

[2022-10-18 18:11] rilitili commented on #585
This this script no longer being maintained?

[2022-10-19 06:05] OldRon1977 commented on #585
At the moment we have a problem, since @Roukys has been banned. I do not know if he has a new account or is still active developing the script.

[2022-10-19 08:19] DortenThe2nd opened #588 "Activities tab after latest game update"
they changed some div id, so the script fails to see which activity tab it's on.

To fix change #tabs_switcher to #activities-tabs

[2022-10-19 10:07] UncleBob800 commented on #588
Thanks @DortenThe2nd! You my hero 😍

[2022-10-19 10:09] UncleBob800 commented on #588
@Roukys are you still alive? Can we hope that you will continue to work on this script or are you bored with this project?

[2022-10-19 12:58] NinJaraya commented on #588
At the moment we have a problem, since @Roukys has been banned. I do not know if he has a new account or is still active developing the script.

https://github.com/Roukys/HHauto/issues/585#issuecomment-1283476938

[2022-10-19 14:12] Roukys commented on #588
I've tried other account and I'm banned regularly.
I'm still trying to identify how I'm banned ...

In any aces if anyone want to take over the script it would help.

However it does seems that HH have found good way to ban people using the script

[2022-10-19 14:52] Dimka2010 commented on #588
you can been banned by the nickname?
same here and same there?

[2022-10-19 17:24] Killer66 commented on #588
No ban for me or other people in my club that uses the script regularly... Maybe because we close the game for some hours everyday?

[2022-10-19 18:00] OldRon1977 commented on #588
@Roukys looks like the ban is IP based. Try a free VPN and see if you still get banned. Worth a try :)

[2022-10-19 18:30] Roukys commented on #588
No I've changed ip and nickname...
I'll find a way I hope

[2022-10-19 18:30] Franck-75 commented on #567
Is there anyone continuing to maintain the script ?
Because with the today's update, many of the functionnalities are not working anymore : mission, compet, place of power...
I'd be happy to do it if I have the skills, but it's not the case :-(

[2022-10-19 20:50] YotoTheOne commented on #567
Unfortunately I really don't have the time. Maybe next week, I'll try to repair some of the broken functions that I use if I find some time.

[2022-10-19 21:26] Franck-75 commented on #567
So... for the today's update the correction is easy to do. I've done it successfully in local.
You just have to replace all "#tabs_switcher" to "#activities-tabs".

[2022-10-19 22:50] Dimka2010 commented on #567
frank, can you put the Pull request with that?
and [Roukys] just click OK for all?

[2022-10-20 08:55] Kirito-Ki commented on #588
My script knowledge is limited. But I have always thought that a help like "Patreon" or similar can help keep the project alive. Although these are difficult times for the script.

[2022-10-20 10:14] OldRon1977 commented on #588
@Roukys I hope I did everything correctly ;)
I have no rights to commit my changes, it would be helpful if you could publish my v113 or give me the rights to do so :)

[2022-10-20 10:58] OldRon1977 commented on #587
I updated the file, but atm I have no right to push my commit.
@Roukys at my v114 the names have been added.

[2022-10-20 11:15] Roukys commented on #587
@OldRon1977 can you put the file here ill push it.
I'll show you afterward how to do a pull request

[2022-10-20 11:17] OldRon1977 commented on #587
[HHAuto.user.js.zip](https://github.com/Roukys/HHauto/files/9829206/HHAuto.user.js.zip)
 ZIP File because .js is not supported ;)

[2022-10-20 11:18] OldRon1977 commented on #587
I use the GitHub Desktop, if this helps to tell me how to do a pull request.

[2022-10-20 14:57] Roukys commented on #587
I've pushed it :)
@OldRon1977 can you try pull request, then create pull request
then in base create a branch for your change and in the compare choose your current status in your fork
Doc is here : https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request
Don't hesitate to create one pull request at least to

[2022-10-20 15:12] Dimka2010 commented on #587
when i will open World 7 new girl (after 1-2 days) - i will post here name of her.

[2022-10-20 15:31] Roukys commented on #587
I've got the pull request but directly in main, I'll recheck how to ...
But at least it could work :)

[2022-10-20 17:37] theStoni commented on #587
I already wrote in the pull request.

there is a comma missing at the end of line 10699

`										  'Lily Cade',`

[2022-10-20 17:39] Dimka2010 commented on #587
good one!
i broke my head why new-one version NOT worked.
Will be wait when update will be done by Roukys

[2022-10-20 17:42] Dimka2010 commented on #580
so.. the return of market autobuying function for Gifts and EXP books - is our next goal..
someone can help with that?

[2022-10-20 18:57] Franck-75 commented on #567
Sorry,
1) I don't know how to do a pull request.
2) Someone did it before me.

[2022-10-21 10:41] Dimka2010 commented on #587
![Screenshot_19](https://user-images.githubusercontent.com/86404525/197177456-6b50a7e1-b88a-4fa6-821c-d94a19a73da1.jpg)
Girl of World 7

[2022-10-21 12:40] OldRon1977 commented on #587
Done :)

[2022-10-21 15:44] Dimka2010 commented on #587
thank you.

[2022-10-21 15:44] #587 closed

[2022-10-21 15:58] GachaImpact commented on #588
@Roukys all i can say is, that i use the script 24/7 and that since the beginning 👍 and for more information, i can chat with you private.

[2022-10-22 05:40] UncleBob800 commented on #588
Are you banned from your account immediately after creating a new account, even if the script was disabled?
Or you get banned after some time?
I can say that my script works around the clock, but I do not use all the functionality of the script. For example, I disabled Salary and champion attacks. Also for the season, league and trolls, I set the value significantly higher than 0, because I though

[2022-10-22 09:13] Dimka2010 commented on #588
About PoP transitions between pages..
I accidentally used PoP regime with OCD script On (this scrip officialy allowed to use)
and saw this function of PoP pages
![Screenshot_18](https://user-images.githubusercontent.com/86404525/197331408-7ecc2808-6346-42d4-aa38-dfb8af18bdea.jpg)
it low routine of PoP clicking on half ! or more!

[2022-10-24 14:16] Dimka2010 commented on #580
still need to update bot for the new market system.

[2022-10-24 14:42] OldRon1977 commented on #580
Yep... But we have nobody who can do the update at the moment.

[2022-10-24 15:10] Dimka2010 commented on #580
i am ask about auto-buy options.
stats and selling things - i can do manualy :)
but..
catch time when new EXP and gifts staff will be appeared or not - its hard for me.
so lost many times and not buyed this...

[2022-10-24 16:01] OldRon1977 commented on #580
Ok, but we still need someone (who is not banned) who can develop and maintain the script. Right now, we do not have someone, even not for simple tasks...

[2022-10-25 06:58] deuxge commented on #580
@OldRon1977, I'm not used to the way the script works so I'm not sure if I can update it.
I have already found the selectors for the updateShop function.
But new I need to search for the doShop one.

[2022-10-25 17:19] deuxge commented on #580
@OldRon1977, @Roukys,
I founded a way to fix the current algorithm: https://github.com/Roukys/HHauto/pull/592.
I tested it on test server with success for XP and Affections.
I let you review and I can provide more info if you need.

[2022-10-25 18:21] Dimka2010 commented on #266
i think its not actual problem because market was totaly reworked - so need to close theme?

[2022-10-25 18:29] Dimka2010 opened #593 "5.6.116 Not collecting EXP, Gifts and Boost prizes from any competitions"
![Screenshot_52](https://user-images.githubusercontent.com/86404525/197852584-4573a3bc-d00f-4f1f-a23d-f6c6ff05c83f.jpg)
![Screenshot_53](https://user-images.githubusercontent.com/86404525/197852586-0b0bae55-a6f2-4fcf-9dab-1bf02c0f29e5.jpg)
its because - as i think - they are changed its names after update

the same with the Collect Seasonal Event
![Screenshot_54](https://user-images.githubusercont

[2022-10-25 19:02] Dimka2010 commented on #580
tested on test server - not working
![Screenshot_56](https://user-images.githubusercontent.com/86404525/197859671-fc5b6400-d7df-4eaf-8c82-bc9d0a9e4d39.jpg)
![Screenshot_58](https://user-images.githubusercontent.com/86404525/197859677-1dae2b64-01d6-4880-aa13-c6ae797936ca.jpg)
![Screenshot_59](https://user-images.githubusercontent.com/86404525/197859684-65808e39-2e71-46b3-abe0-5f24627bbd5c.jpg)

[2022-10-26 12:40] rilitili commented on #593
The script isn't collecting EXP from the market either. The script really needs some updating.

[2022-10-27 17:55] deuxge commented on #593
I didn't even know we could select the type of reward to collect...
Here is the PR https://github.com/Roukys/HHauto/pull/594 (@Roukys )

[2022-10-27 17:56] deuxge commented on #584
Here is the PR https://github.com/Roukys/HHauto/pull/594

[2022-10-27 20:19] Dimka2010 commented on #584
and what about boosters? its not collect after update too.

[2022-10-27 20:27] Dimka2010 commented on #569
this problem stil actual.

[2022-10-27 20:40] deuxge commented on #584
You could have started by a "Thank you" or something ;) ...

The fix in 5.6.118 should also solve the booster collection (like any other).
I don't have any available booster right now so I can't confirm but I don't see anything different that should prevent it.
When I have one and some time I will try to understand (or if someone else can).

[2022-10-28 22:17] deuxge commented on #584
I just tried and it worked. What is the booster not collected ? In which event ?

[2022-10-29 10:49] Dimka2010 commented on #584
i think all works as plannes, so close.

[2022-10-29 10:49] #584 closed

[2022-10-29 10:49] #593 closed

[2022-10-30 12:44] Dimka2010 opened #595 "Bug [118] - Stoped to collect Free Pachinko"
![Screenshot_25](https://user-images.githubusercontent.com/86404525/198879144-c3feeedc-af15-451f-8c7c-55e06e778a81.jpg)
![Screenshot_26](https://user-images.githubusercontent.com/86404525/198879147-373c4678-2bda-4872-bbd2-c716ede48a79.jpg)
in all 3 games

[2022-10-30 13:30] rilitili commented on #595
I had some problems with these scripts. It turned out most of my problems were caused by old browser cookies that messed up the script.
Clearing the cookies and restarting solved many of the issues.

[2022-10-30 14:19] Dimka2010 commented on #595
will wait some days -probably this script collect free pachinko in another time-period

[2022-10-30 20:36] OldRon1977 opened #596 "Just a reminder ;)"
The summer is gone... Winter is here, so is the change of time-zones.

Kinkoid had always trouble with time-settings, if you see problems like the timer for some actions are like 17h or more, just go to the debug menu and reset the timers. It's not the script it's Kinkoid...

[2022-10-31 13:25] deuxge commented on #595
I don't see this issue. I will check if I can reproduce.

[2022-11-01 14:17] Dimka2010 commented on #595
collected good.

[2022-11-01 14:17] #595 closed

[2022-11-02 13:00] Dimka2010 opened #597 "Need to open Club section in CxH"
![Screenshot_32](https://user-images.githubusercontent.com/86404525/199496014-92124628-60a9-4e05-8fe5-ca4cdf9070f4.jpg)

[2022-11-02 13:15] Dimka2010 opened #598 "Bug [118 version] - Something broken inside bot. Dont collect rewards + blink and blink to attempt to do something"
![Screenshot_33](https://user-images.githubusercontent.com/86404525/199498995-5ebdb74a-0310-4848-97f7-ee08095caa12.jpg)
+ not hide already collected rewards

[2022-11-02 16:12] ViperBGB commented on #597
Hey mate, for now, just comment this line:
![image](https://user-images.githubusercontent.com/59071499/199542230-b7809dcc-a2a4-44f9-b1ba-55059f4236a0.png)

[2022-11-04 14:51] #598 closed

[2022-11-04 14:52] Dimka2010 commented on #598
the mistake is = Collect Seasonal Event
. event was end, but the bot tried to collect it.

[2022-11-04 14:52] Dimka2010 commented on #597
need to add this throw Push Pull request

[2022-11-04 19:57] Dimka2010 commented on #575
not actual problem right now :(

[2022-11-04 19:57] #575 closed

[2022-11-06 09:34] #597 closed

[2022-11-06 09:37] Dimka2010 opened #600 "Bug [5.6.119] - Not collecting Season rewards"
![Screenshot_24](https://user-images.githubusercontent.com/86404525/200163761-1e3840be-ad87-4132-8552-0bbb311e3cd7.jpg)
![Screenshot_25](https://user-images.githubusercontent.com/86404525/200163763-a0a1e1b4-42a2-4778-8556-6eb68cee56ea.jpg)

someone, please, help :)

[2022-11-06 09:39] Dimka2010 opened #601 "Need to add new boss name in HH. Can someone to do Pull request on that?"
![Screenshot_26](https://user-images.githubusercontent.com/86404525/200163842-73f02c56-3b28-4f28-b4fe-a9016184a4e3.jpg)
![Screenshot_27](https://user-images.githubusercontent.com/86404525/200163843-a7a14223-76f1-4f13-b9d7-e3ea6b20781a.jpg)

[2022-11-06 14:07] deuxge commented on #579
I guess we do not need this anymore with the market update.

[2022-11-06 14:10] deuxge commented on #601
PR opened

[2022-11-06 20:21] Dimka2010 commented on #579
agree

[2022-11-06 20:21] #579 closed

[2022-11-06 21:53] Cronosus commented on #600
same here, i disabled it for now
it just loop this error
![image](https://user-images.githubusercontent.com/5349950/200197159-40f74172-c4dd-4272-914a-6e89d23c1b6f.png)

[2022-11-07 10:29] Dimka2010 commented on #600
+ not hide already collected Season rewards.
it looks like they changed some names of files again?

[2022-11-10 14:46] #601 closed

[2022-11-18 11:23] Dimka2010 opened #604 "New Mythic Equipment (from Test server) and counting persentages and average win score"
Just so you are aware, Numbers mentioned that his booster detector script will stop working when mythic equips will be out.
As I understand, there's no data being leaked to indicate booster use directly, so his script makes assumptions to determine how opponent stats are composed based just on opponent level.
This goes out the window with mythic equips.

Perhaps another approach will be devised or

[2022-11-19 10:11] OldRon1977 commented on #604
Interesting... Yes, I think we should disable the option and wait until the update is live. As I remember correctly, this will be a wednesday. After that we can take a look if the new equipment will break the calculations or not. Just an advice, feel free to run the script until then :)

[2022-11-20 21:27] Dimka2010 commented on #600
friends ! still need to fix it

[2022-11-26 15:56] #604 closed

[2022-11-28 20:18] CooperPF opened #605 "Enhancement : New Auto Selling Funcion"
I'm missing the old sell function, I think it would be a great enhancement to bring it back to the script (since Nutaku decided to break it), and in advance thank you very much for everyone's work on this script!!!

[2022-11-30 14:37] Dimka2010 opened #606 "Bug [5.6.120] - Bot stop working when "buy tickets" function is ON"
I think they changed some names when need to buy tickets.
Can someone , please, find the clue of problem?
In my - simple vision - need to rename this function on right new name and all will work fine again.
![Screenshot_11](https://user-images.githubusercontent.com/86404525/204824108-baa8419f-8480-4c91-b20a-7a82bd2a358c.jpg)
![Screenshot_12](https://user-images.githubusercontent.com/86404525/20482